In [3]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)

In [4]:
df = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\TripLeg_to_Trip.xlsx')

In [5]:
len(df)

238883

###
ğŸ§® Yolculuk Verisinin GruplandÄ±rÄ±lmasÄ± ve Ã–zelleÅŸtirilmiÅŸ Ã–zetin Ã‡Ä±karÄ±lmasÄ±

Bu Ã§alÄ±ÅŸmada, yolculuk verileri `same_p_and_k_y` kolonuna gÃ¶re gruplanmakta ve belirli kurallar Ã§erÃ§evesinde Ã¶zetlenmektedir:#### ğŸ“Œ KullanÄ±lan Kurallar:

- **En kÃ¼Ã§Ã¼k `id`'ye sahip satÄ±rdan** alÄ±nan kolonlar:
  - `start_time`, `orig_dist`, `orig_loc_type`, `purpose`

- **En bÃ¼yÃ¼k `id`'ye sahip satÄ±rdan** alÄ±nan kolonlar:
  - `end_time`, `dest_lat`, `dest_lon`, `dest_dist`, `dest_loc_type`

- **Toplam alÄ±nan kolonlar (gruba ait tÃ¼m satÄ±rlar Ã¼zerinden)**:
  - `travel_time`, `vehicle_time`, `waiting_time`, `egress_time`, `as_time`

#### âš™ï¸ Ä°ÅŸlem AdÄ±mlarÄ±:

1. `df` DataFrameâ€™i `id` kolonuna gÃ¶re sÄ±ralanÄ±r.
2. `groupby().first()` ile her grup iÃ§in en kÃ¼Ã§Ã¼k idâ€™ye sahip satÄ±r alÄ±nÄ±r.
3. `groupby().last()` ile her grup iÃ§in en bÃ¼yÃ¼k idâ€™ye sahip satÄ±r alÄ±nÄ±r.
4. `groupby().sum()` ile sÃ¼re verileri toplanÄ±r.
5. Yeni bir `result` tablosu oluÅŸturularak istenen kolonlar uygun yerlerden alÄ±nÄ±r.
6. `reset_index()` ile tablo formatÄ± dÃ¼zenlenir.

Bu yÃ¶ntemle, her bir `same_p_and_k_y` grubu iÃ§in bir satÄ±rdan oluÅŸan Ã¶zet yolculuk verisi elde edilir.

In [6]:
import pandas as pd

# id'ye gÃ¶re sÄ±rala
df_sorted = df.sort_values('id')

# En kÃ¼Ã§Ã¼k id'li satÄ±rlar
first_rows = df_sorted.groupby('same_p_and_k_y').first()

# En bÃ¼yÃ¼k id'li satÄ±rlar
last_rows = df_sorted.groupby('same_p_and_k_y').last()

# Toplam deÄŸerler
travel_time_sum = df_sorted.groupby('same_p_and_k_y')['travel_time'].sum()
vehicle_time_sum = df_sorted.groupby('same_p_and_k_y')['vehicle_time'].sum()
waiting_time_sum = df_sorted.groupby('same_p_and_k_y')['waiting_time'].sum()
egress_time_sum = df_sorted.groupby('same_p_and_k_y')['egress_time'].sum()
access_time_sum = df_sorted.groupby('same_p_and_k_y')['access_time'].sum()

# Yeni dataframe oluÅŸtur
result = first_rows.copy()
result['start_time'] = first_rows['start_time']
result['orig_dist'] = first_rows['orig_dist']
result['dest_loc_type'] = last_rows['dest_loc_type']
result['orig_loc_type'] = first_rows['orig_loc_type']
result['purpose'] = first_rows['purpose']
result['end_time'] = last_rows['end_time']
result['dest_lat'] = last_rows['dest_lat']
result['dest_lon'] = last_rows['dest_lon']
result['dest_dist'] = last_rows['dest_dist']
result['travel_time'] = travel_time_sum
result['vehicle_time'] = vehicle_time_sum
result['waiting_time'] = waiting_time_sum
result['egress_time'] = egress_time_sum
result['access_time'] = access_time_sum

# Index sÄ±fÄ±rlanÄ±r
result = result.reset_index()

In [7]:
result = result.drop(columns=['Unnamed: 0'], errors='ignore')
result = result.drop(columns=['id_int'], errors='ignore')
result = result.drop(columns=['p_id_clean'], errors='ignore')
result = result.drop(columns=['mode'], errors='ignore')
result = result.drop(columns=['k_y_part'], errors='ignore')
result = result.rename(columns={'Employment Group': 'Employment_Group'})

In [8]:
result.head(1)

,same_p_and_k_y,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,orig_lat,orig_lon,dest_lat,dest_lon,orig_loc_type,orig_dist,access_time,egress_time,district,mode_category,Employment_Group,start_time,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time,mode_order,mode_choice,travel_time_group
0,1,aJnHBlKAY9fZeP0yDLWL,1000143,"1,000,168",None,aJnHBlKAY9fZeP0yDLWL-K4,K4Y1E1,Ã‡ocuk Alma/BÄ±rakma,KadÄ±n,41.02355499Â° N,28.86218713Â° E,41.02355499Â° N,28.86218713Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,0,0,GÃœNGÃ–REN,Walking,Child Student,12:00,0,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,12:15,15,15,1,Walking,10-20

In [9]:
len(result)

233670

<span style="font-size:22pt; color:red;"><b>Figure 81. Net and Gross Mobility Rate by Person Type (Ä°stanbul SUMP Stage II HTS) </b></span>

In [11]:
profile = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Profile.xlsx')
household = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Household.xlsx')
# 'Ã¶ÄŸrenci' ifadesini iÃ§eren satÄ±rlarÄ± bulmak iÃ§in yardÄ±mcÄ± deÄŸiÅŸken
is_student = profile['edu'].str.contains('Ã¶ÄŸrenci', case=False, na=False)

# KoÅŸullar (SQL'deki sÄ±ralamaya sadÄ±k)
conditions = [
    # 1. Full Time
    (profile['work_status'] == 'Ã‡alÄ±ÅŸÄ±yor') &
    (profile['age'] >= 18) &
    (profile['work_time'] == 'Tam zamanlÄ±') &
    (~is_student),

    # 2. Part Time
    (profile['work_status'] == 'Ã‡alÄ±ÅŸÄ±yor') &
    (profile['age'] >= 18) &
    (profile['work_time'] == 'YarÄ± zamanlÄ±') &
    (~is_student),

    # 3. Adult Student
    (profile['age'] >= 18) & is_student,

    # 4. Adult Unemployed
    (profile['work_status'] == 'Ã‡alÄ±ÅŸmÄ±yor') &
    (profile['age'].between(18, 65)),

    # 5. 65+ Retired
    (profile['work_status'] == 'Ã‡alÄ±ÅŸmÄ±yor') &
    (profile['age'] >= 65),

    # 6. Child Student
    (profile['age'].between(6, 18)) & is_student,

    # 7. Child
    (profile['age'].between(6, 18)) & (~is_student)
]

# Bu koÅŸullara karÅŸÄ±lÄ±k gelen etiketler
choices = [
    'Full Time',
    'Part Time',
    'Adult Student',
    'Adult Unemployed',
    '65+ Retired',
    'Child Student',
    'Child'
]

# KoÅŸul/etiket listelerini tek satÄ±rda profile_group kolonuna dÃ¶nÃ¼ÅŸtÃ¼r
profile['Employment Group'] = np.select(conditions, choices, default='Other')

missing_count = profile['Employment Group'].isna().sum()
print(f"Employment_Group sÃ¼tununda {missing_count} adet eksik veri bulunmaktadÄ±r.")

C:\Users\Paraboly\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Employment_Group sÃ¼tununda 0 adet eksik veri bulunmaktadÄ±r.

In [12]:
# participation_status = 'evet' olanlarÄ± filtrele
filtered_profile = profile[
    (profile['participation_status'].str.lower() == 'evet') & 
    (profile['age'] > 5)
]

# Employment Group'a gÃ¶re kiÅŸi sayÄ±sÄ± hesapla
employment_counts = filtered_profile['Employment Group'].value_counts(dropna=False).reset_index()

# Kolon isimlerini yeniden adlandÄ±r
employment_counts.columns = ['Employment Group', 'KiÅŸi SayÄ±sÄ±']

# En alta toplam satÄ±rÄ±nÄ± ekle
employment_counts.loc[len(employment_counts)] = ['TOPLAM', employment_counts['KiÅŸi SayÄ±sÄ±'].sum()]

employment_counts

   Employment Group  KiÅŸi SayÄ±sÄ±
0  Adult Unemployed        56180
1         Full Time        49172
2     Child Student        21191
3       65+ Retired        14916
4     Adult Student         6383
5             Child         1759
6         Part Time         1711
7            TOPLAM       151312

In [13]:
# 1. Grup bazÄ±nda benzersiz sayÄ±larÄ± hesapla
grouped = result.groupby('Employment_Group').agg({
    'person_id': pd.Series.nunique,
    'same_p_and_k_y': pd.Series.nunique
}).reset_index()

# 2. Kolon isimlerini yeniden adlandÄ±r
grouped.columns = ['Employment_Group', 'Yolculuk Yapan KiÅŸi SayÄ±sÄ±', 'Yolculuk SayÄ±sÄ±']

# 3. Toplam satÄ±rÄ±nÄ± oluÅŸtur
total_row = pd.DataFrame({
    'Employment_Group': ['TOPLAM'],
    'Yolculuk Yapan KiÅŸi SayÄ±sÄ±': [grouped['Yolculuk Yapan KiÅŸi SayÄ±sÄ±'].sum()],
    'Yolculuk SayÄ±sÄ±': [grouped['Yolculuk SayÄ±sÄ±'].sum()]
})

# 4. Toplam satÄ±rÄ±nÄ± en alta ekle
final_df = pd.concat([grouped, total_row], ignore_index=True)
final_df

   Employment_Group  Yolculuk Yapan KiÅŸi SayÄ±sÄ±  Yolculuk SayÄ±sÄ±
0       65+ Retired                        7754            16998
1     Adult Student                        4964            10697
2  Adult Unemployed                       26073            58515
3             Child                         541             1191
4     Child Student                       19235            42316
5         Full Time                       45397            96235
6             Other                        2508             5155
7         Part Time                        1226             2563
8            TOPLAM                      107698           233670

In [14]:
# 1. Ä°sim uyumsuzluklarÄ±nÄ± gider: kolon isimlerini eÅŸitle
employment_counts.rename(columns={'Employment Group': 'Employment_Group'}, inplace=True)

# 2. Tabloyu Employment_Group Ã¼zerinden birleÅŸtir
merged = pd.merge(employment_counts, final_df, on='Employment_Group', how='outer')

# 3. Kolon sÄ±rasÄ±nÄ± isteÄŸe gÃ¶re dÃ¼zenle
merged = merged[['Employment_Group', 'KiÅŸi SayÄ±sÄ±', 'Yolculuk Yapan KiÅŸi SayÄ±sÄ±', 'Yolculuk SayÄ±sÄ±']]

# 4. NaN deÄŸerleri 0 yap (Ã¶zellikle 'TOPLAM' satÄ±rÄ±nda bazÄ± kolonlar boÅŸ olabilir)
merged.fillna(0, inplace=True)

# 5. SayÄ±sal kolonlarÄ± tam sayÄ±ya Ã§evir (isteÄŸe baÄŸlÄ±)
merged[['KiÅŸi SayÄ±sÄ±', 'Yolculuk Yapan KiÅŸi SayÄ±sÄ±', 'Yolculuk SayÄ±sÄ±']] = merged[[
    'KiÅŸi SayÄ±sÄ±', 'Yolculuk Yapan KiÅŸi SayÄ±sÄ±', 'Yolculuk SayÄ±sÄ±'
]].astype(int)

merged

   Employment_Group  KiÅŸi SayÄ±sÄ±  Yolculuk Yapan KiÅŸi SayÄ±sÄ±  Yolculuk SayÄ±sÄ±
0  Adult Unemployed        56180                       26073            58515
1         Full Time        49172                       45397            96235
2     Child Student        21191                       19235            42316
3       65+ Retired        14916                        7754            16998
4     Adult Student         6383                        4964            10697
5             Child         1759                         541             1191
6         Part Time         1711                        1226             2563
7            TOPLAM       151312                      107698           233670
8             Other            0                        2508             5155

In [15]:
# Kopya al, orijinali bozmamak iÃ§in (opsiyonel)
merged_with_ratios = merged.copy()

# BrÃ¼t ve Net yolculuk oranlarÄ±nÄ± hesapla
merged_with_ratios['BrÃ¼t Yolculuk OranÄ±'] = merged_with_ratios['Yolculuk SayÄ±sÄ±'] / merged_with_ratios['KiÅŸi SayÄ±sÄ±']
merged_with_ratios['Net Yolculuk OranÄ±'] = merged_with_ratios['Yolculuk SayÄ±sÄ±'] / merged_with_ratios['Yolculuk Yapan KiÅŸi SayÄ±sÄ±']

# Sonsuz ve NaN deÄŸerleri sÄ±fÄ±rla (Ã¶rneÄŸin TOPLAM satÄ±rÄ±nda sÄ±fÄ±ra bÃ¶lme olabilir)
merged_with_ratios.replace([float('inf'), float('nan')], 0, inplace=True)

# OranlarÄ± virgÃ¼lden sonra 2 basamakla sÄ±nÄ±rlamak istersen:
merged_with_ratios['BrÃ¼t Yolculuk OranÄ±'] = merged_with_ratios['BrÃ¼t Yolculuk OranÄ±'].round(2)
merged_with_ratios['Net Yolculuk OranÄ±'] = merged_with_ratios['Net Yolculuk OranÄ±'].round(2)
merged_with_ratios

,Employment_Group,KiÅŸi SayÄ±sÄ±,Yolculuk Yapan KiÅŸi SayÄ±sÄ±,Yolculuk SayÄ±sÄ±,BrÃ¼t Yolculuk OranÄ±,Net Yolculuk OranÄ±
0,Adult Unemployed,56180,26073,58515,1.04,2.24
1,Full Time,49172,45397,96235,1.96,2.12
2,Child Student,21191,19235,42316,2.00,2.20
3,65+ Retired,14916,7754,16998,1.14,2.19
4,Adult Student,6383,4964,10697,1.68,2.15
5,Child,1759,541,1191,0.68,2.20
6,Part Time,1711,1226,2563,1.50,2.09
7,TOPLAM,151312,107698,233670,1.54,2.17
8,Other,0,2508,5155,0.00,2.06

<span style="font-size:22pt; color:red;"><b>TFigure 141. Trip Rate for Male- Figure 142. Trip Rate for Female</b></span>

In [16]:
# 1. Her kiÅŸiden sadece bir tane olacak ÅŸekilde filtrele
unique_df = result.drop_duplicates(subset='person_id')

# 2. district ve gender bazÄ±nda kiÅŸi sayÄ±sÄ± (unique)
gender_counts = (
    unique_df.groupby(['district', 'gender'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 3. district ve gender bazÄ±nda toplam yolculuk sayÄ±sÄ± (tÃ¼m satÄ±rlar)
trip_counts = (
    result.groupby(['district', 'gender'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Sadece Erkek ve KadÄ±n olanlarÄ± al
gender_counts = gender_counts[['district'] + [col for col in ['Erkek', 'KadÄ±n'] if col in gender_counts.columns]]
trip_counts = trip_counts[['district'] + [col for col in ['Erkek', 'KadÄ±n'] if col in trip_counts.columns]]

# 5. Kolon adlarÄ±nÄ± yeniden adlandÄ±r
gender_counts = gender_counts.rename(columns={
    'Erkek': 'Yolculuk Yapan Erkek',
    'KadÄ±n': 'Yolculuk Yapan KadÄ±n'
})

trip_counts = trip_counts.rename(columns={
    'Erkek': 'Erkek Yolculuk SayÄ±sÄ±',
    'KadÄ±n': 'KadÄ±n Yolculuk SayÄ±sÄ±'
})

# 6. Ä°ki tabloyu birleÅŸtir
merged = gender_counts.merge(trip_counts, on='district', how='left')

# 7. Genel toplam satÄ±rÄ±nÄ± ekle
total_row = merged.drop(columns='district').sum(numeric_only=True)
total_row['district'] = 'Toplam'
merged = pd.concat([merged, pd.DataFrame([total_row])], ignore_index=True)

# 8. SonuÃ§
merged.head(1)

gender,district,Yolculuk Yapan Erkek,Yolculuk Yapan KadÄ±n,Erkek Yolculuk SayÄ±sÄ±,KadÄ±n Yolculuk SayÄ±sÄ±
0,ADALAR,40,39,101,101

In [17]:
import pandas as pd
# participation_status = 'evet' olanlarÄ± filtrele
filtered_profile_2 = profile[
    (profile['participation_status'].str.lower() == 'evet') &
    (profile['age'] > 5)
]
# Ä°lÃ§e ve cinsiyet bazÄ±nda sayÄ±m
gender_counts_ = (
    filtered_profile_2.groupby(['District', 'gender'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# Toplam satÄ±rÄ±nÄ± hesapla
total_row = gender_counts_.sum(numeric_only=True)
total_row['District'] = 'Toplam'

# Toplam satÄ±rÄ±nÄ± dataframe'e ekle
gender_counts_ = pd.concat([gender_counts_, pd.DataFrame([total_row])], ignore_index=True)
gender_counts_ = gender_counts_.rename(columns={
    'Erkek': 'Toplam Erkek SayÄ±sÄ±',
    'KadÄ±n': 'Toplam KadÄ±n SayÄ±sÄ±',
    'District': 'district'
})
gender_counts_.head(1)

gender district  Belirtmek istemiyor  Toplam Erkek SayÄ±sÄ±  Toplam KadÄ±n SayÄ±sÄ±
0        ADALAR                    0                   41                   41

In [18]:
# Merge iÅŸlemi
merged_final = merged.merge(
    gender_counts_[['district', 'Toplam Erkek SayÄ±sÄ±', 'Toplam KadÄ±n SayÄ±sÄ±']],
    on='district',
    how='left'
)

# Oran kolonlarÄ±nÄ± hesapla (1 hane olacak ÅŸekilde)
merged_final['BrÃ¼t Erkek Yolculuk OranÄ±'] = (
    merged_final['Erkek Yolculuk SayÄ±sÄ±'] / merged_final['Toplam Erkek SayÄ±sÄ±']
).round(1)

merged_final['Net Erkek Yolculuk OranÄ±'] = (
    merged_final['Erkek Yolculuk SayÄ±sÄ±'] / merged_final['Yolculuk Yapan Erkek']
).round(1)

merged_final['BrÃ¼t KadÄ±n Yolculuk OranÄ±'] = (
    merged_final['KadÄ±n Yolculuk SayÄ±sÄ±'] / merged_final['Toplam KadÄ±n SayÄ±sÄ±']
).round(1)

merged_final['Net KadÄ±n Yolculuk OranÄ±'] = (
    merged_final['KadÄ±n Yolculuk SayÄ±sÄ±'] / merged_final['Yolculuk Yapan KadÄ±n']
).round(1)

# Ä°stenen kolonlarÄ± seÃ§
merged_final = merged_final[
    ['district','BrÃ¼t Erkek Yolculuk OranÄ±', 'Net Erkek Yolculuk OranÄ±', 'BrÃ¼t KadÄ±n Yolculuk OranÄ±', 'Net KadÄ±n Yolculuk OranÄ±']
]

# SonuÃ§
merged_final

gender,district,BrÃ¼t Erkek Yolculuk OranÄ±,Net Erkek Yolculuk OranÄ±,BrÃ¼t KadÄ±n Yolculuk OranÄ±,Net KadÄ±n Yolculuk OranÄ±
0,ADALAR,2.5,2.5,2.5,2.6
1,ARNAVUTKÃ–Y,1.9,2.0,1.3,2.2
2,ATAÅEHÄ°R,1.8,2.1,1.5,2.2
3,AVCILAR,1.7,2.1,1.4,2.2
4,BAHÃ‡ELÄ°EVLER,1.6,2.1,1.3,2.2
5,BAKIRKÃ–Y,1.6,2.1,1.4,2.1
6,BAYRAMPAÅA,2.0,2.2,1.7,2.3
7,BAÄCILAR,1.7,2.1,1.2,2.3
8,BAÅAKÅEHÄ°R,1.9,2.1,1.4,2.3
9,BEYKOZ,1.8,2.0,1.5,2.1
10,BEYLÄ°KDÃœZÃœ,1.8,2.2,1.5,2.3
11,BEYOÄLU,1.6,2.1,1.0,2.2
12,BEÅÄ°KTAÅ,1.8,2.4,1.3,2.4
13,BÃœYÃœKÃ‡EKMECE,1.9,2.2,1.7,2.3
14,DARICA,1.8,2.1,1.4,2.2
15,ERGENE,1.9,2.2,2.2,2.4
16,ESENLER,1.6,2.1,1.1,2.2
17,ESENYURT,1.8,2.1,1.6,2.2
18,EYÃœPSULTAN,1.6,2.1,1.0,2.1
19,FATÄ°H,1.6,2.2,1.1,2.2
20,GAZÄ°OSMANPAÅA,1.8,2.2,1.1,2.3
21,GEBZE,1.2,2.0,0.9,2.0
22,GÃœNGÃ–REN,1.7,2.0,1.5,2.2
23,KADIKÃ–Y,1.9,2.2,1.7,2.1
24,KAPAKLI,1.8,2.0,1.2,2.0
25,KARTAL,1.8,2.2,1.6,2.3
26,KAÄITHANE,1.6,2.1,1.1,2.1
27,KÃœÃ‡ÃœKÃ‡EKMECE,1.6,2.0,1.1,2.1
28,MALTEPE,1.7,2.3,1.4,2.2
29,MARMARAEREÄLÄ°SÄ°,1.7,2.0,0.8,2.0
30,PENDÄ°K,2.0,2.3,1.5,2.3
31,SANCAKTEPE,1.7,2.2,1.4,2.3
32,SARAY,1.9,2.1,1.7,2.0
33,SARIYER,1.7,2.3,1.4,2.3
34,SULTANBEYLÄ°,1.9,2.2,1.4,2.2
35,SULTANGAZÄ°,1.7,2.2,1.0,2.3
36,SÄ°LÄ°VRÄ°,2.0,2.1,2.0,2.2
37,TUZLA,1.9,2.3,1.5,2.4
38,ZEYTÄ°NBURNU,1.7,2.1,1.3,2.3
39,Ã‡ATALCA,1.8,2.1,1.3,2.0
40,Ã‡AYIROVA,1.9,2.2,1.5,2.4
41,Ã‡EKMEKÃ–Y,1.8,2.0,1.1,2.1
42,Ã‡ERKEZKÃ–Y,1.8,2.0,1.3,2.1
43,Ã‡ORLU,1.9,2.1,1.6,2.1
44,ÃœMRANÄ°YE,1.7,2.0,1.3,2.1
45,ÃœSKÃœDAR,1.7,2.2,1.5,2.3
46,ÅÄ°LE,1.7,2.1,1.1,2.0
47,ÅÄ°ÅLÄ°,1.9,2.3,1.6,2.4
48,Toplam,1.7,2.1,1.3,2.2

<span style="font-size:22pt; color:red;"><b>Table 28. 2006 - 2012 - 2024 Intercontinental Mobility Rates</b></span>

### 

Bu tablo, Ä°stanbul ilÃ§eleri iÃ§erisinde gerÃ§ekleÅŸen yolculuklarda baÅŸlangÄ±Ã§ (orig_continent) ve varÄ±ÅŸ (dest_continent) konumlarÄ±nÄ±n kÄ±ta bilgilerine gÃ¶re daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

In [19]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§elerine ait satÄ±rlarÄ± filtrele
result_istanbul = result[result['district'].isin(istanbul_ilceleri)].copy()



continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
result_istanbul['orig_continent'] = result_istanbul['orig_dist'].map(continent_mapping)
result_istanbul['dest_continent'] = result_istanbul['dest_dist'].map(continent_mapping)

result_istanbul["continental_type"] = result_istanbul.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

# 1. SayÄ±sal matris (frekans)
continent_matrix = pd.crosstab(
    result_istanbul['orig_continent'],
    result_istanbul['dest_continent']
)

# 2. Genel toplam (tÃ¼m hÃ¼crelerin toplamÄ±)
total_sum = continent_matrix.values.sum()

# 3. Her hÃ¼cre iÃ§in yÃ¼zdesel deÄŸerleri hesapla
continent_matrix_total_percent = (continent_matrix / total_sum) * 100
continent_matrix_total_percent = continent_matrix_total_percent.round(2)  # yÃ¼zde deÄŸerlerini yuvarla

# 4. GÃ¶stermek iÃ§in birlikte sun (isteÄŸe baÄŸlÄ±)
combined_total_view = pd.concat([
    continent_matrix,
    continent_matrix_total_percent.add_suffix(" (%)")
], axis=1)

combined_total_view

dest_continent   Asia  Europe  Asia (%)  Europe (%)
orig_continent
Asia            71996    2489     32.47        1.12
Europe           2433  144799      1.10       65.31


<span style="font-size:22pt; color:red;"><b>Figure 82. Travel Purposes </b></span>


Bu tablo, "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki yolculuklarÄ± temsili gruplar altÄ±nda toplayarak her bir grubun:
- Toplam yolculuk sayÄ±sÄ±nÄ± (`trip_count`),
- TÃ¼m yolculuklar iÃ§indeki yÃ¼zde payÄ±nÄ± (`percentage`),

gÃ¶stermektedir.

#### Gruplar:
- **Work:** Ä°ÅŸe gidiÅŸ
- **School:** Okula gidiÅŸ (ilk-orta-lise-Ã¼niversite)
- **Health:** SaÄŸlÄ±k kuruluÅŸlarÄ±na gidiÅŸ
- **Leisure:** AlÄ±ÅŸveriÅŸ, arkadaÅŸ ziyareti, spor, yeme-iÃ§me vb.
- **Pick-up/Drop-off:** Ã‡ocuk ya da diÄŸer bireyleri alma/bÄ±rakma
 bulundurulmalÄ±dÄ±r.

In [20]:
# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki satÄ±rlarÄ± filtrele
filtered = result[result['purpose'] != 'Eve gidiÅŸ'].copy()

# 2. first_purpose deÄŸerlerini gruplayarak yeni sÃ¼tun oluÅŸtur
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Yeni kolon ekle
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. NULL olmayanlarla Ã§alÄ±ÅŸ ve grup bazÄ±nda say
grouped = filtered[filtered['purpose_group'].notna()] \
    .groupby('purpose_group') \
    .size() \
    .reset_index(name='trip_count')

# 5. YÃ¼zde hesapla
total_trips = grouped['trip_count'].sum()
grouped['percentage'] = round(grouped['trip_count'] * 100.0 / total_trips, 2)

# 6. Azalan sÄ±raya gÃ¶re sÄ±rala
grouped = grouped.sort_values(by='trip_count', ascending=False).reset_index(drop=True)
grouped

      purpose_group  trip_count  percentage
0              Work       47063       38.47
1           Leisure       39515       32.30
2            School       23613       19.30
3  Pick-up/Drop-off        7407        6.06
4            Health        4726        3.86

In [21]:
# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki satÄ±rlarÄ± filtrele
filtered = result[result['purpose'] != 'Eve gidiÅŸ'].copy()

# 2. Sadece Ä°stanbul ilÃ§elerinde geÃ§en verileri al
istanbul_districts = [
    'ADALAR', 'ARNAVUTKÃ–Y', 'ATAÅEHÄ°R', 'AVCILAR', 'BAÄCILAR', 'BAHÃ‡ELÄ°EVLER', 'BAKIRKÃ–Y',
    'BAÅAKÅEHÄ°R', 'BAYRAMPAÅA', 'BEÅÄ°KTAÅ', 'BEYKOZ', 'BEYLÄ°KDÃœZÃœ', 'BEYOÄLU', 'BÃœYÃœKÃ‡EKMECE',
    'Ã‡ATALCA', 'Ã‡EKMEKÃ–Y', 'ESENLER', 'ESENYURT', 'EYÃœPSULTAN', 'FATÄ°H', 'GAZÄ°OSMANPAÅA',
    'GÃœNGÃ–REN', 'KADIKÃ–Y', 'KAÄITHANE', 'KARTAL', 'KÃœÃ‡ÃœKÃ‡EKMECE', 'MALTEPE', 'PENDÄ°K',
    'SANCAKTEPE', 'SARIYER', 'ÅÄ°LE', 'SÄ°LÄ°VRÄ°', 'ÅÄ°ÅLÄ°', 'SULTANBEYLÄ°', 'SULTANGAZÄ°',
    'TUZLA', 'ÃœMRANÄ°YE', 'ÃœSKÃœDAR', 'ZEYTÄ°NBURNU'
]
filtered = filtered[filtered['district'].isin(istanbul_districts)]

# 3. first_purpose deÄŸerlerini gruplayarak yeni sÃ¼tun oluÅŸtur
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 4. Yeni kolon ekle
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. NULL olmayanlarla Ã§alÄ±ÅŸ ve grup bazÄ±nda say
grouped = filtered[filtered['purpose_group'].notna()] \
    .groupby('purpose_group') \
    .size() \
    .reset_index(name='trip_count')

# 6. YÃ¼zde hesapla
total_trips = grouped['trip_count'].sum()
grouped['percentage'] = round(grouped['trip_count'] * 100.0 / total_trips, 2)

# 7. Azalan sÄ±raya gÃ¶re sÄ±rala
grouped = grouped.sort_values(by='trip_count', ascending=False).reset_index(drop=True)

grouped

      purpose_group  trip_count  percentage
0              Work       44763       38.62
1           Leisure       37028       31.94
2            School       22547       19.45
3  Pick-up/Drop-off        7151        6.17
4            Health        4425        3.82

In [22]:
tekirdag_districts = [
    'Ã‡ERKEZKÃ–Y', 'Ã‡ORLU', 'ERGENE', 'KAPAKLI', 'MARMARAEREÄLÄ°SÄ°', 'SARAY'
]

# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki satÄ±rlarÄ± filtrele
filtered = result[result['purpose'] != 'Eve gidiÅŸ'].copy()

# 2. Sadece TekirdaÄŸ ilÃ§elerini filtrele
filtered = filtered[filtered['district'].isin(tekirdag_districts)]

# 3. first_purpose deÄŸerlerini gruplayarak yeni sÃ¼tun oluÅŸtur
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 4. Yeni kolon ekle
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. NULL olmayanlarla Ã§alÄ±ÅŸ ve grup bazÄ±nda say
grouped = (
    filtered[filtered['purpose_group'].notna()]
    .groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
)

# 6. YÃ¼zde hesapla
total_trips = grouped['trip_count'].sum()
grouped['percentage'] = round(grouped['trip_count'] * 100.0 / total_trips, 2)

# 7. Azalan sÄ±raya gÃ¶re sÄ±rala
grouped = grouped.sort_values(by='trip_count', ascending=False).reset_index(drop=True)

grouped

      purpose_group  trip_count  percentage
0              Work        1137       38.93
1           Leisure        1026       35.12
2            School         492       16.84
3            Health         190        6.50
4  Pick-up/Drop-off          76        2.60

In [23]:
kocaeli_districts = ['Ã‡AYIROVA', 'DARICA', 'GEBZE']

# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki satÄ±rlarÄ± filtrele
filtered = result[result['purpose'] != 'Eve gidiÅŸ'].copy()

# 2. Sadece Kocaeli ilÃ§elerini filtrele
filtered = filtered[filtered['district'].isin(kocaeli_districts)]

# 3. first_purpose deÄŸerlerini gruplayarak yeni sÃ¼tun oluÅŸtur
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 4. Yeni kolon ekle
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. NULL olmayanlarla Ã§alÄ±ÅŸ ve grup bazÄ±nda say
grouped = (
    filtered[filtered['purpose_group'].notna()]
    .groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
)

# 6. YÃ¼zde hesapla
total_trips = grouped['trip_count'].sum()
grouped['percentage'] = round(grouped['trip_count'] * 100.0 / total_trips, 2)

# 7. Azalan sÄ±raya gÃ¶re sÄ±rala
grouped = grouped.sort_values(by='trip_count', ascending=False).reset_index(drop=True)

grouped

      purpose_group  trip_count  percentage
0           Leisure        1461       41.87
1              Work        1163       33.33
2            School         574       16.45
3  Pick-up/Drop-off         180        5.16
4            Health         111        3.18

In [24]:
# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki satÄ±rlarÄ± filtrele
test = result[result['purpose'] != 'Eve gidiÅŸ'].copy()
test

,same_p_and_k_y,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,orig_lat,orig_lon,dest_lat,dest_lon,orig_loc_type,orig_dist,access_time,egress_time,district,mode_category,Employment_Group,start_time,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time,mode_order,mode_choice,travel_time_group
0,1,aJnHBlKAY9fZeP0yDLWL,1000143,"1,000,168",None,aJnHBlKAY9fZeP0yDLWL-K4,K4Y1E1,Ã‡ocuk Alma/BÄ±rakma,KadÄ±n,41.02355499Â° N,28.86218713Â° E,41.02355499Â° N,28.86218713Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,0,0,GÃœNGÃ–REN,Walking,Child Student,12:00,0,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,12:15,15,15,1,Walking,10-20
2,3,Ujr56uZoxVoVxykDMiMp,1000159,"1,000,182",None,Ujr56uZoxVoVxykDMiMp-K5,K5Y1E1,Ä°ÅŸe gidiÅŸ,Erkek,41.05813263Â° N,28.87076477Â° E,41.05679030Â° N,28.86342230Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),ESENLER,1,1,ESENLER,Private Vehicle,Full Time,08:00,0,Ä°Å YERÄ°,ESENLER,08:10,10,8,1,Private Vehicle,10-20
3,4,fJLpbrIOV1IhJ9M5Gqhn,1000210,"1,000,249",None,fJLpbrIOV1IhJ9M5Gqhn-K2,K2Y1E1,AlÄ±ÅŸveriÅŸ,KadÄ±n,40.99653385Â° N,28.70731253Â° E,41.00418310Â° N,28.68781470Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),AVCILAR,5,3,AVCILAR,Public Transport,Adult Student,20:00,2,DÄ°ÄER,ESENYURT,20:20,20,10,1,Public Transport,20-30
4,5,fJLpbrIOV1IhJ9M5Gqhn,1000211,"1,000,250",None,fJLpbrIOV1IhJ9M5Gqhn-K3,K3Y1E1,AlÄ±ÅŸveriÅŸ,KadÄ±n,40.99653385Â° N,28.70731253Â° E,41.00418310Â° N,28.68781470Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),AVCILAR,5,3,AVCILAR,Public Transport,Adult Student,20:00,2,DÄ°ÄER,ESENYURT,20:20,20,10,1,Public Transport,20-30
5,6,Tgb3aA0OiDTV9WuNtCMo,1000229,"1,000,288",None,Tgb3aA0OiDTV9WuNtCMo-K3,K3Y1E1,Ã‡ocuk Alma/BÄ±rakma,Erkek,41.00512859Â° N,28.93566613Â° E,41.00359490Â° N,28.93542980Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),FATÄ°H,0,0,FATÄ°H,Walking,Child Student,13:00,0,DÄ°ÄER,FATÄ°H,13:10,10,10,1,Walking,10-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233660,235530,UtoPDyX2FjVaiUiYG8Bg,117702,"99,999",Tek,UtoPDyX2FjVaiUiYG8Bg-K1,K1Y1E1,Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri),KadÄ±n,41.05796622Â° N,28.90359000Â° E,41.09792490Â° N,28.97965480Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),BAYRAMPAÅA,5,7,BAYRAMPAÅA,Public Transport,Adult Student,08:00,13,OKUL,KAÄITHANE,09:40,100,75,1,Public Transport,30-40
233662,235532,wHviwRiGbzI64belZPwX,735,992,K4,wHviwRiGbzI64belZPwX-K3,K3Y1E1,Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim),KadÄ±n,41.06200861Â° N,28.90155869Â° E,41.06326280Â° N,28.89613770Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),BAYRAMPAÅA,0,0,BAYRAMPAÅA,Walking,Child Student,08:00,0,OKUL,BAYRAMPAÅA,08:10,10,10,1,Walking,10-20
233664,235534,PjRQzpA9MlTR88JzqJOP,737,996,"K3, K4",PjRQzpA9MlTR88JzqJOP-K1,K1Y1E1,Ã‡ocuk Alma/BÄ±rakma,KadÄ±n,41.02774672Â° N,28.86644616Â° E,41.02840790Â° N,28.86270240Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,0,0,GÃœNGÃ–REN,Walking,Adult Unemployed,14:00,0,DÄ°ÄER,GÃœNGÃ–REN,14:15,15,15,1,Walking,10-20
233666,235536,PjRQzpA9MlTR88JzqJOP,739,996,Tek,PjRQzpA9MlTR88JzqJOP-K1,K1Y3E1,Ã‡ocuk Alma/BÄ±rakma,KadÄ±n,41.02774672Â° N,28.86644616Â° E,41.02840790Â° N,28.86270240Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,0,0,GÃœNGÃ–REN,Walking,Adult Unemployed,18:00,0,DÄ°ÄER,GÃœNGÃ–REN,18:30,30,30,1,Walking,30-40
233668,235538,PjRQzpA9MlTR88JzqJOP,741,997,Tek,PjRQzpA9MlTR88JzqJOP-K2,K2Y1E1,Ä°ÅŸe gidiÅŸ,Erkek,41.02774672Â° N,28.86644616Â° E,0.00000000Â° N,0.00000000Â° E,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,5,5,GÃœNGÃ–REN,Public Transport,Full Time,06:00,5,Ä°Å YERÄ°,ZEYTÄ°NBURNU,06:30,30,15,1,Public Transport,30-40

<span style="font-size:22pt; color:red;"><b>Figure 83. Detailed Travel Purpose (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki yolculuklarÄ± temsili gruplar altÄ±nda toplayarak her bir grubun:
- Toplam yolculuk sayÄ±sÄ±nÄ± (`trip_count`),
- TÃ¼m yolculuklar iÃ§indeki yÃ¼zde payÄ±nÄ± (`percentage`),
gÃ¶stermektedia/bÄ±rakma

In [25]:
# "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki deÄŸerleri filtrele
filtered = result[result['purpose'] != 'Eve gidiÅŸ']

# SayÄ±sal ve yÃ¼zdesel daÄŸÄ±lÄ±mÄ± hesapla
purpose_counts = filtered['purpose'].value_counts()
purpose_percent = filtered['purpose'].value_counts(normalize=True) * 100

# Yeni DataFrame oluÅŸtur
purpose_distribution = pd.DataFrame({
    'Count': purpose_counts,
    'Percentage': purpose_percent.round(2)
})

purpose_distribution

                                  Count  Percentage
purpose
Ä°ÅŸe gidiÅŸ                         47063       38.47
AlÄ±ÅŸveriÅŸ                         20865       17.06
Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)   14368       11.75
Ã‡ocuk Alma/BÄ±rakma                 7057        5.77
Okula gidiÅŸ(lise)                  6058        4.95
Akraba/ArkadaÅŸ  Ziyareti           5776        4.72
Spor, EÄŸlence vb. gidiÅŸ            5705        4.66
SaÄŸlÄ±k Kurumuna gidiÅŸ              4726        3.86
DiÄŸer                              4229        3.46
Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)   3187        2.61
Yeme/iÃ§me GidiÅŸ                    2102        1.72
Ä°ÅŸ takibi/ Ã–demeler                 838        0.69
DiÄŸer Alma/BÄ±rakma                  350        0.29


<span style="font-size:22pt; color:red;"><b>Figure 84. Departure Time By Modes</b></span>

#### 
 **Tablo AÃ§Ä±klamasÄ±**:
- `hour_group`: YolculuÄŸun baÅŸladÄ±ÄŸÄ± saat dilimini belirtir (Ã¶rneÄŸin: 08:00).
- DiÄŸer sÃ¼tunlar (Ã¶r. `Walking`, `Private Vehicle`, `Public Transport`, `Micromobility`, `Service`): O saat diliminde ilgili ulaÅŸÄ±m modunun kaÃ§ kez tercih edildiÄŸini gÃ¶sterir.
- **"Toplam"** satÄ±rÄ± ise tÃ¼m gÃ¼n boyunca her ulaÅŸÄ±m modunun toplam kullanÄ±m sayÄ±sÄ±nÄ± verir.

In [26]:
import pandas as pd

# 1. mode_choice NULL olmayanlarÄ± filtrele
filtered = result[result['mode_choice'].notna()].copy()

# 2. start_time'Ä± saatlik gruba Ã§evir (Ã¶r. '08:00')
filtered['hour_group'] = pd.to_datetime(filtered['start_time'], errors='coerce').dt.strftime('%H:00')

# 3. hour_group ve mode_choice bazlÄ± sayÄ±m (pivot tablo)
hourly_counts = pd.pivot_table(
    filtered,
    index='hour_group',
    columns='mode_choice',
    aggfunc='size',
    fill_value=0
).reset_index()

# 4. Saat sÄ±rasÄ±na gÃ¶re sÄ±rala
hourly_counts = hourly_counts.sort_values('hour_group').reset_index(drop=True)

# 5. YÃ¼zde hesapla (her sÃ¼tunun toplamÄ±na gÃ¶re normalize et)
percentage_by_column = hourly_counts.copy()
percentage_only = percentage_by_column.drop(columns='hour_group')

# Her sÃ¼tunun toplamÄ±na gÃ¶re yÃ¼zde hesapla
column_totals = percentage_only.sum(axis=0)
percentage_only = percentage_only.div(column_totals, axis=1) * 100

# hour_group kolonunu geri ekle
percentage_by_column = pd.concat([hourly_counts[['hour_group']], percentage_only], axis=1)

# 6. (Ä°steÄŸe baÄŸlÄ±) Toplam satÄ±rÄ± ekle (yÃ¼zde deÄŸil, adet iÃ§in)
total_row = hourly_counts.drop(columns='hour_group').sum(numeric_only=True)
total_row['hour_group'] = 'Toplam'
hourly_counts_with_total = pd.concat([hourly_counts, pd.DataFrame([total_row])], ignore_index=True)

# Ã‡Ä±ktÄ±lar:
# SayÄ±lar (adet bazlÄ±)
print("Saatlik mode_choice sayÄ±larÄ±:")
display(hourly_counts_with_total)

# SÃ¼tun bazÄ±nda yÃ¼zdeler
print("Her mode_choice'Ä±n saatlik yÃ¼zde daÄŸÄ±lÄ±mÄ± (%):")
display(percentage_by_column)

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_5020\3091769344.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered['hour_group'] = pd.to_datetime(filtered['start_time'], errors='coerce').dt.strftime('%H:00')

Saatlik mode_choice sayÄ±larÄ±:

mode_choice,hour_group,Micromobility,Private Vehicle,Public Transport,Service,Walking
0,00:00,0,11,3,4,12
1,01:00,0,22,14,2,57
2,02:00,0,14,6,3,45
3,03:00,0,19,5,7,18
4,04:00,0,45,11,23,35
5,05:00,1,179,169,221,117
6,06:00,51,1245,1585,1595,882
7,07:00,106,5929,7222,4452,11139
8,08:00,81,7305,5990,2642,13465
9,09:00,25,2328,2105,260,4113
10,10:00,23,1142,1515,79,4283
11,11:00,16,694,1061,74,4541
12,12:00,35,1127,1689,218,11612
13,13:00,33,1174,1601,307,13260
14,14:00,44,1255,1812,428,12997
15,15:00,57,1723,3105,1021,13011
16,16:00,45,2467,3247,1032,8371
17,17:00,46,5463,4854,2551,8231
18,18:00,102,5089,4897,2793,8180
19,19:00,55,2702,2422,834,4646
20,20:00,35,1544,1219,260,2544
21,21:00,21,824,615,92,1367
22,22:00,9,672,452,85,885
23,23:00,5,597,217,134,566
24,Toplam,790,43570,45816,19117,124377

Her mode_choice'Ä±n saatlik yÃ¼zde daÄŸÄ±lÄ±mÄ± (%):

mode_choice,hour_group,Micromobility,Private Vehicle,Public Transport,Service,Walking
0,00:00,0.000000,0.025247,0.006548,0.020924,0.009648
1,01:00,0.000000,0.050493,0.030557,0.010462,0.045828
2,02:00,0.000000,0.032132,0.013096,0.015693,0.036180
3,03:00,0.000000,0.043608,0.010913,0.036617,0.014472
4,04:00,0.000000,0.103282,0.024009,0.120312,0.028140
5,05:00,0.126582,0.410833,0.368867,1.156039,0.094069
6,06:00,6.455696,2.857471,3.459490,8.343359,0.709134
7,07:00,13.417722,13.607987,15.763052,23.288173,8.955836
8,08:00,10.253165,16.766123,13.074035,13.820160,10.825957
9,09:00,3.164557,5.343126,4.594465,1.360046,3.306881
10,10:00,2.911392,2.621070,3.306705,0.413245,3.443563
11,11:00,2.025316,1.592839,2.315785,0.387090,3.650997
12,12:00,4.430380,2.586642,3.686485,1.140346,9.336131
13,13:00,4.177215,2.694515,3.494412,1.605901,10.661135
14,14:00,5.569620,2.880422,3.954950,2.238845,10.449681
15,15:00,7.215190,3.954556,6.777108,5.340796,10.460937
16,16:00,5.696203,5.662153,7.087044,5.398337,6.730344
17,17:00,5.822785,12.538444,10.594552,13.344144,6.617783
18,18:00,12.911392,11.680055,10.688406,14.610033,6.576779
19,19:00,6.962025,6.201515,5.286363,4.362609,3.735417
20,20:00,4.430380,3.543723,2.660643,1.360046,2.045394
21,21:00,2.658228,1.891210,1.342326,0.481247,1.099078
22,22:00,1.139241,1.542346,0.986555,0.444630,0.711546
23,23:00,0.632911,1.370209,0.473634,0.700947,0.455068

In [27]:
output_path = 'mode_choice_yuzdeler.xlsx'
percentage_by_column.to_excel(output_path, index=False)


<span style="font-size:22pt; color:red;"><b>Figure 92. Mode Choice </b></span>

Bu tablo, `mode_choice` deÄŸiÅŸkenine gÃ¶re her bir ulaÅŸÄ±m modunun kaÃ§ kez tercih edildiÄŸini ve toplam iÃ§indeki yÃ¼zde (%) oranÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: KullanÄ±cÄ±nÄ±n seÃ§tiÄŸi ulaÅŸÄ±m modu (Ã¶rneÄŸin: Walking, Public Transport, Private Vehicle vb.).
- **count**: Ä°lgili ulaÅŸÄ±m modunun kaÃ§ defa kullanÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶sterir.
- **percentage**: Bu modun toplam yolculuklar iÃ§indeki yÃ¼zdesel oranÄ±nÄ± belirtir (%, yuvarlatÄ±lmÄ±ÅŸ).

In [28]:
import pandas as pd

# 1. mode_category boÅŸ olmayanlarÄ± filtrele
filtered = result[result['mode_choice'].notna()]

# 2. mode_category'ye gÃ¶re grupla ve say
mode_counts = filtered['mode_choice'].value_counts().reset_index()
mode_counts.columns = ['mode_choice', 'count']

# 3. YÃ¼zde hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)
mode_counts

        mode_choice   count  percentage
0           Walking  124377       53.23
1  Public Transport   45816       19.61
2   Private Vehicle   43570       18.65
3           Service   19117        8.18
4     Micromobility     790        0.34


<span style="font-size:22pt; color:red;"><b>Figure 106.Change in transportation mode choice for rubber- tired vehicles from 2006 to 2024 </b></span>

Bu tablo, `mode_choice` deÄŸiÅŸkenine gÃ¶re her bir ulaÅŸÄ±m modunun kaÃ§ kez tercih edildiÄŸini ve toplam iÃ§indeki yÃ¼zde (%) oranÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: KullanÄ±cÄ±nÄ±n seÃ§tiÄŸi ulaÅŸÄ±m modu (Ã¶rneÄŸin: Walking, Public Transport, Private Vehicle vb.).
- **count**: Ä°lgili ulaÅŸÄ±m modunun kaÃ§ defa kullanÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶sterir.
- **percentage**: Bu modun toplam yolculuklar iÃ§indeki yÃ¼zdesel oranÄ±nÄ± belirtir (%, yuvarlatÄ±lmÄ±ÅŸ).
- YÃ¼rÃ¼me ve mikromobilite dahil edilmememiÅŸtir.

In [29]:
# BÃ¼yÃ¼k harfli ilÃ§elere gÃ¶re filtrele
istanbul_districts = [
    'ADALAR', 'ARNAVUTKÃ–Y', 'ATAÅEHÄ°R', 'AVCILAR', 'BAÄCILAR', 'BAHÃ‡ELÄ°EVLER', 'BAKIRKÃ–Y',
    'BAÅAKÅEHÄ°R', 'BAYRAMPAÅA', 'BEÅÄ°KTAÅ', 'BEYKOZ', 'BEYLÄ°KDÃœZÃœ', 'BEYOÄLU', 'BÃœYÃœKÃ‡EKMECE',
    'Ã‡ATALCA', 'Ã‡EKMEKÃ–Y', 'ESENLER', 'ESENYURT', 'EYÃœPSULTAN', 'FATÄ°H', 'GAZÄ°OSMANPAÅA',
    'GÃœNGÃ–REN', 'KADIKÃ–Y', 'KAÄITHANE', 'KARTAL', 'KÃœÃ‡ÃœKÃ‡EKMECE', 'MALTEPE', 'PENDÄ°K',
    'SANCAKTEPE', 'SARIYER', 'ÅÄ°LE', 'SÄ°LÄ°VRÄ°', 'ÅÄ°ÅLÄ°', 'SULTANBEYLÄ°', 'SULTANGAZÄ°',
    'TUZLA', 'ÃœMRANÄ°YE', 'ÃœSKÃœDAR', 'ZEYTÄ°NBURNU'
]

# Filtreleme
istanbul_data = result[
    result['district'].isin(istanbul_districts) & 
    result['mode_choice'].notna()
]

# Mod sayÄ±mlarÄ±
mode_counts = istanbul_data['mode_choice'].value_counts().reset_index()
mode_counts.columns = ['mode_choice', 'count']

# YÃ¼zde hesabÄ±: Walking ve Micromobility hariÃ§ toplam Ã¼zerinden
exclude_modes = ['Walking', 'Micromobility']
included_total = mode_counts[~mode_counts['mode_choice'].isin(exclude_modes)]['count'].sum()

mode_counts['percentage'] = mode_counts.apply(
    lambda row: round((row['count'] / included_total) * 100, 1)
    if row['mode_choice'] not in exclude_modes else None,
    axis=1
)

mode_counts

        mode_choice   count  percentage
0           Walking  117514         NaN
1  Public Transport   44414        42.9
2   Private Vehicle   41994        40.6
3           Service   17027        16.5
4     Micromobility     768         NaN


<span style="font-size:22pt; color:red;"><b>Figure 93.Changes in mode choice between 2006, 2012 and 2024 (%) (Ä°stanbul SUMP Stage II HTS)  </b></span>

Bu tablo, `mode_choice` deÄŸiÅŸkenine gÃ¶re her bir ulaÅŸÄ±m modunun kaÃ§ kez tercih edildiÄŸini ve toplam iÃ§indeki yÃ¼zde (%) oranÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: KullanÄ±cÄ±nÄ±n seÃ§tiÄŸi ulaÅŸÄ±m modu (Ã¶rneÄŸin: Walking, Public Transport, Private Vehicle vb.).
- **count**: Ä°lgili ulaÅŸÄ±m modunun kaÃ§ defa kullanÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶sterir.
- **percentage**: Bu modun toplam yolculuklar iÃ§indeki yÃ¼zdesel oranÄ±nÄ± belirtir (%, yuvarlatÄ±lmÄ±ÅŸ).

In [30]:
# BÃ¼yÃ¼k harfli ilÃ§elere gÃ¶re filtrele (dÃ¶nÃ¼ÅŸtÃ¼rme yok!)
istanbul_districts = [
    'ADALAR', 'ARNAVUTKÃ–Y', 'ATAÅEHÄ°R', 'AVCILAR', 'BAÄCILAR', 'BAHÃ‡ELÄ°EVLER', 'BAKIRKÃ–Y',
    'BAÅAKÅEHÄ°R', 'BAYRAMPAÅA', 'BEÅÄ°KTAÅ', 'BEYKOZ', 'BEYLÄ°KDÃœZÃœ', 'BEYOÄLU', 'BÃœYÃœKÃ‡EKMECE',
    'Ã‡ATALCA', 'Ã‡EKMEKÃ–Y', 'ESENLER', 'ESENYURT', 'EYÃœPSULTAN', 'FATÄ°H', 'GAZÄ°OSMANPAÅA',
    'GÃœNGÃ–REN', 'KADIKÃ–Y', 'KAÄITHANE', 'KARTAL', 'KÃœÃ‡ÃœKÃ‡EKMECE', 'MALTEPE', 'PENDÄ°K',
    'SANCAKTEPE', 'SARIYER', 'ÅÄ°LE', 'SÄ°LÄ°VRÄ°', 'ÅÄ°ÅLÄ°', 'SULTANBEYLÄ°', 'SULTANGAZÄ°',
    'TUZLA', 'ÃœMRANÄ°YE', 'ÃœSKÃœDAR', 'ZEYTÄ°NBURNU'
]

istanbul_data = result[
    result['district'].isin(istanbul_districts) & 
    result['mode_choice'].notna()
]

# Mode_choice kolonunu say ve yÃ¼zdeyi hesapla
mode_counts = istanbul_data['mode_choice'].value_counts().reset_index()
mode_counts.columns = ['mode_choice', 'count']

total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 1)

mode_counts

        mode_choice   count  percentage
0           Walking  117514        53.0
1  Public Transport   44414        20.0
2   Private Vehicle   41994        18.9
3           Service   17027         7.7
4     Micromobility     768         0.3

In [31]:
# Birlikte Yolculuk Dahil deÄŸil

result_not_null = result[result["acc_p"].notna()]
result_not_null

# BÃ¼yÃ¼k harfli ilÃ§elere gÃ¶re filtrele (dÃ¶nÃ¼ÅŸtÃ¼rme yok!)
istanbul_districts = [
    'ADALAR', 'ARNAVUTKÃ–Y', 'ATAÅEHÄ°R', 'AVCILAR', 'BAÄCILAR', 'BAHÃ‡ELÄ°EVLER', 'BAKIRKÃ–Y',
    'BAÅAKÅEHÄ°R', 'BAYRAMPAÅA', 'BEÅÄ°KTAÅ', 'BEYKOZ', 'BEYLÄ°KDÃœZÃœ', 'BEYOÄLU', 'BÃœYÃœKÃ‡EKMECE',
    'Ã‡ATALCA', 'Ã‡EKMEKÃ–Y', 'ESENLER', 'ESENYURT', 'EYÃœPSULTAN', 'FATÄ°H', 'GAZÄ°OSMANPAÅA',
    'GÃœNGÃ–REN', 'KADIKÃ–Y', 'KAÄITHANE', 'KARTAL', 'KÃœÃ‡ÃœKÃ‡EKMECE', 'MALTEPE', 'PENDÄ°K',
    'SANCAKTEPE', 'SARIYER', 'ÅÄ°LE', 'SÄ°LÄ°VRÄ°', 'ÅÄ°ÅLÄ°', 'SULTANBEYLÄ°', 'SULTANGAZÄ°',
    'TUZLA', 'ÃœMRANÄ°YE', 'ÃœSKÃœDAR', 'ZEYTÄ°NBURNU'
]

istanbul_data = result_not_null[
    result_not_null['district'].isin(istanbul_districts) & 
    result_not_null['mode_choice'].notna()
]

# Mode_choice kolonunu say ve yÃ¼zdeyi hesapla
mode_counts = istanbul_data['mode_choice'].value_counts().reset_index()
mode_counts.columns = ['mode_choice', 'count']

total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 1)

mode_counts

        mode_choice  count  percentage
0           Walking  99896        51.3
1  Public Transport  41966        21.5
2   Private Vehicle  36047        18.5
3           Service  16222         8.3
4     Micromobility    756         0.4

In [32]:
# BÃ¼yÃ¼k harfli ilÃ§elere gÃ¶re filtrele (dÃ¶nÃ¼ÅŸtÃ¼rme yok!)
tekirdag_districts = [
   'Ã‡ERKEZKÃ–Y','Ã‡ORLU','ERGENE','KAPAKLI','MARMARAEREÄLÄ°SÄ°','SARAY'
]

tekirdag_data = result[
    result['district'].isin(tekirdag_districts) & 
    result['mode_choice'].notna()
]

# Mode_choice kolonunu say ve yÃ¼zdeyi hesapla
mode_counts = tekirdag_data['mode_choice'].value_counts().reset_index()
mode_counts.columns = ['mode_choice', 'count']

total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

mode_counts

        mode_choice  count  percentage
0           Walking   3320       58.15
1           Service    854       14.96
2   Private Vehicle    766       13.42
3  Public Transport    759       13.29
4     Micromobility     10        0.18

In [33]:
# BÃ¼yÃ¼k harfli ilÃ§elere gÃ¶re filtrele (dÃ¶nÃ¼ÅŸtÃ¼rme yok!)
kocaeli_districts = [
   'Ã‡AYIROVA','DARICA','GEBZE'
]

kocaeli_data = result[
    result['district'].isin(kocaeli_districts) & 
    result['mode_choice'].notna()
]

# Mode_choice kolonunu say ve yÃ¼zdeyi hesapla
mode_counts = kocaeli_data['mode_choice'].value_counts().reset_index()
mode_counts.columns = ['mode_choice', 'count']

total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

mode_counts

        mode_choice  count  percentage
0           Walking   3543       56.74
1           Service   1236       19.80
2   Private Vehicle    810       12.97
3  Public Transport    643       10.30
4     Micromobility     12        0.19


<span style="font-size:22pt; color:red;"><b>Figure 94-95-96. Mode Choice in Ä°stanbul According District</b></span>

Bu tablo, her bir ilÃ§ede (district) hangi ulaÅŸÄ±m modlarÄ±nÄ±n ne sÄ±klÄ±kta kullanÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶stermektedir. Veriler, `mode_choice` kolonuna gÃ¶re gruplanmÄ±ÅŸ ve sadece boÅŸ olmayan veriler deÄŸerlendirmeye alÄ±nmÄ±ÅŸtÄ±r.

#### Tablo AÃ§Ä±klamasÄ±:
- **district**: YolculuÄŸun baÅŸladÄ±ÄŸÄ± ya da hane konumunun bulunduÄŸu ilÃ§e adÄ±.
- **Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.
- **Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±.
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±.
- **Walking**: Yaya olarak yapÄ±lan yolculuk sayÄ±sÄ±.
- **Micromobility**: Scooter, bisiklet vb. mikro mobilite araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [34]:
# Ä°stanbul ilÃ§eleri listesi
istanbul_districts = [
    'ADALAR', 'ARNAVUTKÃ–Y', 'ATAÅEHÄ°R', 'AVCILAR', 'BAÄCILAR', 'BAHÃ‡ELÄ°EVLER', 'BAKIRKÃ–Y',
    'BAÅAKÅEHÄ°R', 'BAYRAMPAÅA', 'BEÅÄ°KTAÅ', 'BEYKOZ', 'BEYLÄ°KDÃœZÃœ', 'BEYOÄLU', 'BÃœYÃœKÃ‡EKMECE',
    'Ã‡ATALCA', 'Ã‡EKMEKÃ–Y', 'ESENLER', 'ESENYURT', 'EYÃœPSULTAN', 'FATÄ°H', 'GAZÄ°OSMANPAÅA',
    'GÃœNGÃ–REN', 'KADIKÃ–Y', 'KAÄITHANE', 'KARTAL', 'KÃœÃ‡ÃœKÃ‡EKMECE', 'MALTEPE', 'PENDÄ°K',
    'SANCAKTEPE', 'SARIYER', 'ÅÄ°LE', 'SÄ°LÄ°VRÄ°', 'ÅÄ°ÅLÄ°','SULTANBEYLÄ°', 'SULTANGAZÄ°',
    'TUZLA', 'ÃœMRANÄ°YE', 'ÃœSKÃœDAR', 'ZEYTÄ°NBURNU'
]

# 1. mode_choice boÅŸ olmayanlarÄ± filtrele
filtered = result[result['mode_choice'].notna()].copy()

# 2. Sadece Ä°stanbul ilÃ§elerini filtrele
filtered = filtered[filtered['district'].isin(istanbul_districts)]

# 3. district ve mode_choice bazÄ±nda sayÄ±m yap (pivot)
grouped = (
    filtered.groupby(['district', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik olabilecek kolonlarÄ± ekle (sÄ±fÄ±rla)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. Sadece istenen kolonlarÄ± sÄ±rala
district_mode_counts = grouped[[
    'district', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

district_mode_counts.to_excel("istanbul_choice.xlsx")

In [35]:
# Ä°stanbul ilÃ§eleri listesi
kocaeli_districts = [
   'Ã‡AYIROVA','DARICA','GEBZE'
]

# 1. mode_choice boÅŸ olmayanlarÄ± filtrele
filtered = result[result['mode_choice'].notna()].copy()

# 2. Sadece Ä°stanbul ilÃ§elerini filtrele
filtered = filtered[filtered['district'].isin(kocaeli_districts)]

# 3. district ve mode_choice bazÄ±nda sayÄ±m yap (pivot)
grouped = (
    filtered.groupby(['district', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik olabilecek kolonlarÄ± ekle (sÄ±fÄ±rla)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. Sadece istenen kolonlarÄ± sÄ±rala
district_mode_counts = grouped[[
    'district', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

district_mode_counts.to_excel("kocaeli.xlsx")

In [36]:
# Ä°stanbul ilÃ§eleri listesi
tekirdag_districts = [
   'Ã‡ERKEZKÃ–Y','Ã‡ORLU','ERGENE','KAPAKLI','MARMARAEREÄLÄ°SÄ°','SARAY'
]

# 1. mode_choice boÅŸ olmayanlarÄ± filtrele
filtered = result[result['mode_choice'].notna()].copy()

# 2. Sadece Ä°stanbul ilÃ§elerini filtrele
filtered = filtered[filtered['district'].isin(tekirdag_districts)]

# 3. district ve mode_choice bazÄ±nda sayÄ±m yap (pivot)
grouped = (
    filtered.groupby(['district', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik olabilecek kolonlarÄ± ekle (sÄ±fÄ±rla)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. Sadece istenen kolonlarÄ± sÄ±rala
district_mode_counts = grouped[[
    'district', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

district_mode_counts.to_excel("tekirdaÄŸ.xlsx")


<span style="font-size:22pt; color:red;"><b>Figure 102. Distribution of Activity Purposes and Numbers in Intercontinental Trips</b></span>


Bu tablo, sadece `continental_type` deÄŸeri **"Intercontinental"** , **"Within Asia"** ve **"Within Europe"** olan yolculuklar dikkate alÄ±narak, yolculuklarÄ±n hangi amaÃ§larla yapÄ±ldÄ±ÄŸÄ±nÄ± ve bu gruplarÄ±n toplam iÃ§indeki yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **purpose_group**: Seyahat amacÄ±na gÃ¶re gruplanmÄ±ÅŸ kategoriler.
  - `Work`: Ä°ÅŸe gitme
  - `School`: Okula gitme (ilk-orta-lise-Ã¼niversite)
  - `Health`: SaÄŸlÄ±k kurumuna gitme
  - `Leisure`: AlÄ±ÅŸveriÅŸ, eÄŸlence, ziyaret vb.
  - `Pick-up/Drop-off`: Ã‡ocuk veya baÅŸka birini alma/bÄ±rakma
  - `Other`: DiÄŸer kategorilere uymayan amaÃ§lar
- **count**: Ä°lgili grubun kaÃ§ defa gÃ¶zlemlendiÄŸi
- **percentage**: Bu grubun toplam Intercontinental yolculuklar iÃ§indeki oranÄ± (%)

In [37]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
result['orig_continent'] = result['orig_dist'].map(continent_mapping)
result['dest_continent'] = result['dest_dist'].map(continent_mapping)

result["continental_type"] = result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [38]:
import pandas as pd

# 1. Intercontinental + geÃ§erli purpose verilerini filtrele
filtered = result[
    (result['purpose'].notna()) &
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['continental_type'] == 'Intercontinental')
].copy()

# 2. purpose deÄŸerlerini gruplandÄ±r
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 3. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. purpose_group daÄŸÄ±lÄ±mÄ± (sayÄ± ve yÃ¼zde)
purpose_counts = filtered['purpose_group'].value_counts().reset_index()
purpose_counts.columns = ['purpose_group', 'count']
total = purpose_counts['count'].sum()
purpose_counts['percentage'] = round((purpose_counts['count'] / total) * 100, 2)
purpose_counts

      purpose_group  count  percentage
0              Work   1702       65.97
1            School    430       16.67
2           Leisure    382       14.81
3            Health     47        1.82
4  Pick-up/Drop-off     19        0.74

In [39]:
import pandas as pd

# 1. Intercontinental + geÃ§erli purpose verilerini filtrele
filtered = result[
    (result['purpose'].notna()) &
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['continental_type'] == 'Within Europe')
].copy()

# 2. purpose deÄŸerlerini gruplandÄ±r
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 3. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. purpose_group daÄŸÄ±lÄ±mÄ± (sayÄ± ve yÃ¼zde)
purpose_counts = filtered['purpose_group'].value_counts().reset_index()
purpose_counts.columns = ['purpose_group', 'count']
total = purpose_counts['count'].sum()
purpose_counts['percentage'] = round((purpose_counts['count'] / total) * 100, 2)
purpose_counts

      purpose_group  count  percentage
0              Work  31115       39.86
1           Leisure  23011       29.48
2            School  15804       20.25
3  Pick-up/Drop-off   5246        6.72
4            Health   2877        3.69

In [40]:
import pandas as pd

# 1. Intercontinental + geÃ§erli purpose verilerini filtrele
filtered = result[
    (result['purpose'].notna()) &
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['continental_type'] == 'Within Asia')
].copy()

# 2. purpose deÄŸerlerini gruplandÄ±r
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 3. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. purpose_group daÄŸÄ±lÄ±mÄ± (sayÄ± ve yÃ¼zde)
purpose_counts = filtered['purpose_group'].value_counts().reset_index()
purpose_counts.columns = ['purpose_group', 'count']
total = purpose_counts['count'].sum()
purpose_counts['percentage'] = round((purpose_counts['count'] / total) * 100, 2)
purpose_counts

      purpose_group  count  percentage
0           Leisure  16122       38.67
1              Work  14246       34.17
2            School   7379       17.70
3  Pick-up/Drop-off   2142        5.14
4            Health   1802        4.32

<span style="font-size:22pt; color:red;"><b>Figure 103.Public Transport Usage Rates for Ä°ntercontinental Trips (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [41]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§elerine ait satÄ±rlarÄ± filtrele
result_istanbul_2 = result[result['orig_dist'].isin(istanbul_ilceleri)].copy()

# 1. Intercontinental yolculuklarÄ± filtrele
intercontinental = result_istanbul_2[
    result_istanbul_2['continental_type'] == 'Intercontinental'
].copy()

# 2. mode_choice boÅŸ olmayanlarÄ± al
intercontinental = intercontinental[intercontinental['mode_choice'].notna()]

# 3. Ä°lÃ§e ve taÅŸÄ±ma moduna gÃ¶re sayÄ±m tablosu
mode_counts = (
    intercontinental.groupby(['district', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik olabilecek kolonlarÄ± garanti altÄ±na al
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in mode_counts.columns:
        mode_counts[col] = 0

# 5. YÃ¼zdelik daÄŸÄ±lÄ±mÄ± hesapla (satÄ±r bazlÄ±)
mode_percent = mode_counts.copy()
mode_cols = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']
mode_percent[mode_cols] = mode_percent[mode_cols].div(mode_percent[mode_cols].sum(axis=1), axis=0) * 100
mode_percent[mode_cols] = mode_percent[mode_cols].round(2)

# 6. Sonucu birleÅŸtir (sayÄ±sal ve yÃ¼zdesel birlikte)
combined = pd.concat(
    [mode_counts.set_index('district'), mode_percent[mode_cols].add_suffix(" (%)").set_index(mode_counts['district'])],
    axis=1
).reset_index()

# 7. Genel toplam satÄ±rÄ±nÄ± hesapla
totals = mode_counts[mode_cols].sum()
percent_totals = (totals / totals.sum() * 100).round(2)

# 8. Toplam satÄ±rÄ±nÄ± oluÅŸtur
total_row = pd.DataFrame([{
    'district': 'Toplam',
    **totals.to_dict(),
    **{col + ' (%)': percent_totals[col] for col in mode_cols}
}])

# 9. Toplam satÄ±rÄ± da dahil et
combined = pd.concat([combined, total_row], ignore_index=True)

# 10. GÃ¶ster
combined.to_excel("103.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 107. Distribution of Transportation Modes According to Travel Purposes</b></span>

####
ğŸ§­ Åekil â€“ Seyahat AmaÃ§larÄ±na GÃ¶re UlaÅŸÄ±m Modu Tercihleri

Bu tablo, her bir **seyahat amacÄ± (purpose)** iÃ§in hangi **ulaÅŸÄ±m modlarÄ±nÄ±n (mode_choice)** ne sÄ±klÄ±kta kullanÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶stermektedir. Tabloya ayrÄ±ca **en altta tÃ¼m modlar iÃ§in toplam kullanÄ±m sayÄ±sÄ±** da eklenmiÅŸtir.

#### Tablo AÃ§Ä±klamasÄ±:
- **purpose**: YolculuÄŸun amacÄ± (Ã¶rneÄŸin: AlÄ±ÅŸveriÅŸ, Ä°ÅŸe gidiÅŸ, Okula gidiÅŸ, vb.)
- **Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±
- **Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±
- **Public Transport**: Toplu taÅŸÄ±ma araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±
- **Walking**: Yaya olarak yapÄ±lan yolculuk sayÄ±sÄ±
- **Micromobility**: Scooter, bisiklet vb. mikro hareketlilik araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±
- **Toplam**: Her modun toplammÄ± (tÃ¼m ama

In [42]:
import pandas as pd

# 1. GeÃ§erli verileri filtrele
filtered = result[
    (result['mode_choice'].notna()) &
    (result['purpose'].notna())
].copy()

# 2. Grup bazlÄ± sayÄ±m: purpose x mode_choice
grouped = (
    filtered.groupby(['purpose', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 3. Eksik mod kolonlarÄ±nÄ± kontrol et ve ekle
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 4. Sadece istenen kolonlarÄ± al
purpose_mode_counts = grouped[[
    'purpose', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

# 5. Toplam satÄ±rÄ± ekle
total_row = purpose_mode_counts.drop(columns='purpose').sum(numeric_only=True)
total_row['purpose'] = 'Toplam'

purpose_mode_counts = pd.concat(
    [purpose_mode_counts, pd.DataFrame([total_row])],
    ignore_index=True
)

# 6. YÃ¼zdesel daÄŸÄ±lÄ±mÄ± hesapla
percent_df = purpose_mode_counts.copy()
mode_columns = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']
percent_df[mode_columns] = percent_df[mode_columns].div(
    percent_df[mode_columns].sum(axis=1), axis=0
) * 100

# 7. AmaÃ§larÄ± da dahil et
percent_df['purpose'] = purpose_mode_counts['purpose']

# 8. SonuÃ§larÄ± gÃ¶ster
percent_df = percent_df[['purpose'] + mode_columns]
percent_df = percent_df.round(1)  # YÃ¼zdelikleri 2 ondalÄ±kla gÃ¶ster

percent_df.to_excel("testo.xlsx")


<span style="font-size:22pt; color:red;"><b>Figure 112. General Modal Split of Work Purposes Trips</b></span>


Bu tablo, yalnÄ±zca **"Ä°ÅŸe gidiÅŸ"** amaÃ§lÄ± yapÄ±lan yolculuklar dikkate alÄ±narak, tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: KullanÄ±cÄ±nÄ±n tercih ettiÄŸi ulaÅŸÄ±m modu (Ã¶rneÄŸin: Walking, Public Transport, Private Vehicle vb.).
- **count**: Belirli ulaÅŸÄ±m modunun kaÃ§ kez kullanÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶sterir.
- **percentage**: Ä°lgili modun "Ä°ÅŸe gidiÅŸ" yolculuklarÄ± iÃ§indeki yÃ¼zdesel oranÄ± (%).

In [43]:
import pandas as pd

# 1. Filtreleme: sadece 'Ä°ÅŸe gidiÅŸ' olanlar ve geÃ§erli mode_choice'ler
filtered = result[
    (result['purpose'] == 'Ä°ÅŸe gidiÅŸ') &
    (result['mode_choice'].notna())
].copy()

# 2. mode_choice bazÄ±nda sayÄ±m
mode_counts = filtered['mode_choice'].value_counts().reindex(
    ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'],
    fill_value=0
).reset_index()

mode_counts.columns = ['mode_choice', 'count']

# 3. YÃ¼zde ekle
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)
mode_counts

        mode_choice  count  percentage
0           Service   7525       15.99
1   Private Vehicle  15652       33.26
2  Public Transport  12324       26.19
3           Walking  11349       24.11
4     Micromobility    213        0.45

<span style="font-size:22pt; color:red;"><b>Figure 113-114-115.Distribution of transportation modes among employees commuting for work by workplace location in districts of Istanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, sadece **"Ä°ÅŸe gidiÅŸ"** amaÃ§lÄ± yapÄ±lan yolculuklar dikkate alÄ±narak, her bir varÄ±ÅŸ ilÃ§esi (`dest_dist`) iÃ§in tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **dest_dist**: YolculuÄŸun varÄ±ÅŸ noktasÄ± olan ilÃ§e.
- **Service**: Servis aracÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±.
- **Private Vehicle**: Ã–zel araÃ§ ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±.
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±.
- **Walking**: Yaya olarak yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±.
- **Micromobility**: Bisiklet, scooter gibi mikro hareketlilik araÃ§larÄ±yla yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±.

In [44]:
import pandas as pd

# 1. Filtre: 'Ä°ÅŸe gidiÅŸ' ve mode_category dolu olanlar
filtered = result[
    (result['purpose'] == 'Ä°ÅŸe gidiÅŸ') &
    (result['mode_choice'].notna())
].copy()

# 2. Grup bazlÄ± sayÄ±m: destination x mode_category
grouped = (
    filtered.groupby(['dest_dist', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 3. Eksik mod kolonlarÄ±nÄ± ekle (varsa 0 ile)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 4. KolonlarÄ± sÄ±ralÄ± hale getir
destination_mode_counts = grouped[[
    'dest_dist', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]
destination_mode_counts.to_excel("113.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 116-117-118.Distribution of transportation modes among employees commuting for work by home location in districts of Istanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, yalnÄ±zca **"Ä°ÅŸe gidiÅŸ"** amaÃ§lÄ± yolculuklarÄ± baz alarak, her bir ilÃ§ede (`district`) hangi ulaÅŸÄ±m modlarÄ±nÄ±n ne sÄ±klÄ±kta tercih edildiÄŸini gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **district**: YolculuÄŸun baÅŸladÄ±ÄŸÄ± ilÃ§e.
- **Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.
- **Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±.
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±.
- **Walking**: Yaya olarak yapÄ±lan yolculuk sayÄ±sÄ±.
- **Micromobility**: Bisiklet, scooter vb. mikro hareketlilik araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [45]:
import pandas as pd

# 1. Filtre: 'Ä°ÅŸe gidiÅŸ' ve geÃ§erli mode_category olanlar
filtered = result[
    (result['purpose'] == 'Ä°ÅŸe gidiÅŸ') &
    (result['mode_choice'].notna())
].copy()

# 2. Grup bazlÄ± sayÄ±m: district x mode_category
grouped = (
    filtered.groupby(['district', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 3. Eksik mod kolonlarÄ±nÄ± sÄ±fÄ±rla (eÄŸer tabloda yoksa)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 4. KolonlarÄ± sÄ±ralÄ± hale getir
district_mode_counts = grouped[[
    'district', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]
district_mode_counts.to_excel("116.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 119.Mode Choice Based on Income Levels (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, bireylerin ait olduÄŸu **hane gelir grubuna (income_group)** gÃ¶re hangi **ulaÅŸÄ±m modlarÄ±nÄ± (mode_choice)** tercih ettiklerini gÃ¶stermektedir. HanehalkÄ± gelir bilgileri, belirli aralÄ±klarla tanÄ±mlanmÄ±ÅŸ ve Ã¼Ã§ ana gruba ayrÄ±lmÄ±ÅŸtÄ±r:

#### Gelir GruplarÄ±:
- **Low**: 25.000 TL altÄ± (dÃ¼ÅŸÃ¼k gelirli)
- **Medium**: 25.001 â€“ 80.000 TL arasÄ± (orta gelirli)
- **High**: 80.001 TL ve Ã¼zeri (yÃ¼ksek gelirli)
- **Not Specified**: Gelir bilgisi olmayanlar

#### Tablo AÃ§Ä±klamasÄ±:
- **income_group**: YukarÄ±daki sÄ±nÄ±flamaya gÃ¶re hane gelir grubu
- **Service**: Servis aracÄ± ile yapÄ±lan yolculuk sayÄ±sÄ±
- **Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±
- **Walking**: Yaya olarak yapÄ±lan yolculuk sayÄ±sÄ±
- **Micromobility**: Scooter, bisiklet gibi mikro hareketlilik araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±

In [46]:
house = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Household.xlsx')

C:\Users\Paraboly\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [47]:
import pandas as pd

# 1. result ve house tablosunu hh_id Ã¼zerinden birleÅŸtir
merged = result.merge(house, on='hh_id', how='left')

# 2. Gelir grubu oluÅŸtur
def categorize_income(income):
    high = ['100.000TLâ€™den fazla', '100.001 - 140.000 TL', '140.001 - 200.000 TL',
            '200.001TLâ€™den fazla', '60.001 - 100.000 TL', '80.001 - 100.000 TL']
    medium = ['25.001 - 40.000 TL', '40.001 - 60.000 TL', '60.001 - 80.000 TL']
    low = ['5.000 TLâ€™den az', '5.001 â€“ 10.000 TL', '10.001 - 15.000 TL', '15.001 - 25.000 TL']
    
    if income in high:
        return 'High'
    elif income in medium:
        return 'Medium'
    elif income in low:
        return 'Low'
    else:
        return 'Not Specified'

merged['income_group'] = merged['hh_income'].apply(categorize_income)

# 3. mode_category boÅŸ olmayan ve gelir grubu belirlenmiÅŸ olanlarÄ± filtrele
filtered = merged[merged['mode_choice'].notna()].copy()

# 4. Grup bazlÄ± sayÄ±m: income_group x mode_category
grouped = (
    filtered.groupby(['income_group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik mod kolonlarÄ±nÄ± sÄ±fÄ±rla (varsa)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. KolonlarÄ± sÄ±ralÄ± hale getir
income_mode_counts = grouped[[
    'income_group', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

# 7. Ä°steÄŸe baÄŸlÄ±: Gelir grubu sÄ±ralamasÄ±
income_mode_counts['income_group'] = pd.Categorical(
    income_mode_counts['income_group'],
    categories=['Low', 'Medium', 'High', 'Not Specified'],
    ordered=True
)
income_mode_counts = income_mode_counts.sort_values('income_group').reset_index(drop=True)
income_mode_counts

mode_choice,income_group,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,Low,4265,6453,12148,43703,230
1,Medium,10431,22681,22960,52962,403
2,High,853,4573,1419,4610,15
3,Not Specified,3568,9863,9289,23102,142

In [48]:
# 8. YÃ¼zdesel daÄŸÄ±lÄ±m ekle (satÄ±r bazÄ±nda yÃ¼zde)
income_mode_percent = income_mode_counts.copy()

# Sadece sayÄ± iÃ§eren kolonlarÄ± normalize et ve 1 ondalÄ±k basamaÄŸa yuvarla
mode_cols = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']
income_mode_percent[mode_cols] = (
    income_mode_percent[mode_cols].div(income_mode_percent[mode_cols].sum(axis=1), axis=0) * 100
).round(1)

# SonuÃ§
income_mode_percent

mode_choice,income_group,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,Low,6.4,9.7,18.2,65.4,0.3
1,Medium,9.5,20.7,21.0,48.4,0.4
2,High,7.4,39.9,12.4,40.2,0.1
3,Not Specified,7.8,21.5,20.2,50.3,0.3

<span style="font-size:22pt; color:red;"><b>Figure 120.Vehicle Ownership and Mode Choices in High Income HTS</b></span>

Bu tablo, **yÃ¼ksek gelir grubuna** dahil olan bireylerin araÃ§ sahipliÄŸi durumuna gÃ¶re hangi ulaÅŸÄ±m modlarÄ±nÄ± tercih ettiklerini gÃ¶stermektedir.

#### Gelir AralÄ±ÄŸÄ± (High Group):
- 60.001 TL - 100.000 TL
- 80.001 TL - 100.000 TL
- 100.001 TL - 140.000 TL
- 140.001 TL - 200.000 TL
- 200.001 TLâ€™den fazla

#### Tablo AÃ§Ä±klamasÄ±:
- **hh_has_vehicle**: Hane halkÄ±nÄ±n aracÄ± olup olmadÄ±ÄŸÄ±nÄ± belirtir (`Evet` / `HayÄ±r`).
- **Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.
- **Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±.
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±.
- **Walking**: Yaya olarak yapÄ±lan yolculuk sayÄ±sÄ±.
- **Micromobility**: Bisiklet, scooter gibi mikro hareketlilik araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [49]:
import pandas as pd

# 1. result ve house tablolarÄ±nÄ± hh_id Ã¼zerinden birleÅŸtir
merged = result.merge(house, on='hh_id', how='left')

# 2. DÃ¼ÅŸÃ¼k gelir grubunu tanÄ±mla
high = ['100.000TLâ€™den fazla', '100.001 - 140.000 TL', '140.001 - 200.000 TL',
            '200.001TLâ€™den fazla', '60.001 - 100.000 TL', '80.001 - 100.000 TL']


# 3. Filtrele: geÃ§erli mode_category + dÃ¼ÅŸÃ¼k gelir grubundakiler
filtered = merged[
    (merged['mode_choice'].notna()) &
    (merged['hh_income'].isin(high))
].copy()

# 4. Grup bazlÄ± sayÄ±m: hh_has_vehicle x mode_category
grouped = (
    filtered.groupby(['hh_has_vehicle', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik kolonlarÄ± sÄ±fÄ±rla (eÄŸer veri setinde yoksa)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. KolonlarÄ± sÄ±ralÄ± hale getir
vehicle_mode_counts = grouped[[
    'hh_has_vehicle', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

# 7. AraÃ§ sahipliÄŸi bilgisi sÄ±ralÄ± hale getirmek istersen (isteÄŸe baÄŸlÄ±)
# Ã–rnek: 'Evet' ve 'HayÄ±r' gibi kategoriler varsa:
vehicle_mode_counts['hh_has_vehicle'] = pd.Categorical(
    vehicle_mode_counts['hh_has_vehicle'],
    categories=['HayÄ±r', 'Evet'],  # ihtiyaca gÃ¶re deÄŸiÅŸtir
    ordered=True
)
vehicle_mode_counts = vehicle_mode_counts.sort_values('hh_has_vehicle').reset_index(drop=True)
vehicle_mode_counts

mode_choice,hh_has_vehicle,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,HayÄ±r,216,257,589,1344,1
1,Evet,637,4316,830,3266,14

In [50]:
# 8. YÃ¼zdesel daÄŸÄ±lÄ±m ekle (satÄ±r bazÄ±nda yÃ¼zde, 1 ondalÄ±k basamakla)
vehicle_mode_percent = vehicle_mode_counts.copy()

mode_cols = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']
vehicle_mode_percent[mode_cols] = (
    vehicle_mode_percent[mode_cols].div(vehicle_mode_percent[mode_cols].sum(axis=1), axis=0) * 100
).round(1)

# SonuÃ§
vehicle_mode_percent

mode_choice,hh_has_vehicle,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,HayÄ±r,9.0,10.7,24.5,55.8,0.0
1,Evet,7.0,47.6,9.2,36.0,0.2

<span style="font-size:22pt; color:red;"><b>Figure 121.Vehicle Ownership and Mode Choices in Low Income HTS</b></span>

Bu tablo, **dÃ¼ÅŸÃ¼k gelir grubuna** dahil olan bireylerin araÃ§ sahipliÄŸi durumuna gÃ¶re hangi ulaÅŸÄ±m modlarÄ±nÄ± tercih ettiklerini gÃ¶stermektedir.

#### Gelir AralÄ±ÄŸÄ± (High Group):
- 60.001 TL - 100.000 TL
- 80.001 TL - 100.000 TL
- 100.001 TL - 140.000 TL
- 140.001 TL - 200.000 TL
- 200.001 TLâ€™den fazla

#### Tablo AÃ§Ä±klamasÄ±:
- **hh_has_vehicle**: Hane halkÄ±nÄ±n aracÄ± olup olmadÄ±ÄŸÄ±nÄ± belirtir (`Evet` / `HayÄ±r`).
- **Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.
- **Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±.
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±.
- **Walking**: Yaya olarak yapÄ±lan yolculuk sayÄ±sÄ±.
- **Micromobility**: Bisiklet, scooter gibi mikro hareketlilik araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [51]:
import pandas as pd

# 1. result ve house tablolarÄ±nÄ± hh_id Ã¼zerinden birleÅŸtir
merged = result.merge(house, on='hh_id', how='left')

# 2. DÃ¼ÅŸÃ¼k gelir grubunu tanÄ±mla
low = ['5.000 TLâ€™den az', '5.001 â€“ 10.000 TL', '10.001 - 15.000 TL', '15.001 - 25.000 TL']

# 3. Filtrele: geÃ§erli mode_category + dÃ¼ÅŸÃ¼k gelir grubundakiler
filtered = merged[
    (merged['mode_choice'].notna()) &
    (merged['hh_income'].isin(low))
].copy()

# 4. Grup bazlÄ± sayÄ±m: hh_has_vehicle x mode_category
grouped = (
    filtered.groupby(['hh_has_vehicle', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik kolonlarÄ± sÄ±fÄ±rla (eÄŸer veri setinde yoksa)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. KolonlarÄ± sÄ±ralÄ± hale getir
vehicle_mode_counts = grouped[[
    'hh_has_vehicle', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

# 7. AraÃ§ sahipliÄŸi bilgisi sÄ±ralÄ± hale getirmek istersen (isteÄŸe baÄŸlÄ±)
# Ã–rnek: 'Evet' ve 'HayÄ±r' gibi kategoriler varsa:
vehicle_mode_counts['hh_has_vehicle'] = pd.Categorical(
    vehicle_mode_counts['hh_has_vehicle'],
    categories=['HayÄ±r', 'Evet'],  # ihtiyaca gÃ¶re deÄŸiÅŸtir
    ordered=True
)
vehicle_mode_counts = vehicle_mode_counts.sort_values('hh_has_vehicle').reset_index(drop=True)
vehicle_mode_counts

mode_choice,hh_has_vehicle,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,HayÄ±r,3417,2233,9979,35518,24
1,Evet,848,4220,2169,8185,206

In [52]:
# 8. YÃ¼zdesel daÄŸÄ±lÄ±m ekle (satÄ±r bazÄ±nda yÃ¼zde, 1 ondalÄ±k basamakla)
vehicle_mode_percent = vehicle_mode_counts.copy()

mode_cols = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']
vehicle_mode_percent[mode_cols] = (
    vehicle_mode_percent[mode_cols].div(vehicle_mode_percent[mode_cols].sum(axis=1), axis=0) * 100
).round(1)

# SonuÃ§
vehicle_mode_percent

mode_choice,hh_has_vehicle,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,HayÄ±r,6.7,4.4,19.5,69.4,0.0
1,Evet,5.4,27.0,13.9,52.4,1.3

<span style="font-size:22pt; color:red;"><b>Figure 122.HTS Mode Choices in Low Income District- BAÄCILAR</b></span>

Bu tablo, **BAÄCILAR** ilÃ§esinde yapÄ±lan yolculuklar arasÄ±nda tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal ve yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: Tercih edilen ulaÅŸÄ±m modu (Ã¶r. Walking, Public Transport, Private Vehicle, vb.)
- **count**: Ä°lgili modun kaÃ§ defa tercih edildiÄŸi
- **percentage**: Toplam yolculuklar iÃ§indeki oranÄ± (%)

In [53]:
import pandas as pd

# 1. Filtrele: BEÅÄ°KTAÅ ilÃ§esi ve geÃ§erli mode_choice
filtered = result[
    (result['district'] == 'BAÄCILAR') &
    (result['mode_choice'].notna())
].copy()

# 2. mode_choice bazÄ±nda sayÄ±m
mode_counts = filtered['mode_choice'].value_counts().reindex(
    ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'],
    fill_value=0
).reset_index()

# 3. Kolon adlarÄ±nÄ± ayarla
mode_counts.columns = ['mode_choice', 'count']

# 4. YÃ¼zdesel daÄŸÄ±lÄ±m hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)
mode_counts

        mode_choice  count  percentage
0           Service   1317       10.12
1   Private Vehicle   1629       12.52
2  Public Transport   2386       18.34
3           Walking   7668       58.93
4     Micromobility     12        0.09

<span style="font-size:22pt; color:red;"><b>Figure 123.HTS Mode Choices in Low Income District- BEÅÄ°KTAÅ</b></span>

Bu tablo, **BEÅÄ°KTAÅ** ilÃ§esinde yapÄ±lan yolculuklar arasÄ±nda tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal ve yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: Tercih edilen ulaÅŸÄ±m modu (Ã¶r. Walking, Public Transport, Private Vehicle, vb.)
- **count**: Ä°lgili modun kaÃ§ defa tercih edildiÄŸi
- **percentage**: Toplam yolculuklar iÃ§indeki oranÄ± (%)

In [54]:
import pandas as pd

# 1. Filtrele: BEÅÄ°KTAÅ ilÃ§esi ve geÃ§erli mode_choice
filtered = result[
    (result['district'] == 'BEÅÄ°KTAÅ') &
    (result['mode_choice'].notna())
].copy()

# 2. mode_choice bazÄ±nda sayÄ±m
mode_counts = filtered['mode_choice'].value_counts().reindex(
    ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'],
    fill_value=0
).reset_index()

# 3. Kolon adlarÄ±nÄ± ayarla
mode_counts.columns = ['mode_choice', 'count']

# 4. YÃ¼zdesel daÄŸÄ±lÄ±m hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)
mode_counts

        mode_choice  count  percentage
0           Service     91        4.05
1   Private Vehicle    659       29.30
2  Public Transport    447       19.88
3           Walking    999       44.42
4     Micromobility     53        2.36

<span style="font-size:22pt; color:red;"><b>Figure 124.Modal split of university-location based educational trips based on districts of Ä°stanbul (Ä°stanbul SUMP Stage II HTS) </b></span>

Bu tablo, Ã¼niversite amacÄ±yla yapÄ±lan yolculuklarda, varÄ±ÅŸ bÃ¶lgesi (dest_dist) bazÄ±nda tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.


#### Tablo AÃ§Ä±klamasÄ±:
**dest_dist**: YolculuÄŸun sona erdiÄŸi (varÄ±ÅŸ) bÃ¶lgeyi belirtir.

**Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

**Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±.

**Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±.

**Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuk sayÄ±sÄ±.

**Micromobility**: Bisiklet, scooter vb. mikro mobilite araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [55]:
import pandas as pd

# 1. Okula gidiÅŸ tÃ¼rlerini tanÄ±mla
school_purposes = [
    'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
]

# 2. Filtreleme
filtered = result[
    (result['mode_choice'].notna()) &
    (result['purpose'].isin(school_purposes))
].copy()

# 3. Grup bazlÄ± sayÄ±m
grouped = (
    filtered.groupby(['dest_dist', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. KolonlarÄ± sÄ±rala
destination_mode_counts = grouped[[
    'dest_dist', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

# 6. Sonucu gÃ¶ster
destination_mode_counts.to_excel("124.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 125-126-127.Modal split of school location based educational trips among districts of Ä°stanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, okula gidiÅŸ (ilk-ortaÃ¶ÄŸretim, lise, Ã¼niversite ve Ã¼zeri) amacÄ±yla yapÄ±lan yolculuklarda, varÄ±ÅŸ bÃ¶lgesi (dest_dist) bazÄ±nda tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.


#### Tablo AÃ§Ä±klamasÄ±:
**dest_dist**: YolculuÄŸun sona erdiÄŸi (varÄ±ÅŸ) bÃ¶lgeyi belirtir.

**Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

**Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±.

**Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±.

**Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuk sayÄ±sÄ±.

**Micromobility**: Bisiklet, scooter vb. mikro mobilite araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [56]:
import pandas as pd

# 1. Okula gidiÅŸ tÃ¼rlerini tanÄ±mla
school_purposes = [
    'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
    'Okula gidiÅŸ(lise)'
]

# 2. Filtreleme
filtered = result[
    (result['mode_choice'].notna()) &
    (result['purpose'].isin(school_purposes))
].copy()

# 3. Grup bazlÄ± sayÄ±m
grouped = (
    filtered.groupby(['dest_dist', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. KolonlarÄ± sÄ±rala
destination_mode_counts = grouped[[
    'dest_dist', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

# 6. Sonucu gÃ¶ster
destination_mode_counts.to_excel("125.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 128.Modal split of education purpose travel with home location based on districts of Ä°stanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, **okula gidiÅŸ** amacÄ±yla yapÄ±lan yolculuklarda (ilk ve ortaÃ¶ÄŸretim, lise, Ã¼niversite ve Ã¼zeri), yolculuÄŸun baÅŸladÄ±ÄŸÄ± **ilÃ§eye (district)** gÃ¶re tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### ğŸ“‹ Tablo AÃ§Ä±klamasÄ±:
- **district**: YolculuÄŸun baÅŸladÄ±ÄŸÄ± ilÃ§e
- **Service**: Servis aracÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Private Vehicle**: Ã–zel araÃ§ ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Micromobility**: Scooter, bisiklet gibi mikro mobilite araÃ§larÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

In [57]:
school_purposes = [
    'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
    'Okula gidiÅŸ(lise)',
    'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
]

# 2. GeÃ§erli verileri filtrele
filtered = result[
    (result['mode_choice'].notna()) &
    (result['purpose'].isin(school_purposes))
].copy()

# 3. Grup bazlÄ± sayÄ±m: district x mode_choice
grouped = (
    filtered.groupby(['district', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik kolonlarÄ± sÄ±fÄ±rla (eksik modlar varsa)
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. KolonlarÄ± sÄ±ralÄ± hale getir
district_mode_counts = grouped[[
    'district', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]
district_mode_counts.to_excel("128.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 131. Education-based Start Travel Time (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, **okula gidiÅŸ** amacÄ±yla yapÄ±lan yolculuklarda (ilk ve ortaÃ¶ÄŸretim, lise, Ã¼niversite ve Ã¼zeri), yolculuÄŸun baÅŸladÄ±ÄŸÄ± **saate (start time)** gÃ¶re tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### ğŸ“‹ Tablo AÃ§Ä±klamasÄ±:
- **start time**: YolculuÄŸun baÅŸladÄ±ÄŸÄ± saat (Ã¶rneÄŸin: 08:00)
- **Primary School**: Ä°lk ve ortaÃ¶ÄŸretim iÃ§in yapÄ±lan yolculuk sayÄ±sÄ±
- **High School**: Lise iÃ§in yapÄ±lan yolculuk sayÄ±sÄ±
- **University**: Ãœniversite ve Ã¼zeri iÃ§in yapÄ±lan yolculuk sayÄ±sÄ±
n sayÄ±sÄ±

In [58]:
import pandas as pd

# 1. Okula gidiÅŸ amaÃ§larÄ±nÄ± tanÄ±mla
school_purposes = [
    'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
    'Okula gidiÅŸ(lise)',
    'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
]

# 2. GeÃ§erli mode_choice ve okula gidiÅŸ verilerini filtrele
filtered = result[
    (result['mode_choice'].notna()) &
    (result['purpose'].isin(school_purposes))
].copy()

# 3. Saatlik grup kolonu oluÅŸtur (Ã¶r. '08:00')
filtered['hour_group'] = pd.to_datetime(filtered['start_time'], errors='coerce').dt.strftime('%H:00')

# 4. Her okul tÃ¼rÃ¼ iÃ§in sayÄ±m
hourly_counts = (
    filtered.groupby(['hour_group', 'purpose'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik kolonlar varsa sÄ±fÄ±rla
for col in [
    'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
    'Okula gidiÅŸ(lise)',
    'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
]:
    if col not in hourly_counts.columns:
        hourly_counts[col] = 0

# 6. KolonlarÄ± yeniden adlandÄ±r
hourly_counts = hourly_counts.rename(columns={
    'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)': 'Primary School',
    'Okula gidiÅŸ(lise)': 'High School',
    'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)': 'University'
})

# 7. Saat sÄ±rasÄ±na gÃ¶re sÄ±rala
hourly_counts = hourly_counts.sort_values('hour_group').reset_index(drop=True)

# SonuÃ§:
hourly_counts

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_5020\584057547.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered['hour_group'] = pd.to_datetime(filtered['start_time'], errors='coerce').dt.strftime('%H:00')

purpose hour_group  Primary School  High School  University
0            00:00               3            0           0
1            01:00               3            0           0
2            04:00               0            1           1
3            05:00               1            5           7
4            06:00             238          296         122
5            07:00            5139         2690         504
6            08:00            6178         2504         831
7            09:00             382          168         652
8            10:00              43           18         512
9            11:00             103           49         212
10           12:00            1536          264         157
11           13:00             638           38          99
12           14:00              43            4          24
13           15:00              27            8          32
14           16:00              10            6          17
15           17:00              13            5           9
16           18:00               6            0           8
17           19:00               3            0           0
18           20:00               1            2           0
19           21:00               1            0           0

In [59]:
# 8. Kolon (okul tÃ¼rÃ¼) bazlÄ± yÃ¼zdesel daÄŸÄ±lÄ±m (sÃ¼tun toplamÄ±na gÃ¶re)
hourly_percent = hourly_counts.copy()

# YÃ¼zdelik dÃ¶nÃ¼ÅŸÃ¼m: Her kolonu kendi toplamÄ±na bÃ¶l ve % olarak hesapla
school_cols = ['Primary School', 'High School', 'University']
hourly_percent[school_cols] = (
    hourly_percent[school_cols].div(hourly_percent[school_cols].sum(axis=0), axis=1) * 100
).round(1)

# SonuÃ§
hourly_percent

purpose hour_group  Primary School  High School  University
0            00:00             0.0          0.0         0.0
1            01:00             0.0          0.0         0.0
2            04:00             0.0          0.0         0.0
3            05:00             0.0          0.1         0.2
4            06:00             1.7          4.9         3.8
5            07:00            35.8         44.4        15.8
6            08:00            43.0         41.3        26.1
7            09:00             2.7          2.8        20.5
8            10:00             0.3          0.3        16.1
9            11:00             0.7          0.8         6.7
10           12:00            10.7          4.4         4.9
11           13:00             4.4          0.6         3.1
12           14:00             0.3          0.1         0.8
13           15:00             0.2          0.1         1.0
14           16:00             0.1          0.1         0.5
15           17:00             0.1          0.1         0.3
16           18:00             0.0          0.0         0.3
17           19:00             0.0          0.0         0.0
18           20:00             0.0          0.0         0.0
19           21:00             0.0          0.0         0.0

<span style="font-size:22pt; color:red;"><b>Figure 132.Mode choice based on Person Types</b></span>

Bu tablo, **Ã§alÄ±ÅŸma durumu (Employment Group)** farklÄ±lÄ±klarÄ±na gÃ¶re yapÄ±lan yolculuklarda tercih edilen ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### ğŸ“‹ Tablo AÃ§Ä±klamasÄ±:
- **Employment_Group**: KiÅŸinin istihdam durumu (Ã¶rneÄŸin: Ã‡alÄ±ÅŸÄ±yor, Ä°ÅŸsiz, Ã–ÄŸrenci vb.)
- **Service**: Servis aracÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Private Vehicle**: Ã–zel araÃ§ ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±
- **Micromobility**: Scooter, bisiklet gibi mikro mobilite araÃ§larÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±sayÄ±sÄ±

In [60]:
# 1. mode_choice ve employment_group geÃ§erli olanlarÄ± filtrele
filtered = result[
    result['mode_choice'].notna() &
    result['Employment_Group'].notna()
].copy()

# 2. Grup bazlÄ± sayÄ±m
grouped = (
    filtered.groupby(['Employment_Group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 3. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 4. KolonlarÄ± sÄ±ralÄ± hale getir
employment_mode_counts = grouped[[
    'Employment_Group', 'Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'
]]

employment_mode_counts

mode_choice,Employment_Group,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,65+ Retired,26,1830,2063,13019,60
1,Adult Student,456,1277,6316,2616,32
2,Adult Unemployed,155,5625,7740,44895,100
3,Child,46,79,151,908,7
4,Child Student,3883,1829,4859,31621,124
5,Full Time,14320,31741,23692,26027,455
6,Other,25,464,332,4333,1
7,Part Time,206,725,663,958,11

In [61]:
# 5. YÃ¼zdesel daÄŸÄ±lÄ±m: satÄ±r bazlÄ± (Employment_Group iÃ§inde mode_choice yÃ¼zdeleri)
employment_mode_percent = employment_mode_counts.copy()

mode_cols = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']
employment_mode_percent[mode_cols] = (
    employment_mode_percent[mode_cols].div(employment_mode_percent[mode_cols].sum(axis=1), axis=0) * 100
).round(1)

# SonuÃ§
employment_mode_percent.to_excel("134.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 133-137. Trip Purpose Distribution of Age (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, belirli yaÅŸ aralÄ±ÄŸÄ±ndaki bireylerin **â€˜Eve gidiÅŸâ€™ dÄ±ÅŸÄ±ndaki** seyahatlerinde tercih ettikleri amaÃ§lara gÃ¶re yapÄ±lan yolculuk sayÄ±larÄ±nÄ± gÃ¶stermektedir.

#### ğŸ“‹ Tablo AÃ§Ä±klamasÄ±:
- **purpose_group**: YolculuÄŸun amacÄ± (Ã¶rneÄŸin: iÅŸe gidiÅŸ, saÄŸlÄ±k kurumuna gidiÅŸ vb.)
- **trip_count**: Ä°lgili amaÃ§la yapÄ±lan yolculuk sayÄ±sÄ±

In [62]:
profile = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Profile.xlsx')

In [63]:
# hh_id ve person_order'Ä± birleÅŸtirerek yeni bir kolon oluÅŸtur
profile['person_id'] = profile['hh_id'].astype(str) + '-' + profile['person_order'].astype(str)
profile.head(2)

,p_id,hh_id,participation_status,person_order,name,age,gender,District,edu,drive_lic,house_rep_prox,work_status,work_type,sector,job,work_time,office_info,work_days,pt_card,pt_card_type,disability,had_trip,no_trip_reason,person_id
0,71,6kaqzPZwvLgUnuUalhTx,Evet,K1,ÅÃ¼kran Ã‡iftÃ§i,64.0,KadÄ±n,BEYKOZ,Ä°lkÃ¶ÄŸretim mezunu,Yok,Kendisi,Ã‡alÄ±ÅŸmÄ±yor,NaN,NaN,NaN,NaN,NaN,0.0,Yok,NaN,HayÄ±r,HayÄ±r,Gerek OlmamasÄ±,6kaqzPZwvLgUnuUalhTx-K1
1,72,6kaqzPZwvLgUnuUalhTx,Evet,K2,Mahmut,67.0,Erkek,BEYKOZ,Ä°lkÃ¶ÄŸretim mezunu,Yok,EÅŸi,Ã‡alÄ±ÅŸmÄ±yor,NaN,NaN,NaN,NaN,NaN,0.0,Var,Ãœcretsiz Kart,HayÄ±r,Evet,NaN,6kaqzPZwvLgUnuUalhTx-K2

In [64]:
import pandas as pd

# 0. p_id kolonlarÄ±nÄ± stringe Ã§evir

# 1. Trip ve profile tablolarÄ±nÄ± p_id Ã¼zerinden birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: purpose 'Eve gidiÅŸ' olmayanlar ve yaÅŸ >= 65
filtered = merged[
    (merged['purpose'].notna()) &
    (merged['purpose'] != 'Eve gidiÅŸ') &
    (merged['age'] >= 65)
].copy()

# 3. AmaÃ§larÄ± grupla
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda sayÄ±m
grouped = (
    filtered.groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
    .reset_index(drop=True)
)

grouped

      purpose_group  trip_count
0           Leisure        8479
1            Health        1614
2              Work         303
3  Pick-up/Drop-off          80
4            School           9

In [65]:
import pandas as pd

# 1. Trip ve profile tablolarÄ±nÄ± p_id Ã¼zerinden birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: purpose 'Eve gidiÅŸ' olmayanlar ve yaÅŸ 0-14 arasÄ± olanlar
filtered = merged[
    (merged['purpose'].notna()) &
    (merged['purpose'] != 'Eve gidiÅŸ') &
    (merged['age'] >= 0) &
    (merged['age'] <= 14)
].copy()

# 3. AmaÃ§larÄ± grupla
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda sayÄ±m
grouped = (
    filtered.groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
    .reset_index(drop=True)
)

grouped

      purpose_group  trip_count
0            School       13658
1  Pick-up/Drop-off        2976
2           Leisure        2928
3              Work         279
4            Health         244

In [66]:
import pandas as pd

# 1. Trip ve profile tablolarÄ±nÄ± p_id Ã¼zerinden birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: purpose 'Eve gidiÅŸ' olmayanlar ve yaÅŸ 15-29 arasÄ± olanlar
filtered = merged[
    (merged['purpose'].notna()) &
    (merged['purpose'] != 'Eve gidiÅŸ') &
    (merged['age'] >= 15) &
    (merged['age'] <= 29)
].copy()

# 3. AmaÃ§larÄ± grupla
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda sayÄ±m
grouped = (
    filtered.groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
    .reset_index(drop=True)
)

grouped

      purpose_group  trip_count
0              Work       12524
1            School        8781
2           Leisure        7411
3  Pick-up/Drop-off         631
4            Health         507

In [67]:
import pandas as pd

# 1. Trip ve profile tablolarÄ±nÄ± p_id Ã¼zerinden birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: purpose 'Eve gidiÅŸ' olmayanlar ve yaÅŸ 30-44 arasÄ± olanlar
filtered = merged[
    (merged['purpose'].notna()) &
    (merged['purpose'] != 'Eve gidiÅŸ') &
    (merged['age'] >= 30) &
    (merged['age'] <= 44)
].copy()

# 3. AmaÃ§larÄ± grupla
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda sayÄ±m
grouped = (
    filtered.groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
    .reset_index(drop=True)
)
grouped

      purpose_group  trip_count
0              Work       22819
1           Leisure        8146
2  Pick-up/Drop-off        3111
3            School         976
4            Health         678

In [68]:
import pandas as pd

# 1. Trip ve profile tablolarÄ±nÄ± p_id Ã¼zerinden birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: purpose 'Eve gidiÅŸ' olmayanlar ve yaÅŸ 45-64 arasÄ± olanlar
filtered = merged[
    (merged['purpose'].notna()) &
    (merged['purpose'] != 'Eve gidiÅŸ') &
    (merged['age'] >= 45) &
    (merged['age'] <= 64)
].copy()

# 3. AmaÃ§larÄ± grupla
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda sayÄ±m
grouped = (
    filtered.groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
    .reset_index(drop=True)
)

grouped

      purpose_group  trip_count
0           Leisure       12551
1              Work       11138
2            Health        1683
3  Pick-up/Drop-off         609
4            School         189

<span style="font-size:22pt; color:red;"><b>Figure 141-142-143-145-146.  Female's-Male's Travel Mode and Purpose Distribution (Ä°stanbul SUMP Stage II HTS</b></span>

Bu tablo, **kadÄ±n** ve **erkek** yaptÄ±ÄŸÄ± yolculuklarda tercih ettikleri ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal ve yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### ğŸ“‹ Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: Tercih edilen ulaÅŸÄ±m modu (Ã¶r. Walking, Public Transport, Private Vehicle, vb.)
- **count**: Ä°lgili modun kaÃ§ defa tercih edildiÄŸi
- **percentage**: Toplam yolculuklar iÃ§indeki oranÄ± (%)

In [69]:

# 3. Filtreleme: sadece kadÄ±nlar ve geÃ§erli mode_choice
filtered = result[
    (result['mode_choice'].notna()) &
    (result['gender'] == 'KadÄ±n')
].copy()

# 4. UlaÅŸÄ±m modu bazÄ±nda sayÄ±m
mode_counts = filtered['mode_choice'].value_counts().reindex(
    ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'],
    fill_value=0
).reset_index()

# 5. Kolon adlarÄ±nÄ± dÃ¼zenle
mode_counts.columns = ['mode_choice', 'count']

# 6. YÃ¼zdesel daÄŸÄ±lÄ±mÄ± hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

# 7. SonuÃ§larÄ± gÃ¶ster
mode_counts

        mode_choice  count  percentage
0           Service   5779        5.72
1   Private Vehicle  11045       10.92
2  Public Transport  18999       18.79
3           Walking  65124       64.42
4     Micromobility    153        0.15

In [70]:
import pandas as pd



# 2. Filtreleme: yaÅŸ â‰¥ 65, cinsiyet KadÄ±n, purpose geÃ§erli ve Eve gidiÅŸ olmayanlar
filtered = result[
    (result['gender'] == 'KadÄ±n') &
    (result['purpose'].notna()) &
    (result['purpose'] != 'Eve gidiÅŸ')
].copy()

# 3. AmaÃ§larÄ± gruplamak iÃ§in fonksiyon
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon oluÅŸtur: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Ä°lÃ§e ve purpose_group bazÄ±nda sayÄ±m
grouped_counts = (
    filtered.groupby(['district', 'purpose_group'])
    .size()
    .unstack(fill_value=0)
)

# 6. YÃ¼zdesel daÄŸÄ±lÄ±mÄ± hesapla
grouped_percentages = (grouped_counts.T / grouped_counts.sum(axis=1)).T * 100
grouped_percentages = grouped_percentages.round(2).add_suffix(' (%)')

# 7. SayÄ±m ve yÃ¼zde tablolarÄ±nÄ± birleÅŸtir
final_table = pd.concat([grouped_counts, grouped_percentages], axis=1)

# 8. Toplam sayÄ±m satÄ±rÄ±
totals_row = pd.DataFrame([grouped_counts.sum()], index=['TOPLAM'])

# 9. YÃ¼zdesel toplam (her sÃ¼tun toplamÄ± %100 olacak ÅŸekilde)
totals_percentage = pd.DataFrame([grouped_percentages.mean()], index=['TOPLAM'])

# 10. SayÄ±m ve yÃ¼zde kolonlarÄ±nÄ± birleÅŸtir
total_row_combined = pd.concat([totals_row, totals_percentage], axis=1)

# 11. Son tabloya ekle
final_table_with_total = pd.concat([final_table, total_row_combined])

# 12. Sonucu gÃ¶ster
final_table_with_total.tail(3)  # Son 3 satÄ±rla kontrol edebilirsin (TOPLAM satÄ±rÄ± dahil)

final_table_with_total.to_excel("KadÄ±n.xlsx")

In [71]:
import pandas as pd

filtered = result[
    (result['mode_choice'].notna()) &
    (result['gender'] == 'Erkek')
].copy()

# 4. UlaÅŸÄ±m modu bazÄ±nda sayÄ±m
mode_counts = filtered['mode_choice'].value_counts().reindex(
    ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'],
    fill_value=0
).reset_index()

# 5. Kolon adlarÄ±nÄ± dÃ¼zenle
mode_counts.columns = ['mode_choice', 'count']

# 6. YÃ¼zdesel daÄŸÄ±lÄ±mÄ± hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

# 7. SonuÃ§larÄ± gÃ¶ster
mode_counts

        mode_choice  count  percentage
0           Service  13226       10.06
1   Private Vehicle  32410       24.64
2  Public Transport  26649       20.26
3           Walking  58590       44.55
4     Micromobility    637        0.48

In [72]:

# 2. Filtreleme: yaÅŸ â‰¥ 65, cinsiyet Erkek, purpose geÃ§erli ve Eve gidiÅŸ olmayanlar
filtered = result[
    (result['gender'] == 'Erkek') &
    (result['purpose'].notna()) &
    (result['purpose'] != 'Eve gidiÅŸ')
].copy()

# 3. AmaÃ§larÄ± gruplamak iÃ§in fonksiyon
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon oluÅŸtur: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Ä°lÃ§e ve purpose_group bazÄ±nda sayÄ±m
grouped_counts = (
    filtered.groupby(['district', 'purpose_group'])
    .size()
    .unstack(fill_value=0)
)

# 6. YÃ¼zdesel daÄŸÄ±lÄ±mÄ± hesapla
grouped_percentages = (grouped_counts.T / grouped_counts.sum(axis=1)).T * 100
grouped_percentages = grouped_percentages.round(2).add_suffix(' (%)')

# 7. SayÄ±m ve yÃ¼zde tablolarÄ±nÄ± birleÅŸtir
final_table = pd.concat([grouped_counts, grouped_percentages], axis=1)

# 8. Toplam sayÄ±m satÄ±rÄ±
totals_row = pd.DataFrame([grouped_counts.sum()], index=['TOPLAM'])

# 9. YÃ¼zdesel toplam (her sÃ¼tun toplamÄ± %100 olacak ÅŸekilde)
totals_percentage = pd.DataFrame([grouped_percentages.mean()], index=['TOPLAM'])

# 10. SayÄ±m ve yÃ¼zde kolonlarÄ±nÄ± birleÅŸtir
total_row_combined = pd.concat([totals_row, totals_percentage], axis=1)

# 11. Son tabloya ekle
final_table_with_total = pd.concat([final_table, total_row_combined])

# 12. Sonucu gÃ¶ster
final_table_with_total.tail(3)  # Son 3 satÄ±rla kontrol edebilirsin (TOPLAM satÄ±rÄ± dahil)
final_table_with_total.to_excel("Erkek.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 147. Leisure purposes of different person types (Ä°stanbul SUMP Stage II HTS)</b></span>

### 

Bu tablo,eve gidiÅŸ dÄ±ÅŸÄ±ndaki yolculuklarda, Ã§alÄ±ÅŸma durumlarÄ±na (Employment Group) gÃ¶re tercih ettikleri eÄŸlence ve sosyal amaÃ§lÄ± yolculuk tÃ¼rlerinin sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

ğŸ“‹ **Tablo AÃ§Ä±klamasÄ±**:

**Employment_Group**: Bireyin Ã§alÄ±ÅŸÄ±p Ã§alÄ±ÅŸmadÄ±ÄŸÄ±na dair grubu (Ã¶rneÄŸin: Ã‡alÄ±ÅŸÄ±yor, Ä°ÅŸsiz, Ã–ÄŸrenci vb.)

**Spor, EÄŸlence vb. gidiÅŸ**: Spor, eÄŸlence, etkinlik gibi nedenlerle yapÄ±lan yolculuk sayÄ±sÄ±

**Yeme/iÃ§me GidiÅŸ**: Restoran, kafe gibi yerlere yapÄ±lan yolculuk sayÄ±sÄ±

**AlÄ±ÅŸveriÅŸ**: Market, maÄŸaza gibi yerlere yapÄ±lan alÄ±ÅŸveriÅŸ amaÃ§lÄ± yolculuk sayÄ±sÄ±

**Akraba/ArkadaÅŸ Ziyareti**: Sosyal ziyaret amaÃ§lÄ± yapÄ±lan yolculuk sayÄ±sÄ±

**Ä°ÅŸ takibi/Ã–demeler**: Resmi iÅŸler, fatura Ã¶deme gibi nedenlerle yapÄ±lan yolculuk sayÄ±sÄ±

**DiÄŸer**: YukarÄ±daki kategorilere uymayan diÄŸer sosyal amaÃ§lÄ± yolculuklar

In [73]:
import pandas as pd

# 1. Trip ve profile tablolarÄ±nÄ± p_id (ya da sizin dediÄŸiniz gibi 'person_id') Ã¼zerinden birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')


# 2. Eve gidiÅŸ olmayan ve cinsiyeti Erkek olanlarÄ± filtrele
filtered = merged[
    (merged['purpose'] != 'Eve gidiÅŸ')
    
].copy()

# 3. AmaÃ§larÄ± grupla: employment_group x first_purpose (ya da purpose)
grouped = (
    filtered.groupby(['Employment_Group', 'purpose'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik kolonlar varsa sÄ±fÄ±rla
columns_to_include = [
    'Spor, EÄŸlence vb. gidiÅŸ',
    'Yeme/iÃ§me GidiÅŸ',
    'AlÄ±ÅŸveriÅŸ',
    'Akraba/ArkadaÅŸ  Ziyareti',
    'Ä°ÅŸ takibi/ Ã–demeler',
    'DiÄŸer'
]

for col in columns_to_include:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. KolonlarÄ± sÄ±ralÄ± hale getir
leisure_purpose_counts = grouped[[
    'Employment_Group',
    'Spor, EÄŸlence vb. gidiÅŸ',
    'Yeme/iÃ§me GidiÅŸ',
    'AlÄ±ÅŸveriÅŸ',
    'Akraba/ArkadaÅŸ  Ziyareti',
    'Ä°ÅŸ takibi/ Ã–demeler',
    'DiÄŸer'
]]

# 6. SonuÃ§larÄ± gÃ¶ster
leisure_purpose_counts

purpose,Employment_Group,"Spor, EÄŸlence vb. gidiÅŸ",Yeme/iÃ§me GidiÅŸ,AlÄ±ÅŸveriÅŸ,Akraba/ArkadaÅŸ Ziyareti,Ä°ÅŸ takibi/ Ã–demeler,DiÄŸer
0,65+ Retired,1142,344,3749,1232,137,799
1,Adult Student,211,100,309,82,12,111
2,Adult Unemployed,2969,1073,13384,3600,489,2035
3,Child,80,20,159,53,4,80
4,Child Student,174,36,234,105,4,421
5,Full Time,601,442,1772,369,157,605
6,Other,468,66,1117,291,10,123
7,Part Time,60,21,141,44,25,55

In [74]:
# 7. SatÄ±r bazlÄ± yÃ¼zdesel daÄŸÄ±lÄ±m (Employment_Group iÃ§indeki amaÃ§larÄ±n yÃ¼zdeleri)
leisure_purpose_percent = leisure_purpose_counts.copy()

# Sadece sayÄ± iÃ§eren kolonlar
purpose_cols = [
    'Spor, EÄŸlence vb. gidiÅŸ',
    'Yeme/iÃ§me GidiÅŸ',
    'AlÄ±ÅŸveriÅŸ',
    'Akraba/ArkadaÅŸ  Ziyareti',
    'Ä°ÅŸ takibi/ Ã–demeler',
    'DiÄŸer'
]

# SatÄ±r toplamÄ±na gÃ¶re yÃ¼zde hesapla
leisure_purpose_percent[purpose_cols] = (
    leisure_purpose_percent[purpose_cols].div(
        leisure_purpose_percent[purpose_cols].sum(axis=1), axis=0
    ) * 100
).round(1)

# SonuÃ§
leisure_purpose_percent

purpose,Employment_Group,"Spor, EÄŸlence vb. gidiÅŸ",Yeme/iÃ§me GidiÅŸ,AlÄ±ÅŸveriÅŸ,Akraba/ArkadaÅŸ Ziyareti,Ä°ÅŸ takibi/ Ã–demeler,DiÄŸer
0,65+ Retired,15.4,4.6,50.6,16.6,1.9,10.8
1,Adult Student,25.6,12.1,37.5,9.9,1.5,13.5
2,Adult Unemployed,12.6,4.6,56.8,15.3,2.1,8.6
3,Child,20.2,5.1,40.2,13.4,1.0,20.2
4,Child Student,17.9,3.7,24.0,10.8,0.4,43.2
5,Full Time,15.2,11.2,44.9,9.4,4.0,15.3
6,Other,22.6,3.2,53.8,14.0,0.5,5.9
7,Part Time,17.3,6.1,40.8,12.7,7.2,15.9

<span style="font-size:22pt; color:red;"><b>Figure 148.  Transport modes of different types of people for leisure trip purposes (Ä°stanbul SUMP Stage II HTS)</b></span>

### 
Bu tablo, eÄŸlence ve sosyal amaÃ§larla (Ã¶rneÄŸin spor, yeme-iÃ§me, alÄ±ÅŸveriÅŸ, arkadaÅŸ/akraba ziyareti, iÅŸ takibi, diÄŸer) yapÄ±lan yolculuklarda, bireylerin Ã§alÄ±ÅŸma durumuna (Employment Group) gÃ¶re tercih ettikleri ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

ğŸ“‹ **Tablo AÃ§Ä±klamasÄ±**:
**Employment_Group**: Bireyin Ã§alÄ±ÅŸÄ±p Ã§alÄ±ÅŸmadÄ±ÄŸÄ±na dair grubu (Ã¶rneÄŸin: Ã‡alÄ±ÅŸÄ±yor, Ä°ÅŸsiz, Ã–ÄŸrenci vb.)

**Service**: Servis aracÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±

**Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuk sayÄ±sÄ±

**Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuk sayÄ±sÄ±

**Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuk sayÄ±sÄ±

**Micromobility**: Scooter, bisiklet gibi mikro mobilite araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±(%)

In [75]:
import pandas as pd

# 1. Trip ve profile verilerini birleÅŸtir (p_id Ã¼zerinden)
merged = result.merge(profile, on='person_id', how='left')

# 2. EÄŸlence ve sosyal amaÃ§larÄ± tanÄ±mla
leisure_purposes = [
    'Spor, EÄŸlence vb. gidiÅŸ',
    'Yeme/iÃ§me GidiÅŸ',
    'AlÄ±ÅŸveriÅŸ',
    'Akraba/ArkadaÅŸ  Ziyareti',
    'Ä°ÅŸ takibi/ Ã–demeler',
    'DiÄŸer'
]

# 3. Filtreleme: geÃ§erli mode_choice ve amaÃ§ listedekiler
filtered = merged[
    (merged['mode_choice'].notna()) &
    (merged['purpose'].isin(leisure_purposes))
].copy()

# 4. Grup bazlÄ± sayÄ±m: employment_group x mode_choice
grouped = (
    filtered.groupby(['Employment_Group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik mod kolonlarÄ±nÄ± sÄ±fÄ±rla
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. KolonlarÄ± sÄ±ralÄ± hale getir
employment_leisure_modes = grouped[[
    'Employment_Group',
    'Service',
    'Private Vehicle',
    'Public Transport',
    'Walking',
    'Micromobility'
]]

# 7. SonuÃ§larÄ± gÃ¶ster
employment_leisure_modes

mode_choice,Employment_Group,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,65+ Retired,2,520,599,6252,30
1,Adult Student,2,73,216,527,7
2,Adult Unemployed,38,1959,2862,18640,51
3,Child,2,19,46,326,3
4,Child Student,46,88,140,696,4
5,Full Time,109,978,513,2321,25
6,Other,1,142,126,1806,0
7,Part Time,2,71,70,201,2

In [76]:
# 8. Transpose (satÄ±r-sÃ¼tun takasÄ±) ve index'i mode_choice yap
transposed = employment_leisure_modes.set_index('Employment_Group').T.reset_index()
transposed = transposed.rename(columns={'index': 'mode_choice'})

# 9. Kolon bazlÄ± yÃ¼zdesel daÄŸÄ±lÄ±m (yani her Employment_Group iÃ§inde yÃ¼zdeler toplamÄ± â‰ˆ 100)
percent_df = transposed.copy()
employment_groups = percent_df.columns[1:]  # ilk kolon mode_choice olduÄŸu iÃ§in
percent_df[employment_groups] = (
    percent_df[employment_groups].div(percent_df[employment_groups].sum(axis=0), axis=1) * 100
).round(1)

# 10. SonuÃ§
percent_df

Employment_Group,mode_choice,65+ Retired,Adult Student,Adult Unemployed,Child,Child Student,Full Time,Other,Part Time
0,Service,0.0,0.2,0.2,0.5,4.7,2.8,0.0,0.6
1,Private Vehicle,7.0,8.8,8.3,4.8,9.0,24.8,6.8,20.5
2,Public Transport,8.1,26.2,12.2,11.6,14.4,13.0,6.1,20.2
3,Walking,84.5,63.9,79.2,82.3,71.5,58.8,87.0,58.1
4,Micromobility,0.4,0.8,0.2,0.8,0.4,0.6,0.0,0.6

<span style="font-size:22pt; color:red;"><b>Figure 150.Mode choice of Disabled People (Ä°stanbul SUMP Stage II HTS)</b></span>
#### 
Bu tablo, **engelli bireylerin** yaptÄ±ÄŸÄ± yolculuklarda tercih ettikleri ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal ve yÃ¼zdesel daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

 # ğŸ“‹ Tablo AÃ§Ä±klamasÄ±:
- **mode_choice**: Tercih edilen ulaÅŸÄ±m modu (Ã¶r. **Walking**, **Public Transport**, **Private Vehicle** vb.)
- **count**: Ä°lgili modun kaÃ§ defa tercih edildiÄŸi
- **percentage**: Toplam yolculuklar iÃ§indeki oranÄ± (%)

In [77]:
import pandas as pd
# 1. Trip ve profile verilerini birleÅŸtir (person_id Ã¼zerinden)
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: mode_choice geÃ§erli ve birey "disability" kolonu "Evet"
filtered = merged[
    (merged['mode_choice'].notna()) & 
    (merged['disability'] == 'Evet')
].copy()

# 3. UlaÅŸÄ±m modu bazÄ±nda sayÄ±m
mode_counts = filtered['mode_choice'].value_counts().reindex(
    ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility'],
    fill_value=0
).reset_index()

# 4. Kolon isimlerini ayarla
mode_counts.columns = ['mode_choice', 'count']

# 5. YÃ¼zde hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

# 6. SonuÃ§larÄ± gÃ¶ster
mode_counts

        mode_choice  count  percentage
0           Service     56        7.94
1   Private Vehicle    139       19.72
2  Public Transport    140       19.86
3           Walking    369       52.34
4     Micromobility      1        0.14

<span style="font-size:22pt; color:red;"><b>Figure 151.Trip Purpose Distribution According to Disabled People (Ä°stanbul SUMP Stage II HTS)</b></span>

#### 
Bu tablo, engelli bireylerin yaptÄ±ÄŸÄ± yolculuklarda tercih edilen amaÃ§ gruplarÄ±nÄ±n (Ã¶rneÄŸin iÅŸ, okul, saÄŸlÄ±k, eÄŸlence vb.) sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

 **Tablo AÃ§Ä±klamasÄ±**:
- **purpose_group**: Yolculuk amacÄ± grubu
- **Work**: Ä°ÅŸe gidiÅŸ
- **School**: Okula gidiÅŸ (ilkÃ¶ÄŸretim, lise, Ã¼niversite)
- **Health**: SaÄŸlÄ±k kurumuna gidiÅŸ
- **Leisure**: Sosyal ve eÄŸlence amaÃ§lÄ± yolculuklar (yeme-iÃ§me, alÄ±ÅŸveriÅŸ, ziyaret, vb.)
- **Pick-up/Drop-off**: Ã‡ocuk ya da birini alma/bÄ±rakma
- **trip_count**: Her bir grup iÃ§in yapÄ±lan yolculuk sayÄ±sÄ± a da birini alma/bÄ±rakma

**Other**: YukarÄ±dakilere uymayan diÄŸer amaÃ§lar

**trip_count**: Her bir grup iÃ§in yapÄ±lan yolculuk sayÄ±sÄ±

In [78]:
import pandas as pd

# 1. Verileri birleÅŸtir (person_id Ã¼zerinden)
merged = result.merge(profile, on='person_id', how='left')

# 2. Filtreleme: Eve gidiÅŸ hariÃ§ ve disability == 'Evet'
filtered = merged[
    (merged['purpose'] != 'Eve gidiÅŸ') &
    (merged['disability'] == 'Evet')
].copy()

# 3. Amaca gÃ¶re gruplama fonksiyonu
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grupla ve say
grouped = (
    filtered.groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('trip_count', ascending=False)
    .reset_index(drop=True)
)

# SonuÃ§
grouped

      purpose_group  trip_count
0           Leisure         166
1            Health          81
2              Work          52
3            School          42
4  Pick-up/Drop-off          30


<span style="font-size:22pt; color:red;"><b>Figure 154. Mode Distribution of Large Households According to Travel Purposes (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [79]:
import pandas as pd

# 1. Verileri birleÅŸtir
merged = result.merge(house, on='hh_id', how='left')

# 2. Filtreleme: geÃ§erli mode_choice ve purpose olanlar, yalnÄ±z yaÅŸamayan haneler
filtered = merged[
    merged['mode_choice'].notna() &
    merged['purpose'].notna() &
    (merged['hh_type'] != 'YalnÄ±z yaÅŸayan kiÅŸi')
].copy()

# 3. purpose_group dÃ¶nÃ¼ÅŸÃ¼mÃ¼
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    elif purpose == 'Eve gidiÅŸ':
        return 'Home'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda mode_choice sayÄ±mÄ±
grouped = (
    filtered.groupby(['purpose_group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 6. Eksik kolonlarÄ± ekle
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 7. Kolon sÄ±ralamasÄ±
grouped = grouped[[
    'purpose_group', 'Service', 'Private Vehicle',
    'Public Transport', 'Walking', 'Micromobility'
]].sort_values('purpose_group').reset_index(drop=True)

# 8. SonuÃ§
grouped

mode_choice,purpose_group,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,Health,43,1137,1587,1299,1
1,Home,8972,18853,20168,54920,281
2,Leisure,187,3334,4069,26995,70
3,Pick-up/Drop-off,25,1097,184,6073,4
4,School,2061,1098,4890,15174,63
5,Work,7239,14605,11371,10612,170

In [80]:
# 9. Transpose: SatÄ±r ve sÃ¼tunlarÄ± deÄŸiÅŸtir
transposed = grouped.set_index('purpose_group').T.reset_index()
transposed = transposed.rename(columns={'index': 'mode_choice'})

# 10. Kolonlara gÃ¶re yÃ¼zde hesapla
percent_df = transposed.copy()
purpose_groups = percent_df.columns[1:]  # ilk sÃ¼tun mode_choice

# Her sÃ¼tunun toplamÄ±na gÃ¶re normalize et
percent_df[purpose_groups] = (
    percent_df[purpose_groups].div(percent_df[purpose_groups].sum(axis=0), axis=1) * 100
).round(1)

# 11. SonuÃ§
percent_df.to_excel("test.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 155.Mode Distribution of One Person Household According to Travel Purposes (Ä°stanbul SUMP Stage II HTS</b></span>

#### 
Bu tablo, yalnÄ±z yaÅŸamayan hanelerde yaÅŸayan bireylerin farklÄ± amaÃ§larla yaptÄ±klarÄ± yolculuklarda tercih ettikleri ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir. Yolculuk amacÄ± (Ã¶rneÄŸin iÅŸe gidiÅŸ, okula gidiÅŸ vb.) gruplandÄ±rÄ±larak ulaÅŸÄ±m modu tercihlerine gÃ¶re analiz edilmiÅŸtir.

 **Tablo AÃ§Ä±klamasÄ±**:

**purpose_group**: YolculuÄŸun genel amacÄ± (Ã¶rneÄŸin: Work, School, Leisure, vb.)

**Service**: Servis aracÄ±yla yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Private Vehicle**: Ã–zel araÃ§la yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Micromobility**: Scooter, bisiklet gibi mikro mobilite araÃ§larÄ±yla yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

In [81]:
import pandas as pd

# 1. Verileri birleÅŸtir
merged = result.merge(house, on='hh_id', how='left')

# 2. Filtreleme: geÃ§erli mode_choice ve purpose olanlar, yalnÄ±z yaÅŸamayan haneler
filtered = merged[
    merged['mode_choice'].notna() &
    merged['purpose'].notna() &
    (merged['hh_type'] == 'YalnÄ±z yaÅŸayan kiÅŸi')
].copy()

# 3. purpose_group dÃ¶nÃ¼ÅŸÃ¼mÃ¼
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    elif purpose == 'Eve gidiÅŸ':
        return 'Home'
    else:
        return 'Other'

# 4. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 5. Grup bazÄ±nda mode_choice sayÄ±mÄ±
grouped = (
    filtered.groupby(['purpose_group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 6. Eksik kolonlarÄ± ekle
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 7. Kolon sÄ±ralamasÄ±
grouped = grouped[[
    'purpose_group', 'Service', 'Private Vehicle',
    'Public Transport', 'Walking', 'Micromobility'
]].sort_values('purpose_group').reset_index(drop=True)

# 8. SonuÃ§
grouped

mode_choice,purpose_group,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,Health,4,177,209,264,5
1,Home,281,1633,1677,4464,97
2,Leisure,15,516,503,3774,52
3,Pick-up/Drop-off,0,7,2,15,0
4,School,4,66,203,50,4
5,Work,286,1047,953,737,43

In [82]:
# 9. Transpose: SatÄ±r ve sÃ¼tunlarÄ± deÄŸiÅŸtir
transposed = grouped.set_index('purpose_group').T.reset_index()
transposed = transposed.rename(columns={'index': 'mode_choice'})

# 10. Kolonlara gÃ¶re yÃ¼zde hesapla
percent_df = transposed.copy()
purpose_groups = percent_df.columns[1:]  # ilk sÃ¼tun mode_choice

# Her sÃ¼tunun toplamÄ±na gÃ¶re normalize et
percent_df[purpose_groups] = (
    percent_df[purpose_groups].div(percent_df[purpose_groups].sum(axis=0), axis=1) * 100
).round(1)

# 11. SonuÃ§
percent_df

purpose_group,mode_choice,Health,Home,Leisure,Pick-up/Drop-off,School,Work
0,Service,0.6,3.4,0.3,0.0,1.2,9.3
1,Private Vehicle,26.9,20.0,10.6,29.2,20.2,34.1
2,Public Transport,31.7,20.6,10.3,8.3,62.1,31.1
3,Walking,40.1,54.8,77.7,62.5,15.3,24.0
4,Micromobility,0.8,1.2,1.1,0.0,1.2,1.4

<span style="font-size:22pt; color:red;"><b>Figure 156.Mode Choice Based on Homeownership (Ä°stanbul SUMP Stage II HTS)</b></span>

####  

Bu tablo, farklÄ± hane tiplerine sahip bireylerin gerÃ§ekleÅŸtirdiÄŸi yolculuklarda tercih ettikleri ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

 **Tablo AÃ§Ä±klamasÄ±**:

**house_type**: Hane tipi (Ã¶rneÄŸin: Ã‡ekirdek Aile, GeniÅŸ Aile, Tek KiÅŸilik Hane vb.)

**Service**: Servis aracÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Private Vehicle**: Ã–zel araÃ§ ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Public Transport**: Toplu taÅŸÄ±ma ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

**Micromobility**: Scooter, bisiklet gibi mikro mobilite araÃ§larÄ± ile yapÄ±lan yolculuklarÄ±n sayÄ±sÄ±

In [83]:
import pandas as pd

# 1. Verileri hh_id Ã¼zerinden birleÅŸtir
merged = result.merge(house, on='hh_id', how='left')

# 2. GeÃ§erli mode_choice olanlarÄ± filtrele
filtered = merged[
    merged['mode_choice'].notna()
].copy()

# 3. Grup bazÄ±nda sayÄ±m: house_type x mode_choice
grouped = (
    filtered.groupby(['house_type', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. Kolon sÄ±ralamasÄ±nÄ± yap
house_type_mode_counts = grouped[[
    'house_type',
    'Service',
    'Private Vehicle',
    'Public Transport',
    'Walking',
    'Micromobility'
]]

# 6. SonuÃ§larÄ± gÃ¶ster
house_type_mode_counts

mode_choice,house_type,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,Sitede Daire,2494,9510,4185,13232,73
1,Apartman Dairesi,16071,32831,40160,107926,697
2,DiÄŸer,24,174,57,224,0
3,Gecekondu,54,78,194,368,0
4,MÃ¼stakil Konut,474,977,1220,2627,20

In [84]:
# 7. SatÄ±r bazlÄ± yÃ¼zdesel daÄŸÄ±lÄ±m
house_type_mode_percent = house_type_mode_counts.copy()
mode_cols = ['Service', 'Private Vehicle', 'Public Transport', 'Walking', 'Micromobility']

house_type_mode_percent[mode_cols] = (
    house_type_mode_percent[mode_cols]
    .div(house_type_mode_percent[mode_cols].sum(axis=1), axis=0) * 100
).round(1)

# 8. SonuÃ§larÄ± gÃ¶ster
house_type_mode_percent

mode_choice,house_type,Service,Private Vehicle,Public Transport,Walking,Micromobility
0,Sitede Daire,8.5,32.2,14.2,44.9,0.2
1,Apartman Dairesi,8.1,16.6,20.3,54.6,0.4
2,DiÄŸer,5.0,36.3,11.9,46.8,0.0
3,Gecekondu,7.8,11.2,28.0,53.0,0.0
4,MÃ¼stakil Konut,8.9,18.4,22.9,49.4,0.4

<span style="font-size:22pt; color:red;"><b>Figure 277.Purpose of Private Vehicle Trip</b></span>

Bu tablo, Ã¶zel araÃ§ (Private Vehicle) ile yapÄ±lan yolculuklarda, seyahat amacÄ±na gÃ¶re yapÄ±lan yolculuk sayÄ±sÄ±nÄ± ve bu sayÄ±larÄ±n toplam iÃ§indeki yÃ¼zdelik oranlarÄ±nÄ± gÃ¶stermektedir.

####  **Tablo AÃ§Ä±klamasÄ±**:

**purpose_group**: YolculuÄŸun amacÄ± (Ã¶r. Work, School, Leisure vb.)

**trip_count**: Ä°lgili amaÃ§la yapÄ±lan yolculuk sayÄ±sÄ±

**percentage**: Toplam yolculuklar iÃ§indeki oranÄ± (%)

In [85]:
import pandas as pd

# 1. 'Eve gidiÅŸ' dÄ±ÅŸÄ± ve mode_category 'Private Vehicle' olanlarÄ± filtrele
filtered = result[
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['mode_choice'] == 'Private Vehicle')
].copy()

# 2. purpose_group dÃ¶nÃ¼ÅŸÃ¼mÃ¼
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. GeÃ§erli purpose_group'lara gÃ¶re grupla ve say
grouped = (
    filtered[filtered['purpose_group'].notna()]
    .groupby('purpose_group')
    .size()
    .reset_index(name='trip_count')
)

# 5. YÃ¼zdelik oranÄ± hesapla
total = grouped['trip_count'].sum()
grouped['percentage'] = round(grouped['trip_count'] * 100 / total, 2)

# 6. Trip sayÄ±sÄ±na gÃ¶re sÄ±rala
grouped = grouped.sort_values(by='trip_count', ascending=False).reset_index(drop=True)

# SonuÃ§:
grouped

      purpose_group  trip_count  percentage
0              Work       15652       67.80
1           Leisure        3850       16.68
2            Health        1314        5.69
3            School        1164        5.04
4  Pick-up/Drop-off        1104        4.78

<span style="font-size:22pt; color:red;"><b>Figure 278.District Based Private Vehicle Trips Purposes in Ä°stanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, Ã¶zel araÃ§la (Private Vehicle) yapÄ±lan yolculuklarÄ±n ilÃ§elere (district) ve amaÃ§ gruplarÄ±na (purpose group) gÃ¶re sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

####  **Tablo AÃ§Ä±klamasÄ±**:

**District**: Hanenin olduÄŸu ilÃ§e

**Work**: Ä°ÅŸe gitmek amacÄ±yla yapÄ±lan Ã¶zel araÃ§ yolculuklarÄ±nÄ±n sayÄ±sÄ±

**School**: Okula gitmek amacÄ±yla yapÄ±lan Ã¶zel araÃ§ yolculuklarÄ±nÄ±n sayÄ±sÄ±

**Health**: SaÄŸlÄ±k kurumuna gitmek amacÄ±yla yapÄ±lan Ã¶zel araÃ§ yolculuklarÄ±nÄ±n sayÄ±sÄ±

**Leisure**: EÄŸlence, yeme-iÃ§me, alÄ±ÅŸveriÅŸ, ziyaret gibi sosyal amaÃ§larla yapÄ±lan Ã¶zel araÃ§ yolculuklarÄ±nÄ±n sayÄ±sÄ±

**Pick-up/Drop-off**: Ã‡ocuk ya da baÅŸka birini alma/bÄ±rakma amaÃ§lÄ± Ã¶zel araÃ§ yolculuklarÄ±nÄ±n sayÄ±sÄ±

In [86]:
import pandas as pd

# 1. GeÃ§erli amaÃ§ ve Private Vehicle olanlarÄ± filtrele
filtered = result[
    (result['purpose'].notna()) &
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['mode_category'] == 'Private Vehicle')
].copy()

# 2. Purpose grup dÃ¶nÃ¼ÅŸÃ¼mÃ¼
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Yeni kolon oluÅŸtur
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. GeÃ§erli purpose_group olanlarÄ± filtrele
filtered = filtered[filtered['purpose_group'].notna()]

# 5. Grup bazÄ±nda sayÄ±m: district x purpose_group
grouped = (
    filtered.groupby(['district', 'purpose_group'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 6. SonuÃ§larÄ± gÃ¶ster
grouped.head()

purpose_group      district  Health  Leisure  Pick-up/Drop-off  School  Work
0                    ADALAR       0        1                 0       0     5
1                ARNAVUTKÃ–Y      23       43                11       5   207
2                  ATAÅEHÄ°R      22       68                17      35   414
3                   AVCILAR      27       85                19      35   336
4              BAHÃ‡ELÄ°EVLER      68       98                54      71   719

<span style="font-size:22pt; color:red;"><b>Figure 281.Distribution of Private Vehicle Trips According to 24-Hour Purposes (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, Ã¶zel araÃ§ (Private Vehicle) kullanÄ±larak yapÄ±lan yolculuklarÄ±n, gÃ¼nÃ¼n saatlerine gÃ¶re ve yolculuk amacÄ±na (iÅŸ, okul, saÄŸlÄ±k, vb.) gÃ¶re nasÄ±l daÄŸÄ±ldÄ±ÄŸÄ±nÄ± gÃ¶stermektedir.

####  **Tablo AÃ§Ä±klamasÄ±**:

**hour_group**: YolculuÄŸun baÅŸladÄ±ÄŸÄ± saat (Ã¶rneÄŸin: 08:00)

**Work**: Ä°ÅŸe gidiÅŸ amaÃ§lÄ± yapÄ±lan yolculuk sayÄ±sÄ±

**School**: Okula gidiÅŸ amaÃ§lÄ± yapÄ±lan yolculuk sayÄ±sÄ±

**Health**: SaÄŸlÄ±k kurumuna gidiÅŸ amaÃ§lÄ± yapÄ±lan yolculuk sayÄ±sÄ±

**Leisure**: EÄŸlence, yeme-iÃ§me, alÄ±ÅŸveriÅŸ, ziyaret gibi amaÃ§larla yapÄ±lan yolculuk sayÄ±sÄ±

**Pick-up/Drop-off**: Biri bÄ±rakma ya da alma amaÃ§lÄ± yapÄ±lan yolculuk sayÄ±sÄ±

In [87]:
import pandas as pd

# 1. Gerekli dÃ¶nÃ¼ÅŸÃ¼mler ve filtreler
filtered = result[
    (result['mode_choice'] == 'Private Vehicle') &
    result['purpose'].notna() &
    (result['purpose'] != 'Eve gidiÅŸ') &
    result['start_time'].notna()
].copy()

# 2. Saat dilimini Ã§Ä±kart (Ã¶rn: "08:00")
filtered['hour_group'] = pd.to_datetime(filtered['start_time']).dt.strftime('%H:00')

# 3. purpose_group haritalama
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)', 'Okula gidiÅŸ(lise)', 'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ', 'Yeme/iÃ§me GidiÅŸ', 'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti', 'Ä°ÅŸ takibi/ Ã–demeler', 'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return 'Unknown'

filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. Gruplama: hour_group x purpose_group
grouped = (
    filtered.groupby(['hour_group', 'purpose_group'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
    .sort_values('hour_group')
)

# 5. SonuÃ§
grouped.head()

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_5020\1565479256.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered['hour_group'] = pd.to_datetime(filtered['start_time']).dt.strftime('%H:00')

purpose_group hour_group  Health  Leisure  Pick-up/Drop-off  School  Work
0                  00:00       0        0                 0       0    10
1                  01:00       6       11                 0       0     4
2                  02:00       1        1                 0       0     6
3                  03:00       1        0                 0       0    17
4                  04:00       0        0                 2       0    42

<span style="font-size:22pt; color:red;"><b>Figure 403. Daily Temporal Pedestrian Movement Pattern (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, yÃ¼rÃ¼yerek (Walking) yapÄ±lan yolculuklarÄ±n gÃ¼n iÃ§indeki saatlik zaman dilimlerine gÃ¶re sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir. YolculuklarÄ±n baÅŸladÄ±ÄŸÄ± saat dikkate alÄ±narak her bir saat aralÄ±ÄŸÄ± iÃ§in toplam yÃ¼rÃ¼yÃ¼ÅŸ yolculuÄŸu sayÄ±sÄ± verilmiÅŸtir.

#### **Tablo AÃ§Ä±klamasÄ±**:
**hour_group**: YolculuÄŸun baÅŸladÄ±ÄŸÄ± saat dilimi (Ã¶rneÄŸin: 08:00)

**trip_count**: O saat diliminde yapÄ±lan yÃ¼rÃ¼yÃ¼ÅŸ yolculuklarÄ±nÄ±n sayÄ±sÄ±

In [88]:
# 1. YalnÄ±zca geÃ§erli mode_choice ve purpose olanlar, mode_choice = 'Walking' filtrele
filtered = result[
    (result['mode_choice'].notna()) &
    (result['purpose'].notna()) &
    (result['mode_choice'] == 'Walking')
].copy()

# 2. Saat grubunu oluÅŸtur (Ã¶rn. 08:00 gibi)
filtered['hour_group'] = pd.to_datetime(filtered['start_time']).dt.strftime('%H:00')

# 3. Grup bazÄ±nda sayÄ±m
walking_hourly_counts = (
    filtered.groupby('hour_group')
    .size()
    .reset_index(name='trip_count')
    .sort_values('hour_group')
)
walking_hourly_counts

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_5020\3382900910.py:9: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered['hour_group'] = pd.to_datetime(filtered['start_time']).dt.strftime('%H:00')

   hour_group  trip_count
0       00:00          12
1       01:00          57
2       02:00          45
3       03:00          18
4       04:00          35
5       05:00         117
6       06:00         882
7       07:00       11139
8       08:00       13465
9       09:00        4113
10      10:00        4283
11      11:00        4541
12      12:00       11612
13      13:00       13260
14      14:00       12997
15      15:00       13011
16      16:00        8371
17      17:00        8231
18      18:00        8180
19      19:00        4646
20      20:00        2544
21      21:00        1367
22      22:00         885
23      23:00         566

<span style="font-size:22pt; color:red;"><b>Figure 405. Age Distribution of Walking and Micromobility Individuals (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, bireylerin yaÅŸ gruplarÄ±na gÃ¶re yÃ¼rÃ¼yÃ¼ÅŸ ve mikromobilite (Ã¶r. scooter, bisiklet) modlarÄ±nÄ± ne sÄ±klÄ±kla tercih ettiÄŸini gÃ¶stermektedir.

####  **Tablo AÃ§Ä±klamasÄ±**:
**age_group**: KatÄ±lÄ±mcÄ±nÄ±n yaÅŸ aralÄ±ÄŸÄ±

**Walking**: YÃ¼rÃ¼me moduyla yapÄ±lan yolculuk sayÄ±sÄ±

**Micromobility**: Mikromobilite (scooter, bisiklet vb.) modlarÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±

In [89]:
import pandas as pd

# 1. Trip ve profile verilerini birleÅŸtir (person_id Ã¼zerinden)
merged = result.merge(profile, on='person_id', how='left')

# 2. GeÃ§erli yaÅŸ ve yÃ¼rÃ¼me/mikromobilite iÃ§eren verileri filtrele
filtered = merged[
    merged['mode_choice'].isin(['Walking', 'Micromobility']) &
    merged['mode_choice'].notna() &
    merged['age'].notna()
].copy()

# 3. YaÅŸ grubu oluÅŸtur
def get_age_group(age):
    if 0 <= age <= 5:
        return '0-5'
    elif 6 <= age <= 9:
        return '6-9'
    elif 10 <= age <= 14:
        return '10-14'
    elif 15 <= age <= 19:
        return '15-19'
    elif 20 <= age <= 24:
        return '20-24'
    elif 25 <= age <= 29:
        return '25-29'
    elif 30 <= age <= 34:
        return '30-34'
    elif 35 <= age <= 39:
        return '35-39'
    elif 40 <= age <= 44:
        return '40-44'
    elif 45 <= age <= 49:
        return '45-49'
    elif 50 <= age <= 54:
        return '50-54'
    elif 55 <= age <= 59:
        return '55-59'
    elif 60 <= age <= 64:
        return '60-64'
    elif age >= 65:
        return '65+'
    else:
        return 'Unknown'

filtered['age_group'] = filtered['age'].apply(get_age_group)

# 4. YaÅŸ grubu ve mode_category'ye gÃ¶re sayÄ±m yap
grouped = (
    filtered.groupby(['age_group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. KolonlarÄ± sÄ±ralÄ± hale getir
grouped = grouped[['age_group', 'Walking', 'Micromobility']].sort_values('age_group').reset_index(drop=True)

# 7. SonuÃ§larÄ± gÃ¶ster
grouped

mode_choice age_group  Walking  Micromobility
0                 0-5     4333              1
1               10-14    15592             47
2               15-19     8114             80
3               20-24     5708             80
4               25-29    10175            193
5               30-34    10717             95
6               35-39     9115             79
7               40-44     8260             50
8               45-49     6451             25
9               50-54     6447             16
10              55-59     6240             23
11                6-9    11028             20
12              60-64     7137             12
13                65+    15060             69

<span style="font-size:22pt; color:red;"><b>Figure 406. Gender Distribution of Walking and Micromobility Individuals (Ä°stanbul SUMP Stage II HTS)</b></span>



####  **Tablo AÃ§Ä±klamasÄ±**:

In [90]:
filtered_result = result[result["mode_choice"].isin(["Micromobility", "Walking"])]
gender_mode_counts = (
    filtered_result
    .groupby(["mode_choice", "gender"])
    .size()
    .unstack(fill_value=0)
)
gender_mode_counts

gender         Belirtmek istemiyor  Erkek  KadÄ±n
mode_choice
Micromobility                    0    637    153
Walking                        663  58590  65124

<span style="font-size:22pt; color:red;"><b>Figure 409. Driver's License Ownership Distribution of Active Mobility Individuals (Ä°stanbul SUMP Stage II HTS</b></span>

Bu tablo, Walking (YÃ¼rÃ¼yÃ¼ÅŸ) ve Micromobility (scooter, bisiklet vb.) modlarÄ±nÄ± tercih eden bireylerin, sÃ¼rÃ¼cÃ¼ belgesi sahibi olup olmadÄ±klarÄ±na gÃ¶re daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

#### **Tablo AÃ§Ä±klamasÄ±**:

**mode_choice**: Tercih edilen ulaÅŸÄ±m tÃ¼rÃ¼

**drive_license_status**:

**Evet**: SÃ¼rÃ¼cÃ¼ belgesi var

**HayÄ±r**: SÃ¼rÃ¼cÃ¼ belgesi yok

**Bilinmiyor**: Veride eksiklik veya bilinmeyen deÄŸer

**person_count**: Ä°lgili gruba ait birey sayÄ±sÄ±

In [91]:
import pandas as pd

# 1. Verileri birleÅŸtir (kiÅŸisel bilgilerle)
merged = result.merge(profile, on='person_id', how='left')

# 2. GeÃ§erli koÅŸullara gÃ¶re filtrele (mode_choice ve drive_lic en azÄ±ndan boÅŸ olmayanlar)
filtered = merged[
    merged['mode_choice'].isin(['Walking', 'Micromobility'])
].copy()

# 3. SÃ¼rÃ¼cÃ¼ belgesi durumunu normalize et
def map_drive_license(val):
    if pd.isna(val):
        return 'Eksik'  # NaN deÄŸerleri de etiketle
    val = str(val).strip().lower()
    if val == 'var':
        return 'Evet'
    elif val == 'yok':
        return 'HayÄ±r'
    else:
        return 'Bilinmiyor'

filtered['drive_license_status'] = filtered['drive_lic'].apply(map_drive_license)

# 4. Grup bazlÄ± sayÄ±m (Eksik, Bilinmiyor gibi gruplar dahil)
grouped = (
    filtered.groupby(['mode_choice', 'drive_license_status'], dropna=False)
    .size()
    .reset_index(name='person_count')
    .sort_values(['mode_choice', 'drive_license_status'])
)

grouped

     mode_choice drive_license_status  person_count
0  Micromobility                Eksik            84
1  Micromobility                 Evet           488
2  Micromobility                HayÄ±r           218
3        Walking                Eksik         32652
4        Walking                 Evet         43639
5        Walking                HayÄ±r         48086

<span style="font-size:22pt; color:red;"><b>Figure 410. Income Status Distribution of Walking and Micromobility Individuals (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, bireylerin hane gelir dÃ¼zeylerine gÃ¶re hangi aktif ulaÅŸÄ±m tÃ¼rlerini (yÃ¼rÃ¼me ve mikromobilite) ne sÄ±klÄ±kla kullandÄ±ÄŸÄ±nÄ± gÃ¶stermektedir.


####  **Tablo AÃ§Ä±klamasÄ±**:

**Gelir Grubu**: Hanelerin aylÄ±k gelir dÃ¼zeylerine gÃ¶re gruplandÄ±rÄ±lmasÄ±.

**Walking**: Ä°lgili gelir grubundaki bireylerin yÃ¼rÃ¼yerek gerÃ§ekleÅŸtirdiÄŸi yolculuk sayÄ±sÄ±.

**Micromobility**: Scooter, bisiklet gibi mikro mobilite araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±.

In [92]:
import pandas as pd

# 1. result ve house veri setlerini hh_id Ã¼zerinden birleÅŸtir
merged = result.merge(house[['hh_id', 'hh_income']], on='hh_id', how='left')

# 2. Ä°lgili modlara ve geÃ§erli gelir bilgisine sahip verileri filtrele
filtered = merged[
    (merged['mode_choice'].isin(['Walking', 'Micromobility'])) &
    (merged['hh_income'].notna())
].copy()

# 3. Gelir grubunu sÄ±nÄ±flandÄ±r
def classify_income(income):
    income = income.strip()
    if income in ['5.000 TLâ€™den az', '5.001 â€“ 10.000 TL', '10.001 - 15.000 TL', '15.001 - 25.000 TL']:
        return '25.000 TL altÄ±'
    elif income in ['25.001 - 40.000 TL', '40.001 - 60.000 TL', '60.001 - 80.000 TL']:
        return '25.001 - 80.000 TL'
    elif income in [
        '100.000TLâ€™den fazla', '60.001 - 100.000 TL', '80.001 - 100.000 TL',
        '100.001 - 140.000 TL', '140.001 - 200.000 TL', '200.001TLâ€™den fazla'
    ]:
        return '80.001 TL Ã¼stÃ¼'
    else:
        return 'Bilinmiyor'

filtered['income_group'] = filtered['hh_income'].apply(classify_income)

# 4. Grup bazlÄ± sayÄ±m
grouped = (
    filtered.groupby(['income_group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. SÃ¼tun sÄ±ralamasÄ±
grouped = grouped[['income_group', 'Walking', 'Micromobility']].sort_values('income_group').reset_index(drop=True)

grouped

mode_choice        income_group  Walking  Micromobility
0                25.000 TL altÄ±    43703            230
1            25.001 - 80.000 TL    52962            403
2                80.001 TL Ã¼stÃ¼     4610             15
3                    Bilinmiyor    23102            142

<span style="font-size:22pt; color:red;"><b>Figure 411. Public Transportation Card Ownership Distribution of Walking and Micromobility Individuals</b></span>


Bu tablo, bireylerin toplu taÅŸÄ±ma kartÄ± (pt_card) sahiplik durumuna gÃ¶re yÃ¼rÃ¼me (Walking) ve mikromobilite (Micromobility) ulaÅŸÄ±m modlarÄ±nÄ± kullanma sayÄ±larÄ±nÄ± gÃ¶stermektedir.

####  **Tablo AÃ§Ä±klamasÄ±**:

**mode_category**: Tercih edilen ulaÅŸÄ±m modu (Ã¶rneÄŸin: Walking, Micromobility)

**pt_card_status**: Toplu taÅŸÄ±ma kartÄ± durumu (Evet, HayÄ±r, Bilinmiyor)

**person_count**: Ä°lgili grupta yer alan kiÅŸi sayÄ±sÄ±

In [93]:
import pandas as pd

# 1. Verileri birleÅŸtir
merged = result.merge(profile, on='person_id', how='left')

# 2. YÃ¼rÃ¼yÃ¼ÅŸ ve mikromobilite modlarÄ±nÄ± filtrele, pt_card boÅŸ olmayanlar
filtered = merged[
    merged['mode_choice'].isin(['Walking', 'Micromobility']) &
    merged['mode_choice'].notna() &
    merged['pt_card'].notna()
].copy()

# 3. Kart durumu kategorisi oluÅŸtur
def map_pt_card(card):
    card = str(card).strip().lower()
    if card == 'var':
        return 'Evet'
    elif card == 'yok':
        return 'HayÄ±r'
    else:
        return 'Bilinmiyor'

filtered['pt_card_status'] = filtered['pt_card'].apply(map_pt_card)

# 4. Grup bazlÄ± sayÄ±m: mode_category x pt_card_status
grouped = (
    filtered.groupby(['mode_choice', 'pt_card_status'])
    .size()
    .reset_index(name='person_count')
    .sort_values(['mode_choice', 'pt_card_status'])
)
grouped

     mode_choice pt_card_status  person_count
0  Micromobility           Evet           712
1  Micromobility          HayÄ±r            77
2        Walking           Evet         91786
3        Walking          HayÄ±r         28258

<span style="font-size:22pt; color:red;"><b>Figure 412. Student Individual Distribution of Walking and Micromobility Individuals</b></span>

#### 
Bu tablo, bireylerin eÄŸitim dÃ¼zeylerine gÃ¶re yÃ¼rÃ¼yÃ¼ÅŸ (Walking) ve mikromobilite (Micromobility) (Ã¶rn. scooter, bisiklet) tercihlerini gÃ¶stermektedir.

In [94]:
import pandas as pd

# 1. result ve profile tablolarÄ±nÄ± birleÅŸtir
merged = result.merge(profile[['person_id', 'edu']], on='person_id', how='left')

# 2. GeÃ§erli mode_category ve education bilgisi olan, istenilen modlarÄ± filtrele
filtered = merged[
    (merged['mode_choice'].isin(['Walking', 'Micromobility'])) &
    (merged['edu'].notna())
].copy()

# 3. Grup bazÄ±nda sayÄ±m: education_level x mode_category
grouped = (
    filtered.groupby(['edu', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
    .rename(columns={'edu': 'education_level'})
)

# 4. Eksik kolonlarÄ± sÄ±fÄ±rla
for col in ['Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. Kolon sÄ±ralamasÄ±nÄ± yap
education_mode_counts = grouped[['education_level', 'Walking', 'Micromobility']]

# 6. SonuÃ§larÄ± gÃ¶ster
education_mode_counts

mode_choice                        education_level  Walking  Micromobility
0                         AÃ§Ä±kÃ¶ÄŸretim lise Ã¶ÄŸrenci      385              3
1                  AÃ§Ä±kÃ¶ÄŸretim ortaÃ¶ÄŸretim Ã¶ÄŸrenci      154              4
2                   AÃ§Ä±kÃ¶ÄŸretim Ã¼niversite Ã¶ÄŸrenci      298              4
3                         KreÅŸ/Okul Ã¶ncesi Ã¶ÄŸrenci      753              1
4                              Lise/ Dengi Ã¶ÄŸrenci     6312             70
5                                 Lise/Dengi mezun    24090            279
6                                 Okula baÅŸlamamÄ±ÅŸ     4281              3
7                                 Okur-Yazar DeÄŸil     1782              1
8             Okur-Yazar Fakat Bir Okul BitirmemiÅŸ     1862              0
9                                OrtaÃ¶ÄŸretim mezun    17205            105
10                             OrtaÃ¶ÄŸretim Ã¶ÄŸrenci    10668             32
11                          Y.Lisans/Doktora mezun      762             10
12                        Y.Lisans/Doktora Ã¶ÄŸrenci       39              4
13             Ãœniversite mezun (Ã–n Lisans/Lisans)    14872            173
14           Ãœniversite Ã¶ÄŸrenci (Ã–n Lisans/Lisans)     1204             12
15                               Ä°lkÃ¶ÄŸretim mezunu    24980             62
16                              Ä°lkÃ¶ÄŸretim Ã¶ÄŸrenci    14730             27

<span style="font-size:22pt; color:red;"><b>Figure 413. Employment Status Distribution of Walking and Micromobility Individuals</b></span>

Bu tablo, bireylerin Ã§alÄ±ÅŸma durumuna (Ã¶rneÄŸin Ã§alÄ±ÅŸan, iÅŸsiz, Ã¶ÄŸrenci vb.) gÃ¶re tercih ettikleri yÃ¼rÃ¼me (Walking) ve mikromobilite (Micromobility) ulaÅŸÄ±m modlarÄ±nÄ±n sayÄ±sal daÄŸÄ±lÄ±mÄ±nÄ± gÃ¶stermektedir.

####  **Tablo AÃ§Ä±klamasÄ±**:

**work_status**: Bireyin Ã§alÄ±ÅŸma durumu (Ã¶rn. Ã‡alÄ±ÅŸÄ±yor, Ä°ÅŸsiz)

**Walking**: YÃ¼rÃ¼yerek yapÄ±lan yolculuk sayÄ±sÄ±

**Micromobility**: Scooter, bisiklet gibi mikromobilite araÃ§larÄ±yla yapÄ±lan yolculuk sayÄ±sÄ±

In [95]:
import pandas as pd

# 1. Trip ve profile verilerini person_id Ã¼zerinden birleÅŸtir
merged = result.merge(profile[['person_id', 'work_status']], on='person_id', how='left')

# 2. Filtreleme: sadece Walking ve Micromobility, work_status boÅŸ olmayanlar
filtered = merged[
    merged['mode_choice'].isin(['Walking', 'Micromobility']) &
    merged['work_status'].notna()
].copy()

# 3. Grup bazÄ±nda sayÄ±m: work_status x mode_category
grouped = (
    filtered.groupby(['work_status', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 4. Eksik mod kolonlarÄ±nÄ± sÄ±fÄ±rla (varsa)
for col in ['Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 5. SonuÃ§larÄ± sÄ±rala
grouped = grouped.sort_values(by='work_status').reset_index(drop=True)

# 6. Sonucu gÃ¶ster
grouped.head()

mode_choice work_status  Micromobility  Walking
0            Ã‡alÄ±ÅŸmÄ±yor            312    92493
1             Ã‡alÄ±ÅŸÄ±yor            477    27551

<span style="font-size:22pt; color:red;"><b>Figure 414. Trip Purpose Distribution of Walking and Micromobility Individuals</b></span>

Bu tablo, yolculuk amacÄ± gruplarÄ±na (purpose_group) gÃ¶re, bireylerin yÃ¼rÃ¼me (Walking) ve mikromobilite (Micromobility) (Ã¶rneÄŸin scooter, bisiklet) modlarÄ±nÄ± ne sÄ±klÄ±kla kullandÄ±ÄŸÄ±nÄ± gÃ¶stermektedir. Tablo, yalnÄ±zca bu iki ulaÅŸÄ±m modunu iÃ§eren yolculuklar Ã¼zerinden oluÅŸturulmuÅŸtur ve eve dÃ¶nÃ¼ÅŸ yolculuklarÄ± hariÃ§ tutulmuÅŸtur.

#### **Tablo AÃ§Ä±klamasÄ±**:

**Work**: Ä°ÅŸe gitmek amacÄ±yla yapÄ±lan yolculuklar

**School**: Okula gitmek (ilkÃ¶ÄŸretim, lise, Ã¼niversite)

**Health**: SaÄŸlÄ±k kuruluÅŸlarÄ±na yapÄ±lan yolculuklar

**Leisure**: Sosyal ve eÄŸlence amaÃ§lÄ± yolculuklar (alÄ±ÅŸveriÅŸ, ziyaret, yeme-iÃ§me vb.)

**Pick-up/Drop-off**: Ã‡ocuk veya diÄŸer kiÅŸilerin alÄ±nmasÄ±/bÄ±rakÄ±lmasÄ±

In [96]:
import pandas as pd

# 1. mode_category ve first_purpose geÃ§erli olan ve eve gidiÅŸ olmayanlarÄ± filtrele
filtered = result[
    result['mode_choice'].isin(['Walking', 'Micromobility']) &
    result['mode_choice'].notna() &
    result['purpose'].notna() &
    (result['purpose'] != 'Eve gidiÅŸ')
].copy()

# 2. first_purpose'Ä± purpose_group'a dÃ¶nÃ¼ÅŸtÃ¼r
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in ['Ã‡ocuk Alma/BÄ±rakma', 'DiÄŸer Alma/BÄ±rakma']:
        return 'Pick-up/Drop-off'
    else:
        return None

filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 3. GeÃ§erli purpose_group olanlarÄ± al
filtered = filtered[filtered['purpose_group'].notna()]

# 4. Grup bazÄ±nda sayÄ±m: purpose_group x mode_category
grouped = (
    filtered.groupby(['purpose_group', 'mode_choice'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 5. Eksik mod kolonlarÄ±nÄ± sÄ±fÄ±rla
for col in ['Walking', 'Micromobility']:
    if col not in grouped.columns:
        grouped[col] = 0

# 6. SonuÃ§larÄ± gÃ¶ster
grouped = grouped[['purpose_group', 'Walking', 'Micromobility']].sort_values('purpose_group').reset_index(drop=True)


grouped

mode_choice     purpose_group  Walking  Micromobility
0                      Health     1563              6
1                     Leisure    30769            122
2            Pick-up/Drop-off     6088              4
3                      School    15224             67
4                        Work    11349            213

<span style="font-size:22pt; color:red;"><b>Figure 278. Purpose of Private Vehicle Trips (Ä°stanbul SUMP Stage II HTS)</b></span>

In [100]:
# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki ve "Private Vehicle" olmayan satÄ±rlarÄ± filtrele
filtered = result[
    (result['purpose'] != 'Eve gidiÅŸ') & 
    (result['mode_choice'] == 'Private Vehicle')
].copy()

# 2. first_purpose deÄŸerlerini gruplayarak yeni sÃ¼tun oluÅŸtur
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Yeni kolon ekle
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. NULL olmayanlarla Ã§alÄ±ÅŸ ve grup bazÄ±nda say
grouped = filtered[filtered['purpose_group'].notna()] \
    .groupby('purpose_group') \
    .size() \
    .reset_index(name='trip_count')

# 5. YÃ¼zde hesapla
total_trips = grouped['trip_count'].sum()
grouped['percentage'] = round(grouped['trip_count'] * 100.0 / total_trips, 2)

# 6. Azalan sÄ±raya gÃ¶re sÄ±rala
grouped = grouped.sort_values(by='trip_count', ascending=False).reset_index(drop=True)
grouped

      purpose_group  trip_count  percentage
0              Work       15652       67.80
1           Leisure        3850       16.68
2            Health        1314        5.69
3            School        1164        5.04
4  Pick-up/Drop-off        1104        4.78

<span style="font-size:22pt; color:red;"><b>Figure 279-280-281. District Based Private Vehicle Trips Purposes in Ä°stanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

In [131]:
# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki ve sadece Private Vehicle olan satÄ±rlarÄ± filtrele
filtered = result[
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['mode_choice'] == 'Private Vehicle')
].copy()

# 2. AmaÃ§larÄ± gruplandÄ±ran fonksiyon
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Yeni kolon: purpose_group
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. NULL olmayanlar Ã¼zerinden district ve purpose_group kÄ±rÄ±lÄ±mÄ±
grouped = filtered[filtered['purpose_group'].notna()] \
    .groupby(['district', 'purpose_group']) \
    .size() \
    .reset_index(name='trip_count')

# 5. District bazlÄ± yÃ¼zde hesapla
grouped['percentage'] = grouped.groupby('district')['trip_count'] \
    .transform(lambda x: round(x * 100 / x.sum(), 2))

# 6. Gerekirse sÄ±ralama (isteÄŸe baÄŸlÄ±)
grouped = grouped.sort_values(by=['district', 'trip_count'], ascending=[True, False]) \
    .reset_index(drop=True)

# Pivot tablo: purpose_group deÄŸerlerini ayrÄ± sÃ¼tun yap ve yÃ¼zdeyi gÃ¶ster
pivot_df = grouped.pivot_table(
    index='district',
    columns='purpose_group',
    values='trip_count',
    fill_value=0
).reset_index()

# KolonlarÄ± belirli sÄ±raya gÃ¶re yeniden sÄ±rala (isteÄŸe baÄŸlÄ±)
desired_order = ['Work', 'School', 'Health', 'Leisure', 'Pick-up/Drop-off']
pivot_df = pivot_df[['district'] + [col for col in desired_order if col in pivot_df.columns]]
pivot_df

purpose_group,district,Work,School,Health,Leisure,Pick-up/Drop-off
0,ADALAR,5,0,0,1,0
1,ARNAVUTKÃ–Y,207,5,23,43,11
2,ATAÅEHÄ°R,414,35,22,68,17
3,AVCILAR,334,33,27,85,19
4,BAHÃ‡ELÄ°EVLER,717,71,68,98,54
5,BAKIRKÃ–Y,217,18,29,79,24
6,BAYRAMPAÅA,386,10,48,55,38
7,BAÄCILAR,649,65,53,74,20
8,BAÅAKÅEHÄ°R,676,62,33,116,79
9,BEYKOZ,99,2,25,39,0
10,BEYLÄ°KDÃœZÃœ,448,48,32,138,59
11,BEYOÄLU,112,5,3,36,0
12,BEÅÄ°KTAÅ,248,19,14,72,6
13,BÃœYÃœKÃ‡EKMECE,295,17,25,99,84
14,DARICA,113,7,3,27,4
15,ERGENE,2,0,0,0,0
16,ESENLER,528,22,15,54,16
17,ESENYURT,808,36,96,249,69
18,EYÃœPSULTAN,485,26,14,43,14
19,FATÄ°H,306,19,13,94,13
20,GAZÄ°OSMANPAÅA,696,37,22,74,34
21,GEBZE,128,7,13,70,4
22,GÃœNGÃ–REN,260,20,37,43,20
23,KADIKÃ–Y,612,24,90,269,88
24,KAPAKLI,21,0,8,0,0
25,KARTAL,660,28,71,226,48
26,KAÄITHANE,414,17,22,52,2
27,KÃœÃ‡ÃœKÃ‡EKMECE,673,55,75,201,57
28,MALTEPE,567,35,48,217,25
29,MARMARAEREÄLÄ°SÄ°,8,0,4,2,0
30,PENDÄ°K,904,144,82,275,89
31,SANCAKTEPE,425,37,27,53,11
32,SARAY,5,0,0,2,0
33,SARIYER,233,21,7,73,5
34,SULTANBEYLÄ°,289,13,32,92,8
35,SULTANGAZÄ°,394,9,11,53,9
36,SÄ°LÄ°VRÄ°,74,6,20,60,21
37,TUZLA,180,31,13,66,21
38,ZEYTÄ°NBURNU,302,24,21,53,50
39,Ã‡ATALCA,35,2,12,19,23
40,Ã‡AYIROVA,44,2,0,19,0
41,Ã‡EKMEKÃ–Y,140,11,12,16,12
42,Ã‡ERKEZKÃ–Y,74,5,15,18,3
43,Ã‡ORLU,152,10,27,41,4
44,ÃœMRANÄ°YE,658,71,48,137,38
45,ÃœSKÃœDAR,441,44,31,148,1
46,ÅÄ°LE,31,4,5,26,0
47,ÅÄ°ÅLÄ°,183,7,18,75,4

<span style="font-size:22pt; color:red;"><b>Figure 282. Distribution of Private Vehicle Trips According to 24-Hour Purposes (Ä°stanbul SUMP Stage II HTS)</b></span>

In [139]:
import pandas as pd

# 1. "Eve gidiÅŸ" dÄ±ÅŸÄ±ndaki ve sadece Private Vehicle olan satÄ±rlarÄ± filtrele
filtered = result[
    (result['purpose'] != 'Eve gidiÅŸ') &
    (result['mode_choice'] == 'Private Vehicle')
].copy()

# 2. AmaÃ§larÄ± gruplandÄ±ran fonksiyon
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. purpose_group kolonu
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

# 4. Saatlik zaman aralÄ±ÄŸÄ±na gÃ¶re start_hour formatÄ±nÄ± oluÅŸtur
filtered['start_hour'] = pd.to_datetime(filtered['start_time']).dt.hour
filtered['start_hour'] = filtered['start_hour'].apply(lambda x: f"{x:02d}:00 - {((x + 1)%24):02d}:00")

# 5. NULL olmayanlar Ã¼zerinden start_hour ve purpose_group kÄ±rÄ±lÄ±mÄ±
grouped = filtered[filtered['purpose_group'].notna()] \
    .groupby(['start_hour', 'purpose_group']) \
    .size() \
    .reset_index(name='trip_count')

# 6. Pivot tablo: saatlik aralÄ±klar satÄ±r, purpose_group sÃ¼tun olacak ÅŸekilde
pivot_df = grouped.pivot_table(
    index='start_hour',
    columns='purpose_group',
    values='trip_count',
    fill_value=0
).reset_index()

# 7. Saatlik sÄ±ralama iÃ§in start_hour sÄ±ralÄ± hale getir
hour_order = [f"{h:02d}:00 - {(h+1)%24:02d}:00" for h in range(24)]
pivot_df['start_hour'] = pd.Categorical(pivot_df['start_hour'], categories=hour_order, ordered=True)
pivot_df = pivot_df.sort_values('start_hour').reset_index(drop=True)

# 8. Kolon sÄ±ralamasÄ± (isteÄŸe baÄŸlÄ±)
desired_order = ['start_hour', 'Work', 'School', 'Health', 'Leisure', 'Pick-up/Drop-off']
pivot_df = pivot_df[[col for col in desired_order if col in pivot_df.columns]]

# 9. En alta toplam satÄ±rÄ± ekle
totals = pivot_df.drop(columns='start_hour').sum().to_dict()
totals['start_hour'] = 'Toplam'
pivot_df = pd.concat([pivot_df, pd.DataFrame([totals])], ignore_index=True)

pivot_df

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_5020\3420036195.py:42: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  filtered['start_hour'] = pd.to_datetime(filtered['start_time']).dt.hour

       start_hour   Work  School  Health  Leisure  Pick-up/Drop-off
0   00:00 - 01:00     10       0       0        0                 0
1   01:00 - 02:00      4       0       6       11                 0
2   02:00 - 03:00      6       0       1        1                 0
3   03:00 - 04:00     17       0       1        0                 0
4   04:00 - 05:00     42       0       0        0                 2
5   05:00 - 06:00    167       0       1        4                 2
6   06:00 - 07:00   1183      14       8       18                17
7   07:00 - 08:00   5294     283      61       54               197
8   08:00 - 09:00   5995     517     174      122               402
9   09:00 - 10:00   1652     109     247      180                64
10  10:00 - 11:00    534      88     205      202                19
11  11:00 - 12:00    138      43      79      205                 6
12  12:00 - 13:00    200      52     141      378                40
13  13:00 - 14:00     80      31     145      448                56
14  14:00 - 15:00     55       3      92      403                48
15  15:00 - 16:00     54      13      58      287                72
16  16:00 - 17:00     32       2      23      340                74
17  17:00 - 18:00     50       7      18      332                56
18  18:00 - 19:00     73       1       3      398                25
19  19:00 - 20:00     26       0      16      223                11
20  20:00 - 21:00     19       1      21      156                 5
21  21:00 - 22:00      9       0       9       43                 0
22  22:00 - 23:00      8       0       5       25                 8
23  23:00 - 00:00      4       0       0       20                 0
24         Toplam  15652    1164    1314     3850              1104

<span style="font-size:22pt; color:red;"><b>Figure 283. Distances of Private Vehicle Trips in Ä°stanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

In [129]:
from geopy.distance import geodesic

# Sadece Ã¶zel araÃ§la yapÄ±lan yolculuklarÄ± filtrele
private_vehicle_df = result[result['mode_choice'] == 'Private Vehicle'].copy()

# GeÃ§ersiz koordinatlarÄ± temizle ("0.00000000Â° N" veya "0.00000000Â° E" olanlarÄ± Ã§Ä±kar)
invalid_coords = ['0.00000000Â° N', '0.00000000Â° E']
private_vehicle_df = private_vehicle_df[
    ~private_vehicle_df['orig_lat'].isin(invalid_coords) &
    ~private_vehicle_df['orig_lon'].isin(invalid_coords) &
    ~private_vehicle_df['dest_lat'].isin(invalid_coords) &
    ~private_vehicle_df['dest_lon'].isin(invalid_coords)
]

# 1. KoordinatlarÄ± temizleyen fonksiyon (derece iÅŸareti ve yÃ¶nleri temizler)
def clean_coordinate(coord_str):
    if isinstance(coord_str, str):
        coord_str = coord_str.replace('Â°', '').replace('N', '').replace('E', '').strip()
    try:
        return float(coord_str)
    except:
        return None

# 2. TÃ¼m koordinatlarÄ± float'a Ã§evir
private_vehicle_df['orig_lat_clean'] = private_vehicle_df['orig_lat'].apply(clean_coordinate)
private_vehicle_df['orig_lon_clean'] = private_vehicle_df['orig_lon'].apply(clean_coordinate)
private_vehicle_df['dest_lat_clean'] = private_vehicle_df['dest_lat'].apply(clean_coordinate)
private_vehicle_df['dest_lon_clean'] = private_vehicle_df['dest_lon'].apply(clean_coordinate)

# 3. KuÅŸ uÃ§uÅŸu mesafe hesaplama (km)
def calculate_distance_km(row):
    if None in [
        row['orig_lat_clean'], row['orig_lon_clean'],
        row['dest_lat_clean'], row['dest_lon_clean']
    ]:
        return None
    orig = (row['orig_lat_clean'], row['orig_lon_clean'])
    dest = (row['dest_lat_clean'], row['dest_lon_clean'])
    return geodesic(orig, dest).km

# 4. Mesafeyi hesapla
private_vehicle_df['distance_km'] = private_vehicle_df.apply(calculate_distance_km, axis=1)

# 5. BoÅŸ ve 0 mesafeli satÄ±rlarÄ± Ã§Ä±kar
private_vehicle_df = private_vehicle_df[
    private_vehicle_df['distance_km'].notnull() 
]


district_avg_distance = private_vehicle_df.groupby('district')['distance_km'].mean().reset_index()
district_avg_distance.head(2)

     district  distance_km
0      ADALAR     0.411121
1  ARNAVUTKÃ–Y     6.389833

In [140]:
from geopy.distance import geodesic
import pandas as pd

# 1. Sadece Ã¶zel araÃ§la yapÄ±lan yolculuklarÄ± filtrele
private_vehicle_df = result[result['mode_choice'] == 'Private Vehicle'].copy()

# 2. GeÃ§ersiz koordinatlarÄ± temizle ("0.00000000Â° N" veya "0.00000000Â° E" olanlarÄ± Ã§Ä±kar)
invalid_coords = ['0.00000000Â° N', '0.00000000Â° E']
private_vehicle_df = private_vehicle_df[
    ~private_vehicle_df['orig_lat'].isin(invalid_coords) &
    ~private_vehicle_df['orig_lon'].isin(invalid_coords) &
    ~private_vehicle_df['dest_lat'].isin(invalid_coords) &
    ~private_vehicle_df['dest_lon'].isin(invalid_coords)
]

# 3. KoordinatlarÄ± temizleyen fonksiyon (derece iÅŸareti ve yÃ¶nleri temizler)
def clean_coordinate(coord_str):
    if isinstance(coord_str, str):
        coord_str = coord_str.replace('Â°', '').replace('N', '').replace('E', '').strip()
    try:
        return float(coord_str)
    except:
        return None

# 4. TÃ¼m koordinatlarÄ± float'a Ã§evir
private_vehicle_df['orig_lat_clean'] = private_vehicle_df['orig_lat'].apply(clean_coordinate)
private_vehicle_df['orig_lon_clean'] = private_vehicle_df['orig_lon'].apply(clean_coordinate)
private_vehicle_df['dest_lat_clean'] = private_vehicle_df['dest_lat'].apply(clean_coordinate)
private_vehicle_df['dest_lon_clean'] = private_vehicle_df['dest_lon'].apply(clean_coordinate)

# 5. KuÅŸ uÃ§uÅŸu mesafe hesaplama (km)
def calculate_distance_km(row):
    if None in [
        row['orig_lat_clean'], row['orig_lon_clean'],
        row['dest_lat_clean'], row['dest_lon_clean']
    ]:
        return None
    orig = (row['orig_lat_clean'], row['orig_lon_clean'])
    dest = (row['dest_lat_clean'], row['dest_lon_clean'])
    return geodesic(orig, dest).km

# 6. Mesafeyi hesapla
private_vehicle_df['distance_km'] = private_vehicle_df.apply(calculate_distance_km, axis=1)

# 7. BoÅŸ ve 0 mesafeli satÄ±rlarÄ± Ã§Ä±kar
private_vehicle_df = private_vehicle_df[
    private_vehicle_df['distance_km'].notnull() &
    (private_vehicle_df['distance_km'] > 0)
]

# 8. Ä°stanbul ilÃ§eleri listesi
istanbul_districts = [
    'ADALAR', 'ARNAVUTKÃ–Y', 'ATAÅEHÄ°R', 'AVCILAR', 'BAÄCILAR', 'BAHÃ‡ELÄ°EVLER', 'BAKIRKÃ–Y',
    'BAÅAKÅEHÄ°R', 'BAYRAMPAÅA', 'BEÅÄ°KTAÅ', 'BEYKOZ', 'BEYLÄ°KDÃœZÃœ', 'BEYOÄLU', 'BÃœYÃœKÃ‡EKMECE',
    'Ã‡ATALCA', 'Ã‡EKMEKÃ–Y', 'ESENLER', 'ESENYURT', 'EYÃœPSULTAN', 'FATÄ°H', 'GAZÄ°OSMANPAÅA',
    'GÃœNGÃ–REN', 'KADIKÃ–Y', 'KAÄITHANE', 'KARTAL', 'KÃœÃ‡ÃœKÃ‡EKMECE', 'MALTEPE', 'PENDÄ°K',
    'SANCAKTEPE', 'SARIYER', 'ÅÄ°LE', 'SÄ°LÄ°VRÄ°', 'ÅÄ°ÅLÄ°', 'SULTANBEYLÄ°', 'SULTANGAZÄ°',
    'TUZLA', 'ÃœMRANÄ°YE', 'ÃœSKÃœDAR', 'ZEYTÄ°NBURNU'
]

# 9. Sadece Ä°stanbul ilÃ§eleri listesinde olan satÄ±rlarÄ± filtrele
private_vehicle_df_filtered = private_vehicle_df[private_vehicle_df['district'].isin(istanbul_districts)]

# 10. Ä°lÃ§e bazÄ±nda ortalama mesafe hesapla
district_avg_distance = private_vehicle_df_filtered.groupby('district')['distance_km'].mean().reset_index()

# 11. Genel ortalama mesafeyi hesapla
overall_avg = private_vehicle_df_filtered['distance_km'].mean()

# 12. Genel ortalama satÄ±rÄ±nÄ± oluÅŸtur
overall_avg_row = pd.DataFrame({'district': ['GENEL ORTALAMA'], 'distance_km': [overall_avg]})

# 13. SonuÃ§larÄ± birleÅŸtir
district_avg_distance_with_overall = pd.concat([district_avg_distance, overall_avg_row], ignore_index=True)

district_avg_distance_with_overall

          district  distance_km
0           ADALAR     0.411121
1       ARNAVUTKÃ–Y     6.500002
2         ATAÅEHÄ°R     9.139383
3          AVCILAR     7.350030
4     BAHÃ‡ELÄ°EVLER     5.962621
5         BAKIRKÃ–Y     6.179111
6       BAYRAMPAÅA     6.035692
7         BAÄCILAR     6.610541
8       BAÅAKÅEHÄ°R     8.612342
9           BEYKOZ     9.760303
10      BEYLÄ°KDÃœZÃœ     8.007013
11         BEYOÄLU     5.211295
12        BEÅÄ°KTAÅ     4.782847
13    BÃœYÃœKÃ‡EKMECE    10.720535
14         ESENLER     4.678935
15        ESENYURT     7.342971
16      EYÃœPSULTAN     6.797737
17           FATÄ°H     7.272730
18   GAZÄ°OSMANPAÅA     7.793234
19        GÃœNGÃ–REN     4.885754
20         KADIKÃ–Y     5.650933
21          KARTAL     9.361070
22       KAÄITHANE     6.153667
23    KÃœÃ‡ÃœKÃ‡EKMECE     5.937371
24         MALTEPE     8.137917
25          PENDÄ°K     7.137781
26      SANCAKTEPE     8.805279
27         SARIYER     6.656817
28     SULTANBEYLÄ°     6.462710
29      SULTANGAZÄ°     6.928899
30         SÄ°LÄ°VRÄ°     5.795553
31           TUZLA     7.401143
32     ZEYTÄ°NBURNU     5.410305
33         Ã‡ATALCA    18.966788
34        Ã‡EKMEKÃ–Y     5.312397
35        ÃœMRANÄ°YE     8.964172
36         ÃœSKÃœDAR     5.955635
37            ÅÄ°LE    17.507252
38           ÅÄ°ÅLÄ°    15.008116
39  GENEL ORTALAMA     7.280038