In [192]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)

<h2 style="color:#1f77b4; font-weight:bold;">Veri Setlerinin Ä°Ã§e AktarÄ±lmasÄ±</h2>

Bu Ã§alÄ±ÅŸmada hanehalkÄ± anket verileri ile mekansal analizler yapÄ±labilmesi iÃ§in Ã§eÅŸitli veri kaynaklarÄ± iÃ§e aktarÄ±lmÄ±ÅŸtÄ±r. Bu veri setleri, hem sosyo-demografik bilgiler hem de coÄŸrafi bÃ¶lgeleme (TAZ) bilgilerini kapsamaktadÄ±r.

---

### ğŸ“¥ **Anket Veri Setlerinin YÃ¼klenmesi**

AÅŸaÄŸÄ±da Ã¼Ã§ temel Excel dosyasÄ± iÃ§e aktarÄ±lmÄ±ÅŸtÄ±r:

- **Profil Verisi (`profile`)**: HanehalkÄ± bireylerine ait yaÅŸ, eÄŸitim, Ã§alÄ±ÅŸma durumu gibi demografik bilgiler iÃ§erir.  
- **Hane Bilgisi Verisi (`house`)**: Her bir haneye ait konum bilgileri, gelir grubu ve temel yapÄ± Ã¶zellikleri yer alÄ±r.  
- **AraÃ§ SahipliÄŸi Verisi (`vehicle`)**: Hanelerin sahip olduÄŸu araÃ§ tÃ¼rÃ¼, sayÄ±sÄ± ve araÃ§ tipi gibi bilgileri iÃ§erir.

---

### ğŸŒ **TAZ (Traffic Analysis Zones) Verisinin YÃ¼klenmesi**

`TAZ` verisi, trafik analiz bÃ¶lgelerini tanÄ±mlayan bir **shapefile** dosyasÄ±dÄ±r ve analizlerin mekansal temelini oluÅŸturur. Bu veri, tÃ¼m analizlerde bÃ¶lgesel karÅŸÄ±laÅŸtÄ±rma ve toplulaÅŸtÄ±rma amacÄ±yla kullanÄ±lacaktÄ±r.
 kullanÄ±lacaktÄ±r.

In [194]:
# Profil verisi
profile = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\HTS\\Profile.xlsx')
# Hane bilgisi verisi
house = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\HTS\\Household.xlsx')
# AraÃ§ sahipliÄŸi verisi
vehicle = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\HTS\\Vehicle_ownership.xlsx')
taz = gpd.read_file('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\SHP\\TAZs_zone.shp')

In [195]:
taz.head(1)

   NO  CODE                                           geometry
0   1  None  MULTIPOLYGON (((666259.641 4526986.655, 666259...

In [196]:
profile.head(1)

,p_id,hh_id,participation_status,person_order,name,age,gender,District,edu,edu_status,drive_lic,house_rep_prox,work_status,work_type,sector,job,work_time,office_info,work_days,pt_card,pt_card_type,disability,had_trip,no_trip_reason
0,71,6kaqzPZwvLgUnuUalhTx,Evet,K1,ÅÃ¼kran Ã‡iftÃ§i,64.0,KadÄ±n,BEYKOZ,Ä°lkÃ¶ÄŸretim mezunu,Ã–ÄŸrenci DeÄŸil,Yok,Kendisi,Ã‡alÄ±ÅŸmÄ±yor,NaN,NaN,NaN,NaN,NaN,0.0,Yok,NaN,HayÄ±r,HayÄ±r,Gerek OlmamasÄ±

In [197]:
house.head(1)

,Unnamed: 0,hh_id,survey_id,hh_type,district,neig,street,apartment_no,door_no,house_type,sample_type,tuik_id,latitude,longitude,hh_size,hh_has_vehicle,hh_vehicle_count,residence_status,residence_status_other,rental_value,hh_income
0,0,hbg0qx2dfppdajxfSIit,hbg0qx2dfppdajxfSIit,Anne ve Ã§ocuklardan oluÅŸan,ÅÄ°LE,MEÅRUTÄ°YET,KASIMAÄA SOKAK,4,2,MÃ¼stakil Konut,Asil,A4-8142-5,41.15871,29.562484,3,Evet,1,Ev sahibi,NaN,NaN,60.001 - 80.000 TL

In [198]:
vehicle.head(1)

,hh_id,v_id,type,brand,model,year,fuel,bike_type,ownership_status,autopark,most_user
0,sjmlC3dl4rNI9nIuWQ9Q,14610,Binek Otomobil,Opel,astra,2011.0,Benzin&LPG,NaN,Hane,Yol KenarÄ±-Ã¼cretsiz,K2

<h2 style="color:#1f77b4; font-weight:bold;">ğŸ” Veri Ä°ÅŸleme ve Analiz SÃ¼reci</h2>

Bu bÃ¶lÃ¼mde, iÃ§e aktarÄ±lan anket ve mekansal veriler Ã¼zerinde Ã§eÅŸitli Ã¶n iÅŸleme ve analiz adÄ±mlarÄ± gerÃ§ekleÅŸtirilecektir. AmaÃ§, hanehalkÄ± verilerini TAZ poligonlarÄ±yla mekansal olarak eÅŸleÅŸtirerek **nÃ¼fus**, **Ã¶ÄŸrenci oranÄ±**, **gelir daÄŸÄ±lÄ±mÄ±** gibi gÃ¶stergeleri bÃ¶lgesel dÃ¼zeyde analiz etmektir.

AÅŸaÄŸÄ±daki iÅŸlemler sÄ±rasÄ±yla gerÃ§ekleÅŸtirilecektir:

- Koordinat sisteminin standardize edilmesi (EPSG:4326)
- Noktasal verilerin TAZ poligonlarÄ± ile eÅŸleÅŸtirilmesi (spatial join)
- TAZ bazÄ±nda nÃ¼fus ve Ã¶ÄŸrenci sayÄ±sÄ±nÄ±n hesaplanmasÄ±
- Gelir gruplarÄ±nÄ±n sÄ±nÄ±flandÄ±rÄ±lmasÄ± ve bÃ¶lgesel daÄŸÄ±lÄ±mÄ±nÄ±n Ã§Ä±karÄ±lmasÄ±

<h3 style="font-weight:bold;">Koordinat Referans Sisteminin (CRS) EPSG:4326 (WGS 84) Olarak AyarlanmasÄ± ve KontrolÃ¼</h3>

In [199]:
# CRS'yi EPSG:4326 (WGS 84) ve kontrolÃ¼
taz = taz.to_crs(epsg=4326)
taz.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [200]:
taz.head(1)

   NO  CODE                                           geometry
0   1  None  MULTIPOLYGON (((28.97317 40.87709, 28.97317 40...

<h3 style="font-weight:bold;">TAZ BazlÄ± NÃ¼fus Verisinin HesaplanmasÄ± <code>HTS_POP</code></h3>

Bu adÄ±mda, her bir TAZ (Traffic Analysis Zone) poligonunun iÃ§inde kalan kiÅŸi sayÄ±sÄ± hesaplanmÄ±ÅŸtÄ±r. `merged_profile` veri setinde yer alan bireylerin konum bilgileri (latitude-longitude) kullanÄ±larak, bu noktalarÄ±n hangi TAZ sÄ±nÄ±rlarÄ± iÃ§erisinde yer aldÄ±ÄŸÄ± belirlenmiÅŸtir.

ArdÄ±ndan, her TAZ bÃ¶lgesine dÃ¼ÅŸen toplam kiÅŸi sayÄ±sÄ± sayÄ±larak, `taz` GeoDataFrame'ine <code>HTS_POP</code> adlÄ± yeni bir kolon olarak eklenmiÅŸtir.

**<code>HTS_POP</code>:**  
Her TAZ poligonunun iÃ§inde kalan kiÅŸi sayÄ±sÄ±nÄ± ifade eder. Yani, ilgili TAZ iÃ§inde kaÃ§ kiÅŸi bulunduÄŸunu gÃ¶sterir.

Bu veri, mekansal nÃ¼fus yoÄŸunluÄŸu analizleri ve bÃ¶lgesel karÅŸÄ±laÅŸtÄ±rmalar iÃ§in temel bir gÃ¶stergedir.

In [201]:
merged_profile= profile.merge(house, on='hh_id', how='left')

In [202]:
print("merged_profile tablosundaki kiÅŸi sayÄ±sÄ±:", merged_profile['hh_id'].count())

merged_profile tablosundaki kiÅŸi sayÄ±sÄ±: 169423

In [203]:
missing_coords = merged_profile[merged_profile['latitude'].isna() | merged_profile['longitude'].isna()]
print("Eksik koordinat sayÄ±sÄ±:", len(missing_coords))

Eksik koordinat sayÄ±sÄ±: 0

In [204]:
both_zero_coords = merged_profile[(merged_profile['latitude'] == 0) & (merged_profile['longitude'] == 0)]
print("Hem latitude hem de longitude sÄ±fÄ±r olan satÄ±r sayÄ±sÄ±:", len(both_zero_coords))

Hem latitude hem de longitude sÄ±fÄ±r olan satÄ±r sayÄ±sÄ±: 0

In [205]:
import geopandas as gpd
from shapely.geometry import Point
# Nokta geometrilerini oluÅŸtur
merged_profile['geometry'] = merged_profile.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)

# GeoDataFrame'e Ã§evir (aynÄ± CRS - WGS84)
merged_profile = gpd.GeoDataFrame(merged_profile, geometry='geometry', crs='EPSG:4326')
merged_profile.head(1)

,p_id,hh_id,participation_status,person_order,name,age,gender,District,edu,edu_status,drive_lic,house_rep_prox,work_status,work_type,sector,job,work_time,office_info,work_days,pt_card,pt_card_type,disability,had_trip,no_trip_reason,Unnamed: 0,survey_id,hh_type,district,neig,street,apartment_no,door_no,house_type,sample_type,tuik_id,latitude,longitude,hh_size,hh_has_vehicle,hh_vehicle_count,residence_status,residence_status_other,rental_value,hh_income,geometry
0,71,6kaqzPZwvLgUnuUalhTx,Evet,K1,ÅÃ¼kran Ã‡iftÃ§i,64.0,KadÄ±n,BEYKOZ,Ä°lkÃ¶ÄŸretim mezunu,Ã–ÄŸrenci DeÄŸil,Yok,Kendisi,Ã‡alÄ±ÅŸmÄ±yor,NaN,NaN,NaN,NaN,NaN,0.0,Yok,NaN,HayÄ±r,HayÄ±r,Gerek OlmamasÄ±,59878,6kaqzPZwvLgUnuUalhTx,"Anne, Baba ve Ã§ocuklardan oluÅŸan",BEYKOZ,KAVACIK,Ã–GE SOKAK,9,4,Apartman Dairesi,Asil,AS-2520-2,41.094734,29.082197,4,HayÄ±r,0,Ev sahibi,NaN,NaN,15.001 - 25.000 TL,POINT (29.08220 41.09473)

In [206]:
# 2. Spatial Join â€“ Hangi nokta hangi TAZ iÃ§inde?
points_in_taz = gpd.sjoin(merged_profile, taz, how='inner', predicate='within')

# 3. Her TAZ poligonuna dÃ¼ÅŸen nokta sayÄ±sÄ±nÄ± hesapla
taz_counts = points_in_taz.groupby('index_right').size().reset_index(name='HTS_POP')

# 4. HTS_POP kolonunu TAZ GeoDataFrame'e ekle
taz['HTS_POP'] = taz_counts.set_index('index_right')['HTS_POP']

# 5. Veri olmayanlarÄ± 0 yap
taz['HTS_POP'] = taz['HTS_POP'].fillna(0).astype(int)

In [207]:
taz.head(1)

   NO  CODE                                           geometry  HTS_POP
0   1  None  MULTIPOLYGON (((28.97317 40.87709, 28.97317 40...       17

In [208]:
taz['HTS_POP'].sum()

169423

In [238]:
# âœ… Check: HTS_POP toplamÄ± ile profile tablosundaki kiÅŸi sayÄ±sÄ± sayÄ±sÄ± eÅŸit mi?
check_result = taz['HTS_POP'].sum() - merged_profile['hh_id'].count()

if check_result == 0:
    print("âœ”ï¸ DoÄŸrulama baÅŸarÄ±lÄ±: HTS_POP toplamÄ± ile kiÅŸi sayÄ±sÄ± eÅŸit.")
else:
    print(f"âŒ DoÄŸrulama hatalÄ±: Fark = {check_result}")

âœ”ï¸ DoÄŸrulama baÅŸarÄ±lÄ±: HTS_POP toplamÄ± ile kiÅŸi sayÄ±sÄ± eÅŸit.

<h3 style="font-weight:bold;">TAZ bazlÄ± Ã–ÄŸrenci SayÄ±larÄ±nÄ±n Eklenmesi <code>HTS_EDU</code></h3>

Bu adÄ±mda, `merged_profile` veri setinde yer alan ve <code>edu_status</code> deÄŸeriri "Ã–ÄŸrenci" olan bireyler filtrelenmiÅŸtir. Her Ã¶ÄŸrencinin konum bilgisi (latitude-longitude) kullanÄ±larak, hangi TAZ poligonuna denk geldiÄŸi belirlenmiÅŸtir.

Spatial join (mekansal birleÅŸtirme) iÅŸlemi ile her Ã¶ÄŸrencinin ait olduÄŸu TAZ bulunmuÅŸ ve her TAZ iÃ§in dÃ¼ÅŸen toplam Ã¶ÄŸrenci sayÄ±sÄ± hesaplanarak `HTS_EDU` adlÄ± yeni bir kolon olarak `taz` veri setine eklenmiÅŸtir.

**<code>HTS_EDU</code>:**  
Her TAZ poligonunun iÃ§inde kalan "Ã¶ÄŸrenci" bireylerin sayÄ±sÄ±nÄ± ifadabmemiÅŸtir.

In [209]:
# 1. Ã–ÄŸrencileri filtrele
students = merged_profile[merged_profile['edu_status'] == 'Ã–ÄŸrenci'].copy()
#Ã¶ÄŸrenci sayÄ±sÄ± 

print("Profile tablosundaki Ã¶ÄŸrenci sayÄ±sÄ±:", students['edu_status'].count())

Profile tablosundaki Ã¶ÄŸrenci sayÄ±sÄ±: 29191

In [210]:
#spatial join yapÄ±lamayacak veri sayÄ±sÄ±
both_zero_coords_2 = students[(students['latitude'] == 0) & (students['longitude'] == 0)]
print("Hem latitude hem de longitude sÄ±fÄ±r olan satÄ±r sayÄ±sÄ±:", len(both_zero_coords_2))

Hem latitude hem de longitude sÄ±fÄ±r olan satÄ±r sayÄ±sÄ±: 0

In [211]:
# Ã–ÄŸrencilerin TAZ poligonlarÄ± iÃ§ine dÃ¼ÅŸenleri spatial join ile eÅŸle
joined_students = gpd.sjoin(students, taz, how='inner', predicate='within')

#Her TAZ (index_right) iÃ§in Ã¶ÄŸrenci sayÄ±sÄ±nÄ± say
edu_counts = joined_students['index_right'].value_counts().rename_axis('index').reset_index(name='HTS_EDU')

#TAZ veri setine HTS_EDU kolonunu ekle
taz['HTS_EDU'] = 0  # VarsayÄ±lan deÄŸer
taz.loc[edu_counts['index'], 'HTS_EDU'] = edu_counts['HTS_EDU'].values

#Spatial join yapÄ±lan Ã¶ÄŸrenci sayÄ±sÄ±
taz['HTS_EDU'].sum()

29191

In [239]:
# âœ… Check: HTS_EDU toplamÄ± ile profile tablosundaki Ã¶ÄŸrenci sayÄ±sÄ± sayÄ±sÄ± eÅŸit mi?
check_result = taz['HTS_EDU'].sum() - students['edu_status'].count()

if check_result == 0:
    print("âœ”ï¸ DoÄŸrulama baÅŸarÄ±lÄ±: HTS_EDU toplamÄ± ile Ã¶ÄŸrenci sayÄ±sÄ± eÅŸit.")
else:
    print(f"âŒ DoÄŸrulama hatalÄ±: Fark = {check_result}")

âœ”ï¸ DoÄŸrulama baÅŸarÄ±lÄ±: HTS_EDU toplamÄ± ile Ã¶ÄŸrenci sayÄ±sÄ± eÅŸit.

<h3 style="font-weight:bold;">TAZ BazlÄ± Hane Gelirlerinin Eklenmesi <code>INC_*</code></h3>

Bu adÄ±mda, `house` veri setindeki her hanenin gelir bilgisi (`income_class`) kullanÄ±larak TAZ poligonlarÄ± ile eÅŸleÅŸtirme yapÄ±lmÄ±ÅŸtÄ±r. Spatial join (mekansal birleÅŸtirme) iÅŸlemiyle her hanenin bulunduÄŸu TAZ belirlenmiÅŸ ve TAZ bazÄ±nda her gelir sÄ±nÄ±fÄ±na ait hane sayÄ±sÄ± hesaplanmÄ±ÅŸtÄ±r.

Her gelir sÄ±nÄ±fÄ±, ayrÄ± bir kolon olarak `taz` GeoDataFrameâ€™ine eklenmiÅŸtir.

#### â¤ OluÅŸan Gelir GruplarÄ± ve AnlamlarÄ±:

- (<code>INC_0_5K</code>) â†’ 0 - 5.000 TL arasÄ± gelir grubu  
- (<code>INC_5K_10K</code>) â†’ 5.001 - 10.000 TL arasÄ± gelir grubu  
- (<code>INC_10K_15K</code>) â†’ 10.001 - 15.000 TL arasÄ± gelir grubu  
- (<code>INC_15K_25K</code>) â†’ 15.001 - 25.000 TL arasÄ± gelir grubu  
- (<code>INC_25K_40K</code>) â†’ 25.001 - 40.000 TL arasÄ± gelir grubu  
- (<code>INC_40K_60K</code>) â†’ 40.001 - 60.000 TL arasÄ± gelir grubu  
- (<code>INC_60K_80K</code>) â†’ 60.001 - 80.000 TL arasÄ± gelir grubu  
- (<code>INC_80K_100K</code>) â†’ 80.001 - 100.000 TL arasÄ± gelir grubu  
- (<code>INC_100K_140K</code>) â†’ 100.001 - 140.000 TL arasÄ± gelir grubu  
- (<code>INC_140K_200K</code>) â†’ 140.001 - 200.000 TL arasÄ± gelir grubu  
- (<code>INC_200KPLUS</code>) â†’ 200.001 TL ve Ã¼zeri gelir grubu  
- (<code>INC_Unknown</code>) â†’ Gelir bilgisini belirtmeyen veya earla kullanÄ±labilir.
sik haneler

In [212]:
house['hh_income'].unique()

array(['60.001 - 80.000 TL', '15.001 - 25.000 TL', '40.001 - 60.000 TL',
       '25.001 - 40.000 TL', '80.001 - 100.000 TL',
       '100.001 - 140.000 TL', '10.001 - 15.000 TL',
       '200.001TLâ€™den fazla', 'Belirtmek istemiyorum.',
       '140.001 - 200.000 TL', '60.001 - 100.000 TL', '5.001 â€“ 10.000 TL',
       '5.000 TLâ€™den az', '100.000TLâ€™den fazla'], dtype=object)

In [213]:
print("household tablosundaki gelir bilgisi olan toplam hane sayÄ±sÄ±:", house['hh_income'].count())

household tablosundaki gelir bilgisi olan toplam hane sayÄ±sÄ±: 59879

In [214]:
#spatial join yapÄ±lamayacak veri sayÄ±sÄ±
both_zero_coords_3 = house[(house['latitude'] == 0) & (house['longitude'] == 0)]
print("Hem latitude hem de longitude sÄ±fÄ±r olan satÄ±r sayÄ±sÄ±:", len(both_zero_coords_3))

Hem latitude hem de longitude sÄ±fÄ±r olan satÄ±r sayÄ±sÄ±: 0

In [215]:
def classify_income(group):
    if group == '5.000 TLâ€™den az':
        return '0-5K'
    elif group == '5.001 â€“ 10.000 TL':
        return '5Kâ€“10K'
    elif group == '10.001 - 15.000 TL':
        return '10Kâ€“15K'
    elif group == '15.001 - 25.000 TL':
        return '15Kâ€“25K'
    elif group == '25.001 - 40.000 TL':
        return '25Kâ€“40K'
    elif group == '40.001 - 60.000 TL':
        return '40Kâ€“60K'
    elif group == '60.001 - 80.000 TL':
        return '60Kâ€“80K'
    elif group == '60.001 - 100.000 TL' or group == '80.001 - 100.000 TL':
        return '80Kâ€“100K'
    elif group == '100.001 - 140.000 TL':
        return '100Kâ€“140K'
    elif group == '140.001 - 200.000 TL':
        return '140Kâ€“200K'
    elif group in ['200.001TLâ€™den fazla', '100.000TLâ€™den fazla']:
        return '200K+'
    elif group == 'Belirtmek istemiyorum.':
        return 'Unknown'
    else:
        return 'Unknown'
        
# Yeni sÃ¼tun oluÅŸtur
house['income_class'] = house['hh_income'].apply(classify_income)

In [216]:
# 3. GeoDataFrame'e Ã§evir
house['geometry'] = house.apply(lambda r: Point(r['longitude'], r['latitude']), axis=1)
house = gpd.GeoDataFrame(house, geometry='geometry', crs='EPSG:4326')

# 4. TAZ ile spatial join
joined = gpd.sjoin(house, taz, how='inner', predicate='within')

# 5. TAZ bazÄ±nda gelir sÄ±nÄ±fÄ±na gÃ¶re hane sayÄ±sÄ±
income_counts = joined.groupby(['index_right', 'income_class']).size().unstack(fill_value=0)

# 6. Kolon adlarÄ±nÄ± dÃ¼zenle
income_counts.columns = ['INC_' + col.replace('-', '_').replace('â€“', '_').replace('+', 'PLUS').replace('K', 'K') for col in income_counts.columns]

# 7. TAZâ€™a join et
taz = taz.join(income_counts, how='left')
taz.fillna(0, inplace=True)
taz[income_counts.columns] = taz[income_counts.columns].astype(int)

In [217]:
taz.head(1)

,NO,CODE,geometry,HTS_POP,HTS_EDU,INC_0_5K,INC_100K_140K,INC_10K_15K,INC_140K_200K,INC_15K_25K,INC_200KPLUS,INC_25K_40K,INC_40K_60K,INC_5K_10K,INC_60K_80K,INC_80K_100K,INC_Unknown
0,1,0,"MULTIPOLYGON (((28.97317 40.87709, 28.97317 40...",17,2,0,0,3,0,0,0,3,2,0,0,0,0

In [218]:
income_cols = [
    'INC_0_5K', 'INC_5K_10K', 'INC_10K_15K', 'INC_15K_25K', 'INC_25K_40K',
    'INC_40K_60K', 'INC_60K_80K', 'INC_80K_100K', 'INC_100K_140K',
    'INC_140K_200K', 'INC_200KPLUS', 'INC_Unknown'
]

# ToplamÄ± hesapla
total_households = taz[income_cols].sum().sum()

print("Gelir grubu kolonlarÄ±ndaki toplam hane sayÄ±sÄ±:", total_households)

Gelir grubu kolonlarÄ±ndaki toplam hane sayÄ±sÄ±: 59879

In [240]:
# âœ… Check: Ä°ncome toplamÄ± ile household tablosundaki income sayÄ±sÄ± sayÄ±sÄ± eÅŸit mi?
check_result = total_households - house['hh_income'].count()

if check_result == 0:
    print("âœ”ï¸ DoÄŸrulama baÅŸarÄ±lÄ±: INC* toplamÄ± ile household income sayÄ±sÄ± eÅŸit.")
else:
    print(f"âŒ DoÄŸrulama hatalÄ±: Fark = {check_result}")

âœ”ï¸ DoÄŸrulama baÅŸarÄ±lÄ±: INC* toplamÄ± ile household income sayÄ±sÄ± eÅŸit.