In [61]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)

In [62]:
house = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\HTS\\Household.xlsx')
df = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\HTS\\Koordinat_atanmış_1.xlsx')

In [63]:
house.head(1)

,hh_id,survey_id,hh_type,district,neig,street,apartment_no,door_no,house_type,sample_type,tuik_id,latitude,longitude,hh_size,hh_has_vehicle,hh_vehicle_count,residence_status,residence_status_other,rental_value,hh_income
0,hbg0qx2dfppdajxfSIit,hbg0qx2dfppdajxfSIit,Anne ve çocuklardan oluşan,ŞİLE,MEŞRUTİYET,KASIMAĞA SOKAK,4,2,Müstakil Konut,Asil,A4-8142-5,41.15871,29.562484,3,Evet,1,Ev sahibi,NaN,NaN,60.001 - 80.000 TL

In [64]:
both_zero_coords = house[(house['latitude'] == 0) & (house['longitude'] == 0)]
print("Hem latitude hem de longitude sıfır olan satır sayısı:", len(both_zero_coords))

Hem latitude hem de longitude sıfır olan satır sayısı: 1373

In [65]:
df.head(1)

                  hh_id sample_type      Enlem     Boylam
0  kSGQKGT0xCYdrG1Wv9eZ        Asil  40.890376  29.191633

In [66]:
print(df.columns)

Index(['hh_id', 'sample_type', 'Enlem', 'Boylam'], dtype='object')

In [67]:
import pandas as pd

# Örnek olarak df'de şu sütunlar var: hh_id, sample_type, Enlem, Boylam
# house'da: hh_id, latitude, longitude (ve diğerleri)

# Önce df'deki kolonları yeniden adlandıralım
df_renamed = df[['hh_id', 'Enlem', 'Boylam']].rename(columns={
    'Enlem': 'new_latitude',
    'Boylam': 'new_longitude'
})

# house ile df_renamed'i hh_id üzerinden birleştir
house_updated = house.merge(df_renamed, on='hh_id', how='left')

# latitude ve longitude'yi df'deki yeni değerlerle güncelle
house_updated['latitude'] = house_updated['new_latitude'].combine_first(house_updated['latitude'])
house_updated['longitude'] = house_updated['new_longitude'].combine_first(house_updated['longitude'])

# Geçici kolonları silelim
house_updated = house_updated.drop(columns=['new_latitude', 'new_longitude'])

# Güncellenmiş DataFrame: house_updated

In [68]:
house_updated.head(1)

,hh_id,survey_id,hh_type,district,neig,street,apartment_no,door_no,house_type,sample_type,tuik_id,latitude,longitude,hh_size,hh_has_vehicle,hh_vehicle_count,residence_status,residence_status_other,rental_value,hh_income
0,hbg0qx2dfppdajxfSIit,hbg0qx2dfppdajxfSIit,Anne ve çocuklardan oluşan,ŞİLE,MEŞRUTİYET,KASIMAĞA SOKAK,4,2,Müstakil Konut,Asil,A4-8142-5,41.15871,29.562484,3,Evet,1,Ev sahibi,NaN,NaN,60.001 - 80.000 TL

In [69]:
both_zero_coords_2 = house_updated[(house_updated['latitude'] == 0) & (house_updated['longitude'] == 0)]
print("Hem latitude hem de longitude sıfır olan satır sayısı:", len(both_zero_coords_2))

Hem latitude hem de longitude sıfır olan satır sayısı: 538

In [70]:
df_2 = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\TAZ_Analyis\\Data\\HTS\\Koordinat_atanmış_2.xlsx')

In [72]:
print(df_2.columns)

Index(['hh_id', 'district', 'neig', 'street', 'apartment_no', 'door_no',
       'full_address', 'enlem', 'boylam'],
      dtype='object')

In [73]:
import pandas as pd

# Örnek olarak df'de şu sütunlar var: hh_id, sample_type, Enlem, Boylam
# house'da: hh_id, latitude, longitude (ve diğerleri)

# Önce df'deki kolonları yeniden adlandıralım
df_renamed = df_2[['hh_id', 'enlem', 'boylam']].rename(columns={
    'enlem': 'new_latitude',
    'boylam': 'new_longitude'
})

# house ile df_renamed'i hh_id üzerinden birleştir
house_updated_2 = house_updated.merge(df_renamed, on='hh_id', how='left')

# latitude ve longitude'yi df'deki yeni değerlerle güncelle
house_updated_2['latitude'] = house_updated_2['new_latitude'].combine_first(house_updated_2['latitude'])
house_updated_2['longitude'] = house_updated_2['new_longitude'].combine_first(house_updated_2['longitude'])

# Geçici kolonları silelim
house_updated_2 = house_updated_2.drop(columns=['new_latitude', 'new_longitude'])

# Güncellenmiş DataFrame: house_updated

In [74]:
both_zero_coords_3 = house_updated_2[(house_updated_2['latitude'] == 0) & (house_updated_2['longitude'] == 0)]
print("Hem latitude hem de longitude sıfır olan satır sayısı:", len(both_zero_coords_3))

Hem latitude hem de longitude sıfır olan satır sayısı: 0

In [76]:
house_updated_2.to_excel("test.coordinate.xlsx")