In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df_= pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Trip_leg.xlsx')
dv = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Household.xlsx')
profile = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Profile.xlsx')
survey = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Survey.xlsx')

In [3]:
profile

,p_id,hh_id,participation_status,person_order,name,age,gender,District,edu,drive_lic,...,sector,job,work_time,office_info,work_days,pt_card,pt_card_type,disability,had_trip,no_trip_reason
0,71,6kaqzPZwvLgUnuUalhTx,Evet,K1,ÅÃ¼kran Ã‡iftÃ§i,64.0,KadÄ±n,BEYKOZ,Ä°lkÃ¶ÄŸretim mezunu,Yok,...,NaN,NaN,NaN,NaN,0.0,Yok,NaN,HayÄ±r,HayÄ±r,Gerek OlmamasÄ±
1,72,6kaqzPZwvLgUnuUalhTx,Evet,K2,Mahmut,67.0,Erkek,BEYKOZ,Ä°lkÃ¶ÄŸretim mezunu,Yok,...,NaN,NaN,NaN,NaN,0.0,Var,Ãœcretsiz Kart,HayÄ±r,Evet,NaN
2,73,6kaqzPZwvLgUnuUalhTx,Evet,K3,Serkan,42.0,Erkek,BEYKOZ,Lise/Dengi mezun,Var,...,DiÄŸer,DiÄŸer,Tam zamanlÄ±,Sabit Ä°ÅŸ yeri/Ofis,5.0,Var,Anonim Kart(Tam),HayÄ±r,HayÄ±r,Gerek OlmamasÄ±
3,74,6kaqzPZwvLgUnuUalhTx,Evet,K4,Serdar,40.0,Erkek,BEYKOZ,Lise/Dengi mezun,Var,...,DiÄŸer,DiÄŸer,Tam zamanlÄ±,Birden fazla Ä°ÅŸ yeri/Ofis,5.0,Var,Anonim Kart(Tam),HayÄ±r,HayÄ±r,Gerek OlmamasÄ±
4,75,6v8e5FWFp6A0rG05P5U9,Evet,K1,ÅŸerife acet,55.0,KadÄ±n,ESENLER,Ä°lkÃ¶ÄŸretim mezunu,Yok,...,NaN,NaN,NaN,NaN,NaN,Var,Anonim Kart(Tam),HayÄ±r,Evet,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169418,195249,2ZSpVEcgNCwGRkKoG8Uz,Uygun DeÄŸil,K3,Ã–zÃ¼m naz ovacik,5.0,KadÄ±n,ÅÄ°LE,Okula baÅŸlamamÄ±ÅŸ,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HayÄ±r,Uygun DeÄŸil,Uygun DeÄŸil
169419,195250,VT1bA6J3NwEbTafh7O07,Evet,K1,AyÅŸe hanÄ±m,40.0,KadÄ±n,ÅÄ°LE,Lise/Dengi mezun,Var,...,NaN,NaN,NaN,NaN,0.0,Var,Anonim Kart(Tam),HayÄ±r,HayÄ±r,Gerek OlmamasÄ±
169420,195251,VT1bA6J3NwEbTafh7O07,Evet,K2,Murat bey,45.0,Erkek,ÅÄ°LE,Lise/Dengi mezun,Var,...,GÄ±da,AÅŸÃ§Ä±,Tam zamanlÄ±,Sabit Ä°ÅŸ yeri/Ofis,7.0,Var,Anonim Kart(Tam),HayÄ±r,Evet,NaN
169421,195252,XK9uBTlpBSu0g69MTu6G,Evet,K1,Turgut bey,40.0,Erkek,ÅÄ°LE,Lise/Dengi mezun,Var,...,Otomotiv,DiÄŸer,Tam zamanlÄ±,Sabit Ä°ÅŸ yeri/Ofis,6.0,Var,Anonim Kart(Tam),HayÄ±r,Evet,NaN
169422,195253,XK9uBTlpBSu0g69MTu6G,Evet,K2,NilgÃ¼n hanÄ±m,45.0,KadÄ±n,ÅÄ°LE,OrtaÃ¶ÄŸretim mezun,Var,...,NaN,NaN,NaN,NaN,NaN,Var,Anonim Kart(Tam),HayÄ±r,HayÄ±r,HastalÄ±k

### ğŸ§© DATA PROCESS - Employment Group Kolonunun OluÅŸturulmasÄ± ve Trip Tablosuna Eklenmesi
## 1ï¸âƒ£ Employment Group Kolonunun OluÅŸturulmasÄ± (`profile` tablosunda)

AÅŸaÄŸÄ±daki kurallara gÃ¶re `profile` tablosunda yeni bir `Employment Group` sÃ¼tunu oluÅŸturulmuÅŸtur:

- **Full Time**: 18 yaÅŸ Ã¼stÃ¼, tam zamanlÄ± Ã§alÄ±ÅŸan ve Ã¶ÄŸrenci olmayan bireyler
- **Part Time**: 18 yaÅŸ Ã¼stÃ¼, yarÄ± zamanlÄ± Ã§alÄ±ÅŸan ve Ã¶ÄŸrenci olmayan bireyler
- **Adult Student**: 18 yaÅŸ Ã¼stÃ¼ ve hÃ¢len Ã¶ÄŸrenci olan bireyler
- **Adult Unemployed**: 18-65 yaÅŸ arasÄ±, Ã§alÄ±ÅŸmayan bireyler
- **65+ Retired**: 65 yaÅŸ Ã¼stÃ¼ ve Ã§alÄ±ÅŸmayan bireyler
- **Child Student**: 6-18 yaÅŸ arasÄ± ve Ã¶ÄŸrenci olan bireyler
- **Child**: 6-18 yaÅŸ arasÄ± ve Ã¶ÄŸrenci olmayan bireyler
- **Other**: YukarÄ±daki kategorilere girmeyen bireyler

In [4]:
import pandas as pd
import numpy as np
import re

# Ã–rnek olarak profile ve df_ veri Ã§erÃ§evelerinizin zaten yÃ¼klÃ¼ olduÄŸunu varsayÄ±yorum.

# 'Ã¶ÄŸrenci' ifadesini iÃ§eren satÄ±rlarÄ± bulmak iÃ§in yardÄ±mcÄ± deÄŸiÅŸken
is_student = profile['edu'].str.contains('Ã¶ÄŸrenci', case=False, na=False)

# KoÅŸullar (SQL'deki sÄ±ralamaya sadÄ±k)
conditions = [
    # 1. Full Time
    (profile['work_status'] == 'Ã‡alÄ±ÅŸÄ±yor') &
    (profile['age'] >= 18) &
    (profile['work_time'] == 'Tam zamanlÄ±') &
    (~is_student),

    # 2. Part Time
    (profile['work_status'] == 'Ã‡alÄ±ÅŸÄ±yor') &
    (profile['age'] >= 18) &
    (profile['work_time'] == 'YarÄ± zamanlÄ±') &
    (~is_student),

    # 3. Adult Student
    (profile['age'] >= 18) & is_student,

    # 4. Adult Unemployed
    (profile['work_status'] == 'Ã‡alÄ±ÅŸmÄ±yor') &
    (profile['age'].between(18, 65)),

    # 5. 65+ Retired
    (profile['work_status'] == 'Ã‡alÄ±ÅŸmÄ±yor') &
    (profile['age'] >= 65),

    # 6. Child Student
    (profile['age'].between(6, 18)) & is_student,

    # 7. Child
    (profile['age'].between(6, 18)) & (~is_student)
]

# Bu koÅŸullara karÅŸÄ±lÄ±k gelen etiketler
choices = [
    'Full Time',
    'Part Time',
    'Adult Student',
    'Adult Unemployed',
    '65+ Retired',
    'Child Student',
    'Child'
]

# KoÅŸul/etiket listelerini tek satÄ±rda profile_group kolonuna dÃ¶nÃ¼ÅŸtÃ¼r
profile['Employment Group'] = np.select(conditions, choices, default='Other')

# hh_id ve person_order'Ä± birleÅŸtirerek yeni bir kolon oluÅŸtur
profile['person_id'] = profile['hh_id'].astype(str) + '-' + profile['person_order'].astype(str)
print(profile.head(2))

missing_count = profile['Employment Group'].isna().sum()
print(f"Employment_Group sÃ¼tununda {missing_count} adet eksik veri bulunmaktadÄ±r.")

# --- Burada t_leg_prefix dÃ¼zgÃ¼n ÅŸekilde regex ile Ã§Ä±karÄ±lacak ---

# t_leg_id'den prefix'i K ve ardÄ±ndan gelen rakam(lar) olarak Ã§ekmek iÃ§in regex kullan
df_['t_leg_prefix'] = df_['t_leg_id'].astype(str).str.extract(r'(K\d+)')

# hh_id ve person_order (burada t_leg_prefix) birleÅŸtirerek person_id oluÅŸtur
df_['person_id'] = df_['hh_id'].astype(str) + '-' + df_['t_leg_prefix'].astype(str)

# 1. Survey tablosunda 'GÃ¶rÃ¼ÅŸme TamamlandÄ±' olan id'leri al
completed_ids = survey[survey['Result'] == 'GÃ¶rÃ¼ÅŸme TamamlandÄ±']['ID'].unique()

# 2. df_ iÃ§inde sadece bu id'lerle eÅŸleÅŸen hh_id'lere sahip satÄ±rlarÄ± filtrele
df_ = df_[df_['hh_id'].isin(completed_ids)]

# profile'dan Employment Group ve gender sÃ¼tunlarÄ±nÄ± df_'ye merge et
df_ = df_.merge(profile[['person_id', 'Employment Group', 'gender','edu']], on='person_id', how='left')

# SonuÃ§ kontrolÃ¼
df_

   p_id                 hh_id participation_status person_order  \
0    71  6kaqzPZwvLgUnuUalhTx                 Evet           K1
1    72  6kaqzPZwvLgUnuUalhTx                 Evet           K2

             name   age gender District                edu drive_lic  ...  \
0  ÅÃ¼kran Ã‡iftÃ§i   64.0  KadÄ±n   BEYKOZ  Ä°lkÃ¶ÄŸretim mezunu       Yok  ...
1          Mahmut  67.0  Erkek   BEYKOZ  Ä°lkÃ¶ÄŸretim mezunu       Yok  ...

  work_time office_info work_days pt_card   pt_card_type disability had_trip  \
0       NaN         NaN       0.0     Yok            NaN      HayÄ±r    HayÄ±r
1       NaN         NaN       0.0     Var  Ãœcretsiz Kart      HayÄ±r     Evet

   no_trip_reason  Employment Group                person_id
0  Gerek OlmamasÄ±  Adult Unemployed  6kaqzPZwvLgUnuUalhTx-K1
1             NaN       65+ Retired  6kaqzPZwvLgUnuUalhTx-K2

[2 rows x 25 columns]
Employment_Group sÃ¼tununda 0 adet eksik veri bulunmaktadÄ±r.

,hh_id,id,p_id,t_leg_id,purpose,weekly_trip_count,has_transfer,mode,acc_p,pc_reason,...,dest_lat,dest_lon,person_id,t_id,tl_id,p_t_id,t_leg_prefix,Employment Group,gender,edu
0,6kaqzPZwvLgUnuUalhTx,55,72,K2Y1E1,AlÄ±ÅŸveriÅŸ,4.0,HayÄ±r,YÃ¼rÃ¼me,Tek,NaN,...,0.00000000Â° N,0.00000000Â° E,6kaqzPZwvLgUnuUalhTx-K2,Y1,E1,72Y1,K2,65+ Retired,Erkek,Ä°lkÃ¶ÄŸretim mezunu
1,6kaqzPZwvLgUnuUalhTx,56,72,K2Y2E1,Eve gidiÅŸ,4.0,HayÄ±r,YÃ¼rÃ¼me,Tek,NaN,...,41.09473358Â° N,29.08219721Â° E,6kaqzPZwvLgUnuUalhTx-K2,Y2,E1,72Y2,K2,65+ Retired,Erkek,Ä°lkÃ¶ÄŸretim mezunu
2,6v8e5FWFp6A0rG05P5U9,57,75,K1Y1E1,AlÄ±ÅŸveriÅŸ,2.0,HayÄ±r,YÃ¼rÃ¼me,Tek,NaN,...,41.05752300Â° N,28.86980000Â° E,6v8e5FWFp6A0rG05P5U9-K1,Y1,E1,75Y1,K1,Adult Unemployed,KadÄ±n,Ä°lkÃ¶ÄŸretim mezunu
3,6v8e5FWFp6A0rG05P5U9,58,75,K1Y2E1,Eve gidiÅŸ,2.0,HayÄ±r,YÃ¼rÃ¼me,Tek,NaN,...,0.00000000Â° N,0.00000000Â° E,6v8e5FWFp6A0rG05P5U9-K1,Y2,E1,75Y2,K1,Adult Unemployed,KadÄ±n,Ä°lkÃ¶ÄŸretim mezunu
4,NAVrD2WQ3YeXoDthyEdd,59,76,K1Y1E1,DiÄŸer,1.0,Evet,Belediye OtobÃ¼sÃ¼,Tek,NaN,...,41.01894170Â° N,29.05762980Â° E,NAVrD2WQ3YeXoDthyEdd-K1,Y1,E1,76Y1,K1,Adult Unemployed,Erkek,Ãœniversite mezun (Ã–n Lisans/Lisans)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245249,yycdcequtEDveWUJFuKs,2232413,"2,193,816",D1Y2E1,Eve gidiÅŸ,5.0,HayÄ±r,YÃ¼rÃ¼me,NaN,NaN,...,41.03134682Â° N,28.87287612Â° E,yycdcequtEDveWUJFuKs-nan,Y2,E1,193815_D1Y2,NaN,NaN,NaN,NaN
245250,DkuNiQYoJeBPg5AYCj6H,2232537,"2,193,965",D3Y1E1,Ä°ÅŸe gidiÅŸ,6.0,HayÄ±r,YÃ¼rÃ¼me,NaN,NaN,...,0.00000000Â° N,0.00000000Â° E,DkuNiQYoJeBPg5AYCj6H-nan,Y1,E1,193962_D3Y1,NaN,NaN,NaN,NaN
245251,Qj247VNWaMK7v1mFC14Y,2232626,"2,194,067",D4Y1E1,DiÄŸer,5.0,HayÄ±r,YÃ¼rÃ¼me,NaN,NaN,...,41.03269375Â° N,28.87494551Â° E,Qj247VNWaMK7v1mFC14Y-nan,Y1,E1,194063_D4Y1,NaN,NaN,NaN,NaN
245252,KwopuIgNhOqaYGT4F80V,2232685,"2,194,162",D1Y1E1,SaÄŸlÄ±k Kurumuna gidiÅŸ,3.0,HayÄ±r,Ã–zel AraÃ§,NaN,NaN,...,0.00000000Â° N,0.00000000Â° E,KwopuIgNhOqaYGT4F80V-nan,Y1,E1,194161_D1Y1,NaN,NaN,NaN,NaN
245253,XwWpqYcmU38QwYHXmDdW,2232722,"2,194,208",D1Y1E1,Ä°ÅŸe gidiÅŸ,5.0,HayÄ±r,Belediye OtobÃ¼sÃ¼,NaN,NaN,...,0.00000000Â° N,0.00000000Â° E,XwWpqYcmU38QwYHXmDdW-nan,Y1,E1,194207_D1Y1,NaN,NaN,NaN,NaN

###  District  Kolonunun OluÅŸturulmasÄ± (`trip` tablosuna eklenmesi)

In [5]:
df_ = df_.merge(dv[['hh_id', 'district']], on='hh_id', how='left')

In [6]:
len(df_)

245254

In [7]:
df_.head(1)

,hh_id,id,p_id,t_leg_id,purpose,weekly_trip_count,has_transfer,mode,acc_p,pc_reason,...,dest_lon,person_id,t_id,tl_id,p_t_id,t_leg_prefix,Employment Group,gender,edu,district
0,6kaqzPZwvLgUnuUalhTx,55,72,K2Y1E1,AlÄ±ÅŸveriÅŸ,4.0,HayÄ±r,YÃ¼rÃ¼me,Tek,NaN,...,0.00000000Â° E,6kaqzPZwvLgUnuUalhTx-K2,Y1,E1,72Y1,K2,65+ Retired,Erkek,Ä°lkÃ¶ÄŸretim mezunu,BEYKOZ

### ğŸ§¼ Ä°lÃ§e AdÄ± StandartlaÅŸtÄ±rma

Yolculuk verisindeki bazÄ± ilÃ§e adlarÄ± farklÄ± ÅŸekillerde yazÄ±lmÄ±ÅŸ olabilir.  
Ã–zellikle `"EYÃœP"` ismi `"EYÃœPSULTAN"` olarak gÃ¼ncellenmiÅŸtir.

In [8]:
df_["orig_dist"] = df_["orig_dist"].str.upper().replace("EYÃœP", "EYÃœPSULTAN")
df_["district"] = df_["district"].str.upper().replace("EYÃœP", "EYÃœPSULTAN")
df_["dest_dist"] = df_["dest_dist"].str.upper().replace("EYÃœP", "EYÃœPSULTAN")

In [9]:
df=df_

### ğŸš UlaÅŸÄ±m Modu Kategorilendirmesi

Yolculuk verilerindeki `mode` (ulaÅŸÄ±m tÃ¼rÃ¼) bilgisini daha genel kategorilere ayÄ±rmak amacÄ±yla sÄ±nÄ±flandÄ±rma yapÄ±lmÄ±ÅŸtÄ±r:

- **Public Transport**: Metro, otobÃ¼s, tramvay, vapur, Marmaray vb. tÃ¼m toplu taÅŸÄ±ma tÃ¼rleri  
- **Micromobility**: Bisiklet, paylaÅŸÄ±mlÄ± bisiklet/skuter gibi bireysel ve kÄ±sa mesafeli araÃ§lar  
- **Private Vehicle**: Ã–zel araÃ§, taksi, motosiklet, kurum aracÄ± gibi bireysel motorlu taÅŸÄ±tlar  
- **Service**: Servis araÃ§larÄ±  
- **Walking** durumlar

AÅŸaÄŸÄ±daki Python fonksiyonu ile `mode` sÃ¼tunundaki her bir deÄŸer uygun kategoriye atanmÄ±ÅŸ ve sonuÃ§ `mode_category` adlÄ± yeni bir kolona eklenmiÅŸtir.

In [10]:
# Kategori kÃ¼meleri
public_transport = {
    "Belediye OtobÃ¼sÃ¼", "Deniz Motoru", "Deniz OtobÃ¼sÃ¼ (IDO)", "Deniz Taksi", "DolmuÅŸ", "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±", "Marmaray", "Metro", "MetrobÃ¼s", "MinibÃ¼s",
    "Åehir HatlarÄ± Vapuru", "Teleferik", "Tramvay", "TÃ¼nel"
}
micromobility = {"Bisiklet", "PaylaÅŸÄ±mlÄ± Bisiklet", "Skuter", "PaylaÅŸÄ±mlÄ± Skuter"}
private_vehicle = {
    "Motosiklet", "Ã–zel AraÃ§", "PaylaÅŸÄ±mlÄ± AraÃ§", "Taksi", "KiralÄ±k AraÃ§", "Korsan Taksi", 
    "Kurum/ Firma AracÄ±", "DiÄŸer"
}
service = {"Servis"}
walking = {"YÃ¼rÃ¼me"}

# SÄ±nÄ±flandÄ±rma fonksiyonu
def classify_mode(mode):
    if mode in public_transport:
        return "Public Transport"
    elif mode in micromobility:
        return "Micromobility"
    elif mode in private_vehicle:
        return "Private Vehicle"
    elif mode in service:
        return "Service"
    elif mode in walking:
        return "Walking"
    else:
        return "Other"

# Yeni kolon olarak ekle
df["mode_category"] = df["mode"].apply(classify_mode)

### ğŸ§¾ Analiz Ä°Ã§in Gerekli KolonlarÄ±n SeÃ§ilmesi

Analiz sÃ¼recinde yalnÄ±zca gerekli olan deÄŸiÅŸkenlerin kullanÄ±lmasÄ± amacÄ±yla `df` veri Ã§erÃ§evesinden aÅŸaÄŸÄ±daki kolonlar seÃ§ilmiÅŸtir:

- Hane ve kiÅŸi bilgileri: `hh_id`, `p_id`, `id`, `t_leg_id`
- UlaÅŸÄ±m bilgileri: `mode`, `mode_category`, `purpose`, `start_time`, `end_time`, `waiting_time`
- Konum bilgileri: `orig_lat`, `orig_lon`, `dest_lat`, `dest_lon`, `orig_loc_type`, `dest_loc_type`
- Ä°lÃ§e bilgisi: `district`, `orig_dist`, `dest_dist`
- EriÅŸim ve eriÅŸim sonrasÄ± sÃ¼reler: `access_time`, `egress_time`

Bu kolonlar `selected_columns` listesiyle belirlenmiÅŸ ve `df_selected` adlÄ± yeni bir DataFrame oluÅŸturulmuÅŸtur.

In [11]:
# Ä°stenen kolonlarÄ± tanÄ±mla
selected_columns = [
    "hh_id", "id", "p_id","acc_p","person_id","t_leg_id", "purpose", "gender","mode","orig_lat","orig_lon","dest_lat","dest_lon","edu",
    "orig_loc_type", "orig_dist", "access_time", "egress_time","district","mode_category","Employment Group",
    "start_time", "waiting_time", "dest_loc_type", "dest_dist", "end_time",
]

# Belirtilen kolonlarÄ± iÃ§eren yeni DataFrame oluÅŸtur
df_selected = df[selected_columns].copy()
df_selected.head(1)

,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,mode,orig_lat,...,access_time,egress_time,district,mode_category,Employment Group,start_time,waiting_time,dest_loc_type,dest_dist,end_time
0,6kaqzPZwvLgUnuUalhTx,55,72,Tek,6kaqzPZwvLgUnuUalhTx-K2,K2Y1E1,AlÄ±ÅŸveriÅŸ,Erkek,YÃ¼rÃ¼me,41.09473358Â° N,...,0.0,0.0,BEYKOZ,Walking,65+ Retired,09:20,0.0,DÄ°ÄER,BEYKOZ,09:30

In [12]:
len(df_selected)

245254

### ğŸ•’ BaÅŸlangÄ±Ã§ ve BitiÅŸ Saatlerinde Manuel DÃ¼zeltmeler

Veri setinde bazÄ± yolculuklarÄ±n `start_time` ve `end_time` deÄŸerlerinde eksiklikler veya tutarsÄ±zlÄ±klar tespit edilmiÅŸtir.  
Bu nedenle aÅŸaÄŸÄ±daki `id` deÄŸerlerine sahip satÄ±rlar iÃ§in manuel zaman dÃ¼zeltmeleri yapÄ±lmÄ±ÅŸtÄ±r:

- Zaman bilgisi eksik olan ya da mantÄ±ksal sÄ±ra bozukluÄŸu gÃ¶steren yolculuklar belirlenmiÅŸtir.
- Her `id` iÃ§in doÄŸru baÅŸlangÄ±Ã§ (`start_time`) veya bitiÅŸ saati (`end_time`) atanmÄ±ÅŸtÄ±r.
- Bu dÃ¼zeltmeler, analizlerde zaman serisi hesaplamalarÄ±nÄ±n saÄŸlÄ±klÄ± yapÄ±labilmesini saÄŸlar.

Kod bloÄŸu iÃ§erisinde `df_selected.loc[...]` kullanÄ±larak doÄŸrudan ilgili satÄ±rlara yeni saat deÄŸerleri atanmÄ±ÅŸtÄ±r.

In [13]:
df_selected.loc[df_selected["id"] == "117,973", "end_time"] = "09:00"

df_selected.loc[df_selected["id"] == "167,245", "start_time"] = "13:00"
df_selected.loc[df_selected["id"] == "167,245", "end_time"] = "13:30"
df_selected.loc[df_selected["id"] == "167,246", "start_time"] = "13:30"



df_selected.loc[df_selected["id"] == "5,053", "end_time"] = "09:15"
df_selected.loc[df_selected["id"] == "5,054", "end_time"] = "09:45"
df_selected.loc[df_selected["id"] == "5,055", "start_time"] = "09:45"
df_selected.loc[df_selected["id"] == "5,055", "end_time"] = "10:10"


df_selected.loc[df_selected["id"] == "19,714", "end_time"] = "11:00"

df_selected.loc[df_selected["id"] == "40,806", "start_time"] = "13:30"
df_selected.loc[df_selected["id"] == "40,807", "end_time"] = "13:55"


df_selected.loc[df_selected["id"] == "44,618", "start_time"] = "07:00"
df_selected.loc[df_selected["id"] == "44,619", "end_time"] = "09:30"

df_selected.loc[df_selected["id"] == "53,395", "end_time"] = "09:00"

df_selected.loc[df_selected["id"] == "77,259", "end_time"] = "13:50"

df_selected.loc[df_selected["id"] == "87,614", "end_time"] = "11:00"

df_selected.loc[df_selected["id"] == "96,034", "start_time"] = "08:00"

df_selected.loc[df_selected["id"] == "114,721", "end_time"] = "07:45"

df_selected.loc[df_selected["id"] == "224,885", "end_time"] = "11:00"

### â±ï¸ Travel Time ve Vehicle Time HesaplanmasÄ±

Bu bÃ¶lÃ¼mde, her yolculuk iÃ§in `start_time` ve `end_time` deÄŸerlerine gÃ¶re toplam seyahat sÃ¼resi hesaplanmÄ±ÅŸtÄ±r:

- `travel_time`: YolculuÄŸun baÅŸlangÄ±Ã§ ve bitiÅŸ saatleri arasÄ±ndaki toplam sÃ¼re (dakika cinsinden)
    - EÄŸer `end_time` baÅŸlangÄ±Ã§ saatinden kÃ¼Ã§Ã¼kse (Ã¶rneÄŸin gece yarÄ±sÄ±nÄ± geÃ§tiyse), 1 gÃ¼n eklenerek hesaplama yapÄ±lÄ±r.
    - Eksik veya hatalÄ± saat verileri varsa hesaplama dÄ±ÅŸÄ± bÄ±rakÄ±lÄ±r.
- `vehicle_time`: `travel_time` deÄŸerinden ÅŸu sÃ¼reler Ã§Ä±karÄ±larak hesaplanÄ±r:
    - `access_time` (ulaÅŸÄ±m noktasÄ±na eriÅŸim sÃ¼resi)
    - `waiting_time` (bekleme sÃ¼resi)
    - `egress_time` (varÄ±ÅŸ noktasÄ±ndan nihai varÄ±ÅŸa geÃ§iÅŸ sÃ¼resi)

Bu sayede, yolculuklarÄ±n sadece araÃ§ iÃ§inde geÃ§irilen sÃ¼resi (`vehicle_time`) de belirlenmiÅŸ olur.

In [14]:
# Belirtilen sÃ¼tunlardaki NaN deÄŸerleri 0 ile doldur
df_selected[["access_time", "egress_time", "waiting_time"]] = df_selected[["access_time", "egress_time", "waiting_time"]].fillna(0)

from datetime import datetime, timedelta 
# SÃ¼re hesaplama fonksiyonu
def calculate_duration(start_str, end_str):
    time_format = "%H:%M"

    # EÄŸer veri eksikse None dÃ¶ndÃ¼r
    if pd.isna(start_str) or pd.isna(end_str):
        return None

    try:
        start = datetime.strptime(str(start_str), time_format)
        end = datetime.strptime(str(end_str), time_format)
    except ValueError:
        return None  # GeÃ§ersiz saat formatÄ± varsa atla

    if end < start:
        end += timedelta(days=1)  # Gece yarÄ±sÄ± aÅŸÄ±mÄ± iÃ§in

    return (end - start).total_seconds() / 60  # dakika

# Uygula
df_selected["travel_time"] = df_selected.apply(lambda row: calculate_duration(row["start_time"], row["end_time"]), axis=1)
df_selected["vehicle_time"] = df_selected["travel_time"] - df_selected["access_time"] - df_selected["waiting_time"] - df_selected["egress_time"]
df_selected.head(1)

,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,mode,orig_lat,...,district,mode_category,Employment Group,start_time,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time
0,6kaqzPZwvLgUnuUalhTx,55,72,Tek,6kaqzPZwvLgUnuUalhTx-K2,K2Y1E1,AlÄ±ÅŸveriÅŸ,Erkek,YÃ¼rÃ¼me,41.09473358Â° N,...,BEYKOZ,Walking,65+ Retired,09:20,0.0,DÄ°ÄER,BEYKOZ,09:30,10.0,10.0

In [15]:
len(df_selected)

245254

### ğŸ”— Yolculuk GruplarÄ±nÄ±n Etiketlenmesi (`same_p_and_k_y`)

Her bir bireyin (`p_id`) farklÄ± yolculuk serileri (`t_leg_id`) iÃ§inde yer almasÄ± mÃ¼mkÃ¼ndÃ¼r.  
Bu adÄ±mda, bireylerin aynÄ± yolculuk kÃ¼mesine ait olup olmadÄ±ÄŸÄ±nÄ± belirlemek iÃ§in iki aÅŸamalÄ± bir iÅŸlem yapÄ±lmÄ±ÅŸtÄ±r:

1. **`k_y_part` OluÅŸturulmasÄ±**:  
   - `t_leg_id` kolonundaki ifadeler `"KxYxEx"` yapÄ±sÄ±ndadÄ±r.
   - Buradan yalnÄ±zca `"KxYx"` kÄ±smÄ± alÄ±narak yeni bir `k_y_part` kolonu oluÅŸturulmuÅŸtur.

2. **Yolculuk Serisi Etiketleme (`same_p_and_k_y`)**:  
   - AynÄ± `p_id` ve `k_y_part` deÄŸerine sahip satÄ±rlar aynÄ± yolculuk grubudur.
   - `groupby(...).ngroup()` fonksiyonu ile her bir yolculuk serisi benzersiz bir sayÄ±sal etiket alÄ±r.
   - BÃ¶ylece her bireyin her yolculuk serisi ayrÄ± ayrÄ± takip edilebilir hale gelir.

SonuÃ§ olarak, `same_p_and_k_y` kolonu analizlerde yolculuk bazlÄ± gruplamalarÄ± kolaylaÅŸtÄ±rmak iÃ§in kullanÄ±lÄ±r.
apÄ±lmÄ±ÅŸtÄ±r.

In [16]:
import pandas as pd

# t_leg_id'nin 'KxYx' kÄ±smÄ±nÄ± al
df_selected["k_y_part"] = df_selected["t_leg_id"].str.extract(r'^(K\d+Y\d+)')

# p_id + k_y_part kombinasyonuna gÃ¶re gruplandÄ±r ve etiketle
df_selected["same_p_and_k_y"] = df_selected.groupby(["p_id", "k_y_part"]).ngroup()

# same_p_and_k_y kolonundaki tekrar sayÄ±mlarÄ±nÄ± al
group_sizes = df_selected["same_p_and_k_y"].value_counts()

# Her tekrar sayÄ±sÄ±nÄ±n kaÃ§ grupta gÃ¶rÃ¼ldÃ¼ÄŸÃ¼nÃ¼ hesapla
repeat_distribution = group_sizes.value_counts().sort_index()

# SonuÃ§larÄ± yazdÄ±r
for repeat_count, group_count in repeat_distribution.items():
    print(f"{repeat_count} kere tekrar eden grup sayÄ±sÄ±: {group_count}")

1 kere tekrar eden grup sayÄ±sÄ±: 230872
2 kere tekrar eden grup sayÄ±sÄ±: 4048
3 kere tekrar eden grup sayÄ±sÄ±: 557
4 kere tekrar eden grup sayÄ±sÄ±: 63

In [17]:
df_selected

,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,mode,orig_lat,...,Employment Group,start_time,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time,k_y_part,same_p_and_k_y
0,6kaqzPZwvLgUnuUalhTx,55,72,Tek,6kaqzPZwvLgUnuUalhTx-K2,K2Y1E1,AlÄ±ÅŸveriÅŸ,Erkek,YÃ¼rÃ¼me,41.09473358Â° N,...,65+ Retired,09:20,0.0,DÄ°ÄER,BEYKOZ,09:30,10.0,10.0,K2Y1,198914.0
1,6kaqzPZwvLgUnuUalhTx,56,72,Tek,6kaqzPZwvLgUnuUalhTx-K2,K2Y2E1,Eve gidiÅŸ,Erkek,YÃ¼rÃ¼me,0.00000000Â° N,...,65+ Retired,09:35,0.0,EV(SADECE Ä°KAMET EDÄ°LEN EV),BEYKOZ,09:40,5.0,5.0,K2Y2,198915.0
2,6v8e5FWFp6A0rG05P5U9,57,75,Tek,6v8e5FWFp6A0rG05P5U9-K1,K1Y1E1,AlÄ±ÅŸveriÅŸ,KadÄ±n,YÃ¼rÃ¼me,0.00000000Â° N,...,Adult Unemployed,11:00,0.0,DÄ°ÄER,ESENLER,11:15,15.0,15.0,K1Y1,202767.0
3,6v8e5FWFp6A0rG05P5U9,58,75,Tek,6v8e5FWFp6A0rG05P5U9-K1,K1Y2E1,Eve gidiÅŸ,KadÄ±n,YÃ¼rÃ¼me,0.00000000Â° N,...,Adult Unemployed,11:15,0.0,EV(SADECE Ä°KAMET EDÄ°LEN EV),ESENLER,11:25,10.0,10.0,K1Y2,202768.0
4,NAVrD2WQ3YeXoDthyEdd,59,76,Tek,NAVrD2WQ3YeXoDthyEdd-K1,K1Y1E1,DiÄŸer,Erkek,Belediye OtobÃ¼sÃ¼,41.09473358Â° N,...,Adult Unemployed,11:00,0.0,AKTARMA YERÄ°,BEYKOZ,12:05,65.0,60.0,K1Y1,204082.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245249,yycdcequtEDveWUJFuKs,2232413,"2,193,816",NaN,yycdcequtEDveWUJFuKs-nan,D1Y2E1,Eve gidiÅŸ,NaN,YÃ¼rÃ¼me,0.00000000Â° N,...,NaN,21:00,0.0,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,21:55,55.0,55.0,NaN,NaN
245250,DkuNiQYoJeBPg5AYCj6H,2232537,"2,193,965",NaN,DkuNiQYoJeBPg5AYCj6H-nan,D3Y1E1,Ä°ÅŸe gidiÅŸ,NaN,YÃ¼rÃ¼me,41.03251254Â° N,...,NaN,08:00,0.0,Ä°Å YERÄ°,GÃœNGÃ–REN,08:15,15.0,15.0,NaN,NaN
245251,Qj247VNWaMK7v1mFC14Y,2232626,"2,194,067",NaN,Qj247VNWaMK7v1mFC14Y-nan,D4Y1E1,DiÄŸer,NaN,YÃ¼rÃ¼me,41.03269375Â° N,...,NaN,12:00,0.0,EV(SADECE Ä°KAMET EDÄ°LEN EV),GÃœNGÃ–REN,12:30,30.0,30.0,NaN,NaN
245252,KwopuIgNhOqaYGT4F80V,2232685,"2,194,162",NaN,KwopuIgNhOqaYGT4F80V-nan,D1Y1E1,SaÄŸlÄ±k Kurumuna gidiÅŸ,NaN,Ã–zel AraÃ§,41.03234608Â° N,...,NaN,15:00,0.0,DÄ°ÄER,BAHÃ‡ELÄ°EVLER,16:45,105.0,95.0,NaN,NaN
245253,XwWpqYcmU38QwYHXmDdW,2232722,"2,194,208",NaN,XwWpqYcmU38QwYHXmDdW-nan,D1Y1E1,Ä°ÅŸe gidiÅŸ,NaN,Belediye OtobÃ¼sÃ¼,41.03350495Â° N,...,NaN,08:45,10.0,Ä°Å YERÄ°,GÃœNGÃ–REN,09:30,45.0,13.0,NaN,NaN

In [18]:
test = df_selected[df_selected["p_id"] == "86"]
test

,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,mode,orig_lat,...,Employment Group,start_time,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time,k_y_part,same_p_and_k_y
6,dV2PuzpWEz5mlnPX077J,61,86,Tek,dV2PuzpWEz5mlnPX077J-K3,K3Y1E1,Ä°ÅŸe gidiÅŸ,KadÄ±n,Belediye OtobÃ¼sÃ¼,0.00000000Â° N,...,Full Time,07:30,2.0,AKTARMA YERÄ°,BEÅÄ°KTAÅ,09:00,90.0,68.0,K3Y1,217175.0
7,dV2PuzpWEz5mlnPX077J,62,86,Tek,dV2PuzpWEz5mlnPX077J-K3,K3Y1E2,Ä°ÅŸe gidiÅŸ,KadÄ±n,Belediye OtobÃ¼sÃ¼,41.08704190Â° N,...,Full Time,18:00,10.0,Ä°Å YERÄ°,BEÅÄ°KTAÅ,20:00,120.0,90.0,K3Y1,217175.0

### ğŸ§¹ Seyahat SÃ¼resi Verilerinin Temizlenmesi

Veri setindeki `travel_time` ve `vehicle_time` kolonlarÄ± Ã¼zerinden aÅŸaÄŸÄ±daki temizlik iÅŸlemleri uygulanmÄ±ÅŸtÄ±r:

1. **Eksik `travel_time` Verilerinin Silinmesi**  
   - BaÅŸlangÄ±Ã§ (`start_time`) veya bitiÅŸ (`end_time`) verisi eksik olduÄŸunda `travel_time` hesaplanamaz.
   - Bu nedenle `travel_time` deÄŸeri **NaN** olan satÄ±rlar veri setinden Ã§Ä±karÄ±lmÄ±ÅŸtÄ±r.

2. **Negatif `vehicle_time` DeÄŸerlerinin Temizlenmesi**  
   - `vehicle_time`, `travel_time`'dan eriÅŸim (`access_time`), bekleme (`waiting_time`) ve varÄ±ÅŸ geÃ§iÅŸi (`egress_time`) sÃ¼relerinin Ã§Ä±karÄ±lmasÄ±yla elde edilir.
   - Teorik olarak bu deÄŸer negatif olamaz. Bu nedenle **0'dan kÃ¼Ã§Ã¼k** `vehicle_time` satÄ±rlarÄ± da silinmiÅŸtir.

3. **Eksik DeÄŸerlerin KontrolÃ¼**  
   - Temizlik sonrasÄ± hÃ¢lÃ¢ `access_time`, `egress_time`, `travel_time`, `vehicle_time` kolonlarÄ±nda eksik veri olup olmadÄ±ÄŸÄ± kontrol edilmiÅŸtir.

Bu adÄ±m sayesinde analizlerde hatalÄ± veya eksik sÃ¼relerden kaynaklÄ± sapmalarÄ±n Ã¶nÃ¼ne geÃ§ilmiÅŸtir.

In [19]:
df_selected = df_selected.dropna(subset=["same_p_and_k_y"])

# Ã–nce travel_time kolonunda eksik veri olan same_p_and_k_y deÄŸerlerini tespit et
groups_with_missing_tt = df_selected[df_selected["travel_time"].isna()]["same_p_and_k_y"].unique()

# Bu deÄŸerlere sahip tÃ¼m satÄ±rlarÄ± kaldÄ±r
df_selected = df_selected[~df_selected["same_p_and_k_y"].isin(groups_with_missing_tt)]


# 1. vehicle_time < 0 olan satÄ±rlardaki same_p_and_k_y deÄŸerlerini al
groups_with_negative_vt = df_selected[df_selected["vehicle_time"] < 0]["same_p_and_k_y"].unique()

# 2. Bu gruplara ait tÃ¼m satÄ±rlarÄ± kaldÄ±r
df_selected = df_selected[~df_selected["same_p_and_k_y"].isin(groups_with_negative_vt)]


# Her sÃ¼tunda kaÃ§ tane NaN (boÅŸ) deÄŸer olduÄŸunu kontrol et
print("Access Time NaN sayÄ±sÄ±:", df_selected["access_time"].isna().sum())
print("Egress Time NaN sayÄ±sÄ±:", df_selected["egress_time"].isna().sum())
print("Travel Time NaN sayÄ±sÄ±:", df_selected["travel_time"].isna().sum())
print("Vehicle Time NaN sayÄ±sÄ±:", df_selected["vehicle_time"].isna().sum())

Access Time NaN sayÄ±sÄ±: 0
Egress Time NaN sayÄ±sÄ±: 0
Travel Time NaN sayÄ±sÄ±: 0
Vehicle Time NaN sayÄ±sÄ±: 0

### ğŸš¦ Travel Time'a GÃ¶re Mode SeÃ§imi

Bu bÃ¶lÃ¼mde, yolculuk verilerinde `travel_time` hesaplamalarÄ± yapÄ±larak, ulaÅŸÄ±m modlarÄ±nÄ±n deÄŸerlendirilmesi ve seÃ§iminde kullanÄ±lacak temel veriler hazÄ±rlanmÄ±ÅŸtÄ±



Bu adÄ±mda, aynÄ± `same_p_and_k_y` etiketine sahip (yani aynÄ± kiÅŸi ve yolculuk kÃ¼mesine ait) satÄ±rlar gruplanarak, her grubun iÃ§erisindeki mod tÃ¼rleri ve seyahat sÃ¼releri ayrÄ± ayrÄ± sÃ¼tunlara aktarÄ±lmÄ±ÅŸtÄ±r:

- Ã–rneÄŸin: `mode_1`, `Travel_Time_1`, `mode_2`, `Travel_Time_2`, ...
- Bu yapÄ±, bir yolculuk iÃ§inde ardÄ±ÅŸÄ±k olarak kullanÄ±lan ulaÅŸÄ±m modlarÄ±nÄ± karÅŸÄ±laÅŸtÄ±rmalÄ± analiz etmeyi kolaylaÅŸtÄ±rÄ±r.
- Veriler `result_df` adlÄ± yeni bir DataFrame'de saklanmÄ±ÅŸtÄ±r.

Her satÄ±r artÄ±k bir yolculuk serisini temsil eder ve her mod tipi ile sÃ¼resi yatay eksende gÃ¶sterilir.
Ä±nÄ± saÄŸlar.

In [20]:
len(df_selected)

240800

In [21]:
df_selected['mode_order'] = df_selected.groupby('same_p_and_k_y').cumcount() + 1
# 3. Pivot iÅŸlemi ile her mod ve sÃ¼resini ayrÄ± kolona alalÄ±m
modes_pivot = df_selected.pivot(index='same_p_and_k_y', columns='mode_order', values='mode_category')
times_pivot = df_selected.pivot(index='same_p_and_k_y', columns='mode_order', values='travel_time')

# 4. Kolon adlarÄ±nÄ± dÃ¼zenleyelim
modes_pivot.columns = [f'mode_{i}' for i in modes_pivot.columns]
times_pivot.columns = [f'Travel_Time_{i}' for i in times_pivot.columns]

# 5. Ä°kisini birleÅŸtirelim
result_df = pd.concat([modes_pivot, times_pivot], axis=1).reset_index()
result_df.head(1)

,same_p_and_k_y,mode_1,mode_2,mode_3,mode_4,Travel_Time_1,Travel_Time_2,Travel_Time_3,Travel_Time_4
0,0.0,Walking,NaN,NaN,NaN,270.0,NaN,NaN,NaN

## ğŸ§  UlaÅŸÄ±m Modu SeÃ§imi: `mode_choice` Hesaplama

Her `same_p_and_k_y` grubuna ait ardÄ±ÅŸÄ±k ulaÅŸÄ±m modlarÄ± (`mode_1`, `mode_2`, ...) ve bu modlarÄ±n seyahat sÃ¼releri (`Travel_Time_1`, `Travel_Time_2`, ...) incelenerek en baskÄ±n ulaÅŸÄ±m modu belirlenmiÅŸtir. Bu karar, `mode_choice` kolonu olarak `result_df` veri setine eklenmiÅŸtir.

### ğŸ” Karar KurallarÄ±:

1. **TÃ¼m modlar aynÄ±ysa**: Direkt olarak o mod seÃ§ilir.  
2. **Belirli kombinasyonlar iÃ§in Ã¶ncelikli tercihler**:
   - `Walking + Service` â†’ **Service**
   - `Walking + Public Transport` â†’ **Public Transport**
   - `Walking + Private Vehicle` â†’ **Private Vehicle**
   - `Walking + Micromobility` â†’ **Micromobility**
   - `Service + Private Vehicle + Public Transport` â†’ **Public Transport**
   - `Service + Private Vehicle` â†’ **Private Vehicle**
   - `Private Vehicle + Public Transport` â†’ **Public Transport**
   - `Service + Public Transport` â†’ Hangisinin toplam `travel_time` deÄŸeri fazlhip mod seÃ§ilir.

Bu algoritma, karma yolculuk zincirleri iÃ§inde en etkili veya baskÄ±n ulaÅŸÄ±m modunu belirlemek amacÄ±yla geliÅŸtirilmiÅŸtir.

In [22]:
import pandas as pd
import numpy as np

def mode_decision(row):
    """Her satÄ±r iÃ§in mode_choice deÄŸerini dÃ¶ndÃ¼rÃ¼r."""
    # 1) SatÄ±rdaki modlarÄ± ve sÃ¼releri topla
    travel_totals = {}          # {'Public Transport': 85, 'Service': 42, ...}
    modes_list    = []          # tekrar edenler dÃ¢hil ['Walking', 'Service', ...]

    for i in range(1, 5):       # mode_1â€¦mode_4
        mode = row.get(f"mode_{i}")
        t    = row.get(f"Travel_Time_{i}")
        if pd.notna(mode):
            modes_list.append(mode)
            travel_totals[mode] = travel_totals.get(mode, 0) + (t if pd.notna(t) else 0)

    unique_modes = set(modes_list)

    # 2) TÃ¼m modlar aynÄ±ysa doÄŸrudan o modu seÃ§
    if len(unique_modes) == 1:
        return next(iter(unique_modes))

    # 3) TanÄ±mlÄ± kombinasyon kurallarÄ±
    if unique_modes == {"Walking", "Service"}:
        return "Service"
    if unique_modes == {"Walking", "Public Transport"}:
        return "Public Transport"
    if unique_modes == {"Walking", "Private Vehicle"}:
        return "Private Vehicle"
    if unique_modes == {"Walking", "Micromobility"}:
        return "Micromobility"

    if {"Service", "Private Vehicle", "Public Transport"}.issubset(unique_modes):
        return "Public Transport"
    if unique_modes == {"Service", "Private Vehicle"}:
        return "Private Vehicle"
    if unique_modes == {"Private Vehicle", "Public Transport"}:
        return "Public Transport"
    if unique_modes == {"Service", "Public Transport"}:
        # Hangisinin toplam travel timeâ€™Ä± fazlaysa onu seÃ§
        return (
            "Public Transport"
            if travel_totals.get("Public Transport", 0) >= travel_totals.get("Service", 0)
            else "Service"
        )

    # 4) Buraya dÃ¼ÅŸtÃ¼yse: en uzun toplam sÃ¼reye sahip mod
    return max(travel_totals, key=travel_totals.get)

# â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
# Yeni kolonun eklenmesi
result_df["mode_choice"] = result_df.apply(mode_decision, axis=1)
result_df.head(1)

,same_p_and_k_y,mode_1,mode_2,mode_3,mode_4,Travel_Time_1,Travel_Time_2,Travel_Time_3,Travel_Time_4,mode_choice
0,0.0,Walking,NaN,NaN,NaN,270.0,NaN,NaN,NaN,Walking

## ğŸ”— Mode Choice Bilgisinin Ana Veriye Eklenmesi

Ã–nceki adÄ±mda `result_df` veri Ã§erÃ§evesi Ã¼zerinde hesaplanan `mode_choice` bilgisi, her `same_p_and_k_y` grubu iÃ§in baskÄ±n ulaÅŸÄ±m modunu temsil eder.  
Bu adÄ±mda, bu bilgi tekrar `df_selected` veri setine aktarÄ±lmÄ±ÅŸtÄ±r:

- `same_p_and_k_y` kolonu Ã¼zerinden `result_df` ve `df_selected` birleÅŸtirilmiÅŸtir.
- BÃ¶ylece her yolculuk satÄ±rÄ±na karÅŸÄ±lÄ±k gelen `mode_choice` deÄŸeri eklenmiÅŸtir.

Bu iÅŸlem sayesinde, her yolculuk alt satÄ±rÄ±nÄ±n analizinde baskÄ±n ulaÅŸÄ±m tÃ¼rÃ¼ne gÃ¶re gruplayarak iÅŸlem yapÄ±labilir hÃ¢le gelinmiÅŸtir.

In [23]:
mode_choice_map = result_df[["same_p_and_k_y", "mode_choice"]]

# df_selected'e aynÄ± same_p_and_k_y'ye gÃ¶re mode_choice ekle
df_selected = df_selected.merge(mode_choice_map, on="same_p_and_k_y", how="left")

In [24]:
df_selected.head(1)

,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,mode,orig_lat,...,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time,k_y_part,same_p_and_k_y,mode_order,mode_choice
0,6kaqzPZwvLgUnuUalhTx,55,72,Tek,6kaqzPZwvLgUnuUalhTx-K2,K2Y1E1,AlÄ±ÅŸveriÅŸ,Erkek,YÃ¼rÃ¼me,41.09473358Â° N,...,0.0,DÄ°ÄER,BEYKOZ,09:30,10.0,10.0,K2Y1,198914.0,1,Walking

## ğŸ“Š Mode Choice DaÄŸÄ±lÄ±mÄ±nÄ±n HesaplanmasÄ± (Test-TripLeg)

Bu adÄ±mda, hesaplanan `mode_choice` kolonunun genel daÄŸÄ±lÄ±mÄ± analiz edilmiÅŸtir:

1. **Temizlik**  
   - `mode_choice` deÄŸeri `"Other"` olan satÄ±rlar analiz dÄ±ÅŸÄ± bÄ±rakÄ±lmÄ±ÅŸtÄ±r. Bu deÄŸer, belirli kurallara uymayan veya eksik verilerden oluÅŸan gruplarÄ± temsil eder.

2. **TekilleÅŸtirme**  
   - AynÄ± `same_p_and_k_y` deÄŸerine sahip tekrar eden satÄ±rlar kaldÄ±rÄ±larak, her yolculuk grubu yalnÄ±zca 1 kez temsil edilmiÅŸtir.

3. **YÃ¼zdelik DaÄŸÄ±lÄ±m**  
   - Kalan `mode_choice` deÄŸerlerinin oranlarÄ± yÃ¼zdelik olarak hesaplanmÄ±ÅŸ ve 2 ondalÄ±k basamaÄŸa yuvarlanmÄ±ÅŸtÄ±r.

Bu daÄŸÄ±lÄ±m, hangi ulaÅŸÄ±m modlarÄ±nÄ±n daha baskÄ±n kullanÄ±ldÄ±ÄŸÄ±nÄ± anlamak aÃ§Ä±sÄ±ndan Ã¶nemlidir.

In [25]:
df_selected = df_selected[df_selected['mode_choice'] != "Other"]
# Her same_p_and_k_y iÃ§in yalnÄ±zca 1 satÄ±r al
unique_modes = df_selected[['same_p_and_k_y', 'mode_choice']].drop_duplicates()
distribution_percent = unique_modes['mode_choice'].value_counts(normalize=True, dropna=False) * 100
print(distribution_percent.round(2))

mode_choice
Walking             53.28
Public Transport    19.58
Private Vehicle     18.64
Service              8.16
Micromobility        0.34
Name: proportion, dtype: float64

## â³ Yolculuk SÃ¼relerinin GruplandÄ±rÄ±lmasÄ± ve Ã–zetlenmesi

Bu bÃ¶lÃ¼mde yolculuk verileri (`df_selected`) Ã¼zerinde iki ana iÅŸlem yapÄ±lmÄ±ÅŸtÄ±r:

1. **Gruplama ve Toplama (`agg_df_4`)**  
   - Her `same_p_and_k_y` etiketi iÃ§in aÅŸaÄŸÄ±daki deÄŸerler **toplanmÄ±ÅŸtÄ±r**:
     - `travel_time`, `vehicle_time`, `access_time`, `egress_time`, `waiting_time`
   - AyrÄ±ca tanÄ±mlayÄ±cÄ± bilgilerden ilki (`district`, `p_id`, `id`) korunmuÅŸtur.  
   - SonuÃ§, gruplandÄ±rÄ±lmÄ±ÅŸ Ã¶zet veri Ã§erÃ§evesi **`agg_df_4`** olarak saklanmÄ±ÅŸtÄ±r.

2. **Travel Time AralÄ±k SÄ±nÄ±flandÄ±rmasÄ± (`travel_time_group`)**  
   - **0 â€“ 360+ dakika** aralÄ±ÄŸÄ±nda Ã¶zel kademeli sÄ±nÄ±flar tanÄ±mlanmÄ±ÅŸtÄ±r  
     (daha sÄ±k <30 dk aralÄ±klarÄ±, ardÄ±ndan 15 dkâ€™lÄ±k kademeler).  
   - `pd.cut()` ile her grubun toplam `travel_time` sÃ¼resi, **`travel_time_group`** kategorisine atanmÄ±ÅŸtÄ±r.
   - Ã–rnek etiketler:  
     - `0`, `0-1`, `1-5`, `5-10`, `10-15`, `15-20`, `20-25`, `25-30`,  
       `30-45`, `45-60`, â€¦ , `345-360`, `360+`.

Bu sÄ±nÄ±flandÄ±rma, farklÄ± yolculuk sÃ¼releri iÃ§in sayÄ±sal daÄŸÄ±lÄ±m analizi ve gÃ¶rselleÅŸtirmeyi kolaylaÅŸtÄ±rÄ±r.

In [26]:
import pandas as pd

# Ã–rnek olarak df_selected yÃ¼klÃ¼ varsayÄ±lÄ±yor
# df_selected = pd.read_csv("your_file.csv") gibi yÃ¼klenebilir

# Gruplama ve toplama iÅŸlemi
agg_df_4 = df_selected.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "district": "first",
    "p_id": "first",
    "id": "first"
    
})

# GÃ¼ncellenmiÅŸ travel_time gruplarÄ±: 15-30 yerine 15-20, 20-25, 25-30
bins = (
    [0, 1, 5, 10, 15, 20, 25, 30] + 
    list(range(45, 301, 15)) + 
    [315, 330, 345, 360, float('inf')]
)

# Etiketler (labels)
# Bins (aralÄ±k uÃ§larÄ±)
bins = (
    [0, 0.000001, 1, 5, 10, 15, 20, 25, 30] + 
    list(range(45, 301, 15)) + 
    [315, 330, 345, 360, float('inf')]
)

# Labels
labels = (
    ['0', '0-1', '1-5', '5-10', '10-15', '15-20', '20-25', '25-30'] + 
    [f"{i}-{i+15}" for i in range(30, 300, 15)] + 
    ['300-315', '315-330', '330-345', '345-360', '360+']
)

# travel_time deÄŸerlerini sÄ±nÄ±flandÄ±rma
agg_df_4["travel_time_group"] = pd.cut(agg_df_4["travel_time"], bins=bins, labels=labels, right=False)
agg_df_4.head(1)

,same_p_and_k_y,travel_time,vehicle_time,access_time,egress_time,waiting_time,district,p_id,id,travel_time_group
0,0.0,270.0,270.0,0.0,0.0,0.0,KADIKÃ–Y,"1,000,140",1000115,270-285

## âœ… GeÃ§erli Travel Time GruplarÄ±nÄ±n Filtrelenmesi

Bu adÄ±mda, sadece belirli aralÄ±klardaki yolculuk sÃ¼relerine sahip gruplar analiz iÃ§in seÃ§ilmiÅŸtir.

### ğŸ¯ SeÃ§ilen SÃ¼re GruplarÄ±:
`1-5`, `5-10`, `10-15`, `15-20`, `20-25`, `25-30`,  
`30-45`, `45-60`, `60-75`, `75-90`, `90-105`, `105-120`,  
`120-135`, `135-150`, `150-165`, `165-180`, `180-195`,  
`195-210`, `210-225`, `225-240`

Bu aralÄ±klar, hem kÄ±sa hem de orta/uzun mesafeli yolculuklarÄ± kapsayan **dengeli bir daÄŸÄ±lÄ±m** saÄŸlar.  
AmaÃ§, veri dÄ±ÅŸlayÄ±cÄ± uÃ§ deÄŸerlerden (Ã¶rneÄŸin: 0-1 dakika veya 360+ dakika) arÄ±ndÄ±rÄ±lmÄ±ÅŸ, analiz iÃ§in gÃ¼venilir bir Ã¶rneklem elde etmektir.

SonuÃ§, `agg_df_4_filtered` adlÄ± yeni veri Ã§erÃ§evesinde saklanmÄ±ÅŸtÄ±r.

In [27]:
gecerli_gruplar = [
    "1-5", "5-10", "10-15", "15-20", "20-25", "25-30", "30-45",
    "45-60", "60-75", "75-90", "90-105", "105-120", "120-135",
    "135-150", "150-165", "165-180", "180-195", "195-210", 
    "210-225", "225-240"
]

# Sadece belirtilen travel_time_group deÄŸerlerine sahip satÄ±rlarÄ± al
agg_df_4_filtered = agg_df_4[agg_df_4["travel_time_group"].isin(gecerli_gruplar)]

# 1. agg_df_4_filtered'deki geÃ§erli same_p_and_k_y deÄŸerlerini al
gecerli_idler = agg_df_4_filtered["same_p_and_k_y"].unique()
# 2. df_selected'da sadece bu id'lere sahip satÄ±rlarÄ± tut
df_selected_v2 = df_selected[df_selected["same_p_and_k_y"].isin(gecerli_idler)]
df_selected_v2.head(1)

,hh_id,id,p_id,acc_p,person_id,t_leg_id,purpose,gender,mode,orig_lat,...,waiting_time,dest_loc_type,dest_dist,end_time,travel_time,vehicle_time,k_y_part,same_p_and_k_y,mode_order,mode_choice
0,6kaqzPZwvLgUnuUalhTx,55,72,Tek,6kaqzPZwvLgUnuUalhTx-K2,K2Y1E1,AlÄ±ÅŸveriÅŸ,Erkek,YÃ¼rÃ¼me,41.09473358Â° N,...,0.0,DÄ°ÄER,BEYKOZ,09:30,10.0,10.0,K2Y1,198914.0,1,Walking

<h1 style="color:#2E86C1; font-size:32px;">ğŸ“Š ANALÄ°Z AÅAMASI</h1>

---

ğŸ¯ **Bu bÃ¶lÃ¼m, Ã§alÄ±ÅŸmanÄ±n en kritik kÄ±smÄ±dÄ±r.**  
Ã–n iÅŸleme ve veri temizliÄŸi baÅŸarÄ±yla tamamlandÄ±. ArtÄ±k temiz ve gÃ¼venilir veri kÃ¼mesi ile iÃ§gÃ¶rÃ¼ Ã¼retmeye hazÄ±laÅŸtÄ±rmasÄ±

ğŸ“Œ Her analiz bloÄŸu **adÄ±m adÄ±m aÃ§Ä±klanacak**, gerekli gÃ¶rÃ¼len noktalarda **grafikler ve tablolarla** destekkte keÅŸfedelim.

<span style="font-size:22pt; color:red;"><b>Figure 85. Travel Time based on Mode (Simplified) (Ä°stanbul SUMP Stage II HTS)</b></span>

### â±ï¸ SÃ¼re BileÅŸenlerinin AyrÄ±ÅŸtÄ±rÄ±lmasÄ± ve Dengeleme

Bu adÄ±m, her **yolculuk grubunun** (`same_p_and_k_y`, `mode_category`) toplam seyahat sÃ¼resini bileÅŸenlerine ayÄ±rÄ±r ve tutarsÄ±zlÄ±klarÄ± dÃ¼zeltir.

### AdÄ±mlar
1. **`id_int` Temizleme**  
   VirgÃ¼llÃ¼ `id` deÄŸerleri temizlenip tam sayÄ±ya (`int`) dÃ¶nÃ¼ÅŸtÃ¼rÃ¼ldÃ¼.  
   Bu, kronolojik sÄ±ralama iÃ§in gereklidir.

2. **Ã–zel Toplama Fonksiyonu (`custom_agg`)**  
   - **Toplamlar**â€ƒ`travel_time`, `vehicle_time`, `waiting_time`  
   - **Access Time**â€ƒEn kÃ¼Ã§Ã¼k `id_int` satÄ±rÄ±ndan alÄ±nÄ±r.  
   - **Egress Time**â€ƒEn bÃ¼yÃ¼k `id_int` satÄ±rÄ±ndan alÄ±nÄ±r.  
   - **Transfer Time**â€ƒGrup iÃ§indeki **ilk (n âˆ’ 1)** satÄ±rÄ±n `egress_time` toplamÄ±.

3. **Gruplama**  
   `same_p_and_k_y` âœ• `mode_category` dÃ¼zeyinde `custom_agg` uygulanarak **`PT`** tablosu oluÅŸturuldu.

4. **Fark KontrolÃ¼ ve Dengeleme**  
   - `difference` = `travel_time` âˆ’ (diÄŸer bileÅŸenlerin toplamÄ±)  
   - EÄŸer `difference` > 0 ise bu tutarsÄ±zlÄ±k **`vehicle_time`**â€™a eklenerek denge saÄŸlandÄ±.  
   - Son olarak `difference` sÃ¼tunu kaldÄ±rÄ±ldÄ±.

> Bu iÅŸlem, sÃ¼re bileÅŸenlerinin mantÄ±ksal tutarlÄ±lÄ±ÄŸÄ±nÄ± garanti eder ve sonraki analiz adÄ±mlarÄ±nda gÃ¼venilir sonuÃ§lar elde edilmesini saÄŸlar.

In [28]:
import pandas as pd

# id kolonunu temizle: string'e Ã§evir, virgÃ¼lÃ¼ kaldÄ±r, int'e Ã§evir
df_selected_v2['id_int'] = (
    df_selected_v2['id']
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(int)
)

# Ã–zel gruplama fonksiyonu tanÄ±mÄ±
def custom_agg(group):
    travel_time_sum = group['travel_time'].sum()
    vehicle_time_sum = group['vehicle_time'].sum()
    waiting_time_sum = group['waiting_time'].sum()
    
    # access_time â†’ en kÃ¼Ã§Ã¼k id'ye sahip satÄ±r
    access_row = group.loc[group['id_int'].idxmin()]
    access_time_value = access_row['access_time']
    
    # egress_time â†’ en bÃ¼yÃ¼k id'ye sahip satÄ±r
    egress_row = group.loc[group['id_int'].idxmax()]
    egress_time_value = egress_row['egress_time']
    
    # transfer_time â†’ ilk (n-1) egress_time toplamÄ±
    group_sorted = group.sort_values(by='id_int')
    n_rows = len(group_sorted)
    
    if n_rows == 1:
        transfer_time_value = 0
    else:
        transfer_time_value = group_sorted.iloc[:-1]['egress_time'].sum()
    
    return pd.Series({
        'travel_time': travel_time_sum,
        'vehicle_time': vehicle_time_sum,
        'waiting_time': waiting_time_sum,
        'access_time': access_time_value,
        'egress_time': egress_time_value,
        'transfer_time': transfer_time_value
    })

# Gruplama: same_p_and_k_y ve mode_category'ye gÃ¶re
PT = df_selected_v2.groupby(['same_p_and_k_y', 'mode_category']).apply(custom_agg).reset_index()

# FarkÄ± hesapla: travel_time ile bileÅŸenlerin toplamÄ± arasÄ±nda fark
PT['difference'] = (
    PT['travel_time']
    - PT['vehicle_time']
    - PT['waiting_time']
    - PT['access_time']
    - PT['egress_time']
    - PT['transfer_time']
)

# EÄŸer fark > 0 ise vehicle_time'a ekle
PT.loc[PT['difference'] > 0, 'vehicle_time'] += PT['difference']

# difference kolonunu kaldÄ±r
PT = PT.drop(columns=['difference'])

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\1447449726.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2['id_int'] = (

### ğŸš Toplu TaÅŸÄ±ma YolculuklarÄ± iÃ§in Ortalama SÃ¼re BileÅŸenleri

Bu analizde, yalnÄ±zca **Public Transport** (toplu taÅŸÄ±ma) iÃ§eren yolculuk gruplarÄ± filtrelenerek, aÅŸaÄŸÄ±daki sÃ¼re bileÅŸenlerinin **ortalama deÄŸerleri** hesaplanmÄ±ÅŸtÄ±r:

- **travel_time**: Toplam seyahat sÃ¼resi  
- **vehicle_time**: AraÃ§ iÃ§inde geÃ§irilen sÃ¼re  
- **access_time**: Toplu taÅŸÄ±maya eriÅŸim sÃ¼resi  
- **egress_time**: Toplu taÅŸÄ±madan indikten sonraki ulaÅŸÄ±m sÃ¼resi  
- **waiting_time**: DuraÄŸa/istasyona ulaÅŸtÄ±ktan sonra araÃ§ bekleme sÃ¼resi  
- **transfer_time**: Aktarma yapÄ±lan duraklarda geÃ§irilen sÃ¼re

SonuÃ§lar `pt_means` tablosunda yer almakta olup, tÃ¼m deÄŸerler **dakika cinsindendir** ve **1 ondalÄ±k basamak** ile yuvarlanmÄ±ÅŸtÄ±r.

Bu Ã¶zet, toplu taÅŸÄ±ma kullanÄ±cÄ±larÄ±nÄ±n zamanlarÄ±nÄ±n ne kadarÄ±nÄ± doÄŸrudan araÃ§ta, ne kadarÄ±nÄ± eriÅŸim-bekleme-aktarma gibi dÄ±ÅŸ faktÃ¶rlerle geÃ§irdiÄŸini anlamaya yardÄ±mcÄ± olur.

In [29]:
pt_means = (PT[PT['mode_category'] == 'Public Transport']
            .groupby("mode_category")[[
                "travel_time",
                "vehicle_time",
                "access_time",
                "egress_time",
                "waiting_time",
                "transfer_time"
            ]]
            .mean()
            .round(1)
            .reset_index())
pt_means

,mode_category,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
0,Public Transport,52.9,33.0,6.2,6.8,6.5,0.4

In [30]:
# transfer_time > 0 olan satÄ±rlarÄ± filtrele
pt_with_transfer = PT[
    (PT["mode_category"] == "Public Transport") &
    (PT["transfer_time"] > 0)
]

# Ortalama deÄŸerleri hesapla
pt_transfer_mean = pt_with_transfer[[
    "transfer_time"
]].mean().round(1)
pt_transfer_mean

transfer_time    4.4
dtype: float64

### ğŸš¶â€â™€ï¸ Alternatif UlaÅŸÄ±m ModlarÄ± iÃ§in Ortalama SÃ¼re BileÅŸenleri

Toplu taÅŸÄ±ma dÄ±ÅŸÄ±ndaki ulaÅŸÄ±m modlarÄ± iÃ§in (Service, Private Vehicle, Walking, Micromobility) **ortalama sÃ¼re bileÅŸenleri** hesaplanmÄ±ÅŸtÄ±r.

### ğŸ” Ä°ncelenen Modlar:
- **Service** (Servis aracÄ±)
- **Private Vehicle** (Ã–zel araÃ§, taksi, motosiklet vb.)
- **Walking** (Yaya)
- **Micromobility** (Bisiklet, skuter, paylaÅŸÄ±mlÄ± skuter)

### ğŸ“Š Hesaplanan Ortalama DeÄŸerler:
- **travel_time**: Toplam seyahat sÃ¼resi  
- **vehicle_time**: AraÃ§ta/yolda geÃ§irilen aktif sÃ¼re  
- **access_time**: BaÅŸlangÄ±Ã§ noktasÄ±na ulaÅŸÄ±m sÃ¼resi  
- **egress_time**: VarÄ±ÅŸ noktasÄ±ndan hedefe eriÅŸim sÃ¼resi  
- **waiting_time**: BaÅŸlamadan Ã¶nce beklenen sÃ¼re

SonuÃ§lar, her mod iÃ§in bu bileÅŸenlerin **ortalama deÄŸerleri** ile `means` tablosunda sunulmuÅŸtur (dakika cinsinden, 1 ondalÄ±k basamakla).

In [31]:
# Ä°stediÄŸimiz mode_category'leri seÃ§elim
selected_modes = ['Service', 'Private Vehicle', 'Walking','Micromobility']

# Filtrele ve ortalamalarÄ± hesapla
means = (df_selected_v2[df_selected_v2['mode_category'].isin(selected_modes)]
            .groupby("mode_category")[[
                "travel_time",
                "vehicle_time",
                "access_time",
                "egress_time",
                "waiting_time",
            ]]
            .mean()
            .round(1)
            .reset_index())
means

,mode_category,travel_time,vehicle_time,access_time,egress_time,waiting_time
0,Micromobility,27.5,27.4,0.0,0.1,0.0
1,Private Vehicle,37.5,32.8,2.0,2.6,0.1
2,Service,45.3,38.0,2.4,2.9,2.0
3,Walking,17.3,17.3,0.0,0.0,0.0

### ğŸš¶â€â™€ï¸ Alternatif UlaÅŸÄ±m ModlarÄ± iÃ§in Ortalama SÃ¼re BileÅŸenleri SADECE Ä°STANBUL

In [32]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# df_selected_v2'yi deÄŸiÅŸtirmeden, filtrelenmiÅŸ yeni bir DataFrame oluÅŸtur
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# id kolonunu temizle: string'e Ã§evir, virgÃ¼lÃ¼ kaldÄ±r, int'e Ã§evir
df_filtered['id_int'] = (
    df_filtered['id']
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(int)
)

# Ã–zel gruplama fonksiyonu tanÄ±mÄ±
def custom_agg(group):
    travel_time_sum = group['travel_time'].sum()
    vehicle_time_sum = group['vehicle_time'].sum()
    waiting_time_sum = group['waiting_time'].sum()
    
    access_row = group.loc[group['id_int'].idxmin()]
    access_time_value = access_row['access_time']
    
    egress_row = group.loc[group['id_int'].idxmax()]
    egress_time_value = egress_row['egress_time']
    
    group_sorted = group.sort_values(by='id_int')
    n_rows = len(group_sorted)
    
    if n_rows == 1:
        transfer_time_value = 0
    else:
        transfer_time_value = group_sorted.iloc[:-1]['egress_time'].sum()
    
    return pd.Series({
        'travel_time': travel_time_sum,
        'vehicle_time': vehicle_time_sum,
        'waiting_time': waiting_time_sum,
        'access_time': access_time_value,
        'egress_time': egress_time_value,
        'transfer_time': transfer_time_value
    })

# Gruplama: same_p_and_k_y ve mode_category'ye gÃ¶re
PT = df_filtered.groupby(['same_p_and_k_y', 'mode_category']).apply(custom_agg).reset_index()

# travel_time ile bileÅŸenlerin toplamÄ± arasÄ±ndaki farkÄ± hesapla
PT['difference'] = (
    PT['travel_time']
    - PT['vehicle_time']
    - PT['waiting_time']
    - PT['access_time']
    - PT['egress_time']
    - PT['transfer_time']
)

# EÄŸer fark > 0 ise vehicle_time'a ekle
PT.loc[PT['difference'] > 0, 'vehicle_time'] += PT['difference']

# difference kolonunu kaldÄ±r
PT = PT.drop(columns=['difference'])

In [33]:
pt_means = (PT[PT['mode_category'] == 'Public Transport']
            .groupby("mode_category")[[
                "travel_time",
                "vehicle_time",
                "access_time",
                "egress_time",
                "waiting_time",
                "transfer_time"
            ]]
            .mean()
            .round(2)
            .reset_index())
pt_means

,mode_category,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
0,Public Transport,53.2,33.21,6.26,6.86,6.49,0.38

In [34]:
# transfer_time > 0 olan satÄ±rlarÄ± filtrele
pt_with_transfer = PT[
    (PT["mode_category"] == "Public Transport") &
    (PT["transfer_time"] > 0)
]

# Ortalama deÄŸerleri hesapla
pt_transfer_mean = pt_with_transfer[[
    "transfer_time"
]].mean().round(1)
pt_transfer_mean

transfer_time    4.4
dtype: float64

In [35]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§elerine gÃ¶re filtreleme
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)]

# Ä°stediÄŸimiz mode_category'leri seÃ§elim
selected_modes = ['Service', 'Private Vehicle', 'Walking', 'Micromobility']

# Filtrele ve ortalamalarÄ± hesapla
means = (
    df_filtered[df_filtered['mode_category'].isin(selected_modes)]
    .groupby("mode_category")[[
        "travel_time",
        "vehicle_time",
        "access_time",
        "egress_time",
        "waiting_time",
    ]]
    .mean()
    .round(2)
    .reset_index()
)

means

,mode_category,travel_time,vehicle_time,access_time,egress_time,waiting_time
0,Micromobility,27.66,27.56,0.02,0.08,0.00
1,Private Vehicle,37.78,33.04,2.00,2.62,0.13
2,Service,46.45,39.17,2.34,2.86,2.08
3,Walking,17.37,17.37,0.00,0.00,0.00

<span style="font-size:22pt; color:red;"><b>Mode KÄ±rÄ±mlarÄ± Ä°Ã§in  Tablo</b></span>

###

In [36]:
agg_df_5 = df_selected_v2.groupby(["same_p_and_k_y", "mode"], as_index=False).agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "district": "first",
    "p_id": "first",
    "id": "first"
})
agg_df_5.head(1)

,same_p_and_k_y,mode,travel_time,vehicle_time,access_time,egress_time,waiting_time,district,p_id,id
0,1.0,YÃ¼rÃ¼me,15.0,15.0,0.0,0.0,0.0,GÃœNGÃ–REN,"1,000,168",1000143

<span style="font-size:22pt; color:red;"><b>Figure 86. Distribution of In Travel Times by Transportation Modes (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [37]:
# Travel time iÃ§in gruplar belirleniyor
bins = [0, 10, 20, 30, 40, 50, 60, float("inf")]
labels = ["0-10", "10-20", "20-30", "30-40", "40-50", "50-60", "60+"]

# travel_time deÄŸerlerini sÄ±nÄ±flandÄ±r
df_selected_v2["travel_time_group"] = pd.cut(df_selected_v2["travel_time"], bins=bins, labels=labels, right=False)

# mode ve travel_time_group'a gÃ¶re sayÄ±m yap
grouped_counts = df_selected_v2.groupby(["mode", "travel_time_group"]).size().unstack(fill_value=0)

# Sonucu gÃ¶ster
from IPython.display import display
display(grouped_counts)

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\291722006.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2["travel_time_group"] = pd.cut(df_selected_v2["travel_time"], bins=bins, labels=labels, right=False)

travel_time_group,0-10,10-20,20-30,30-40,40-50,50-60,60+
mode,,,,,,,
Belediye OtobÃ¼sÃ¼,41,658,2415,5340,4460,2149,10294
Bisiklet,34,304,80,104,22,7,99
Deniz Motoru,0,0,3,5,2,1,12
Deniz OtobÃ¼sÃ¼ (IDO),0,2,3,4,10,3,11
Deniz Taksi,0,0,0,0,0,0,1
DiÄŸer,7,54,41,102,33,4,66
DolmuÅŸ,3,63,246,506,341,99,360
FÃ¼nikÃ¼ler,0,0,2,2,1,0,1
HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±,0,1,0,2,1,2,3
KiralÄ±k AraÃ§,0,10,7,19,10,4,36
Korsan Taksi,1,3,7,6,11,5,32
Kurum/ Firma AracÄ±,50,297,340,567,310,78,657
Marmaray,2,52,249,521,544,229,790
Metro,20,290,1188,2324,1799,673,2399
MetrobÃ¼s,3,70,236,716,726,377,1950
MinibÃ¼s,3,310,1050,2056,1018,300,1246
Motosiklet,85,331,234,305,99,23,108
PaylaÅŸÄ±mlÄ± AraÃ§,5,65,54,86,45,4,105
PaylaÅŸÄ±mlÄ± Bisiklet,0,2,1,0,0,0,0
PaylaÅŸÄ±mlÄ± Skuter,2,13,5,3,0,0,0
Servis,79,1500,2505,4842,3064,1267,5959
Skuter,14,29,27,31,4,4,11
Taksi,19,266,379,428,165,61,360
Teleferik,0,0,0,1,2,0,1
Tramvay,2,73,318,664,409,162,455
TÃ¼nel,0,0,1,1,0,0,0
YÃ¼rÃ¼me,20899,63818,18815,14781,2101,611,3656
Ã–zel AraÃ§,989,6920,6627,9161,4430,1447,8209
Åehir HatlarÄ± Vapuru,0,4,12,33,26,9,62

In [38]:
grouped_transposed = grouped_counts.T

# 2. Indexleri sÄ±fÄ±rla (mode sÃ¼tunu yeniden gelir)
grouped_transposed_reset = grouped_transposed.reset_index()
grouped_transposed_reset.to_excel("figure86.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 87. Access Time Distribution by Transportation Modes (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [39]:
# Travel time iÃ§in gruplar belirleniyor
bins = [0, 10, 20, 30, 40, 50, 60, float("inf")]
labels = ["0-10", "10-20", "20-30", "30-40", "40-50", "50-60", "60+"]

# travel_time deÄŸerlerini sÄ±nÄ±flandÄ±r
df_selected_v2["acces_group"] = pd.cut(df_selected_v2["access_time"], bins=bins, labels=labels, right=False)

# mode ve travel_time_group'a gÃ¶re sayÄ±m yap
grouped_counts_2 = df_selected_v2.groupby(["mode", "acces_group"]).size().unstack(fill_value=0)

# Sonucu gÃ¶ster
from IPython.display import display
display(grouped_counts_2)

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\2309693449.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2["acces_group"] = pd.cut(df_selected_v2["access_time"], bins=bins, labels=labels, right=False)

acces_group,0-10,10-20,20-30,30-40,40-50,50-60,60+
mode,,,,,,,
Belediye OtobÃ¼sÃ¼,19888,5182,250,29,5,1,2
Bisiklet,650,0,0,0,0,0,0
Deniz Motoru,12,6,3,2,0,0,0
Deniz OtobÃ¼sÃ¼ (IDO),20,11,2,0,0,0,0
Deniz Taksi,1,0,0,0,0,0,0
DiÄŸer,297,10,0,0,0,0,0
DolmuÅŸ,1279,323,13,3,0,0,0
FÃ¼nikÃ¼ler,6,0,0,0,0,0,0
HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±,6,2,1,0,0,0,0
KiralÄ±k AraÃ§,76,10,0,0,0,0,0
Korsan Taksi,65,0,0,0,0,0,0
Kurum/ Firma AracÄ±,2264,35,0,0,0,0,0
Marmaray,1299,945,124,17,2,0,0
Metro,5834,2634,190,29,3,1,2
MetrobÃ¼s,2233,1565,236,40,3,0,1
MinibÃ¼s,5112,824,38,9,0,0,0
Motosiklet,1173,9,3,0,0,0,0
PaylaÅŸÄ±mlÄ± AraÃ§,362,2,0,0,0,0,0
PaylaÅŸÄ±mlÄ± Bisiklet,3,0,0,0,0,0,0
PaylaÅŸÄ±mlÄ± Skuter,23,0,0,0,0,0,0
Servis,18398,778,33,6,1,0,0
Skuter,120,0,0,0,0,0,0
Taksi,1622,51,4,1,0,0,0
Teleferik,3,1,0,0,0,0,0
Tramvay,1459,599,23,1,1,0,0
TÃ¼nel,1,1,0,0,0,0,0
YÃ¼rÃ¼me,124681,0,0,0,0,0,0
Ã–zel AraÃ§,37219,536,13,4,3,5,3
Åehir HatlarÄ± Vapuru,69,55,15,7,0,0,0

In [40]:
grouped_transposed_2= grouped_counts_2.T

# 2. Indexleri sÄ±fÄ±rla (mode sÃ¼tunu yeniden gelir)
grouped_transposed_reset_2= grouped_transposed_2.reset_index()
grouped_transposed_reset_2.to_excel("acces_time.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 88. Egress Time Distribution by Transportation Modes (Ä°stanbul SUMP Stage II HTS)</b></span>


###

In [41]:
# Travel time iÃ§in gruplar belirleniyor
bins = [0, 10, 20, 30, 40, 50, 60, float("inf")]
labels = ["0-10", "10-20", "20-30", "30-40", "40-50", "50-60", "60+"]

# travel_time deÄŸerlerini sÄ±nÄ±flandÄ±r
df_selected_v2["egress_group"] = pd.cut(df_selected_v2["egress_time"], bins=bins, labels=labels, right=False)

# mode ve travel_time_group'a gÃ¶re sayÄ±m yap
grouped_counts_3 = df_selected_v2.groupby(["mode", "egress_group"]).size().unstack(fill_value=0)

# Sonucu gÃ¶ster
from IPython.display import display
display(grouped_counts_3)

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\1225928935.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2["egress_group"] = pd.cut(df_selected_v2["egress_time"], bins=bins, labels=labels, right=False)

egress_group,0-10,10-20,20-30,30-40,40-50,50-60,60+
mode,,,,,,,
Belediye OtobÃ¼sÃ¼,19274,5619,337,80,34,7,6
Bisiklet,650,0,0,0,0,0,0
Deniz Motoru,10,8,3,2,0,0,0
Deniz OtobÃ¼sÃ¼ (IDO),14,17,1,1,0,0,0
Deniz Taksi,1,0,0,0,0,0,0
DiÄŸer,275,14,6,8,2,0,2
DolmuÅŸ,1263,328,21,5,1,0,0
FÃ¼nikÃ¼ler,5,1,0,0,0,0,0
HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±,4,4,1,0,0,0,0
KiralÄ±k AraÃ§,77,5,4,0,0,0,0
Korsan Taksi,65,0,0,0,0,0,0
Kurum/ Firma AracÄ±,2242,47,2,6,1,1,0
Marmaray,1203,987,159,27,8,2,1
Metro,5713,2709,226,33,6,5,1
MetrobÃ¼s,2140,1615,266,44,7,2,4
MinibÃ¼s,5011,916,44,8,1,0,3
Motosiklet,1145,29,4,6,1,0,0
PaylaÅŸÄ±mlÄ± AraÃ§,355,7,2,0,0,0,0
PaylaÅŸÄ±mlÄ± Bisiklet,2,0,1,0,0,0,0
PaylaÅŸÄ±mlÄ± Skuter,23,0,0,0,0,0,0
Servis,18160,899,81,36,21,5,14
Skuter,120,0,0,0,0,0,0
Taksi,1591,76,6,3,1,1,0
Teleferik,2,2,0,0,0,0,0
Tramvay,1431,614,33,3,2,0,0
TÃ¼nel,1,1,0,0,0,0,0
YÃ¼rÃ¼me,124677,2,2,0,0,0,0
Ã–zel AraÃ§,36740,841,87,57,19,9,30
Åehir HatlarÄ± Vapuru,66,62,11,6,1,0,0

In [42]:
grouped_transposed_3= grouped_counts_3.T

# 2. Indexleri sÄ±fÄ±rla (mode sÃ¼tunu yeniden gelir)
grouped_transposed_reset_3= grouped_transposed_3.reset_index()
grouped_transposed_reset_3.head(1)

mode,egress_group,Belediye OtobÃ¼sÃ¼,Bisiklet,Deniz Motoru,Deniz OtobÃ¼sÃ¼ (IDO),Deniz Taksi,DiÄŸer,DolmuÅŸ,FÃ¼nikÃ¼ler,HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±,...,PaylaÅŸÄ±mlÄ± Skuter,Servis,Skuter,Taksi,Teleferik,Tramvay,TÃ¼nel,YÃ¼rÃ¼me,Ã–zel AraÃ§,Åehir HatlarÄ± Vapuru
0,0-10,19274,650,10,14,1,275,1263,5,4,...,23,18160,120,1591,2,1431,1,124677,36740,66

<span style="font-size:22pt; color:red;"><b>Figure 89. In Vehicle Time based on Person Type for Public Transport (Ä°stanbul SUMP Stage II HTS)</b></span>

### ğŸš Public Transport KullanÄ±cÄ±larÄ±: Employment Group BazÄ±nda SÃ¼re Analizi

Bu bÃ¶lÃ¼mde sadece **Public Transport** (toplu taÅŸÄ±ma) kullanan bireyler filtrelenerek, Ã§alÄ±ÅŸma/Ã¶ÄŸrenim durumuna gÃ¶re ortalama sÃ¼re analizleri yapÄ±lmÄ±ÅŸtÄ±r.

### ğŸ“¦ Ä°ÅŸlem AdÄ±mlarÄ±:

1. **Toplu TaÅŸÄ±ma KullananlarÄ±n Filtrelenmesi**  
   - `mode_category == "Public Transport"` olan satÄ±rlar seÃ§ilerek `df_public_transport` oluÅŸturulmuÅŸtur.

2. **Gruplama ve Toplama (`agg_df_7`)**  
   - Her bireyin (`same_p_and_k_y`) ve ait olduÄŸu **Employment Group** bazÄ±nda:
     - `travel_time`, `vehicle_time`, `access_time`, `egress_time`, `waiting_time` toplamlarÄ± hesaplanmÄ±ÅŸtÄ±r.

3. **Ortalama SÃ¼re HesaplamasÄ± (`person_type_PT`)**  
   - Her Ã§alÄ±ÅŸma/Ã¶ÄŸrenim grubu iÃ§in yukarÄ±daki sÃ¼re bileÅŸenlerinin **ortalama deÄŸerleri** elde edilmiÅŸtir.

Bu analiz, farklÄ± sosyal gruplarÄ±n **toplu taÅŸÄ±mayÄ± ne ÅŸekilde ve ne kadar sÃ¼re ile kullandÄ±ÄŸÄ±nÄ±** kÄ±yaslamaya olanak tanÄ±r.

In [43]:
df_public_transport = df_selected_v2[df_selected_v2["mode_category"] == "Public Transport"]
agg_df_7 = df_public_transport.groupby(["same_p_and_k_y", "Employment Group"], as_index=False).agg({
    "travel_time": "sum",
    "vehicle_time" : "sum",
    "district": "first",
    "p_id": "first",
    "id": "first"
})

# mode'a gÃ¶re grupla ve ortalamalarÄ± al
person_type_PT = agg_df_7.groupby("Employment Group")[[
    "travel_time",
   "vehicle_time"
]].mean().reset_index()

# Sonucu yazdÄ±r
person_type_PT

   Employment Group  travel_time  vehicle_time
0       65+ Retired    48.682016     29.804169
1     Adult Student    60.181186     38.411383
2  Adult Unemployed    49.475711     30.889018
3             Child    52.887417     34.490066
4     Child Student    44.640255     26.483639
5         Full Time    53.989969     33.641674
6             Other    47.509036     26.030120
7         Part Time    57.463047     35.078431

<span style="font-size:22pt; color:red;"><b>Figure 140. Average Travel Times by Person Type for All Modes (Ä°stanbul SUMP Stage II HTS)</b></span>
### ğŸ‘¤ Employment Group (Ã‡alÄ±ÅŸma Durumu) BazÄ±nda Ortalama SÃ¼re Analizi

Bu analizde, her bireyin ait olduÄŸu **Employment Group** (Ã‡alÄ±ÅŸma/Ã–ÄŸrenim Durumu) kategorisine gÃ¶re seyahat sÃ¼relerinin ortalamalarÄ± hesaplanmÄ±ÅŸtÄ±r.

### ğŸ“¦ Ä°ÅŸlem AdÄ±mlarÄ±:

1. **Yolculuk Verisinin GruplanmasÄ± (`agg_df_6`)**  
   - `same_p_and_k_y` ve `Employment Group` kÄ±rÄ±lÄ±mÄ±nda tÃ¼m sÃ¼re bileÅŸenleri toplanmÄ±ÅŸtÄ±r.
   - Ek olarak tanÄ±mlayÄ±cÄ± kolonlar (`district`, `p_id`, `id`) da ilk deÄŸer olarak alÄ±nmÄ±ÅŸtÄ±r.

2. **Ortalama SÃ¼relerin HesaplanmasÄ± (`person_type`)**  
   - Her **Employment Group** iÃ§in aÅŸaÄŸÄ±daki sÃ¼relerin ortalamalarÄ± hesaplanmÄ±ÅŸtÄ±r:
     - `travel_time`
     - `vehicle_time`
     - `access_time`
     - `egress_time`
     - `waiting_time`

### ğŸ‘¥ Ä°ncelenen Gruplar Ã–rneÄŸin:
- Full Time
- Part Time
- Adult Student
- Adult Unemployed
- 65+ Retired
- Child Student
- Child
- Other

Bu sonuÃ§lar, farklÄ± toplumsal gruplarÄ±n ÅŸehir iÃ§i ulaÅŸÄ±mda ne kadar sÃ¼re harcadÄ±ÄŸÄ±nÄ± karÅŸÄ±laÅŸtÄ±rmalÄ± olarak anlamamÄ±za olanak saÄŸlar.

In [44]:

agg_df_6 = df_selected_v2.groupby(["same_p_and_k_y", "Employment Group"], as_index=False).agg({
    "travel_time": "sum",
    "vehicle_time" : "sum"
})


# mode'a gÃ¶re grupla ve ortalamalarÄ± al
person_type = agg_df_6.groupby("Employment Group")[[
    "travel_time",
    "vehicle_time"
]].mean().reset_index()

# Sonucu yazdÄ±r
person_type

   Employment Group  travel_time  vehicle_time
0       65+ Retired    21.645664     18.740028
1     Adult Student    48.674769     34.728989
2  Adult Unemployed    22.956900     19.917201
3             Child    24.956339     22.033585
4     Child Student    22.350435     19.557874
5         Full Time    38.675970     31.026300
6             Other    17.002134     15.189719
7         Part Time    39.869684     32.081155

 <span style="font-size:22pt; color:red;"><b>Table 24. Travel Times by Trip Purpose for All Trips and Vehicle Trips</b></span>

### ğŸ â¡ï¸ğŸ¢ Evden Ä°ÅŸe Yolculuklarda Ortalama Seyahat SÃ¼resi Analizi

Bu analizde sadece **evden iÅŸe gidiÅŸ** amacÄ±yla yapÄ±lan yolculuklar filtrelenmiÅŸtir.

### ğŸ“¦ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)`
- **Yolculuk AmacÄ±**: `Ä°ÅŸe gidiÅŸ`

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- ArdÄ±ndan, bu deÄŸerlerin:
  - **OrtalamasÄ±** (`mean_tt`)
  - **Standart sapmasÄ±** (`std_tt`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, ÅŸehirde yaÅŸayan bireylerin iÅŸe ulaÅŸÄ±m sÃ¼relerinin genel dÃ¼zeyini ve daÄŸÄ±lÄ±mÄ±nÄ± anlamak iÃ§in kritik bir iÃ§gÃ¶rÃ¼ saÄŸlar.

In [45]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Filtreleme
home_work = df_selected_v2[
    (df_selected_v2['orig_loc_type'] == 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
    (df_selected_v2['purpose'] == 'Ä°ÅŸe gidiÅŸ') &
    (df_selected_v2['district'].isin(istanbul_ilceleri))
]

# Gruplama ve istatistik
home_work_2 = home_work.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})

mean_tt = home_work_2['travel_time'].mean()
std_tt = home_work_2['travel_time'].std()

print("Ortalama travel_time:", mean_tt)
print("Standart sapma (std):", std_tt)

Ortalama travel_time: 37.37952385304332
Standart sapma (std): 24.27734281055003

### ğŸ â¡ï¸ğŸ“ Evden Okula Yolculuklarda Ortalama Seyahat SÃ¼resi Analizi

Bu analizde yalnÄ±zca **ikamet edilen evden** baÅŸlayan ve **okula gidiÅŸ amacÄ±** taÅŸÄ±yan yolculuklar incelenmiÅŸtir.

### ğŸ¯ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)`
- **Yolculuk AmacÄ±**:
  - `Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)`
  - `Okula gidiÅŸ(lise)`
  - `Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)`

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_2`)
  - **Standart sapma** (`std_tt_2`)
  elde edilmiÅŸtir.

Bu analiz, Ã¶ÄŸrencilerin evden okula ulaÅŸÄ±m sÃ¼releri hakkÄ±nda genel bir fikir verir ve yaÅŸ gruplarÄ±na gÃ¶re eriÅŸilebilirlik karÅŸÄ±laÅŸtÄ±rmalarÄ± iÃ§in temel oluÅŸturur.

In [46]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

home_school = df_selected_v2[
    (df_selected_v2['orig_loc_type'] == 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
    (df_selected_v2['district'].isin(istanbul_ilceleri)) &
    (df_selected_v2['purpose'].isin([
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]))
]

home_school_2 = home_school.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})

mean_tt_2 = home_school_2['travel_time'].mean()
std_tt_2 = home_school_2['travel_time'].std()

print("Ortalama travel_time:", mean_tt_2)
print("Standart sapma (std):", std_tt_2)

Ortalama travel_time: 25.839155121508064
Standart sapma (std): 19.798296337123006

### ğŸ â¡ï¸ğŸ§­ Evden DiÄŸer AmaÃ§larla YapÄ±lan Yolculuklarda Ortalama Seyahat SÃ¼resi Analizi

Bu analiz, evden baÅŸlayÄ±p iÅŸ ya da okul dÄ±ÅŸÄ±ndaki Ã§eÅŸitli amaÃ§larla yapÄ±lan yolculuklarÄ± kapsamaktadÄ±r.

### ğŸ¯ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)`
- **Yolculuk AmaÃ§larÄ±** (Ã¶rnekler):
  - `Akraba/ArkadaÅŸ Ziyareti`
  - `AlÄ±ÅŸveriÅŸ`
  - `Yeme/iÃ§me GidiÅŸ`
  - `SaÄŸlÄ±k Kurumuna gidiÅŸ`
  - `Spor, EÄŸlence vb. gidiÅŸ`
  - `Ã‡ocuk Alma/BÄ±rakma`
  - `Ä°ÅŸ takibi/Ã–demeler`
  - ve diÄŸer serbest zaman/destek amaÃ§lÄ± yolculuklar

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_3`)
  - **Standart sapma** (`std_tt_3`) hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, gÃ¼nlÃ¼k hayatÄ±n farklÄ± yÃ¶nleriyle iliÅŸkili yolculuklarÄ±n zaman maliyetini anlamak iÃ§in yapÄ±lmÄ±ÅŸtÄ±r.

In [47]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]


home_other = df_selected_v2[
    (df_selected_v2['orig_loc_type'] == 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
      (df_selected_v2['district'].isin(istanbul_ilceleri)) &
    (df_selected_v2['purpose'].isin([
    'Akraba/ArkadaÅŸ  Ziyareti',
    'Ã‡ocuk Alma/BÄ±rakma',
    'DiÄŸer',
    'DiÄŸer Alma/BÄ±rakma',
    'Eve gidiÅŸ',
    'SaÄŸlÄ±k Kurumuna gidiÅŸ',
    'AlÄ±ÅŸveriÅŸ',
    'DiÄŸer',
    'Ä°ÅŸ takibi/ Ã–demeler',
    'Spor, EÄŸlence vb. gidiÅŸ',
    'Yeme/iÃ§me GidiÅŸ'
    ]))
]


home_other_2 = home_other.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})
mean_tt_3 = home_other_2['travel_time'].mean()
std_tt_3 = home_other_2['travel_time'].std()
print("Ortalama travel_time:", mean_tt_3)
print("Standart sapma (std):", std_tt_3)

Ortalama travel_time: 22.485918461569344
Standart sapma (std): 22.150017179146154

### ğŸ§³ Ev DÄ±ÅŸÄ± BaÅŸlangÄ±Ã§ NoktalÄ± Yolculuklarda Ortalama Seyahat SÃ¼resi Analizi

Bu analizde, **baÅŸlangÄ±Ã§ noktasÄ± ev olmayan** yolculuklar incelenmiÅŸtir.

### ğŸ¯ Filtreleme Kriteri:
- **BaÅŸlangÄ±Ã§ Lokasyonu â‰ ** `EV(SADECE Ä°KAMET EDÄ°LEN EV)`

Bu tÃ¼r yolculuklar ÅŸunlarÄ± kapsayabilir:
- Aktarma noktalarÄ±ndan baÅŸlayan devam yolculuklarÄ±
- Ä°ÅŸ, okul veya diÄŸer mekÃ¢nlardan baÅŸlayan dÃ¶nÃ¼ÅŸ veya yan yolculuklar
- GÃ¼n iÃ§inde yapÄ±lan zincirli seyahatlerin ara bÃ¶lÃ¼mleri

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_4`)
  - **Standart sapma** (`std_tt_4`) hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, ev dÄ±ÅŸÄ± kÃ¶kenli yolculuklarÄ±n sÃ¼resel karakterini ortaya koyarak zincirli ulaÅŸÄ±m yapÄ±larÄ±nÄ±n anlaÅŸÄ±lmasÄ±na katkÄ± saÄŸlar.

In [48]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# EV olmayan ve Ä°stanbul ilÃ§elerindeki kayÄ±tlarÄ± filtrele
other = df_selected_v2[
    (df_selected_v2['orig_loc_type'] != 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
    (df_selected_v2['district'].isin(istanbul_ilceleri))
]

# Ä°lÃ§eye gÃ¶re gruplama ve toplam seyahat sÃ¼resi hesaplama
other_2 = other.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})

# Ortalama ve standart sapma hesaplama
mean_tt_4 = other_2['travel_time'].mean()
std_tt_4 = other_2['travel_time'].std()

print("Ortalama travel_time:", mean_tt_4)
print("Standart sapma (std):", std_tt_4)

Ortalama travel_time: 32.194451861195255
Standart sapma (std): 27.271350204428824

### ğŸ“Š TÃ¼m Yolculuklar iÃ§in Ortalama Seyahat SÃ¼resi Analizi

Bu adÄ±mda, herhangi bir ayrÄ±m yapÄ±lmaksÄ±zÄ±n tÃ¼m `same_p_and_k_y` gruplarÄ±nÄ±n toplam `travel_time` deÄŸerleri incelenmiÅŸtir.

### ğŸ§® Hesaplamalar:
- Her yolculuk grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_10`)
  - **Standart sapma** (`std_tt_10`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, tÃ¼m yolculuk tÃ¼rlerinin genel sÃ¼resel karakteristiÄŸini ortaya koyarak Ã¶nceki alt gruplarla yapÄ±lacak karÅŸÄ±laÅŸtÄ±rmalar iÃ§in temel oluÅŸturur.

In [49]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Sadece Ä°stanbul ilÃ§elerini filtrele
istanbul_data = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)]

# same_p_and_k_y'ye gÃ¶re gruplama ve travel_time toplamÄ±
total_2 = istanbul_data.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})

# Ortalama ve standart sapma
mean_tt_10 = total_2['travel_time'].mean()
std_tt_10 = total_2['travel_time'].std()

print("Ortalama travel_time:", mean_tt_10)
print("Standart sapma (std):", std_tt_10)

Ortalama travel_time: 30.76801959254365
Standart sapma (std): 26.152532608567547

### ğŸš— Evden Ä°ÅŸe GidiÅŸ â€“ YÃ¼rÃ¼yÃ¼ÅŸ HariÃ§ UlaÅŸÄ±m ModlarÄ± iÃ§in Seyahat SÃ¼resi Analizi

Bu analizde yalnÄ±zca **evden iÅŸe** yapÄ±lan ve **araÃ§ veya toplu taÅŸÄ±ma kullanÄ±lan** yolculuklar incelenmiÅŸtir.  
**YÃ¼rÃ¼yerek yapÄ±lan iÅŸe gidiÅŸler hariÃ§ tutulmuÅŸtur.**

### ğŸ¯ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)`
- **AmaÃ§**: `Ä°ÅŸe gidiÅŸ`
- **UlaÅŸÄ±m Modu**: `YÃ¼rÃ¼me` dÄ±ÅŸÄ±ndaki tÃ¼m modlar (`mode != 'YÃ¼rÃ¼me'`)

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_5`)
  - **Standart sapma** (`std_tt_5`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, Ã¶zellikle iÅŸe giderken araÃ§ ya da toplu taÅŸÄ±ma kullanma davranÄ±ÅŸÄ±nÄ±n zaman maliyetini ortaya koyar.

In [50]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

home_work_vehicle = df_selected_v2[
    (df_selected_v2['orig_loc_type'] == 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
    (df_selected_v2['district'].isin(istanbul_ilceleri)) &
    (df_selected_v2['purpose'] == 'Ä°ÅŸe gidiÅŸ') &
    (df_selected_v2['mode_choice'] != 'Walking')
]

home_work_vehicle_2 = home_work_vehicle.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})

mean_tt_5 = home_work_vehicle_2['travel_time'].mean()
std_tt_5 = home_work_vehicle_2['travel_time'].std()

print("Ortalama travel_time:", mean_tt_5)
print("Standart sapma (std):", std_tt_5)

Ortalama travel_time: 43.14671163575042
Standart sapma (std): 23.965003959718814

### ğŸ’ Evden Okula GidiÅŸ â€“ YÃ¼rÃ¼yÃ¼ÅŸ HariÃ§ UlaÅŸÄ±m ModlarÄ± iÃ§in Seyahat SÃ¼resi Analizi

Bu analizde, **evden okula yapÄ±lan** ve **yÃ¼rÃ¼yÃ¼ÅŸ dÄ±ÅŸÄ±ndaki** ulaÅŸÄ±m modlarÄ±nÄ±n kullanÄ±ldÄ±ÄŸÄ± yolculuklar incelenmiÅŸtir.

### ğŸ¯ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)`
- **AmaÃ§**: 
  - `Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)`
  - `Okula gidiÅŸ(lise)`
  - `Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)`
- **UlaÅŸÄ±m Modu**: `YÃ¼rÃ¼me` hariÃ§ tÃ¼m modlar (`mode != 'YÃ¼rÃ¼me'`)

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_6`)
  - **Standart sapma** (`std_tt_6`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, Ã¶ÄŸrencilerin **araÃ§, servis ya da toplu taÅŸÄ±ma** ile gerÃ§ekleÅŸtirdikleri okul yolculuklarÄ±nÄ±n zaman maliyetini anlamak aÃ§Ä±sÄ±ndan Ã¶nemlidir.

In [51]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]



home_school_vehicle = df_selected_v2[
    (df_selected_v2['orig_loc_type'] == 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
    (df_selected_v2['mode_choice'] != 'Walking') &
    (df_selected_v2['district'].isin(istanbul_ilceleri)) &
    (df_selected_v2['purpose'].isin([
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]))
]
home_school_vehicle_2 = home_school_vehicle.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})
mean_tt_6 = home_school_vehicle_2['travel_time'].mean()
std_tt_6 = home_school_vehicle_2['travel_time'].std()
print("Ortalama travel_time:", mean_tt_6)
print("Standart sapma (std):", std_tt_6)

Ortalama travel_time: 41.00076569678407
Standart sapma (std): 22.564900358626446

### ğŸ¡ Evden DiÄŸer AmaÃ§larla YapÄ±lan AraÃ§lÄ± YolculuklarÄ±n Seyahat SÃ¼resi Analizi

Bu analizde, **evden Ã§Ä±kÄ±ÅŸ noktasÄ±** olan ve **yÃ¼rÃ¼yÃ¼ÅŸ harici ulaÅŸÄ±m modlarÄ±yla** yapÄ±lan Ã§eÅŸitli gÃ¼nlÃ¼k amaÃ§lÄ± yolculuklar deÄŸerlendirilmiÅŸtir.

### ğŸ¯ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)`
- **UlaÅŸÄ±m Modu**: `YÃ¼rÃ¼me` dÄ±ÅŸÄ±ndaki tÃ¼m modlar (`mode != 'YÃ¼rÃ¼me'`)
- **AmaÃ§** (purpose): 
  - Akraba/ArkadaÅŸ Ziyareti  
  - Ã‡ocuk veya diÄŸer kiÅŸileri alma/bÄ±rakma  
  - Eve dÃ¶nÃ¼ÅŸ  
  - SaÄŸlÄ±k kurumuna gidiÅŸ  
  - AlÄ±ÅŸveriÅŸ  
  - Ä°ÅŸ takibi / Ã¶deme iÅŸleri  
  - Spor, eÄŸlence gibi aktiviteler  
  - Yeme/iÃ§me gibi sosyal aktiviteler  

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_7`)
  - **Standart sapma** (`std_tt_7`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, bireylerin gÃ¼nlÃ¼k yaÅŸam aktivitelerine yÃ¶nelik araÃ§ veya toplu taÅŸÄ±ma kullanÄ±mÄ±yla ne kadar sÃ¼re yolculuk yaptÄ±klarÄ±nÄ± anlamamÄ±za yardÄ±mcÄ± olur.

In [52]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]


home_other_vehicle = df_selected_v2[
    (df_selected_v2['orig_loc_type'] == 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
    (df_selected_v2['mode_choice'] != 'Walking') &
     (df_selected_v2['district'].isin(istanbul_ilceleri)) &
    (df_selected_v2['purpose'].isin([
    'Akraba/ArkadaÅŸ  Ziyareti',
    'Ã‡ocuk Alma/BÄ±rakma',
    'DiÄŸer',
    'DiÄŸer Alma/BÄ±rakma',
    'Eve gidiÅŸ',
    'SaÄŸlÄ±k Kurumuna gidiÅŸ',
    'AlÄ±ÅŸveriÅŸ',
    'DiÄŸer',
    'Ä°ÅŸ takibi/ Ã–demeler',
    'Spor, EÄŸlence vb. gidiÅŸ',
    'Yeme/iÃ§me GidiÅŸ'
    ]))
]

home_other_vehicle_2 = home_other_vehicle.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})
mean_tt_7 = home_other_vehicle_2['travel_time'].mean()
std_tt_7 = home_other_vehicle_2['travel_time'].std()
print("Ortalama travel_time:", mean_tt_7)
print("Standart sapma (std):", std_tt_7)

Ortalama travel_time: 39.847443895325284
Standart sapma (std): 26.174021134346187

### ğŸ™ï¸ Ev DÄ±ÅŸÄ± BaÅŸlangÄ±Ã§lÄ± AraÃ§lÄ± YolculuklarÄ±n Seyahat SÃ¼resi Analizi

Bu analizde, **baÅŸlangÄ±Ã§ noktasÄ± ev olmayan** ve **araÃ§ veya toplu taÅŸÄ±ma gibi yÃ¼rÃ¼yÃ¼ÅŸ harici ulaÅŸÄ±m modlarÄ±yla** yapÄ±lan yolculuklar incelenmiÅŸtir.

### ğŸ¯ Filtreleme Kriterleri:
- **BaÅŸlangÄ±Ã§ Lokasyonu**: `EV(SADECE Ä°KAMET EDÄ°LEN EV)` **deÄŸil**
- **UlaÅŸÄ±m Modu**: `YÃ¼rÃ¼me` dÄ±ÅŸÄ±ndaki tÃ¼m modlar

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` hesaplanmÄ±ÅŸtÄ±r.
- Bu deÄŸerlere gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_8`)
  - **Standart sapma** (`std_tt_8`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, Ã¶rneÄŸin iÅŸ yerinden veya baÅŸka bir sosyal noktadan baÅŸlayan Ã§ok modlu ya da Ã¶zel araÃ§la yapÄ±lan yolculuklarÄ±n sÃ¼resel Ã¶zelliklerini ortaya koymaktadÄ±r.

In [53]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]



other_vehicle= df_selected_v2[
    (df_selected_v2['orig_loc_type'] != 'EV(SADECE Ä°KAMET EDÄ°LEN EV)') &
     (df_selected_v2['district'].isin(istanbul_ilceleri)) &
    (df_selected_v2['mode_choice'] != 'Walking')
]

other_vehicle_2= other_vehicle.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})
mean_tt_8 = other_vehicle_2['travel_time'].mean()
std_tt_8 = other_vehicle_2['travel_time'].std()
print("Ortalama travel_time:", mean_tt_8)
print("Standart sapma (std):", std_tt_8)

Ortalama travel_time: 47.60366896603575
Standart sapma (std): 28.626672716350296

### ğŸš— TÃ¼m AraÃ§lÄ± YolculuklarÄ±n Seyahat SÃ¼resi Analizi

Bu bÃ¶lÃ¼mde, **yÃ¼rÃ¼yÃ¼ÅŸ dÄ±ÅŸÄ±ndaki tÃ¼m ulaÅŸÄ±m modlarÄ±yla** (Ã¶zel araÃ§, toplu taÅŸÄ±ma, servis, mikromobilite vb.) gerÃ§ekleÅŸtirilen yolculuklar analiz edilmiÅŸtir.

### ğŸ¯ Filtreleme Kriteri:
- `mode` â‰  `YÃ¼rÃ¼me`

### ğŸ§® Hesaplamalar:
- Her `same_p_and_k_y` grubu iÃ§in toplam `travel_time` deÄŸerleri alÄ±nmÄ±ÅŸtÄ±r.
- Bu gruplara gÃ¶re:
  - **Ortalama seyahat sÃ¼resi** (`mean_tt_9`)
  - **Standart sapma** (`std_tt_9`)
  hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, kentsel hareketlilikte araÃ§ kullanÄ±mÄ±nÄ±n sÃ¼re bazlÄ± etkisini ortaya koymayÄ± amaÃ§lamaktadÄ±r.

In [54]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

Vehicle_total = df_selected_v2[
    (df_selected_v2['mode_choice'] != 'Walking') &
    (df_selected_v2['district'].isin(istanbul_ilceleri))
]

Vehicle_total_2 = Vehicle_total.groupby(["same_p_and_k_y"], as_index=False).agg({
    "travel_time": "sum",
})

mean_tt_9 = Vehicle_total_2['travel_time'].mean()
std_tt_9 = Vehicle_total_2['travel_time'].std()

print("Ortalama travel_time:", mean_tt_9)
print("Standart sapma (std):", std_tt_9)

Ortalama travel_time: 45.858497356122186
Standart sapma (std): 27.583070639643157

 <span style="font-size:22pt; color:red;"><b>Figure 151. Leisure Active Mobility Frequency & Travel Times of Different Person Types (Ä°stanbul SUMP Stage II HTS)  </b></span>

### 

Bu bÃ¶lÃ¼mde, aÅŸaÄŸÄ±daki amaÃ§larla yapÄ±lan **sosyal ve eÄŸlence odaklÄ± yolculuklar** analiz edilmiÅŸtir:

- Akraba/ArkadaÅŸ Ziyareti  
- AlÄ±ÅŸveriÅŸ  
- DiÄŸer  
- Ä°ÅŸ Takibi / Ã–demeler  
- Spor, EÄŸlence vb. GidiÅŸ  
- Yeme/Ä°Ã§me GidiÅŸ
- Her `same_p_and_k_y` grubu iÃ§in sÃ¼re bileÅŸenleri (`travel_time`, `vehicle_time`, `access_time`, `egress_time`, `waiting_time`) toplanmÄ±ÅŸtÄ±r.
- Bu gruplar **Employment Group**'a gÃ¶re sÄ±nÄ±flandÄ±rÄ±lmÄ±ÅŸ ve ortalama deÄŸerleri hesaplanmÄ±ÅŸtÄ±r.

Bu analiz, farklÄ± iÅŸ/istihdam gruplarÄ±nÄ±n sosyal ve eÄŸlence temelli yolculuk alÄ±ÅŸkanlÄ±klarÄ±nÄ± sÃ¼re bileÅŸenleri aÃ§Ä±sÄ±ndan karÅŸÄ±laÅŸtÄ±rmalÄ± olarak gÃ¶stermektedir.

In [55]:

purpo = [
    "Akraba/ArkadaÅŸ  Ziyareti",
    "AlÄ±ÅŸveriÅŸ",
    "DiÄŸer",
    "Ä°ÅŸ takibi/ Ã–demeler",
    "Spor, EÄŸlence vb. gidiÅŸ",
    "Yeme/iÃ§me GidiÅŸ"
]

df_gidis = df_selected_v2[df_selected_v2["purpose"].isin(purpo)]
leisure = df_gidis.groupby(["same_p_and_k_y", "Employment Group"], as_index=False).agg({
    "travel_time": "sum",
    "p_id": "first",
    "id": "first",
    "purpose" : "first"
})
leisure['purpose'].unique()
# mode'a gÃ¶re grupla ve ortalamalarÄ± al
lesiure_2 = leisure.groupby("Employment Group")[[
    "travel_time"
]].mean().reset_index()

# Sonucu yazdÄ±r
lesiure_2

   Employment Group  travel_time
0       65+ Retired    19.394029
1     Adult Student    28.835152
2  Adult Unemployed    22.497028
3             Child    23.143939
4     Child Student    21.864476
5         Full Time    26.368474
6             Other    15.977349
7         Part Time    31.213873

 <span style="font-size:22pt; color:red;"><b>Figure 109. Travel Time, In Vehicle Time, Waiting, Access, and Egress Times in Public Transportation for Work Purpose Trips by Destination District in Istanbul (Ä°stanbul SUMP Stage II HTS) </b></span>
#### 
Bu analiz, **toplu taÅŸÄ±ma** kullanarak **"Ä°ÅŸe GidiÅŸ"** amacÄ±yla yapÄ±lan yolculuklarda, her yolculuk grubunun **son varÄ±ÅŸ ilÃ§esine (`dest_dist`)** gÃ¶re sÃ¼re bileÅŸenlerinin ortalamalarÄ±nÄ± sunmaktadÄ±r.

 ğŸ“Œ **Analiz AdÄ±mlarÄ±**:
1. `id` deÄŸeri kullanÄ±larak her yolculuk grubunun (same_p_and_k_y) **son satÄ±rÄ± (final destination)** belirlenmiÅŸtir.
2. YalnÄ±zca `mode_category = Public Transport` ve `purpose = Ä°ÅŸe gidiÅŸ` olan satÄ±rlar filtrelenmiÅŸtir.
3. Bu satÄ±rlar her yolculuk grubu iÃ§in gruplanarak **toplam sÃ¼re bileÅŸenleri** hesaplanmÄ±ÅŸtÄ±r:
   - `travel_time`, `vehicle_time`, `access_time`, `egress_time`, `waiting_time`
4. Gruplar, belirlenen `final_dest` (son varÄ±ÅŸ ilÃ§esi) ile eÅŸleÅŸtirilmiÅŸ ve ilÃ§elere gÃ¶re ortalama sÃ¼re deÄŸerleri Ã§Ä±karÄ±lmÄ±ÅŸtÄ±r.

In [56]:
import pandas as pd

# 0. id'yi sayÄ±ya Ã§evir
df_selected_v2['id_int'] = (
    df_selected_v2['id']
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(int)
)

# 1. Final destinasyonu belirle: her grup iÃ§in en yÃ¼ksek idâ€™li satÄ±rÄ±n dest_dist deÄŸeri
last_ids = df_selected_v2.loc[
    df_selected_v2.groupby("same_p_and_k_y")["id_int"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Sadece Public Transport ve Ä°ÅŸe GidiÅŸ olanlarÄ± filtrele
df_pt = df_selected_v2[
    (df_selected_v2["mode_category"] == "Public Transport") &
    (df_selected_v2["purpose"] == "Ä°ÅŸe gidiÅŸ")
]

# 3. Ã–zel zaman hesaplama fonksiyonu
def custom_agg(group):
    travel_time_sum = group['travel_time'].sum()
    vehicle_time_sum = group['vehicle_time'].sum()
    waiting_time_sum = group['waiting_time'].sum()
    
    access_time_value = group.loc[group['id_int'].idxmin(), 'access_time']
    egress_time_value = group.loc[group['id_int'].idxmax(), 'egress_time']
    
    group_sorted = group.sort_values(by='id_int')
    n = len(group_sorted)
    transfer_time_value = group_sorted.iloc[:-1]['egress_time'].sum() if n > 1 else 0
    
    return pd.Series({
        'travel_time': travel_time_sum,
        'vehicle_time': vehicle_time_sum,
        'waiting_time': waiting_time_sum,
        'access_time': access_time_value,
        'egress_time': egress_time_value,
        'transfer_time': transfer_time_value
    })

# 4. Gruplama ve hesaplama
agg_df = (
    df_pt
    .groupby("same_p_and_k_y")
    .apply(custom_agg)
    .reset_index()
)

# 5. travel_time bileÅŸenlerini kontrol et
agg_df['difference'] = (
    agg_df['travel_time']
    - agg_df['vehicle_time']
    - agg_df['waiting_time']
    - agg_df['access_time']
    - agg_df['egress_time']
    - agg_df['transfer_time']
)

# 6. Fark varsa vehicle_timeâ€™a ekle
agg_df.loc[agg_df['difference'] > 0, 'vehicle_time'] += agg_df['difference']
agg_df.drop(columns='difference', inplace=True)

# 7. Final destinasyonu ile birleÅŸtir
agg_df = agg_df.merge(last_ids, on="same_p_and_k_y", how="left")

# 8. Ortalama sÃ¼releri destinasyona gÃ¶re hesapla
work_mean = agg_df.groupby("final_dest")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean().reset_index()
work_mean.head(1)

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\3063094530.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2['id_int'] = (

,final_dest,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
0,ADALAR,67.0,42.0,8.333333,4.666667,8.666667,3.333333

### ğŸ™ï¸ Ä°stanbul Ä°lÃ§elerine YapÄ±lan Ä°ÅŸe GidiÅŸ AmaÃ§lÄ± Toplu TaÅŸÄ±ma YolculuklarÄ±nÄ±n Ortalama SÃ¼releri

Bu bÃ¶lÃ¼mde, **Ä°stanbul il sÄ±nÄ±rlarÄ± iÃ§inde** iÅŸe gitmek amacÄ±yla **toplu taÅŸÄ±ma** kullanan yolculuk gruplarÄ±nÄ±n ortalama sÃ¼re bileÅŸenleri incelenmektedir.

### ğŸ” Filtreleme Kriteri:
- `final_dest` ilÃ§esi, Ä°stanbulâ€™un 39 resmi ilÃ§esinden biri olmalÄ±dÄ±r.

### ğŸ“ˆ Hesaplanan Ortalama SÃ¼re BileÅŸenleri:
- **Toplam Yolculuk SÃ¼resi (`travel_time`)**
- **AraÃ§ Ä°Ã§inde GeÃ§en SÃ¼re (`vehicle_time`)**
- **Toplu TaÅŸÄ±maya UlaÅŸÄ±m SÃ¼resi (`access_time`)**
- **Ä°niÅŸ SonrasÄ± Hedefe YÃ¼rÃ¼me SÃ¼resi (`egress_time`)**
- **Bekleme SÃ¼resi (`waiting_time`)**

Bu analiz, Ä°stanbul iÃ§i iÅŸe gidiÅŸlerde farklÄ± ulaÅŸÄ±m aÅŸamalarÄ±nÄ±n yolculuk sÃ¼resine ne kadar katkÄ± saÄŸladÄ±ÄŸÄ±nÄ± anlamamÄ±za yardÄ±mcÄ± olur.

In [57]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§elerine filtreleme
agg_df_filtered = agg_df[agg_df['final_dest'].isin(istanbul_ilceleri)].copy()

# Ä°lÃ§e bazlÄ± ortalamalarÄ± hesapla
work_mean = agg_df_filtered.groupby("final_dest")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean().reset_index()

# Genel ortalamayÄ± hesapla
general_mean = pd.DataFrame(agg_df_filtered[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean()).T
general_mean.insert(0, "final_dest", "GENEL ORTALAMA")

# Hepsini birleÅŸtir
final_output = pd.concat([work_mean, general_mean], ignore_index=True)
# Sadece GENEL ORTALAMA satÄ±rÄ±nÄ± gÃ¶ster
genel_ortalama = final_output[final_output['final_dest'] == "GENEL ORTALAMA"].copy()
genel_ortalama.loc[:, genel_ortalama.columns[1:]] = genel_ortalama.loc[:, genel_ortalama.columns[1:]].round(1)
genel_ortalama

,final_dest,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
39,GENEL ORTALAMA,52.8,32.4,6.8,6.8,6.4,0.4

### ğŸ™ï¸ Kocaeli ve TekirdaÄŸ YapÄ±lan Ä°ÅŸe GidiÅŸ AmaÃ§lÄ± Toplu TaÅŸÄ±ma YolculuklarÄ±nÄ±n Ortalama SÃ¼releri

In [58]:
import pandas as pd

# Kocaeli ilÃ§eleri listesi
kocaeli_ilceleri = ["Ã‡AYIROVA", "GEBZE", "DARICA"]

# Kocaeli ilÃ§elerine filtreleme
agg_df_filtered = agg_df[agg_df['final_dest'].isin(kocaeli_ilceleri)].copy()

# Ä°lÃ§e bazlÄ± ortalamalarÄ± hesapla
work_mean = agg_df_filtered.groupby("final_dest")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean().reset_index()

# Genel ortalamayÄ± hesapla
general_mean = pd.DataFrame(agg_df_filtered[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean()).T
general_mean.insert(0, "final_dest", "GENEL ORTALAMA")

# Hepsini birleÅŸtir
final_output = pd.concat([work_mean, general_mean], ignore_index=True)

# Sadece GENEL ORTALAMA satÄ±rÄ±nÄ± gÃ¶ster, 1 ondalÄ±k basamakla
genel_ortalama = final_output[final_output['final_dest'] == "GENEL ORTALAMA"].copy()
genel_ortalama.loc[:, genel_ortalama.columns[1:]] = genel_ortalama.loc[:, genel_ortalama.columns[1:]].round(1)

genel_ortalama

,final_dest,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
3,GENEL ORTALAMA,39.1,20.7,6.1,6.7,5.5,0.2

In [59]:

tekirdag_ilceleri = [
    "SARAY","Ã‡ERKEZKÃ–Y","Ã‡ORLU","KAPAKLI"
]

# Kocaeli ilÃ§elerine filtreleme
agg_df_filtered = agg_df[agg_df['final_dest'].isin(tekirdag_ilceleri)].copy()

# Ä°lÃ§e bazlÄ± ortalamalarÄ± hesapla
work_mean = agg_df_filtered.groupby("final_dest")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean().reset_index()

# Genel ortalamayÄ± hesapla
general_mean = pd.DataFrame(agg_df_filtered[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean()).T
general_mean.insert(0, "final_dest", "GENEL ORTALAMA")

# Hepsini birleÅŸtir
final_output = pd.concat([work_mean, general_mean], ignore_index=True)

# Sadece GENEL ORTALAMA satÄ±rÄ±nÄ± gÃ¶ster, 1 ondalÄ±k basamakla
genel_ortalama = final_output[final_output['final_dest'] == "GENEL ORTALAMA"].copy()
genel_ortalama.loc[:, genel_ortalama.columns[1:]] = genel_ortalama.loc[:, genel_ortalama.columns[1:]].round(1)

genel_ortalama

,final_dest,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
4,GENEL ORTALAMA,40.0,24.9,5.0,5.1,5.0,0.0

<span style="font-size:22pt; color:red;"><b>Travel Time & Access/Egress in PT Usage of University Students in School Location</b></span>

<ul style="font-size:18pt; color:red; font-weight:bold;"> <li>Table 29: By Destination District in Ä°stanbul (SUMP Stage II HTS)</li> <li>Figure 131: By Destination District in Kocaeli</li> <li>Figure 132: By Destination District in TekirdaÄŸ</li> </ul>

### 
Bu analizde, **Ã¼niversite ve Ã¼zeri eÄŸitim** amacÄ±yla gerÃ§ekleÅŸtirilen **toplu taÅŸÄ±ma yolculuklarÄ±** incelenmiÅŸtir. YolculuklarÄ±n son varÄ±ÅŸ noktasÄ± (`final_dest`) baz alÄ±narak, sÃ¼re bileÅŸenlerinin ortalamalarÄ± hesaplanmÄ±ÅŸtÄ±r.

- `mode_category` = **Public Transport**
- `purpose` = **Okula gidiÅŸ (Ã¼niversite ve Ã¼zeri)**

- - **Toplam Yolculuk SÃ¼resi (`travel_time`)**
- **AraÃ§ta GeÃ§irilen SÃ¼re (`vehicle_time`)**
- **UlaÅŸÄ±ma Harcanan SÃ¼re (`access_time`)**
- **Ara Duraklardan VarÄ±ÅŸa YÃ¼rÃ¼me SÃ¼resi (`egress_time`)**
- **Toplu TaÅŸÄ±ma Bekleme SÃ¼resi (`waiting_time`)*

In [60]:
import pandas as pd

# 0. id'yi sayÄ±ya Ã§evir
df_selected_v2['id_int'] = (
    df_selected_v2['id']
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(int)
)

# 1. Final destinasyonu belirle: her grup iÃ§in en yÃ¼ksek idâ€™li satÄ±rÄ±n dest_dist deÄŸeri
last_ids = df_selected_v2.loc[
    df_selected_v2.groupby("same_p_and_k_y")["id_int"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Sadece Public Transport ve Okula gidiÅŸ (Ã¼niversite ve Ã¼zeri) olanlarÄ± filtrele
df_pt = df_selected_v2[
    (df_selected_v2["mode_category"] == "Public Transport") &
    (df_selected_v2["purpose"] == "Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)")
]

# 3. Ã–zel zaman hesaplama fonksiyonu
def custom_agg(group):
    travel_time_sum = group['travel_time'].sum()
    vehicle_time_sum = group['vehicle_time'].sum()
    waiting_time_sum = group['waiting_time'].sum()

    access_time_value = group.loc[group['id_int'].idxmin(), 'access_time']
    egress_time_value = group.loc[group['id_int'].idxmax(), 'egress_time']

    group_sorted = group.sort_values(by='id_int')
    n = len(group_sorted)
    transfer_time_value = group_sorted.iloc[:-1]['egress_time'].sum() if n > 1 else 0

    return pd.Series({
        'travel_time': travel_time_sum,
        'vehicle_time': vehicle_time_sum,
        'waiting_time': waiting_time_sum,
        'access_time': access_time_value,
        'egress_time': egress_time_value,
        'transfer_time': transfer_time_value
    })

# 4. Gruplama ve hesaplama
agg_df = (
    df_pt
    .groupby("same_p_and_k_y")
    .apply(custom_agg)
    .reset_index()
)

# 5. travel_time bileÅŸenlerini kontrol et
agg_df['difference'] = (
    agg_df['travel_time']
    - agg_df['vehicle_time']
    - agg_df['waiting_time']
    - agg_df['access_time']
    - agg_df['egress_time']
    - agg_df['transfer_time']
)

# 6. Fark varsa vehicle_timeâ€™a ekle
agg_df.loc[agg_df['difference'] > 0, 'vehicle_time'] += agg_df['difference']
agg_df.drop(columns='difference', inplace=True)

# 7. Final destinasyonu ile birleÅŸtir
agg_df = agg_df.merge(last_ids, on="same_p_and_k_y", how="left")

# 8. Ortalama sÃ¼releri destinasyona gÃ¶re hesapla
univ_mean = agg_df.groupby("final_dest")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean().reset_index()

# 9. Ä°lk satÄ±rÄ± gÃ¶ster
univ_mean.head(1)

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\614951146.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2['id_int'] = (

,final_dest,travel_time,vehicle_time,access_time,egress_time,waiting_time,transfer_time
0,ARNAVUTKÃ–Y,86.2,70.4,6.6,6.0,3.2,0.0

In [61]:
import pandas as pd

# 0. id'yi sayÄ±ya Ã§evir
df_selected_v2['id_int'] = (
    df_selected_v2['id']
    .astype(str)
    .str.replace(',', '', regex=False)
    .astype(int)
)

# 1. Final destinasyonu belirle: her grup iÃ§in en yÃ¼ksek idâ€™li satÄ±rÄ±n dest_dist deÄŸeri
last_ids = df_selected_v2.loc[
    df_selected_v2.groupby("same_p_and_k_y")["id_int"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Sadece Public Transport ve Okula gidiÅŸ (Ã¼niversite ve Ã¼zeri) olanlarÄ± filtrele
df_pt = df_selected_v2[
    (df_selected_v2["mode_category"] == "Public Transport") &
    (df_selected_v2["purpose"] == "Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)")
]

# 3. Ã–zel zaman hesaplama fonksiyonu
def custom_agg(group):
    travel_time_sum = group['travel_time'].sum()
    vehicle_time_sum = group['vehicle_time'].sum()
    waiting_time_sum = group['waiting_time'].sum()

    access_time_value = group.loc[group['id_int'].idxmin(), 'access_time']
    egress_time_value = group.loc[group['id_int'].idxmax(), 'egress_time']

    group_sorted = group.sort_values(by='id_int')
    n = len(group_sorted)
    transfer_time_value = group_sorted.iloc[:-1]['egress_time'].sum() if n > 1 else 0

    return pd.Series({
        'travel_time': travel_time_sum,
        'vehicle_time': vehicle_time_sum,
        'waiting_time': waiting_time_sum,
        'access_time': access_time_value,
        'egress_time': egress_time_value,
        'transfer_time': transfer_time_value
    })

# 4. Gruplama ve hesaplama
agg_df = (
    df_pt
    .groupby("same_p_and_k_y")
    .apply(custom_agg)
    .reset_index()
)

# 5. travel_time bileÅŸenlerini kontrol et
agg_df['difference'] = (
    agg_df['travel_time']
    - agg_df['vehicle_time']
    - agg_df['waiting_time']
    - agg_df['access_time']
    - agg_df['egress_time']
    - agg_df['transfer_time']
)

# 6. Fark varsa vehicle_timeâ€™a ekle
agg_df.loc[agg_df['difference'] > 0, 'vehicle_time'] += agg_df['difference']
agg_df.drop(columns='difference', inplace=True)

# 7. Final destinasyonu ile birleÅŸtir
agg_df = agg_df.merge(last_ids, on="same_p_and_k_y", how="left")

# 8. Ä°stanbul ilÃ§elerine gÃ¶re filtrele
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU", "Ã‡ERKEZKÃ–Y", "Ã‡ORLU", "ERGENE", "KAPAKLI", "MARMARAEREÄLÄ°SÄ°", "SARAY","Ã‡AYIROVA", "DARICA", "GEBZE"
]
agg_df = agg_df[agg_df["final_dest"].isin(istanbul_ilceleri)]

# 9. Ortalama sÃ¼releri destinasyona gÃ¶re hesapla
univ_mean = agg_df.groupby("final_dest")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time",
    "transfer_time"
]].mean().reset_index()

# 10. Genel ortalamayÄ± hesapla ve tabloya ekle
genel_ortalama = univ_mean.drop(columns="final_dest").mean(numeric_only=True)
genel_ortalama["final_dest"] = "Genel Ortalama"
univ_mean = pd.concat([univ_mean, pd.DataFrame([genel_ortalama])], ignore_index=True)

print(univ_mean[univ_mean["final_dest"] == "Genel Ortalama"])

C:\Users\Paraboly\AppData\Local\Temp\ipykernel_28416\4204349974.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected_v2['id_int'] = (

        final_dest  travel_time  vehicle_time  access_time  egress_time  \
43  Genel Ortalama    60.619981     38.932401     7.688284     6.610344

    waiting_time  transfer_time
43      6.862585       0.526367

 <span style="font-size:22pt; color:red;"><b>Table 26. Changes in Average Travel Times for All Trips and Vehicle Trips for 2006, 2012 and 2024 -PEDESTRIAN</b></span>

###

In [62]:
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§eleriyle filtrelenmiÅŸ versiyonu
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# 0. id'yi sayÄ±ya Ã§evir
df_filtered["id"] = df_filtered["id"].astype(str).str.replace(",", "").astype(int)

# 1. Her grup iÃ§in en yÃ¼ksek idâ€™ye sahip satÄ±rdan dest_dist bilgisini al
final_destinations = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Her grup iÃ§in en dÃ¼ÅŸÃ¼k idâ€™ye sahip satÄ±rdan orig_dist bilgisini al
initial_origins = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmin(),
    ["same_p_and_k_y", "orig_dist"]
].rename(columns={"orig_dist": "initial_orig"})

# 3. Sadece Walking moduna sahip satÄ±rlarÄ± al
pt_school_trips = df_filtered[
    (df_filtered["mode_category"] == "Walking")
]

# 4. Bu satÄ±rlarÄ± same_p_and_k_yâ€™ye gÃ¶re grupla ve sÃ¼releri topla
aggregated_durations = pt_school_trips.groupby("same_p_and_k_y").agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "p_id": "first"
}).reset_index()

# 5. Final destinasyon ile birleÅŸtir
merged_with_dest = aggregated_durations.merge(final_destinations, on="same_p_and_k_y", how="left")

# 6. Ä°lk origin mesafesi ile birleÅŸtir
final_merged_result = merged_with_dest.merge(initial_origins, on="same_p_and_k_y", how="left")

In [63]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
final_merged_result['orig_continent'] = final_merged_result['initial_orig'].map(continent_mapping)
final_merged_result['dest_continent'] = final_merged_result['final_dest'].map(continent_mapping)

In [64]:
final_merged_result["orig_continent"].unique()

array(['Europe', 'Asia'], dtype=object)

In [65]:
final_merged_result["dest_continent"].unique()

array(['Europe', 'Asia'], dtype=object)

In [66]:
final_merged_result["continental_type"] = final_merged_result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [67]:
final_merged_result["continental_type"].unique()

array(['Within Europe', 'Within Asia', 'Intercontinental'], dtype=object)

In [68]:
# Intercontinental olmayan verileri filtrele
filtered = final_merged_result[final_merged_result['continental_type'] != "Intercontinental"]

# Ortalama ve standart sapmayÄ± continental_type bazÄ±nda hesapla
continental = filtered.groupby("continental_type")[["travel_time"]].agg(['mean', 'std']).reset_index()
continental.columns = ['continental_type', 'travel_time_mean', 'travel_time_std']

# Genel ortalama ve std hesapla
general_mean = filtered["travel_time"].mean()
general_std = filtered["travel_time"].std()

# Genel satÄ±rÄ± oluÅŸtur
general_row = pd.DataFrame([{
    'continental_type': 'GENEL',
    'travel_time_mean': general_mean,
    'travel_time_std': general_std
}])

# Genel satÄ±rÄ± ekle
continental_with_total = pd.concat([continental, general_row], ignore_index=True)

# Ä°steÄŸe baÄŸlÄ±: VirgÃ¼lden sonra 1 basamak
continental_with_total = continental_with_total.round(1)

# Ä°lk 3 + GENEL satÄ±rÄ±nÄ± gÃ¶ster
continental_with_total

  continental_type  travel_time_mean  travel_time_std
0      Within Asia              17.1             16.3
1    Within Europe              17.5             14.7
2            GENEL              17.4             15.3

 <span style="font-size:22pt; color:red;"><b>Table 26. Changes in Average Travel Times for All Trips and Vehicle Trips for 2006, 2012 and 2024 -VEHÄ°CLE </b></span>

###

In [ ]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Sadece Ä°stanbul ilÃ§elerindeki veriler
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# 0. id'yi sayÄ±ya Ã§evir
df_filtered["id"] = df_filtered["id"].astype(str).str.replace(",", "").astype(int)

# 1. Her grup iÃ§in en yÃ¼ksek idâ€™ye sahip satÄ±rdan dest_dist bilgisini al
final_destinations = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Her grup iÃ§in en dÃ¼ÅŸÃ¼k idâ€™ye sahip satÄ±rdan orig_dist bilgisini al
initial_origins = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmin(),
    ["same_p_and_k_y", "orig_dist"]
].rename(columns={"orig_dist": "initial_orig"})

# 3. Sadece Walking olmayan modlara sahip satÄ±rlarÄ± al
pt_school_trips = df_filtered[
    (df_filtered["mode_category"] != "Walking")
]

# 4. Bu satÄ±rlarÄ± same_p_and_k_yâ€™ye gÃ¶re grupla ve sÃ¼releri topla
aggregated_durations = pt_school_trips.groupby("same_p_and_k_y").agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "p_id": "first"
}).reset_index()

# 5. Final destinasyon ile birleÅŸtir
merged_with_dest = aggregated_durations.merge(final_destinations, on="same_p_and_k_y", how="left")

# 6. Ä°lk origin mesafesi ile birleÅŸtir
final_merged_result = merged_with_dest.merge(initial_origins, on="same_p_and_k_y", how="left")

In [ ]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
final_merged_result['orig_continent'] = final_merged_result['initial_orig'].map(continent_mapping)
final_merged_result['dest_continent'] = final_merged_result['final_dest'].map(continent_mapping)

In [ ]:
final_merged_result["continental_type"] = final_merged_result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [ ]:
final_merged_result["continental_type"].unique()

In [ ]:
# Ortalama ve standart sapmayÄ± hesapla
continental = final_merged_result.groupby("continental_type")[[
    "travel_time"
]].agg(['mean', 'std']).reset_index()

# Kolon isimlerini dÃ¼zelt
continental.columns = ['continental_type', 'travel_time_mean', 'travel_time_std']

# Genel ortalama ve standart sapmayÄ± hesapla
general_mean = final_merged_result["travel_time"].mean()
general_std = final_merged_result["travel_time"].std()

# Genel satÄ±rÄ±nÄ± oluÅŸtur
general_row = pd.DataFrame([{
    'continental_type': 'GENEL',
    'travel_time_mean': general_mean,
    'travel_time_std': general_std
}])

# BirleÅŸtir
continental_with_total = pd.concat([continental, general_row], ignore_index=True)

# VirgÃ¼lden sonra 1 basamakla gÃ¶ster
continental_with_total = continental_with_total.round(1)

# SonuÃ§
continental_with_total

 <span style="font-size:22pt; color:red;"><b>Table 26. Changes in Average Travel Times for All Trips and Vehicle Trips for 2006, 2012 and 2024 -ALL </b></span>

###

In [ ]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Sadece Ä°stanbul ilÃ§elerini filtrele
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# 0. id'yi sayÄ±ya Ã§evir
df_filtered["id"] = df_filtered["id"].astype(str).str.replace(",", "").astype(int)

# 1. Her grup iÃ§in en yÃ¼ksek idâ€™ye sahip satÄ±rdan dest_dist bilgisini al
final_destinations = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Her grup iÃ§in en dÃ¼ÅŸÃ¼k idâ€™ye sahip satÄ±rdan orig_dist bilgisini al
initial_origins = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmin(),
    ["same_p_and_k_y", "orig_dist"]
].rename(columns={"orig_dist": "initial_orig"})

# 3. TÃ¼m satÄ±rlarÄ± kullan (Walking filtresi yok)
pt_school_trips = df_filtered

# 4. same_p_and_k_yâ€™ye gÃ¶re gruplama ve sÃ¼releri toplama
aggregated_durations = pt_school_trips.groupby("same_p_and_k_y").agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "mode_category":"first",
    "p_id": "first"
}).reset_index()

# 5. Final destinasyonla birleÅŸtir
merged_with_dest = aggregated_durations.merge(final_destinations, on="same_p_and_k_y", how="left")

# 6. Ä°lk origin mesafesiyle birleÅŸtir
final_merged_result = merged_with_dest.merge(initial_origins, on="same_p_and_k_y", how="left")

In [ ]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
final_merged_result['orig_continent'] = final_merged_result['initial_orig'].map(continent_mapping)
final_merged_result['dest_continent'] = final_merged_result['final_dest'].map(continent_mapping)

In [ ]:
final_merged_result["continental_type"] = final_merged_result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [ ]:
final_merged_result["continental_type"].unique()

In [ ]:
import pandas as pd

# Walking modundaki Intercontinental verileri hariÃ§ tut
filtered = final_merged_result[
    ~((final_merged_result['mode_category'] == 'Walking') & 
      (final_merged_result['continental_type'] == 'Intercontinental'))
]

# 1. KÄ±ta bazlÄ± ortalama ve standart sapma hesapla
continental = filtered.groupby("continental_type")["travel_time"].agg(
    travel_time_mean="mean",
    travel_time_std="std"
).reset_index()

# 2. Genel ortalama ve standart sapma hesapla
general_mean = filtered["travel_time"].mean()
general_std = filtered["travel_time"].std()

# 3. Genel satÄ±rÄ±nÄ± oluÅŸtur
general_row = pd.DataFrame([{
    'continental_type': 'GENEL',
    'travel_time_mean': general_mean,
    'travel_time_std': general_std
}])

# 4. Var olan tablo ile genel satÄ±rÄ± birleÅŸtir
continental_with_total = pd.concat([continental, general_row], ignore_index=True)

# 5. "Intercontinental" satÄ±rÄ±nÄ± hariÃ§ tut
continental_with_total = continental_with_total[continental_with_total['continental_type'] != 'Intercontinental']

# 6. SayÄ±larÄ± virgÃ¼lden sonra 1 basamaÄŸa yuvarla
continental_with_total[["travel_time_mean", "travel_time_std"]] = continental_with_total[[
    "travel_time_mean", "travel_time_std"
]].round(1)

# 7. SonuÃ§
continental_with_total

 <span style="font-size:22pt; color:red;"><b>Table 26. Changes in Average Travel Times for All Trips and Vehicle Trips for 2006, 2012 and 2024 -PRÄ°VATE VEHÄ°CLE </b></span>

###

In [ ]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Sadece Ä°stanbul ilÃ§eleriyle sÄ±nÄ±rlÄ± veri
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# 0. id'yi sayÄ±ya Ã§evir
df_filtered["id"] = df_filtered["id"].astype(str).str.replace(",", "").astype(int)

# 1. En yÃ¼ksek idâ€™ye sahip satÄ±rdan final destination
final_destinations = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. En dÃ¼ÅŸÃ¼k idâ€™ye sahip satÄ±rdan initial origin
initial_origins = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmin(),
    ["same_p_and_k_y", "orig_dist"]
].rename(columns={"orig_dist": "initial_orig"})

# 3. Sadece Private Vehicle moduna sahip satÄ±rlarÄ± al
pt_school_trips = df_filtered[
    (df_filtered["mode_category"] == "Private Vehicle")
]

# 4. same_p_and_k_yâ€™ye gÃ¶re grupla, sÃ¼releri topla
aggregated_durations = pt_school_trips.groupby("same_p_and_k_y").agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "p_id": "first"
}).reset_index()

# 5. Final destinasyonla birleÅŸtir
merged_with_dest = aggregated_durations.merge(final_destinations, on="same_p_and_k_y", how="left")

# 6. Ä°lk origin mesafesi ile birleÅŸtir
final_merged_result = merged_with_dest.merge(initial_origins, on="same_p_and_k_y", how="left")

In [ ]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
final_merged_result['orig_continent'] = final_merged_result['initial_orig'].map(continent_mapping)
final_merged_result['dest_continent'] = final_merged_result['final_dest'].map(continent_mapping)

In [ ]:
final_merged_result["continental_type"] = final_merged_result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [ ]:
final_merged_result["continental_type"].unique()

In [ ]:
import pandas as pd

# KÄ±ta bazÄ±nda ortalama ve std hesapla
continental = final_merged_result.groupby("continental_type")["travel_time"].agg(
    travel_time_mean="mean",
    travel_time_std="std"
).reset_index()

# Genel ortalama ve std hesapla
general_mean = final_merged_result["travel_time"].mean()
general_std = final_merged_result["travel_time"].std()

# Genel satÄ±rÄ± oluÅŸtur
general_row = pd.DataFrame([{
    'continental_type': 'GENEL',
    'travel_time_mean': general_mean,
    'travel_time_std': general_std
}])

# KÄ±ta bazlÄ± tablo ile genel satÄ±rÄ± birleÅŸtir
continental_with_total = pd.concat([continental, general_row], ignore_index=True)

# SayÄ±larÄ± yuvarla (isteÄŸe baÄŸlÄ±)
continental_with_total[["travel_time_mean", "travel_time_std"]] = continental_with_total[[
    "travel_time_mean", "travel_time_std"
]].round(1)

continental_with_total.head(4)

 <span style="font-size:22pt; color:red;"><b>Table 26. Changes in Average Travel Times for All Trips and Vehicle Trips for 2006, 2012 and 2024 -PUBLIC TRANSPORT </b></span>

###

In [ ]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§eleri ile filtreleme
df_filtered = df_selected_v2[df_selected_v2["district"].isin(istanbul_ilceleri)].copy()

# 0. id'yi sayÄ±ya Ã§evir
df_filtered["id"] = df_filtered["id"].astype(str).str.replace(",", "").astype(int)

# 1. Her grup iÃ§in en yÃ¼ksek idâ€™ye sahip satÄ±rdan dest_dist bilgisini al
final_destinations = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. Her grup iÃ§in en dÃ¼ÅŸÃ¼k idâ€™ye sahip satÄ±rdan orig_dist bilgisini al
initial_origins = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmin(),
    ["same_p_and_k_y", "orig_dist"]
].rename(columns={"orig_dist": "initial_orig"})

# 3. Sadece toplu taÅŸÄ±ma (Public Transport) moduna sahip satÄ±rlarÄ± al
pt_school_trips = df_filtered[
    (df_filtered["mode_category"] == "Public Transport")
]

# 4. same_p_and_k_yâ€™ye gÃ¶re grupla ve sÃ¼releri topla
aggregated_durations = pt_school_trips.groupby("same_p_and_k_y").agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "p_id": "first"
}).reset_index()

# 5. Final destinasyon ile birleÅŸtir
merged_with_dest = aggregated_durations.merge(final_destinations, on="same_p_and_k_y", how="left")

# 6. Ä°lk origin mesafesi ile birleÅŸtir
final_merged_result = merged_with_dest.merge(initial_origins, on="same_p_and_k_y", how="left")

In [ ]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
final_merged_result['orig_continent'] = final_merged_result['initial_orig'].map(continent_mapping)
final_merged_result['dest_continent'] = final_merged_result['final_dest'].map(continent_mapping)

In [ ]:
final_merged_result["continental_type"] = final_merged_result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [ ]:
import pandas as pd

# KÄ±ta bazÄ±nda ortalama ve std hesapla
continental = final_merged_result.groupby("continental_type")["travel_time"].agg(
    travel_time_mean="mean",
    travel_time_std="std"
).reset_index()

# Genel ortalama ve std hesapla
general_mean = final_merged_result["travel_time"].mean()
general_std = final_merged_result["travel_time"].std()

# Genel satÄ±rÄ± oluÅŸtur
general_row = pd.DataFrame([{
    'continental_type': 'GENEL',
    'travel_time_mean': general_mean,
    'travel_time_std': general_std
}])

# KÄ±ta bazlÄ± tablo ile genel satÄ±rÄ± birleÅŸtir
continental_with_total = pd.concat([continental, general_row], ignore_index=True)

# SayÄ±larÄ± yuvarla (isteÄŸe baÄŸlÄ±)
continental_with_total[["travel_time_mean", "travel_time_std"]] = continental_with_total[[
    "travel_time_mean", "travel_time_std"
]].round(1)

continental_with_total.head(4)

 <span style="font-size:22pt; color:red;"><b>Table 26. Changes in Average Travel Times for All Trips and Vehicle Trips for 2006, 2012 and 2024 -PUBLIC TRANSPORT & PRÄ°VATE VEHÄ°CLE </b></span>
 
###

In [ ]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§elerine ait veriyi filtrele
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# 0. id'yi sayÄ±ya Ã§evir
df_filtered["id"] = df_filtered["id"].astype(str).str.replace(",", "").astype(int)

# 1. En yÃ¼ksek idâ€™ye sahip satÄ±rdan dest_dist bilgisi
final_destinations = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmax(),
    ["same_p_and_k_y", "dest_dist"]
].rename(columns={"dest_dist": "final_dest"})

# 2. En dÃ¼ÅŸÃ¼k idâ€™ye sahip satÄ±rdan orig_dist bilgisi
initial_origins = df_filtered.loc[
    df_filtered.groupby("same_p_and_k_y")["id"].idxmin(),
    ["same_p_and_k_y", "orig_dist"]
].rename(columns={"orig_dist": "initial_orig"})

# 3. Public Transport veya Private Vehicle olan satÄ±rlarÄ± filtrele
pt_school_trips = df_filtered[
    (df_filtered["mode_category"] == "Public Transport") |
    (df_filtered["mode_category"] == "Private Vehicle")
]

# 4. Grupla ve sÃ¼releri topla
aggregated_durations = pt_school_trips.groupby("same_p_and_k_y").agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "p_id": "first"
}).reset_index()

# 5. Final destinasyon ile birleÅŸtir
merged_with_dest = aggregated_durations.merge(final_destinations, on="same_p_and_k_y", how="left")

# 6. Ä°lk origin mesafesi ile birleÅŸtir
final_merged_result = merged_with_dest.merge(initial_origins, on="same_p_and_k_y", how="left")

In [ ]:
continent_mapping = {
    'BEYKOZ': 'Asia', 'ESENLER': 'Europe', 'SARIYER': 'Europe', 'KADIKÃ–Y': 'Asia', 'SULTANGAZÄ°': 'Europe',
    'GÃœNGÃ–REN': 'Europe', 'BAÄCILAR': 'Europe', 'ARNAVUTKÃ–Y': 'Europe', 'ESENYURT': 'Europe', 'BAKIRKÃ–Y': 'Europe',
    'MALTEPE': 'Asia', 'BEYOÄLU': 'Europe', 'GAZÄ°OSMANPAÅA': 'Europe', 'ÅÄ°ÅLÄ°': 'Europe', 'EYÃœPSULTAN': 'Europe',
    'PENDÄ°K': 'Asia', 'ZEYTÄ°NBURNU': 'Europe', 'BAHÃ‡ELÄ°EVLER': 'Europe', 'AVCILAR': 'Europe', 'KÃœÃ‡ÃœKÃ‡EKMECE': 'Europe',
    'FATÄ°H': 'Europe', 'ÃœSKÃœDAR': 'Asia', 'BEYLÄ°KDÃœZÃœ': 'Europe', 'KAÄITHANE': 'Europe', 'BEÅÄ°KTAÅ': 'Europe',
    'BAYRAMPAÅA': 'Europe', 'BAÅAKÅEHÄ°R': 'Europe', 'TUZLA': 'Asia', 'ÃœMRANÄ°YE': 'Asia', 'BÃœYÃœKÃ‡EKMECE': 'Europe',
    'ADALAR': 'Europe', 'KARTAL': 'Asia', 'ATAÅEHÄ°R': 'Asia', 'Ã‡ATALCA': 'Europe', 'Ã‡EKMEKÃ–Y': 'Asia',
    'SULTANBEYLÄ°': 'Asia', 'SANCAKTEPE': 'Asia', 'SÄ°LÄ°VRÄ°': 'Europe', 'ÅÄ°LE': 'Asia', 'Ã‡AYIROVA': 'Asia',
    'GEBZE': 'Asia', 'SÃœLEYMANPAÅA': 'Europe', 'GÃ–LCÃœK': 'Asia', 'Ä°ZMÄ°T': 'Asia', 'DÄ°LOVASI': 'Asia', 'DARICA': 'Asia',
    'Ã‡ORLU': 'Europe', 'DERÄ°NCE': 'Asia', 'Ã‡ERKEZKÃ–Y': 'Europe', 'BAÅÄ°SKELE': 'Asia', 'KÃ–RFEZ': 'Asia', 'MARMARAEREÄLÄ°SÄ°': 'Europe',
    'KARTEPE': 'Asia', 'ERGENE': 'Europe', 'ÅARKÃ–Y': 'Europe', 'KAPAKLI': 'Europe', 'KANDIRA': 'Asia', 'SARAY': 'Europe'
}

# Hem 'first_orig_dist' hem de 'first_dest_dist' kolonlarÄ±na kÄ±ta bilgisi eklemek iÃ§in map fonksiyonunu kullanÄ±yoruz.
final_merged_result['orig_continent'] = final_merged_result['initial_orig'].map(continent_mapping)
final_merged_result['dest_continent'] = final_merged_result['final_dest'].map(continent_mapping)

In [ ]:
final_merged_result["continental_type"] = final_merged_result.apply(
    lambda row: "Within Europe" if row["orig_continent"] == "Europe" and row["dest_continent"] == "Europe"
    else "Within Asia" if row["orig_continent"] == "Asia" and row["dest_continent"] == "Asia"
    else "Intercontinental",
    axis=1
)

In [ ]:
import pandas as pd

# KÄ±ta bazÄ±nda ortalama ve std hesapla
continental = final_merged_result.groupby("continental_type")["travel_time"].agg(
    travel_time_mean="mean",
    travel_time_std="std"
).reset_index()

# Genel ortalama ve std hesapla
general_mean = final_merged_result["travel_time"].mean()
general_std = final_merged_result["travel_time"].std()

# Genel satÄ±rÄ± oluÅŸtur
general_row = pd.DataFrame([{
    'continental_type': 'GENEL',
    'travel_time_mean': general_mean,
    'travel_time_std': general_std
}])

# KÄ±ta bazlÄ± tablo ile genel satÄ±rÄ± birleÅŸtir
continental_with_total = pd.concat([continental, general_row], ignore_index=True)

# SayÄ±larÄ± yuvarla (isteÄŸe baÄŸlÄ±)
continental_with_total[["travel_time_mean", "travel_time_std"]] = continental_with_total[[
    "travel_time_mean", "travel_time_std"
]].round(1)

continental_with_total.head(4)

  <span style="font-size:22pt; color:red;"><b>Table x. Distribution of Average Travel Times by Transportation Modes Across Istanbul Province</b></span>

###  
ğŸš¶â€â™‚ğŸš—ğŸš† UlaÅŸÄ±m ModlarÄ±na GÃ¶re Seyahat SÃ¼resi Analizi

AÅŸaÄŸÄ±daki tablo, her bir ulaÅŸÄ±m modunun toplam seyahat sÃ¼resine dair Ã¶zet istatistikleri sunmaktadÄ±r:

- **Ortalama Toplam Seyahat SÃ¼resi** (dakika): AynÄ± grup iÃ§erisindeki tÃ¼m etaplarÄ±n sÃ¼resi toplamÄ±nÄ±n ortalamasÄ±  
- **Standart Sapma**: Seyahat sÃ¼relerinin ne kadar deÄŸiÅŸkenlik gÃ¶sterdiÄŸini belirtir  
- **Grup SayÄ±sÄ±**: Her bir mod iÃ§in hesaplamaya dahil edilen benzersiz grup (same_p_and_k_y) sayÄ±sÄ±

In [ ]:
import pandas as pd

# Ä°stanbul ilÃ§eleri listesi
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]

# Ä°stanbul ilÃ§elerine gÃ¶re filtrelenmiÅŸ veri
df_filtered = df_selected_v2[df_selected_v2['district'].isin(istanbul_ilceleri)].copy()

# SonuÃ§larÄ± saklamak iÃ§in boÅŸ liste
summary_stats = []

# Benzersiz mode deÄŸerleri iÃ§in dÃ¶ngÃ¼
for mode_value in df_filtered['mode'].unique():
    # 1. O moda ait gruplar
    group_ids = df_filtered[df_filtered['mode'] == mode_value]['same_p_and_k_y'].unique()

    # 2. Bu gruplardaki tÃ¼m satÄ±rlarÄ± filtrele
    related_rows = df_filtered[df_filtered['same_p_and_k_y'].isin(group_ids)]

    # 3. Grup bazlÄ± travel_time toplamÄ±
    grouped = related_rows.groupby('same_p_and_k_y')['travel_time'].sum().reset_index()

    # 4. Ortalama ve standart sapma
    mean_tt = grouped['travel_time'].mean()
    std_tt = grouped['travel_time'].std()

    # 5. SonuÃ§larÄ± listeye ekle
    summary_stats.append({
        'mode': mode_value,
        'mean_total_travel_time': mean_tt,
        'std_total_travel_time': std_tt,
        'group_count': len(grouped)
    })

# Listeyi DataFrame'e Ã§evir
summary_df = pd.DataFrame(summary_stats)
summary_df

<span style="font-size:22pt; color:red;"><b>Figure 98. Mode choice of public transport (% distribution of among all modes) (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
# 1. SayÄ±larÄ± hesapla
mode_counts = df_selected_v2['mode'].value_counts().reset_index()
mode_counts.columns = ['mode', 'count']

# 2. YÃ¼zdeleri hesapla
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

public_modes = [
    'Belediye OtobÃ¼sÃ¼', 'Metro', 'MinibÃ¼s', 'MetrobÃ¼s', 'Marmaray', 'Tramvay', 'DolmuÅŸ',
    'Åehir HatlarÄ± Vapuru', 'Deniz OtobÃ¼sÃ¼ (IDO)', 'Deniz Motoru', 
    'HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±', 'FÃ¼nikÃ¼ler', 'Teleferik', 'TÃ¼nel', 'Deniz Taksi'
]
selected_modes = mode_counts[mode_counts['mode'].isin(public_modes)]
selected_modes

<span style="font-size:22pt; color:red;"><b>Figure 99. Public Transportation Mode choice (% distribution among all PT) (Ä°stanbul SUMP Stage II HTS)</b></span>
### 
Bu tablo, toplu taÅŸÄ±ma sistemine ait belirli modlarÄ±n mode kolonuna gÃ¶re gruplandÄ±rÄ±lmasÄ±yla oluÅŸturulmuÅŸtur. Her bir mod iÃ§in:


**count**: Bu modla yapÄ±lan toplam yolculuk sayÄ±sÄ±nÄ±,

**percentage**: YalnÄ±zca tabloya dahil edilen 15 toplu taÅŸÄ±ma modunun toplamÄ± iÃ§inde bu modun oranÄ±nÄ± gÃ¶stermektedir.

In [ ]:
# Toplam sadece selected_modes iÃ§indeki count'lardan alÄ±nÄ±r
total_selected = selected_modes['count'].sum()

# YÃ¼zdelikleri yeniden hesapla
selected_modes['percentage'] = round((selected_modes['count'] / total_selected) * 100, 2)
selected_modes

<span style="font-size:22pt; color:red;"><b>Figure 100.Sea transportation mode choice (% distribution among all sea transport) (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
# Sadece deniz ulaÅŸÄ±mÄ± modlarÄ±nÄ± seÃ§
public_modes = ['Åehir HatlarÄ± Vapuru', 'Deniz OtobÃ¼sÃ¼ (IDO)', 'Deniz Motoru', 'Deniz Taksi']
selected_modes = mode_counts[mode_counts['mode'].isin(public_modes)].copy()

# YÃ¼zdelikleri yeniden hesapla (sadece bu 4 mod iÃ§indeki toplam baz alÄ±nÄ±r)
total_selected = selected_modes['count'].sum()
selected_modes['percentage'] = round((selected_modes['count'] / total_selected) * 100, 2)
selected_modes

<span style="font-size:22pt; color:red;"><b>Figure 101.Shared mobility mode choice (% distribution among all shared mobility) (Ä°stanbul SUMP Stage II HTS)</b></span>
###

In [ ]:
# SeÃ§ilecek modlar
micromobility_modes = ['PaylaÅŸÄ±mlÄ± Bisiklet', 'PaylaÅŸÄ±mlÄ± Skuter', 'Skuter', 'Bisiklet']

# Ä°lgili modlara gÃ¶re filtreleme
micromobility_df = df_selected_v2[df_selected_v2['mode'].isin(micromobility_modes)].copy()

# SayÄ± ve yÃ¼zde hesaplama
mode_counts = micromobility_df['mode'].value_counts().reset_index()
mode_counts.columns = ['mode', 'count']
total = mode_counts['count'].sum()
mode_counts['percentage'] = round((mode_counts['count'] / total) * 100, 2)

mode_counts

 <span style="font-size:22pt; color:red;"><b>Figure 315. Daily Average Travel, Access, Egress, In-Vehicle & Waiting time across Public Transportation Modes (Ä°stanbul SUMP Stage II HTS))</b></span>
 
 Bu bÃ¶lÃ¼mde, **toplu taÅŸÄ±ma araÃ§larÄ±nÄ±n tÃ¼rlerine gÃ¶re** yolculuk sÃ¼releri ve bileÅŸenleri analiz edilmiÅŸtir.

### 

- **Toplam Yolculuk SÃ¼resi (`travel_time`)**
- **AraÃ§ta GeÃ§irilen SÃ¼re (`vehicle_time`)**
- **UlaÅŸÄ±ma Harcanan SÃ¼re (`access_time`)**
- **Ä°nilen DuraÄŸÄ±n VarÄ±ÅŸ NoktasÄ±na SÃ¼re (`egress_time`)**
- **Bekleme SÃ¼resi (`waiting_time`)**

In [ ]:
import pandas as pd

# Belirlenen toplu taÅŸÄ±ma modlarÄ±
pt_modes = [
    "Belediye OtobÃ¼sÃ¼",
    "Deniz Motoru",
    "Deniz OtobÃ¼sÃ¼ (IDO)",
    "Deniz Taksi",
    "DolmuÅŸ",
    "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "Marmaray",
    "Metro",
    "MetrobÃ¼s",
    "MinibÃ¼s",
    "Teleferik",
    "Tramvay",
    "Åehir HatlarÄ± Vapuru"
]

# Belirli modlara gÃ¶re filtreleme
filtered_df = df_selected_v2[df_selected_v2["mode"].isin(pt_modes)]

# Ortalama sÃ¼releri hesapla
pt_mean = filtered_df.groupby("mode")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().reset_index()

# VirgÃ¼lden sonra 1 basamak
pt_mean = pt_mean.round(1)

# Genel ortalamayÄ± hesapla ve ekle
overall = pt_mean.drop(columns="mode").mean(numeric_only=True).round(1)
overall["mode"] = "Genel Ortalama"
pt_mean = pd.concat([pt_mean, pd.DataFrame([overall])], ignore_index=True)

pt_mean

 <span style="font-size:22pt; color:red;"><b>Figure 154.Travel Time of Disabled People to Public Transport (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
pro = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Profile.xlsx')
dis = pro[pro['disability'] == 'Evet'] 
df_selected_v3 = df_selected_v2

In [ ]:
dis['p_id'] = dis['p_id'].astype(str)
df_selected_v3['p_id'] = df_selected_v3['p_id'].astype(str)
print("dis p_id Ã¶rnekleri:")
print(dis['p_id'].astype(str).str.strip().unique()[:10])

print("\ndf_selected_v2 p_id Ã¶rnekleri:")
print(df_selected_v3['p_id'].astype(str).str.strip().unique()[:10])

In [ ]:
import re

dis['p_id_clean'] = dis['p_id'].astype(str).apply(lambda x: ''.join(re.findall(r'\d+', x)))
df_selected_v3['p_id_clean'] = df_selected_v3['p_id'].astype(str).apply(lambda x: ''.join(re.findall(r'\d+', x)))

matched_df = df_selected_v3[df_selected_v3['p_id_clean'].isin(dis['p_id_clean'])]

common_ids = set(df_selected_v3['p_id_clean']).intersection(set(dis['p_id_clean']))
print(f"EÅŸleÅŸen p_id sayÄ±sÄ±: {len(common_ids)}")

In [ ]:
disab_mean= matched_df.groupby("mode")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
    
]].mean().reset_index()
disab_mean

<span style="font-size:22pt; color:red;"><b>Figure 316-324 Public Transport Acces -egress time by hh-orig-dest district in Ä°stanbul (Ä°stanbul SUMP Stage II HTS) </b></span>

### 

ğŸš Toplu TaÅŸÄ±mada YolculuklarÄ±n BaÅŸlangÄ±Ã§ ve BitiÅŸ NoktalarÄ±nÄ±n Analizi

Bu bÃ¶lÃ¼mde, **yalnÄ±zca "Public Transport" (Toplu TaÅŸÄ±ma)** modu iÃ§eren yolculuk gruplarÄ± Ã¼zerinden detaylÄ± bir analiz gerÃ§ekleÅŸtirilmiÅŸtir. Her `same_p_and_k_y` grubunun, yani aynÄ± kiÅŸiye ait ve aynÄ± gÃ¼n iÃ§erisindeki toplu taÅŸÄ±ma iÃ§eren yolculuklarÄ±nÄ±n:
- **nerede baÅŸladÄ±ÄŸÄ±** (ilk durak),
- **nerede bittiÄŸi** (son durak),
- ve bu duraklara eriÅŸim ve Ã§Ä±kÄ±ÅŸ sÃ¼releri analiz edilmiÅŸtir.

 ğŸ” Analiz KapsamÄ± ve YÃ¶ntemi

1. **Veri SeÃ§imi**  
   TÃ¼m yolculuklar iÃ§erisinden yalnÄ±zca `mode_category` kolonu `"Public Transport"` olan satÄ±rlar seÃ§ilmiÅŸtir. Bu sayede, yÃ¼rÃ¼yÃ¼ÅŸ, Ã¶zel araÃ§ gibi modlar dÄ±ÅŸarÄ±da bÄ±rakÄ±larak sadece toplu taÅŸÄ±ma modunun analiz edilmesi saÄŸlanmÄ±ÅŸtÄ±r.

2. **BaÅŸlangÄ±Ã§ Bilgisi (Access Time)**
   - Her grup (`same_p_and_k_y`) iÃ§in **en kÃ¼Ã§Ã¼k ID**'ye sahip satÄ±r, yolculuÄŸun baÅŸladÄ±ÄŸÄ± adÄ±m olarak kabul edilmiÅŸtir.
   - Bu adÄ±mdan `access_time`, `orig_dist` (baÅŸlangÄ±Ã§ ilÃ§esi) ve `district` (hane ilÃ§esi) bilgileri alÄ±nmÄ±ÅŸtÄ±r.

3. **BitiÅŸ Bilgisi (Egress Time)**
   - Her grup iÃ§in **en bÃ¼yÃ¼k ID**'ye sahip satÄ±r, yolculuÄŸun sonlandÄ±ÄŸÄ± adÄ±m olarak deÄŸerlendirilmiÅŸtir.
   - Bu adÄ±mdan `egress_time` ve `dest_dist` (varÄ±ÅŸ ilÃ§esi) bilgileri alÄ±nmÄ±ÅŸtÄ±r.

4. **BirleÅŸtirme**
   - BaÅŸlangÄ±Ã§ ve bitiÅŸ bilgileri aynÄ± grup (`same_p_and_k_y`) Ã¼zerinden birleÅŸtirilerek yolculuklarÄ±n eriÅŸim ve varÄ±ÅŸ Ã¶zetleri Ã§Ä±karÄ±lmÄ±ÅŸtÄ±r.

ğŸ“Œ Elde Edilen Ana GÃ¶stergeler

- `hh_loc`: KatÄ±lÄ±mcÄ±nÄ±n yaÅŸadÄ±ÄŸÄ± ilÃ§e (hane lokasyonu)
- `first_orig`: YolculuÄŸun baÅŸladÄ±ÄŸÄ± ilÃ§e (genelde evden)
- `access_time_final`: Toplu taÅŸÄ±maya ulaÅŸmak iÃ§in yÃ¼rÃ¼nmesi gereken sÃ¼re (dakika)
- `final_dest`: Toplu taÅŸÄ±manÄ±n sonlandÄ±ÄŸÄ± ilÃ§e
- `egress_time_final`: Toplu taÅŸÄ±madan indikten sonra son noktaya ulaÅŸmak iÃ§in geÃ§en sÃ¼re (dakika)

In [ ]:
# ID'leri sayÄ±ya Ã§evir
df_selected_v2["id"] = df_selected_v2["id"].astype(str).str.replace(",", "").astype(int)

# ğŸ¯ Public Transport iÃ§eren gruplarÄ± bul (diÄŸer modlar olabilir)
pt_groups = df_selected_v2[df_selected_v2["mode_category"] == "Public Transport"]["same_p_and_k_y"].unique()

# Sadece bu gruplarÄ± al
df_filtered = df_selected_v2[df_selected_v2["same_p_and_k_y"].isin(pt_groups)]

# Sadece Public Transport satÄ±rlarÄ±nÄ± al (sÃ¼releri bu moddan alacaÄŸÄ±z)
df_pt_only = df_filtered[df_filtered["mode_category"] == "Public Transport"].copy()

# En kÃ¼Ã§Ã¼k id'li Public Transport satÄ±rÄ± (access_time iÃ§in)
min_id_rows = df_pt_only.loc[
    df_pt_only.groupby("same_p_and_k_y")["id"].idxmin()
].copy()

min_id_rows["access_time_final"] = min_id_rows["access_time"]

initial_info = min_id_rows[[
    "same_p_and_k_y", "district", "p_id", "access_time_final", "orig_dist"
]].rename(columns={
    "district": "hh_loc",
    "orig_dist": "first_orig"
})

# En bÃ¼yÃ¼k id'li Public Transport satÄ±rÄ± (egress_time ve varÄ±ÅŸ iÃ§in)
max_id_rows = df_pt_only.loc[
    df_pt_only.groupby("same_p_and_k_y")["id"].idxmax()
].copy()

max_id_rows["egress_time_final"] = max_id_rows["egress_time"]

final_info = max_id_rows[[
    "same_p_and_k_y", "dest_dist", "egress_time_final"
]].rename(columns={
    "dest_dist": "final_dest"
})

# Her ÅŸeyi birleÅŸtir
final_result = initial_info.merge(final_info, on="same_p_and_k_y", how="inner")

In [ ]:
orig = final_result.groupby("first_orig")[[
    "access_time_final",
    "egress_time_final",

]].mean().reset_index()
orig.head(2)

In [ ]:
hh = final_result.groupby("hh_loc")[[
    "access_time_final",
    "egress_time_final",

]].mean().reset_index()
hh.to_excel("hh.xlsx")

In [ ]:
dest = final_result.groupby("final_dest")[[
    "access_time_final",
    "egress_time_final",

]].mean().reset_index()
dest.head(2)
dest.to_excel("dest.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 416 -417-418 Average Travel Time of Walking Trips by Districts of Ä°stanbul (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
test = df_selected_v2.groupby(["same_p_and_k_y", "mode_category"], as_index=False).agg({
    "travel_time": "sum",
    "vehicle_time": "sum",
    "access_time": "sum",
    "egress_time": "sum",
    "waiting_time": "sum",
    "district": "first",
    "p_id": "first",
    "id": "first"
})
test

In [ ]:
import pandas as pd

# 1. Walking modunu filtrele
walking_df = test[test['mode_category'] == 'Walking'].copy()

# 2. Sadece Ä°stanbul ilÃ§elerini al
istanbul_ilceleri = [
    "ADALAR", "ARNAVUTKÃ–Y", "ATAÅEHÄ°R", "AVCILAR", "BAÄCILAR", "BAHÃ‡ELÄ°EVLER", "BAKIRKÃ–Y",
    "BAÅAKÅEHÄ°R", "BAYRAMPAÅA", "BEÅÄ°KTAÅ", "BEYKOZ", "BEYLÄ°KDÃœZÃœ", "BEYOÄLU", "BÃœYÃœKÃ‡EKMECE",
    "Ã‡ATALCA", "Ã‡EKMEKÃ–Y", "ESENLER", "ESENYURT", "EYÃœPSULTAN", "FATÄ°H", "GAZÄ°OSMANPAÅA",
    "GÃœNGÃ–REN", "KADIKÃ–Y", "KAÄITHANE", "KARTAL", "KÃœÃ‡ÃœKÃ‡EKMECE", "MALTEPE", "PENDÄ°K",
    "SANCAKTEPE", "SARIYER", "ÅÄ°LE", "SÄ°LÄ°VRÄ°", "ÅÄ°ÅLÄ°", "SULTANBEYLÄ°", "SULTANGAZÄ°",
    "TUZLA", "ÃœMRANÄ°YE", "ÃœSKÃœDAR", "ZEYTÄ°NBURNU"
]
walking_df = walking_df[walking_df["district"].isin(istanbul_ilceleri)]

# 3. Ä°lÃ§e bazlÄ± ortalamalarÄ± hesapla
grouped_means_4 = walking_df.groupby("district")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().reset_index()

# 4. Genel ortalamayÄ± hesapla ve ekle
genel_ortalama = walking_df[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().to_frame().T

genel_ortalama["district"] = "GENEL ORTALAMA"

# SÄ±ralamayÄ± koruyarak birleÅŸtir
grouped_means_4 = pd.concat([grouped_means_4, genel_ortalama], ignore_index=True)

grouped_means_4.head(1)

In [ ]:
import pandas as pd

# 1. Walking modunu filtrele
walking_df = test[test['mode_category'] == 'Walking'].copy()

# 2. Sadece Ä°stanbul ilÃ§elerini al
tekirdag_districts = [
    'Ã‡ERKEZKÃ–Y', 'Ã‡ORLU', 'ERGENE', 'KAPAKLI', 'MARMARAEREÄLÄ°SÄ°', 'SARAY'
]
walking_df = walking_df[walking_df["district"].isin(tekirdag_districts)]

# 3. Ä°lÃ§e bazlÄ± ortalamalarÄ± hesapla
grouped_means_4 = walking_df.groupby("district")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().reset_index()

# 4. Genel ortalamayÄ± hesapla ve ekle
genel_ortalama = walking_df[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().to_frame().T

genel_ortalama["district"] = "GENEL ORTALAMA"

# SÄ±ralamayÄ± koruyarak birleÅŸtir
grouped_means_4 = pd.concat([grouped_means_4, genel_ortalama], ignore_index=True)

grouped_means_4

In [ ]:
import pandas as pd

# 1. Walking modunu filtrele
walking_df = test[test['mode_category'] == 'Walking'].copy()

# 2. Sadece Ä°stanbul ilÃ§elerini al
kocaeli_districts = ['Ã‡AYIROVA', 'DARICA', 'GEBZE']
walking_df = walking_df[walking_df["district"].isin(kocaeli_districts)]

# 3. Ä°lÃ§e bazlÄ± ortalamalarÄ± hesapla
grouped_means_4 = walking_df.groupby("district")[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().reset_index()

# 4. Genel ortalamayÄ± hesapla ve ekle
genel_ortalama = walking_df[[
    "travel_time",
    "vehicle_time",
    "access_time",
    "egress_time",
    "waiting_time"
]].mean().to_frame().T

genel_ortalama["district"] = "GENEL ORTALAMA"

# SÄ±ralamayÄ± koruyarak birleÅŸtir
grouped_means_4 = pd.concat([grouped_means_4, genel_ortalama], ignore_index=True)

grouped_means_4.head(1)

<span style="font-size:22pt; color:red;"><b>Table 60. Average Transfer Durations Between Different Public Transportation Modes (in minutes) (Ä°stanbul SUMP Stage II HTS)</b></span>

### 
Toplu TaÅŸÄ±mada Modlar ArasÄ± Transfer SÃ¼resi Analizi

Bu bÃ¶lÃ¼mde, **sadece "Public Transport" (Toplu TaÅŸÄ±ma)** modunu tercih eden yolculuk gruplarÄ± Ã¼zerinden modlar arasÄ± geÃ§iÅŸ sÃ¼releri analiz edilmiÅŸtir. AmaÃ§, Ä°stanbulâ€™da toplu taÅŸÄ±ma kullanÄ±cÄ±larÄ±nÄ±n bir taÅŸÄ±ma tÃ¼rÃ¼nden diÄŸerine geÃ§erken karÅŸÄ±laÅŸtÄ±klarÄ± ortalama bekleme veya yÃ¼rÃ¼me sÃ¼relerini ortaya koymaktÄ±r.

-
#### ğŸ“Š Analiz KapsamÄ± ve YÃ¶ntemi

1. **Veri Filtreleme**  
   Analize sadece `"mode_choice"` deÄŸeri `"Public Transport"` olan yolculuklar dahil edilmiÅŸtir. AyrÄ±ca `"Servis"`, `"YÃ¼rÃ¼me"`, `"Taksi"` gibi analiz dÄ±ÅŸÄ± modlar da hariÃ§ bÄ±rakseÃ§ilmiÅŸtir.

3. **Ä°stenmeyen ModlarÄ±n HariÃ§ TutulmasÄ±**  
   Herhangi bir adÄ±mÄ±nda Ã¶zel ya da bireysel taÅŸÄ±ma iÃ§eren modlara sahip olan yolculuk gruplarÄ± tamamen dÄ±ÅŸlanmÄ±ÅŸtÄ±r.

4. **Transfer SÃ¼re   - Hesaplama**  
   Her yolculuk grubu iÃ§inde, bir moddan diÄŸerine geÃ§ilen her adÄ±m iÃ§in:
   - Ä°lk moddan inme sÃ¼resi (`egress_time`)
   - Ä°kinci moda binme bilgisiyle eÅŸleÅŸtirilmiÅŸ
   - Ä°lgili iki mod arasÄ±ndaki transfer sÃ¼resi hesaplanmÄ±ÅŸtÄ±r.

5. **SonuÃ§larÄ±n Matris Haline Getirilmesi**  
   Elde edilen sÃ¼reler, modlar arasÄ± transfer matrisine iÅŸlenmiÅŸ ve ortalamalarÄ± alÄ±nmÄ±ÅŸtÄ±r. Matrisin satÄ±rlarÄ± **baÅŸlangÄ±Ã§ modu**, sÃ¼tunlarÄ± ise **varÄ±ÅŸkÄ± saÄŸlamak amacÄ±yla hazÄ±rlanmÄ±ÅŸtÄ±r.

In [ ]:
import pandas as pd

# HariÃ§ tutulacak modlar listesi
excluded_modes = [
    "DiÄŸer", "YÃ¼rÃ¼me", "Ã–zel AraÃ§", "Servis", "Motosiklet", "Taksi",
    "Skuter", "Kurum/ Firma AracÄ±", "PaylaÅŸÄ±mlÄ± AraÃ§", "PaylaÅŸÄ±mlÄ± Skuter", "Bisiklet"
]

# 1. Sadece Public Transport olarak seÃ§ilenleri al
df_filter = df_selected_v2[df_selected_v2["mode_choice"] == "Public Transport"].copy()

# 2. Birden fazla satÄ±ra sahip same_p_and_k_yâ€™leri al
repeated_keys = df_filter["same_p_and_k_y"].value_counts()
repeated_keys = repeated_keys[repeated_keys > 1].index
df_repeated = df_filter[df_filter["same_p_and_k_y"].isin(repeated_keys)].copy()

# 3. Ä°Ã§inde excluded_modes olan same_p_and_k_yâ€™leri belirle
has_excluded = df_repeated[df_repeated["mode"].isin(excluded_modes)]["same_p_and_k_y"].unique()

# 4. Bu gruplarÄ± hariÃ§ tut
df_cleaned = df_repeated[~df_repeated["same_p_and_k_y"].isin(has_excluded)].copy()

In [ ]:
import pandas as pd
import numpy as np

# Mode'lar listesini al
modes = df_cleaned['mode'].unique()
result_matrix = pd.DataFrame(index=modes, columns=modes)

# Her yolculuk grubu iÃ§in transfer sÃ¼relerini matrise yaz
for group_id, group in df_cleaned.groupby('same_p_and_k_y'):
    group = group.reset_index(drop=True)
    for i in range(len(group) - 1):  # son satÄ±r hariÃ§
        from_mode = group.loc[i, 'mode']
        to_mode = group.loc[i + 1, 'mode']
        transfer_time = group.loc[i, 'egress_time']

        # HÃ¼crede liste yoksa baÅŸlat
        current_val = result_matrix.loc[from_mode, to_mode]
        if not isinstance(current_val, list):
            result_matrix.loc[from_mode, to_mode] = []

        # Transfer sÃ¼resini listeye ekle
        result_matrix.loc[from_mode, to_mode].append(transfer_time)

# Listeleri ortalamaya Ã§evir
for row in result_matrix.index:
    for col in result_matrix.columns:
        val = result_matrix.loc[row, col]
        if isinstance(val, list) and val:
            result_matrix.loc[row, col] = round(sum(val) / len(val), 1)
        else:
            result_matrix.loc[row, col] = ''

# TÃ¼m hÃ¼creleri sayÄ±ya Ã§evir (boÅŸlarÄ± NaN yap)
result_numeric = result_matrix.replace('', np.nan).astype(float)

# SatÄ±r (row) ortalamalarÄ±
row_means = result_numeric.mean(axis=1).round(1)
result_matrix['Ortalama'] = row_means

# SÃ¼tun (column) ortalamalarÄ±
col_means = result_numeric.mean(axis=0).round(1)
col_means['Ortalama'] = round(row_means.mean(), 1)  # Genel ortalama

# En alta ortalama satÄ±rÄ±nÄ± ekle
result_matrix.loc['Ortalama'] = col_means

result_matrix

<span style="font-size:22pt; color:red;"><b>Figure 307. Mode Choice Public Transport by District in Ä°stanbul Based on Trip Legs (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
import pandas as pd

# UlaÅŸÄ±m modu gruplarÄ±
rubber_tired = [
    "Belediye OtobÃ¼sÃ¼", "DolmuÅŸ", "MetrobÃ¼s", "MinibÃ¼s"
]

rail_transport = [
    "Metro", "Marmaray", "Tramvay", "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "FÃ¼nikÃ¼ler", "TÃ¼nel", "Teleferik"
]

sea_transport = [
    "Deniz OtobÃ¼sÃ¼ (IDO)", "Åehir HatlarÄ± Vapuru", "Deniz Motoru", "Deniz Taksi"
]

# Mod gruplama fonksiyonu
def map_transport_mode(mode):
    if mode in rubber_tired:
        return "Rubber-Tired Transport"
    elif mode in rail_transport:
        return "Rail Transport"
    elif mode in sea_transport:
        return "Sea Transport"
    else:
        return "Other"

# Yeni DataFrame oluÅŸtur, grubu ekle
df_grouped_v2 = df_selected_v2[["district", "mode"]].copy()
df_grouped_v2["mode_group"] = df_grouped_v2["mode"].apply(map_transport_mode)

# "Other" kategorisini Ã§Ä±kar
df_grouped_v2 = df_grouped_v2[df_grouped_v2["mode_group"] != "Other"]

# Pivot tablo oluÅŸtur
pivot_table = df_grouped_v2.pivot_table(
    index="district",
    columns="mode_group",
    aggfunc="size",
    fill_value=0
).reset_index()

# SonuÃ§
pivot_table.head(1)

<span style="font-size:22pt; color:red;"><b>Figure 310. Mode Choice by Travel Purpose Based on Trip Legs (Ä°stanbul SUMP Stage II HTS) </b></span>

###

In [ ]:
import pandas as pd

# 1. PT modlarÄ±nÄ± iÃ§eren liste
pt_modes = [
    "Belediye OtobÃ¼sÃ¼",
    "Deniz Motoru",
    "Deniz OtobÃ¼sÃ¼ (IDO)",
    "Deniz Taksi",
    "DolmuÅŸ",
    "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "Marmaray",
    "Metro",
    "MetrobÃ¼s",
    "MinibÃ¼s",
    "Teleferik",
    "Tramvay",
    "Åehir HatlarÄ± Vapuru"
]

# 2. AmaÃ§ eÅŸleme fonksiyonu
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Filtreleme
filtered_df = df_selected_v2[
    df_selected_v2['mode'].isin(pt_modes) & 
    (df_selected_v2['purpose'] != 'Eve gidiÅŸ')
].copy()

# 4. map_purpose ile gruplandÄ±rÄ±lmÄ±ÅŸ amaÃ§ sÃ¼tununu ekle (geÃ§ici)
filtered_df['purpose_group'] = filtered_df['purpose'].map(map_purpose)

# 5. Mode ve grouped purpose bazÄ±nda sayÄ±m
pivot_result = (
    filtered_df
    .groupby(['mode', 'purpose_group'])
    .size()
    .unstack(fill_value=0)
    .reset_index()
)

# 6. Genel toplam satÄ±rÄ± ekle
total_row = pivot_result.drop(columns='mode').sum(numeric_only=True)
total_row['mode'] = 'TOPLAM'

# 7. SonuÃ§ birleÅŸtirme
final_result = pd.concat([pivot_result, pd.DataFrame([total_row])], ignore_index=True)
final_result.head(2)
final_result.to_excel("purpose.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 311. Mode Choice of Public Transport among Work Based on Trip Legs (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
import pandas as pd

# 1. PT modlarÄ±nÄ± iÃ§eren liste
pt_modes = [
    "Belediye OtobÃ¼sÃ¼",
    "Deniz Motoru",
    "Deniz OtobÃ¼sÃ¼ (IDO)",
    "Deniz Taksi",
    "DolmuÅŸ",
    "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "Marmaray",
    "Metro",
    "MetrobÃ¼s",
    "MinibÃ¼s",
    "Teleferik",
    "Tramvay",
    "Åehir HatlarÄ± Vapuru"
]

# 2. AmaÃ§ eÅŸleme fonksiyonu
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

# 3. Filtreleme (sadece pt_modes ve Eve gidiÅŸ hariÃ§)
filtered_df = df_selected_v2[
    df_selected_v2['mode'].isin(pt_modes) & 
    (df_selected_v2['purpose'] != 'Eve gidiÅŸ')
].copy()

# 4. map_purpose ile amaÃ§ eÅŸleme
filtered_df['purpose_group'] = filtered_df['purpose'].map(map_purpose)

# 5. Sadece 'Work' olanlarÄ± filtrele
work_df = filtered_df[filtered_df['purpose_group'] == 'Work']

# 6. mode bazÄ±nda Work sayÄ±sÄ±
work_counts = (
    work_df
    .groupby('mode')
    .size()
    .reset_index(name='Work')
)

# 7. Genel toplam satÄ±rÄ± ekle
total_row = pd.DataFrame([{
    'mode': 'TOPLAM',
    'Work': work_counts['Work'].sum()
}])

# 8. SonuÃ§larÄ± birleÅŸtir
final_result = pd.concat([work_counts, total_row], ignore_index=True)

# 9. Ä°lk 2 satÄ±rÄ± gÃ¶ster
final_result.head(2)
final_result.to_excel("work.xlsx")

<span style="font-size:22pt; color:red;"><b>Figure 313. Mode choice of Public Transportation Based on Person Types Based on Trip Legs (Ä°stanbul SUMP Stage II HTS)</b></span>

###

In [ ]:
import pandas as pd

# PT modlarÄ±nÄ± iÃ§eren liste
pt_modes = [
    "Belediye OtobÃ¼sÃ¼",
    "Deniz Motoru",
    "Deniz OtobÃ¼sÃ¼ (IDO)",
    "Deniz Taksi",
    "DolmuÅŸ",
    "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "Marmaray",
    "Metro",
    "MetrobÃ¼s",
    "MinibÃ¼s",
    "Teleferik",
    "Tramvay",
    "Åehir HatlarÄ± Vapuru"
]

# YalnÄ±zca PT modlarÄ±nÄ± iÃ§eren satÄ±rlarÄ± filtrele
df_pt_only = df_selected_v2[df_selected_v2['mode'].isin(pt_modes)]

# mode ve Employment Group'a gÃ¶re sayÄ±m yap
employment_counts_by_mode = (
    df_pt_only.groupby(['mode', 'Employment Group'])
    .size()
    .reset_index(name='count')
)

# Pivot iÅŸlemi: her mode bir kolon, Employment Group satÄ±r olur
employment_counts_pivot = employment_counts_by_mode.pivot(
    index='Employment Group',
    columns='mode',
    values='count'
)

# Eksik (NaN) deÄŸerleri 0 ile doldur ve tam sayÄ± yap
employment_counts_pivot = employment_counts_pivot.fillna(0).astype(int)

# Kolon sÄ±rasÄ±nÄ± pt_modes listesine gÃ¶re dÃ¼zenle (opsiyonel)
employment_counts_pivot = employment_counts_pivot.reindex(columns=pt_modes)

# Ä°stersen Employment Group'u tekrar kolona Ã§evirebilirsin
employment_counts_pivot = employment_counts_pivot.reset_index()

# SonuÃ§
employment_counts_pivot.to_excel("employ.xlsx")

In [ ]:
employment_counts_pivot

<span style="font-size:22pt; color:red;"><b>Figure 313. Mode choice of Public Transportation Based on Person Types Based on Trip Legs (Ä°stanbul SUMP Stage II HTS)</b></span>

Bu tablo, bireylerin ait olduÄŸu **hane gelir grubuna (income_group)** gÃ¶re hangi **ulaÅŸÄ±m modlarÄ±nÄ± (mode_choice)** tercih ettiklerini gÃ¶stermektedir. HanehalkÄ± gelir bilgileri, belirli aralÄ±klarla tanÄ±mlanmÄ±ÅŸ ve Ã¼Ã§ ana gruba ayrÄ±lmÄ±ÅŸtÄ±r:

#### Gelir GruplarÄ±:
- **Low**: 25.000 TL altÄ± (dÃ¼ÅŸÃ¼k gelirli)
- **Medium**: 25.001 â€“ 80.000 TL arasÄ± (orta gelirli)
- **High**: 80.001 TL ve Ã¼zeri (yÃ¼ksek gelirli)
- **Not Specified**: Gelir bilgisi olmayanlar

In [ ]:
house = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Household.xlsx')

In [ ]:
import pandas as pd

# 1. df_selected_v2 ve house tablosunu hh_id Ã¼zerinden birleÅŸtir
merged = df_selected_v2.merge(house, on='hh_id', how='left')

# 2. Gelir grubunu sÄ±nÄ±flandÄ±ran fonksiyon
def categorize_income(income):
    high = ['100.000TLâ€™den fazla', '100.001 - 140.000 TL', '140.001 - 200.000 TL',
            '200.001TLâ€™den fazla', '60.001 - 100.000 TL', '80.001 - 100.000 TL']
    medium = ['25.001 - 40.000 TL', '40.001 - 60.000 TL', '60.001 - 80.000 TL']
    low = ['5.000 TLâ€™den az', '5.001 â€“ 10.000 TL', '10.001 - 15.000 TL', '15.001 - 25.000 TL']
    
    if income in high:
        return 'High'
    elif income in medium:
        return 'Medium'
    elif income in low:
        return 'Low'
    else:
        return 'Not Specified'

# 3. Gelir grubu sÃ¼tununu oluÅŸtur
merged['income_group'] = merged['hh_income'].apply(categorize_income)

# 4. Toplu taÅŸÄ±ma modlarÄ±nÄ± tanÄ±mla
pt_modes = [
    "Belediye OtobÃ¼sÃ¼",
    "Deniz Motoru",
    "Deniz OtobÃ¼sÃ¼ (IDO)",
    "Deniz Taksi",
    "DolmuÅŸ",
    "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "Marmaray",
    "Metro",
    "MetrobÃ¼s",
    "MinibÃ¼s",
    "Teleferik",
    "Tramvay",
    "Åehir HatlarÄ± Vapuru"
]

# 5. YalnÄ±zca PT modlarÄ±nÄ± filtrele
df_pt_only = merged[merged['mode'].isin(pt_modes)]

# 6. mode ve income_group'a gÃ¶re sayÄ±m
income_counts_by_mode = (
    df_pt_only.groupby(['mode', 'income_group'])
    .size()
    .reset_index(name='count')
)

# 7. Pivot: income_group'lar satÄ±r, mode'lar sÃ¼tun
income_counts_pivot = income_counts_by_mode.pivot(
    index='income_group',
    columns='mode',
    values='count'
)

# 8. Eksik deÄŸerleri 0 ile doldur ve tam sayÄ±ya Ã§evir
income_counts_pivot = income_counts_pivot.fillna(0).astype(int)

# 9. Kolon sÄ±rasÄ±nÄ± pt_modes listesine gÃ¶re dÃ¼zenle
income_counts_pivot = income_counts_pivot.reindex(columns=pt_modes)

# 10. Ä°stersen index'i sÄ±fÄ±rla
income_counts_pivot = income_counts_pivot.reset_index()

income_counts_pivot

<span style="font-size:22pt; color:red;"><b>Figure 315. Mode choice of Public Transportation Based on Car Ownership Based on Trip Legs (Ä°stanbul SUMP Stage II HTS)</b></span>

####

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
vehicle = pd.read_excel('C:\\Users\\Paraboly\\Desktop\\Anket Verisi\\HTS\\Vehicle_ownership.xlsx')

In [ ]:
vehicle = vehicle[['hh_id', 'most_user']]

In [ ]:
vehicle.head(1)

In [ ]:
vehicle['person_id'] = vehicle['hh_id'] + '-' + vehicle['most_user']

In [ ]:
vehicle_unique = vehicle.drop_duplicates(subset=['person_id'])
merged_df = df_selected_v2.merge(vehicle_unique, on='person_id', how='left', indicator=True)
merged_df['ownership_status'] = merged_df['_merge'].apply(lambda x: 'yes' if x == 'both' else 'no')
merged_df.drop(columns=['_merge'], inplace=True)
merged_df.head(1)

In [ ]:
import pandas as pd

# pt_modes listesi
pt_modes = [
    "Belediye OtobÃ¼sÃ¼",
    "Deniz Motoru",
    "Deniz OtobÃ¼sÃ¼ (IDO)",
    "Deniz Taksi",
    "DolmuÅŸ",
    "FÃ¼nikÃ¼ler",
    "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±",
    "Marmaray",
    "Metro",
    "MetrobÃ¼s",
    "MinibÃ¼s",
    "Teleferik",
    "Tramvay",
    "Åehir HatlarÄ± Vapuru"
]

# 1. pt_modes'a gÃ¶re filtrele
filtered = merged_df[merged_df['mode'].isin(pt_modes)]

# 2. ownership_status ve mode'a gÃ¶re saydÄ±r
count_df = filtered.groupby(['ownership_status', 'mode']).size().unstack(fill_value=0)

<span style="font-size:22pt; color:red;"><b>Figure 332-33-334. The Temporal Usage Patterns of Municipal Buses, DolmuÅŸ, Metrobus, and Minibuses</b></span>

####

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt

# 1. PT modlarÄ± listesi
pt_modes = [
    "Belediye OtobÃ¼sÃ¼", "Deniz Motoru", "Deniz OtobÃ¼sÃ¼ (IDO)", "Deniz Taksi",
    "DolmuÅŸ", "FÃ¼nikÃ¼ler", "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±", "Marmaray",
    "Metro", "MetrobÃ¼s", "MinibÃ¼s", "Teleferik", "Tramvay", "Åehir HatlarÄ± Vapuru"
]

# 2. Veriyi filtrele (df_selected_v2 daha Ã¶nceden tanÄ±mlanmÄ±ÅŸ olmalÄ±)
df_pt = df_selected_v2[df_selected_v2['mode'].isin(pt_modes)].copy()

# 3. start_time string'ini saat formatÄ±na Ã§evir
df_pt['start_time_clean'] = pd.to_datetime(df_pt['start_time'], format="%H:%M", errors='coerce').dt.time

# 4. 30 dakikalÄ±k zaman aralÄ±klarÄ±nÄ± oluÅŸtur (00:00 - 00:00 â†’ ertesi gÃ¼n 00:00 dahil)
def generate_time_bins(start="00:00", end="00:00", freq=30):
    bins = []
    start_dt = datetime.strptime(start, "%H:%M")
    end_dt = datetime.strptime(end, "%H:%M")
    if end_dt <= start_dt:
        end_dt += timedelta(days=1)  # 00:00 ertesi gÃ¼n olarak kabul edilir
    while start_dt < end_dt:
        next_dt = start_dt + timedelta(minutes=freq)
        bins.append((start_dt.time(), next_dt.time()))
        start_dt = next_dt
    return bins

# 5. Zaman aralÄ±ÄŸÄ± etiketlerini oluÅŸtur
time_bins = generate_time_bins()
labels = [f"{s.strftime('%H:%M')} - {e.strftime('%H:%M')}" for s, e in time_bins]

# 6. Her satÄ±rÄ±n hangi zaman aralÄ±ÄŸÄ±na denk geldiÄŸini hesapla
def assign_time_bin(t):
    if pd.isna(t):
        return np.nan
    for i, (start, end) in enumerate(time_bins):
        if start <= t < end or (start > end and (t >= start or t < end)):
            return labels[i]
    return np.nan

df_pt['time_range'] = df_pt['start_time_clean'].apply(assign_time_bin)

# 7. Pivot tablo: modlar satÄ±rda, zaman aralÄ±klarÄ± sÃ¼tunda
pivot_table = (
    df_pt
    .groupby(['mode', 'time_range'])
    .size()
    .unstack(fill_value=0)
    .reindex(index=pt_modes, columns=labels, fill_value=0)
)

<span style="font-size:22pt; color:red;"><b>Figure 312. Studentsâ€™ Mode Choice of Public Transport for School Trips Based on Trip Legs (Ä°stanbul SUMP Stage II HTS)</b></span>

####

In [ ]:
import pandas as pd

# 1. Toplu taÅŸÄ±ma modlarÄ±nÄ± tanÄ±mla
pt_modes = [
    "Belediye OtobÃ¼sÃ¼", "Deniz Motoru", "Deniz OtobÃ¼sÃ¼ (IDO)", "Deniz Taksi",
    "DolmuÅŸ", "FÃ¼nikÃ¼ler", "HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±", "Marmaray",
    "Metro", "MetrobÃ¼s", "MinibÃ¼s", "Teleferik", "Tramvay", "Åehir HatlarÄ± Vapuru"
]

# 2. TÃ¼rkÃ§e - Ä°ngilizce Ã¶ÄŸrenci tanÄ±mÄ± eÅŸleÅŸtirme sÃ¶zlÃ¼ÄŸÃ¼
edu_translation = {
    "AÃ§Ä±kÃ¶ÄŸretim lise Ã¶ÄŸrenci": "Open High School Student",
    "AÃ§Ä±kÃ¶ÄŸretim ortaÃ¶ÄŸretim Ã¶ÄŸrenci": "Open Secondary School Student",
    "AÃ§Ä±kÃ¶ÄŸretim Ã¼niversite Ã¶ÄŸrenci": "Open University Student",
    "KreÅŸ/Okul Ã¶ncesi Ã¶ÄŸrenci": "Preschool/Kindergarten Student",
    "Lise/ Dengi Ã¶ÄŸrenci": "High School or Equivalent Student",
    "OrtaÃ¶ÄŸretim Ã¶ÄŸrenci": "Secondary School Student",
    "Y.Lisans/Doktora Ã¶ÄŸrenci": "Graduate Student (Masterâ€™s/PhD)",
    "Ãœniversite Ã¶ÄŸrenci (Ã–n Lisans/Lisans)": "University Student (Associate/Bachelorâ€™s Degree)",
    "Ä°lkÃ¶ÄŸretim Ã¶ÄŸrenci": "Primary School Student"
}

# 3. Sadece istenen Ã¶ÄŸrenci tÃ¼rlerini filtrele
filtered_students = df_selected_v2[df_selected_v2["edu"].isin(edu_translation.keys())].copy()

# 4. Ä°ngilizce karÅŸÄ±lÄ±klarÄ± yeni kolona yaz
filtered_students["edu_en"] = filtered_students["edu"].map(edu_translation)

# 5. Toplu taÅŸÄ±ma modlarÄ±nÄ± filtrele
filtered_students = filtered_students[filtered_students["mode"].isin(pt_modes)]

# 6. SayÄ±m: edu_en + mode kÄ±rÄ±lÄ±mÄ±nda grup ve pivot
pt_counts_by_edu = (
    filtered_students
    .groupby(["edu_en", "mode"])
    .size()
    .unstack(fill_value=0)
    .reindex(columns=pt_modes, fill_value=0)
    .reset_index()
)

pt_counts_by_edu

In [ ]:
<span style="font-size:22pt; color:red;"><b>Figure 404. Average Hourly Temporal Micromobility Movement Pattern based on Trip Leg Analysis (Ä°stanbul SUMP Stage II HTS)</b></span>

####

In [ ]:
import pandas as pd

# Filtrelenecek modlar
modes = ["Bisiklet", "Skuter", "PaylaÅŸÄ±mlÄ± Bisiklet", "PaylaÅŸÄ±mlÄ± Skuter"]

# Ä°lgili modlarÄ± filtrele
filtered_df = df_selected_v2[df_selected_v2["mode"].isin(modes)].copy()

# PaylaÅŸÄ±mlÄ± modlarÄ± grupla
def group_mode(mode):
    if mode in ["PaylaÅŸÄ±mlÄ± Bisiklet", "PaylaÅŸÄ±mlÄ± Skuter"]:
        return "PaylaÅŸÄ±mlÄ± Mikromobilite"
    return mode

filtered_df["mode_grouped"] = filtered_df["mode"].apply(group_mode)

# start_time saat dilimine gÃ¶re saatlik gruplama
filtered_df["hour"] = pd.to_datetime(filtered_df["start_time"]).dt.hour

# Saat aralÄ±klarÄ±nÄ± belirle
bins = list(range(0, 25))  # 0-24
labels = [f"{str(i).zfill(2)}:00-{str((i+1)%24).zfill(2)}:00" for i in range(24)]
filtered_df["hour_range"] = pd.cut(filtered_df["hour"], bins=bins, labels=labels, right=False, include_lowest=True)

# Gruplayarak say
result = filtered_df.groupby(["hour_range", "mode_grouped"]).size().unstack(fill_value=0)

# SonuÃ§larÄ± saat sÄ±rasÄ±na gÃ¶re sÄ±rala
result = result.reindex(labels)

result.head(2)

<span style="font-size:22pt; color:red;"><b>Figure 404. Average Hourly Temporal Micromobility Movement Pattern based on Trip Leg Analysis (Ä°stanbul SUMP Stage II HTS)</b></span>



####  **Tablo AÃ§Ä±klamasÄ±**:

In [ ]:
import pandas as pd

# Filtrelenecek modlar
modes = ["Bisiklet", "Skuter", "PaylaÅŸÄ±mlÄ± Bisiklet", "PaylaÅŸÄ±mlÄ± Skuter"]

# Ä°lgili modlarÄ± filtrele
filtered_df = df_selected_v2[df_selected_v2["mode"].isin(modes)].copy()

# PaylaÅŸÄ±mlÄ± modlarÄ± grupla
def group_mode(mode):
    if mode in ["PaylaÅŸÄ±mlÄ± Bisiklet", "PaylaÅŸÄ±mlÄ± Skuter"]:
        return "PaylaÅŸÄ±mlÄ± Mikromobilite"
    return mode

filtered_df["mode_grouped"] = filtered_df["mode"].apply(group_mode)

# start_time saat dilimine gÃ¶re saatlik gruplama
filtered_df["hour"] = pd.to_datetime(filtered_df["start_time"]).dt.hour

# Saat aralÄ±klarÄ±nÄ± belirle
bins = list(range(0, 25))  # 0-24
labels = [f"{str(i).zfill(2)}:00-{str((i+1)%24).zfill(2)}:00" for i in range(24)]
filtered_df["hour_range"] = pd.cut(filtered_df["hour"], bins=bins, labels=labels, right=False, include_lowest=True)

# Gruplayarak say
result = filtered_df.groupby(["hour_range", "mode_grouped"]).size().unstack(fill_value=0)

# SonuÃ§larÄ± saat sÄ±rasÄ±na gÃ¶re sÄ±rala
result = result.reindex(labels)
result.head(1)

<span style="font-size:22pt; color:red;"><b>Figure 407. Demographic Patterns of Pedestrians based on Trip Leg Analysis (Ä°stanbul SUMP Stage II HTS)</b></span>



####  **Tablo AÃ§Ä±klamasÄ±**:

In [ ]:
# 'YÃ¼rÃ¼me' modunu filtrele
walking_df = df_selected_v2[df_selected_v2["mode"] == "YÃ¼rÃ¼me"]

walking_by_employment_gender = (
    walking_df
    .groupby(["Employment Group", "gender"])
    .size()
    .reset_index(name="count")
    .sort_values(by="count", ascending=False)
)

pivot_table = walking_by_employment_gender.pivot(index="Employment Group", columns="gender", values="count").fillna(0)
pivot_table

<span style="font-size:22pt; color:red;"><b>Figure 408. Demographic Patterns of Cycling (Ä°stanbul SUMP Stage II HTS) </b></span>



####  **Tablo AÃ§Ä±klamasÄ±**:

In [ ]:
cycling_df = df_selected_v2[df_selected_v2["mode"] == "Bisiklet"]

# 2. Employment Group ve gender'a gÃ¶re gruplandÄ±r ve say
cycling_by_employment_gender = (
    cycling_df
    .groupby(["Employment Group", "gender"])
    .size()
    .reset_index(name="count")
)

# 3. Pivot tablo oluÅŸtur (satÄ±rlar: Employment Group, sÃ¼tunlar: gender)
pivot_table = cycling_by_employment_gender.pivot(
    index="Employment Group",
    columns="gender",
    values="count"
).fillna(0)
pivot_table

<span style="font-size:22pt; color:red;"><b>Figure 266. Trip Leg P&R Trip Start Times (Ä°stanbul SUMP Stage II HTS)</b></span>

In [ ]:
import pandas as pd

# Ã–rnek veri â€” bunu kendi df_selected_v2 verinizle deÄŸiÅŸtirin
# df_selected_v2 = pd.read_csv("your_data.csv") gibi yÃ¼klenebilir

# 1. UlaÅŸÄ±m mod gruplarÄ±nÄ± tanÄ±mla
private_modes = ['Ã–zel AraÃ§', 'PaylaÅŸÄ±mlÄ± AraÃ§', 'Motosiklet', 'Taksi', 'DiÄŸer', 'Korsan Taksi','Kurum/ Firma AracÄ±']
pt_modes = ['Belediye OtobÃ¼sÃ¼', 'Deniz Motoru', 'Deniz OtobÃ¼sÃ¼ (IDO)', 'Deniz Taksi DolmuÅŸ',
            'FÃ¼nikÃ¼ler', 'HalkalÄ±-BahÃ§eÅŸehir RaylÄ± Sistem HattÄ±','Marmaray',
            'Metro', 'MetrobÃ¼s', 'MinibÃ¼s', 'Åehir HatlarÄ± Vapuru', 'Teleferik', 'Tramvay', 'TÃ¼nel']

# 2. Her same_p_and_k_y grubunun mode listesini al
mode_groups = df_selected_v2.groupby('same_p_and_k_y')['mode'].apply(list).reset_index()

# 3. Hem Ã¶zel hem toplu taÅŸÄ±ma iÃ§eren gruplarÄ± filtrele
def contains_both_mode_types(modes):
    return any(m in private_modes for m in modes) and any(m in pt_modes for m in modes)

valid_keys = mode_groups[mode_groups['mode'].apply(contains_both_mode_types)]['same_p_and_k_y'].tolist()

# 4. Bu gruplara ait satÄ±rlarÄ± filtrele
result_df = df_selected_v2[df_selected_v2['same_p_and_k_y'].isin(valid_keys)].copy()

In [ ]:
transition_data = []

# same_p_and_k_y bazÄ±nda gruplama
for group_id, group in result_df.groupby("same_p_and_k_y"):
    group = group.sort_values("mode_order").reset_index(drop=True)  # sÄ±ralama Ã¶nemli
    for i in range(len(group) - 1):
        mode1 = group.loc[i, "mode"]
        mode2 = group.loc[i + 1, "mode"]
        purpose = group.loc[i + 1, "purpose"]  # geÃ§ilen modun amacÄ±
        start_time = group.loc[i, "start_time"]  # Ã¶nceki modun baÅŸlama zamanÄ±

        # Sadece Ã¶zel araÃ§ â†” toplu taÅŸÄ±ma geÃ§iÅŸlerini filtrele
        if (mode1 in private_modes and mode2 in pt_modes) or (mode1 in pt_modes and mode2 in private_modes):
            transition_data.append({
                "same_p_and_k_y": group_id,
                "mode_transition": f"{mode1}-{mode2}",
                "purpose": purpose,
                "start_time": start_time
            })

# Yeni DataFrame oluÅŸtur
transition_df = pd.DataFrame(transition_data)

In [ ]:
transition_df

In [ ]:
# 1. Saat bilgisi Ã§Ä±kar
transition_df['hour'] = pd.to_datetime(transition_df['start_time'], format='%H:%M').dt.hour

# 2. 24 saatlik zaman aralÄ±klarÄ± oluÅŸtur
bins = list(range(0, 25))  # 0-24
labels = [f"{str(h).zfill(2)}:00-{str(h+1).zfill(2)}:00" for h in range(24)]

# 3. Zaman aralÄ±ÄŸÄ±na gÃ¶re gruplandÄ±r
transition_df['time_group'] = pd.cut(
    transition_df['hour'], 
    bins=bins, 
    labels=labels, 
    right=False, 
    include_lowest=True
)

# 4. time_group daÄŸÄ±lÄ±mÄ±nÄ± hesapla
time_group_distribution = transition_df['time_group'].value_counts().sort_index()

# 5. DataFrame formatÄ±nda gÃ¶ster
time_group_df = time_group_distribution.reset_index()
time_group_df.columns = ['time_group', 'count']
time_group_df.to_excel("time.xlsx")

In [ ]:
def map_purpose(purpose):
    if purpose == 'Ä°ÅŸe gidiÅŸ':
        return 'Work'
    elif purpose in [
        'Okula gidiÅŸ(ilk ve ortaÃ¶ÄŸretim)',
        'Okula gidiÅŸ(lise)',
        'Okula gidiÅŸ(Ã¼niversite ve Ã¼zeri)'
    ]:
        return 'School'
    elif purpose == 'SaÄŸlÄ±k Kurumuna gidiÅŸ':
        return 'Health'
    elif purpose in [
        'Spor, EÄŸlence vb. gidiÅŸ',
        'Yeme/iÃ§me GidiÅŸ',
        'AlÄ±ÅŸveriÅŸ',
        'Akraba/ArkadaÅŸ  Ziyareti',
        'Ä°ÅŸ takibi/ Ã–demeler',
        'DiÄŸer'
    ]:
        return 'Leisure'
    elif purpose in [
        'Ã‡ocuk Alma/BÄ±rakma',
        'DiÄŸer Alma/BÄ±rakma'
    ]:
        return 'Pick-up/Drop-off'
    else:
        return None

filtered = transition_df[transition_df['purpose'] != 'Eve gidiÅŸ'].copy()
filtered['purpose_group'] = filtered['purpose'].apply(map_purpose)

grouped = filtered[filtered['purpose_group'].notna()] \
    .groupby('purpose_group') \
    .size() \
    .reset_index(name='trip_count')

grouped['percentage'] = round(grouped['trip_count'] * 100 / grouped['trip_count'].sum(), 2)

grouped

<span style="font-size:22pt; color:red;"><b>Figure 267. Trip Leg: Transition from Private Vehicle to Public Transportation (Ä°stanbul SUMP Stage II HTS)</b></span>

In [ ]:
# mode_transition kolonunu ayÄ±r
transition_df[['First_Mode', 'Next_Mode']] = transition_df['mode_transition'].str.split('-', expand=True)
transition_df.head(1)

In [ ]:
# AyÄ±rmak istediÄŸin modlar
private_modes = ['Ã–zel AraÃ§', 'PaylaÅŸÄ±mlÄ± AraÃ§', 'Motosiklet', 'Taksi', 'DiÄŸer', 'Korsan Taksi','Kurum/ Firma AracÄ±']

# Ä°ki ayrÄ± DataFrame oluÅŸtur
first_mode_private_df = transition_df[transition_df['First_Mode'].isin(private_modes)].copy()
first_mode_public_df = transition_df[~transition_df['First_Mode'].isin(private_modes)].copy()

In [ ]:
import pandas as pd
import plotly.graph_objects as go

# Ã–rnek veri (senin df'in bununla aynÄ± yapÄ±ya sahip olmalÄ±)
# first_mode_public_df = pd.read_csv("your_data.csv")

# Benzersiz tÃ¼m modlarÄ± bul
all_modes = pd.unique(first_mode_public_df[['First_Mode', 'Next_Mode']].values.ravel())

# ModlarÄ± sayÄ±sal indekslere eÅŸle
mode_to_index = {mode: i for i, mode in enumerate(all_modes)}

# GeÃ§iÅŸleri say (First_Mode â†’ Next_Mode)
mode_counts = (
    first_mode_public_df
    .groupby(['First_Mode', 'Next_Mode'])
    .size()
    .reset_index(name='count')
)

# Sankey diyagramÄ± iÃ§in kaynak, hedef ve deÄŸer sÃ¼tunlarÄ±nÄ± hazÄ±rla
source_indices = mode_counts['First_Mode'].map(mode_to_index)
target_indices = mode_counts['Next_Mode'].map(mode_to_index)
values = mode_counts['count']

# Sankey diyagramÄ± oluÅŸtur
fig = go.Figure(data=[go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=list(mode_to_index.keys())
    ),
    link=dict(
        source=source_indices,
        target=target_indices,
        value=values
    )
)])

fig.update_layout(title_text="First Mode to Next Mode Sankey Diagram", font_size=12)
fig.show()

In [ ]:
mode_counts.to_excel("PT_Sankey.xlsx")

In [ ]:
import pandas as pd
import plotly.graph_objects as go

# Ã–rnek veri (senin df'in bununla aynÄ± yapÄ±ya sahip olmalÄ±)
# first_mode_public_df = pd.read_csv("your_data.csv")

# Benzersiz tÃ¼m modlarÄ± bul
all_modes = pd.unique(first_mode_private_df[['First_Mode', 'Next_Mode']].values.ravel())

# ModlarÄ± sayÄ±sal indekslere eÅŸle
mode_to_index = {mode: i for i, mode in enumerate(all_modes)}

# GeÃ§iÅŸleri say (First_Mode â†’ Next_Mode)
mode_counts = (
    first_mode_public_df
    .groupby(['First_Mode', 'Next_Mode'])
    .size()
    .reset_index(name='count')
)

# Sankey diyagramÄ± iÃ§in kaynak, hedef ve deÄŸer sÃ¼tunlarÄ±nÄ± hazÄ±rla
source_indices = mode_counts['First_Mode'].map(mode_to_index)
target_indices = mode_counts['Next_Mode'].map(mode_to_index)
values = mode_counts['count']

# Sankey diyagramÄ± oluÅŸtur
fig = go.Figure(data=[go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=list(mode_to_index.keys())
    ),
    link=dict(
        source=source_indices,
        target=target_indices,
        value=values
    )
)])

fig.update_layout(title_text="First Mode to Next Mode Sankey Diagram", font_size=12)
fig.show()

In [ ]:
import pandas as pd
import plotly.graph_objects as go

# Benzersiz tÃ¼m modlarÄ± bul (First_Mode ve Next_Mode iÃ§indeki tÃ¼m eÅŸsiz deÄŸerler)
all_modes = pd.unique(first_mode_private_df[['First_Mode', 'Next_Mode']].values.ravel())

# ModlarÄ± sayÄ±sal indekslere eÅŸle
mode_to_index = {mode: i for i, mode in enumerate(all_modes)}

# GeÃ§iÅŸleri say (First_Mode â†’ Next_Mode)
mode_counts = (
    first_mode_private_df
    .groupby(['First_Mode', 'Next_Mode'])
    .size()
    .reset_index(name='count')
)

# Sankey diyagramÄ± iÃ§in kaynak, hedef ve deÄŸer sÃ¼tunlarÄ±nÄ± hazÄ±rla
source_indices = mode_counts['First_Mode'].map(mode_to_index)
target_indices = mode_counts['Next_Mode'].map(mode_to_index)
values = mode_counts['count']

# Sankey diyagramÄ± oluÅŸtur
fig = go.Figure(data=[go.Sankey(
    node=dict(
        pad=15,
        thickness=20,
        line=dict(color="black", width=0.5),
        label=list(mode_to_index.keys())
    ),
    link=dict(
        source=source_indices,
        target=target_indices,
        value=values
    )
)])

fig.update_layout(title_text="First Mode to Next Mode Sankey Diagram", font_size=12)
fig.show()